<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
</head>
<body style="background-color: #52AD8B">
<div class="container-fluid">
    <div class="row" style="padding-top: 10rem">
        <a href="/" class="col text-center" style="font-family: 'EF_jejudoldam', sans-serif; font-size: 2.5rem; color: white">
            BASECAMP
        </a>
    </div>
    <div class="row">
        <div class="col text-center">
            실패
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/user/login">
                로그인
            </a>
        </div>
    </div>
</div>

<!-- 네비가 추가됨 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>
