<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">

    <style>
        .fixed-background {
            /* background-color: #0F273C !important; /* 원하는 배경색으로 변경 */
            background: #091724;
            background: linear-gradient(to left, #0D263C, #091724);
            background: -webkit-linear-gradient(to right, #1C3F5B, #0D263C);
        }
    </style>

</head>
<body>
<!-- 네비가 추가 됨 -->
<!-- <div th:replace="common/navi::bottomNaviBasecamp"></div> -->
<!--상단네비-->
<div class="container-fluid g-0 fixed-top fixed-background">
    <div class="row mx-2 py-2">
        <a href="/" class="col fs-3">
            <span>
                <img src="/public/img/common/로고흰버전.png" style="width: 10rem; height: 1.5rem">
            </span>
        </a>
        <div class="col fs-3 text-end">
            <a href="/user/logoutProcess" th:unless="${session.sessionUserInfo == null}">
                <span><i class="bi bi-door-closed" style="color: white;"></i></span>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid g-0 border-bottom" style="margin-top: 3.2rem; height: 8rem;">
    <div class="row mx-2 pt-4">
        <div class="col-auto pe-0 profileImage-custom">
            <img src="/public/img/secondHandProductImage/기본이미지.png">
        </div>
        <div class="col pt-4">
            <div class="row">
                <div class="col">
                    <span class="fs-3" th:text="${session.sessionUserInfo.nickname}"></span>
                </div>
            </div>
        </div>
        <div class="col text-end">
            <a href="" class="text-decoration-underline" style="font-size: 0.8rem">
                <span>프로필 수정</span>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid g-0" style="margin-top: 3rem">
<!-- #1 -->
    <div class="row mx-2 text-center fs-1">
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
    </div>
<!-- #2 -->
    <div class="row mx-2 text-center fs-1 mt-4">
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
    </div>
<!-- #3 -->
    <div class="row mx-2 text-center fs-1 mt-4">
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
        <a href="" class="col icon-and-text">
            <span class="icon"><i class="bi bi-door-closed"></i></span>
            <div class="text">네네네네</div>
        </a>
    </div>
</div>

<!--마이페이지 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>        

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                storefront
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>
        
        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1"style="font-size: 1.7em;">
                person
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1"style="font-size: 1.7em;">
                person
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">마이</span>
        </a>
    </div>
</div>

<!-- 네비가 추가됨 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>
