
<!--홈 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined" style="font-size: 1.8em;">
                home
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">홈</span>
        </a>        

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                storefront
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>
        
        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
    </div>
</div>

<!--구매 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>        

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined" style="font-size: 1.7em;">
                storefront
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>

        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
    </div>
</div>

<!--예약 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>        

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                storefront
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu" style="z-index: 3000;">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined" style="font-size: 1.7em;">
                event_available
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu" style="z-index: 3000;">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu" style="z-index: 3000;">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>

        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
    </div>
</div>

<!--커뮤니티 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>        

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                storefront
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined" style="font-size: 1.7em;">
                forum
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>
        
        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
    </div>
</div>

<!--마이페이지 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>        

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                storefront
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray;">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>
        
        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1"style="font-size: 1.7em;">
                person
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1"style="font-size: 1.7em;">
                person
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">마이</span>
        </a>
    </div>
</div>