<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">

</head>
<body>

<div th:fragment="topNaviSeller" class="container-fluid" >
    <div id="topNaviSeller" class="row fixed-top align-items-center py-2 px-3 store-center">
        <div class="col fs-3 text-white">
            <span class="fw-bold">BaseCamp</span>
        </div>
        <div class="col fs-5 text-end">
            <span class="fw-bold text-white">
                Sacabambaspis
            </span>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-light btn-sm fw-bold">로그아웃</button>
        </div>
    </div>
</div>

<!-- 팝업 모달 -->
<div th:fragment="popup" class="modal fade container-fluid" id="popup" tabindex="-1" aria-labelledby="popup-title" data-keyboard="true" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="popup-title">Modal title</h1>
            </div>
            <div id="popup-content" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button id="popup-no" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="popup-button" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--basecamp 상단 네비-->
<div th:fragment="topNaviBasecamp" class="container-fluid g-0 border fixed-top">
    <div class="row mx-2 py-2">
        <div class="col fs-3">
            <span class="fw-bold">BaseCamp</span>
        </div>
        <div class="col fs-3 text-end">
            <span class="fw-bold">?</span>
        </div>
    </div>
</div>
<!--메인 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 bg-light fixed-bottom">
    <div class="row mx-1 py-2 text-center fs-3">
        <!--HOME-->
        <a href="/common/basecampPublicPage" class="col icon-and-text">
            <span class="icon"><i class="bi bi-house"></i></span>
            <span class="text-navi">HOME</span>
        </a>
        <!--예약-->
        <div class="col fs-3 icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown"><i class="fa-regular fa-calendar"></i></span>
            <span class="text-navi">예약하기</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 조준희 -->
                <li><a class="dropdown-item" href="#">
                    <i class="fa-solid fa-house"></i>
                    <span>캠핑장</span>
                </a></li>
                <!-- 양은자 -->
                <li><a class="dropdown-item" href="#">
                    <i class="fa-solid fa-caravan"></i>
                    <span>캠핑카</span>
                </a></li>
            </ul>
        </div>
        <!--구매-->
        <div class="col fs-3 icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown"><i class="bi bi-cart"></i></span>
            <span class="text-navi">구매하기</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <li><a class="dropdown-item" href="#">
                    <i class="fa-solid fa-truck"></i>
                    <span>store</span>
                </a></li>
                <!-- 심규진 -->
                <li><a class="dropdown-item" href="/secondhandProduct/mainPage">
                    <i class="fa-solid fa-carrot"></i>
                    <span>중고</span>
                </a></li>
            </ul>
        </div>
        <!--커뮤-->
        <div class="col fs-3 icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown"><i class="fa-solid fa-people-carry-box"></i></span>
            <span class="text-navi">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <li><a class="dropdown-item" href="#">
                    <i class="fa-solid fa-gamepad"></i>
                    <span>소모임</span>
                </a></li>
                <!-- 남현지 -->
                <li><a class="dropdown-item" href="#">
                    <i style="font-size: 1.3rem" class="fa-brands fa-instagram"></i>
                    <span>insta</span>
                </a></li>
            </ul>
        </div>
        <!--내정보-->
        <div class="col fs-3 icon-and-text">
            <a href="/common/basecampLoginPage" th:if="${session.sessionUserInfo == null}" class="icon-and-text">
                <span><i class="fa-solid fa-gear"></i></span>
                <span class="text-navi">My</span>
            </a>
            <a href="/common/basecampMyInfoPage" th:unless="${session.sessionUserInfo == null}" class="icon-and-text">
                <span><i class="fa-solid fa-gear"></i></span>
                <span class="text-navi">My</span>
            </a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>

</script>

</body>
</html>

