<div th:fragment="topNaviSeller" class="container-fluid" >
   <div id="topNaviSeller" class="row fixed-top align-items-center py-2 px-3 store-center">
        <div class="col fs-3 text-white">
            <span class="fw-bold">BaseCamp</span> Store Center
        </div>
        <div class="col fs-5 text-end">
            <span class="fw-bold text-white">
                Sacabambaspis
            </span>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-light btn-sm fw-bold">로그아웃</button>
        </div>
   </div>
</div>