<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.store.mapper.StoreSqlMapper">

    <select id="selectCountStoreByAccountId" resultType="int">
        select count(*) from store
        where account_id = #{account_id}
    </select>

    <select id="selectCountStoreByName" resultType="int">
        select count(*) from store
        where name = #{name}
    </select>

    <select id="selectStoreByAccountInfo" resultType="com.bulmeong.basecamp.store.dto.StoreDto">
        select * from store
        where account_id = #{account_id}
        and account_pw = #{account_pw}
    </select>
    
    <insert id="insertStoreDto">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from store
        </selectKey>
        insert into store(
            account_id,
            account_pw,
            seller,
            phone,
            email,
            name,
            crn,
            postcode,
            address,
            detail_address,
            description,
            status
        )values(
            #{account_id},
            #{account_pw},
            #{seller},
            #{phone},
            #{email},
            #{name},
            #{crn},
            #{postcode},
            #{address},
            #{detail_address},
            #{description},
            '승인완료'
        )
    </insert>

    <insert id="insertStoreDeliveryInfoDto">
        insert into delivery_info(
            store_id,
            origin_postcode,
            origin_address,
            detail_origin_address,
            fee,
            min_amount,
            return_postcode,
            return_address,
            detail_return_address,
            return_delivery_fee
        )values(
            #{store_id},
            #{origin_postcode},
            #{origin_address},
            #{detail_origin_address},
            #{fee},
            #{min_amount},
            #{return_postcode},
            #{return_address},
            #{detail_return_address},
            #{return_delivery_fee}
        )
    </insert>

    <insert id="insertStoreBankAccountDto">
        insert into store_bank_account(
            store_id,
            bank_name,
            account_number,
            account_holder
        )values(
            #{store_id},
            #{bank_name},
            #{account_number},
            #{account_holder}
        )
    </insert>

    <select id="selectStoreBankAccountDtoByStoreId" resultType="com.bulmeong.basecamp.store.dto.StoreBankAccountDto">
        select * from store_bank_account
        where store_id = #{store_id}
    </select>

    <select id="selectProductCategoryAll" resultType="com.bulmeong.basecamp.store.dto.StoreProductCategoryDto">
        select * from product_category
    </select>

    <select id="selectProductSubcategoryByCategoryId" resultType="com.bulmeong.basecamp.store.dto.ProductSubcategoryDto">
        select * from product_subcategory
        where category_id = #{category_id}
    </select>

    <insert id="insertDiscountInfo">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from store_product_discount
        </selectKey>
        insert into store_product_discount(percentage)values(#{percentage})
    </insert>

    <insert id="insertProduct">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from store_product
        </selectKey>
        insert into store_product(
            store_id,
            subcategory_id,
            discount_id,
            name,
            description,
            main_image,
            price,
            quantity
        )values(
            #{store_id},
            #{subcategory_id},
            #{discount_id},
            #{name},
            #{description},
            #{main_image},
            #{price},
            #{quantity}
        )
    </insert>

    <insert id="insertOptionName">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from product_option_name
        </selectKey>
        insert into product_option_name(
            product_id, name
        )values(
            #{product_id}, #{name}
        )
    </insert>

    <insert id="insertOptionValue">
        insert into product_option_value(
            option_id, name
        )values(
            #{option_id}, #{name}
        )
    </insert>

    <insert id="insertAdditionalInfo">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from additional_info
        </selectKey>
        insert into additional_info(
            additional_price, quantity
        )values(
            #{additional_price}, #{quantity}
        )
    </insert>

    <select id="selectOptionValueIdByName" resultType="int">
        select id from product_option_value
        where name = #{name}
    </select>

    <insert id="insertOptionValueAdditionalInfo">
        insert into option_value_additional_info(
            option_value_id,
            additional_info_id
        )values(
            #{option_value_id},
            #{additional_info_id}
        )
    </insert>

</mapper>