.fill-on {
    font-variation-settings: 'FILL' 1;
}

.category{
    transition: background-color 0.3s;
}
.bi-chevron-down, .bi-chevron-up{
    color: #8F9399;
}
a{
    text-decoration: none;
}
.product-category a{
    color: black;
}

.top-nav{
    height: 58px;
}
.left{
    width: 15em;
}

/* scrollBar */
.scrollBar {
    width: 15em;
    overflow-y: scroll;
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #ffffff29; /* 스크롤바의 색상 */
}
.king{
    left: 55%;
    top: -10%;
}

.searchInput::placeholder{
    font-size: 0.9em;
}
.searchInput:focus{
    outline: none;
}
.left select{
    font-size: 0.9em;
}
.left select:focus{
    outline: none;
}


/* ///////////////// */

/* .store-center{
    background-color: #1F2D3D;
}
.category:hover{
    background-color: #EEEEEE;
}
.subcategory {
    background-color: #1F2D3D;
    transition: background-color 0.3s;
}
.subcategory:hover{
    background-color: #001528;
}

.scrollable {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
}

.left a{
    color: #F4F4F5;
}

.right{
    margin-left: 15em;
} */