.fill-on {
    font-variation-settings: 'FILL' 1;
}

.category{
    transition: background-color 0.3s;
}
.bi-chevron-down, .bi-chevron-up{
    color: #8F9399;
}
a{
    text-decoration: none;
}

.left{
    width: 15em;
}

.king{
    left: 55%;
    top: -10%;
}

.store-center{
    background-color: #222222;
}
.category:hover{
    background-color: #EEEEEE;
}
.subcategory {
    background-color: #FAFAFA;
    transition: background-color 0.3s;
    font-size: 0.9em;
}

.subcategory:hover{
    color: #067DFD;
}

.left a{
    color: black;
}

.seller_profile img{
    aspect-ratio: 1/1;
    width: 80px;
    object-fit: cover;
    object-position: center;
}
.s-light-btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #409EFF;
    --bs-btn-border-color: #409EFF;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #409EFF;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;

    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.s-dark-btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #222222;
    --bs-btn-border-color: #222222;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #151515;
    --bs-btn-hover-border-color: #151515;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;

    --bs-btn-active-bg: #151515;
    --bs-btn-active-border-color: #151515;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* .s-dark-btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1F2D3D;
    --bs-btn-border-color: #1F2D3D;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #001528;
    --bs-btn-hover-border-color: #001528;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;

    --bs-btn-active-bg: #001528;
    --bs-btn-active-border-color: #001528;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
} */
.s-white-btn {
    --bs-btn-color: #242424;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #BDBDBD;

    --bs-btn-hover-color: #242424;
    --bs-btn-hover-bg: #FAFAFA;
    --bs-btn-hover-border-color: #9E9E9E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    
    --bs-btn-active-color: #242424;
    --bs-btn-active-bg: #efefef;
    --bs-btn-active-border-color: #9E9E9E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}




.searchInput::placeholder{
    font-size: 0.9em;
}
.searchInput:focus{
    outline: none;
}
.left select{
    font-size: 0.9em;
}
.left select:focus{
    outline: none;
}


/* scrollBar */
.scrollBar {
    width: 15em;
    overflow-y: scroll;
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 30%;
    background: #ffffff29;
}
.scrollBar::-webkit-scrollbar {
    display: none;
}

/* .scrollable {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
} */

/* .right{
    padding-left: 15em;
} */