<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!-- admin_main css -->
    <link href="/public/css/campingcar/camping.css" rel="stylesheet">
    <link href="/public/css/common.css" rel="stylesheet">
    <!-- 이미지 js -->
    <script src="/public/js/util.js"></script>
</head>
<body>
    <div th:replace="~{admin/carNavi::topNavi}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{admin/carNavi::leftNavi}"></div>
            <!-- right 템플릿 -->
            <div class="col right bg-body-secondary" style="padding-top: 55px;">
                <div class="row py-3 px-4 d-flex align-items-center bg-white">
                    <div class="col-0"></div>
                    <div class="col fs-6 fw-semibold">
                        차량 현황/수정
                    </div>
                </div>
                <!-- 본문내용(templets) -->
                <div class="row px-4 pt-1" th:if="${session.sessionCaravanInfo != null}">
                    <div class="col">
                        <!-- 탭 메뉴 -->
                        <ul class="nav nav-underline mb-4 border-bottom border-2">
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" href="#all" data-bs-toggle="tab">전체</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#selling" data-bs-toggle="tab">판매중</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#hidden" data-bs-toggle="tab">숨김</a>
                            </li>
                        </ul>
                    
                        <!-- 검색 필드 -->
                        <div class="input-group mb-4">
                            <input type="text" class="form-control border-bottom border-light" placeholder="검색하세요">                            
                            <button class="btn bg-white btn-sm text-secondary" type="button">
                                <span class="material-symbols-outlined">search</span>
                            </button>

                        </div>
                    
                        <!-- 탭 내용 -->
                        <div class="card">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="all">
                                    <!-- 테이블 1: 전체 -->
                                    <table class="table table-border table-hover">
                                        <thead class="table-light text-dark fw-bold ">
                                            <tr>
                                                <th scope="col" class="text-center">No</th>
                                                <th colspan="1">상품명</th>
                                                <th>비수기</th>
                                                <th>성수기</th>
                                                <th>준성수기</th>
                                                <th>할인가</th>
                                                <th>지정기간</th>
                                                <th>운전조건</th>
                                                <th>상태</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- 예시 데이터 -->
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img src="/public/img/campingCarImage/메인이미지1.png" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div class="px-0">
                                                            <div class="new-fs-7">캠핑카 유형</div>
                                                            <div>차량등록명</div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">
                                                                <span>동승인원</span><span>5인</span>
                                                                <span>취침인원</span><span>5인</span>
                                                            </div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="d-flex justify-content-between">
                                                    <ul class="list-unstyled">
                                                        <li class="d-flex justify-content-between">
                                                            <span>운전면허증</span>
                                                            <span>1종대형</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span class="pe-2">운전자나이</span>
                                                            <span>만26세이상</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>운전경력</span>
                                                            <span>3년이상</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img src="/public/img/campingCarImage/메인이미지2.jpg" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div class="px-0">
                                                            <div>디럭스</div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">
                                                                <span>동승인원</span><span>5인</span>
                                                                <span>취침인원</span><span>5인</span>
                                                            </div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span>100,000원</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span>150,000원</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="d-flex justify-content-between">
                                                    <ul class="list-unstyled">
                                                        <li class="d-flex justify-content-between">
                                                            <span>운전면허증</span>
                                                            <span>1종대형</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span class="pe-2">운전자나이</span>
                                                            <span>만26세이상</span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>운전경력</span>
                                                            <span>3년이상</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 위에 같은 동일한 방식임 -->
                                <div class="tab-pane fade" id="selling">
                                    <!-- 테이블 2: 판매중 -->
                                    <table class="table table-bordered table-striped mb-4 shadow-sm">
                                        <thead class="table-light text-dark fw-bold">
                                            <tr>
                                                <th scope="col" class="text-center">No</th>
                                                <th colspan="1">상품명</th>
                                                <th>비수기</th>
                                                <th>성수기</th>
                                                <th>준성수기</th>
                                                <th>할인가</th>
                                                <th>지정기간</th>
                                                <th>상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img src="/public/img/campingCarImage/메인이미지1.png" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div>
                                                            <div>스탠다드</div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">기본 정보 텍스트</div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>120,000원</span></li>
                                                        <li>주말 <span>180,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img src="/public/img/campingCarImage/메인이미지2.jpg" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div>
                                                            <div>디럭스</div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">기본 정보 텍스트</div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 위와 같은 동일한 방식임 -->
                                <div class="tab-pane fade" id="hidden">
                                    <!-- 테이블 3: 숨김 -->
                                    <table class="table table-bordered table-striped mb-4 shadow-sm">
                                        <thead class="table-light text-dark fw-bold">
                                            <tr>
                                                <th scope="col" class="text-center">No</th>
                                                <th colspan="1">상품명</th>
                                                <th>비수기</th>
                                                <th>성수기</th>
                                                <th>준성수기</th>
                                                <th>할인가</th>
                                                <th>지정기간</th>
                                                <th>상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img src="/public/img/campingCarImage/메인이미지1.png" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div>
                                                            <div>스탠다드</div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">기본 정보 텍스트</div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>120,000원</span></li>
                                                        <li>주말 <span>180,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img src="/public/img/campingCarImage/메인이미지2.jpg" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div>
                                                            <div>디럭스</div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">기본 정보 텍스트</div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li>평일 <span>100,000원</span></li>
                                                        <li>주말 <span>150,000원</span></li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/campingcar/adminmain.js"></script>
    <!-- 이미지 upload 공용 js -->
    <script src="/public/js/uploader.js"></script>

</body>
</html>
