<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">

        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <title>commentWritePage</title>

        <script src="/public/js/util.js"></script>

        <style>
            /* 고정 */
            .fontBasic {
                font-size: 0.8em;
            }
            /* 상단바 높이 */
            .fixed-top {
                text-align: center;
                justify-content: space-around; /* 가로 중앙 정렬 */
                align-items: center; /* 세로 중앙 정렬 */
                height: 50px; /* 원하는 높이로 설정 */
            }
            .fixed-bottom {
                text-align: center;
                justify-content: space-around; /* 가로 중앙 정렬 */
                align-items: center; /* 세로 중앙 정렬 */
                height: 70px; /* 원하는 높이로 설정 */
            }

            /* 이미지 크기 */
            .storyImage {
                width: 60px;  /* 원하는 너비 */
                height: 60px; /* 원하는 높이 */
                object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
            }
            .profileImage {
                width: 30px;  /* 원하는 너비 */
                height: 30px; /* 원하는 높이 */
                object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
            }
            .commentImage {
            width: 20px;  /* 원하는 너비 */
            height: 20px; /* 원하는 높이 */
            object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
            }
            .commentWriteImage {
            width: 45px;  /* 원하는 너비 */
            height: 45px; /* 원하는 높이 */
            object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
            }

            .instaButtonColor {
                color: #0095f6;
            }

            /* 전송버튼 */
            .send-icon {
                width: 10%;
                height: 39%;
                position: absolute;
                right: 2.1rem;
                top: 1.32rem;
                /* opacity: 50%; */
            }
            .send-icon i {
                position: absolute;
                top: 25%;
                left: 35%;
            }
        </style>

        <script>
            const urlParams = new URL(window.location.href).searchParams;

            // article_id는 글로벌 변수로 링크 파라미터 잡아 놨음
            const articleId = urlParams.get("article_id");

            let myId = null;

            function setSessionId(){
                const url = "/api/user/getSessionUserId";
                fetch(url)
                .then(response => response.json())
                .then((response) => { // 응답 받은 시점

                    myId = response.data.userId;

                    console.log("Session ID has been set:", myId); // 콘솔에 찍힐 세션 id
                });
            }

            // 댓글 insert _ post방식으로 작성
            function registerComment(){                

                if(myId == null){
                    if(confirm("로그인 하셔야 이용 가능합니다. 로그인 페이지로 이동하시겠습니까?")){
                        location.href = "/insta/instaLoginPage";
                    }
                    return;
                }

                /* html textarea에 작성된 내용을 JavaScript로 가져와서 서버에 전달하는 과정에서 getElementById 메소드를 사용합니다.
                이 메소드는 특정 ID를 가진 HTML 요소를 선택하고, 그 요소의 값을 읽어올 수 있게 해줍니다. */
                const inputText = document.getElementById("inputText");

                // const = JavaScript에서 변수를 선언하는 키워드
                const url = "/api/insta/registerComment";

                /* fetch = JavaScript에서 네트워크 요청을 보내는 함수입니다. 이는 HTML form을 사용하여 서버에 데이터를 제출하는 것과 비슷합니다.
                그러나 fetch는 더 유연하고, 비동기적으로 작동하여 페이지를 다시 로드하지 않고 서버와 통신할 수 있습니다. */
                fetch(url, {
                    method: "post",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded" // 나중에 필요시 multipart/formdata, json
                    },
                    /* 바디에 값을 보낼 때 헤더즈 인코딩 형태에따라서 달라짐
                        urlencoded = 문자로 보냄, multipart/formdata = formdata라는 클래스를 활요해서 보냄, json = {}로 묶어서 보냄 _ 받는 쪽에서 좀 다르게 받음 */
                    body: `article_id=${articleId}&comment=${inputText.value}`
                })
                .then(response => response.json())
                .then(response => {
                    // 응답 이후에
                    inputText.value = ""; // inputText.value 초기화

                    // 댓글을 insert 한 후에 바로 reloadCommentList(); 실행
                    reloadCommentList();
                })
                ;

            }

            // 댓글 List
            function reloadCommentList(){
                // 절대 경로 사용
                const url = "/api/insta/getCommentList?article_id=" + articleId;
                fetch(url)
                .then(response => response.json())
                .then(response => {
                    // 응답 이후에
                    // console.log(response); _ console에 reloadCommentList(); 찍어서 확인 가능

                    const commentListBox = document.getElementById("commentListBox");
                    commentListBox.innerHTML = "";

                    const commentWrapperTemplete = document.querySelector("#templete .commentWrapper");

                    // e = map
                    for(e of response.data.commentList){
                        const newCommentWrapper = commentWrapperTemplete.cloneNode(true);

                        // querySelector = 배열이 아니고 단일 엘리먼트들을 리턴해줌
                        // queryAll = 배열을 리턴
                        const commentName = newCommentWrapper.querySelector(".commentName"); // 닉네임
                        commentName.innerText = e.instaUserInfoDto.insta_nickname;

                        const commentText = newCommentWrapper.querySelector(".commentText"); // 내용
                        commentText.innerText = e.instaArticleCommentDto.comment;

                        const commentDate = newCommentWrapper.querySelector(".commentDate"); // 날짜
                        const date = new Date(e.instaArticleCommentDto.created_at);

                        commentDate.innerText = `${date.getFullYear()}.${date.getMonth()+1}.${date.getDate()}`;

                        // console.log("myId:", myId);
                        // console.log("user_id:", e.instaArticleCommentDto.user_id);

                        if(myId != null && e.instaArticleCommentDto.user_id == myId){ // 댓글 삭제
                            const commentButton = newCommentWrapper.querySelector(".commentButton");
                            commentButton.classList.remove("d-none");

                            // const buttonDelete = newCommentWrapper.querySelector(".commentButton");

                            // 댓글 삭제 쿼리
                            commentButton.setAttribute("onclick", `deleteComment(${e.instaArticleCommentDto.id})`);

                        }

                        // 댓글 수정 영상 1시간 48분부터

                        // commentProfile 프로필
                        // const commentProfile = newCommentWrapper.querySelector(".commentProfile");
                        // commentProfile.innerText = e.instaUserInfoDto.insta_profile_img;

                        // commentLike 좋아요
                        // const commentLike = newCommentWrapper.querySelector(".commentLike");
                        // commentLike.innerText = e.instaUserInfoDto.insta_nickname;

                        // commentReply 답글 버튼
                        // const commentReply = newCommentWrapper.querySelector(".commentReply");
                        // commentReply.innerText = e.instaUserInfoDto.insta_nickname;

                        commentListBox.appendChild(newCommentWrapper);
                    }
                })
                ;
            }

            // 댓글 삭제
            function deleteComment(commentId) { // 몇번 댓글을 삭제할지 변수를 받아야 함

                if (confirm("댓글을 삭제하시겠습니까?")) {
                    const url = "/api/insta/deleteComment?id=" + commentId;
                    
                    fetch(url)
                    .then(response => response.json())
                    .then(response => {

                        reloadCommentList();
                    })
                    ;
                }
            }


            window.addEventListener("DOMContentLoaded", () => {
            // 페이지 로드 후 사실상 시작 지점
            setSessionId();
            reloadCommentList();

            });

        </script>

    </head>
    <body>
        <div class="container">
            <!-- 상단바 -->
            <div class="row border-bottom fixed-top" style="background-color: white;">
                <div class="col-2">
                    <a th:href="@{./instaMainPage(user_id=${session.sessionUserInfo.id})}" style="color: black;"><i class="bi bi-x-lg"></i></a>
                </div>
                <div class="col-10" style="padding-right: 16%;">
                    <span>댓글 작성</span>
                </div>
            </div>

            <!-- 댓글 List -->
            <div class="row mt-5">
                <div class="col">
                    <!-- 댓글 목록 List 박스 -->
                    <div class="row pb-5 mb-5">
                        <div id="commentListBox" class="col fontBasic">
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- 하단바 -->
            <div class="row border-top fixed-bottom px-3" style="background-color: white;">
                <!-- 로그인 한 유저 프로필 사진 -->
                <div class="col-auto pe-0">
                    <img th:src="|/images/${instaUserInfoDto.insta_profile_img}|" class="img-fluid rounded-circle commentWriteImage" alt="Profile Image">
                </div>

                <!-- 댓글 작성 form -->
                <!-- <div class="col">
                    <form class="row">
                        <div class="col align-self-center pe-0">
                            <input id="inputText" type="text" class="rounded-5 form-control form-control-sm py-2" placeholder="댓글 추가..." style="font-size: 0.8em;">
                        </div>
                        <div class="col-auto align-self-center ps-1">
                            <button onclick="registerComment()" class="btn rounded-5 px-3 py-1" type="submit" style="color: white; background-color: #0095f6;">
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                        </div>
                    </form>
                </div> -->

                <!-- 자바스크립트로 처리하기때문에 form태그가 필요하지않음 -->
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <input id="inputText" class="py-2 form-control rounded-5 fontBasic" placeholder="검색">
                            <!-- <textarea  class="form-control "></textarea> -->
                        </div>
                        <div class="col-auto p-0">
                            <!-- <input onclick="registerComment()" type="button" class="btn btn-primary" value="등록"> -->
                            <button onclick="registerComment()" class="send-icon btn rounded-5 px-3 py-1" type="submit" style="color: white; background-color: #0095f6;">
                                <i class="fa-solid fa-arrow-up send-icon i" style="padding-right: 20%;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 인스타 모양 버튼 -->
            <!-- <div class="col">
                <button class="btn rounded-5 px-3 py-1" type="submit" style="color: white; background-color: #0095f6;">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div> -->
        </div>

        <!-- display-none = 안에 있는 내용은 보이지 않음 -->
        <div id="templete" class="d-none">
            <!-- 하나의 댓글 -->
            <div class="commentWrapper row">
                <div class="col mt-3">
                    <div class="row">    
                        <a class="col-auto pe-0 align-self-center link-dark link-offset-2 link-underline link-underline-opacity-0" href="./instaUserPage">
                            <img src="/public/img/instaImage/hahaha4.jpg" class="commentProfile img-fluid rounded-circle commentWriteImage">
                        </a>
                        <div class="col align-self-center">
                            <div class="row">
                                <!-- <a class="col-auto commentName ps-0 link-dark link-offset-2 link-underline link-underline-opacity-0"
                                            th:href="${session.sessionUserInfo.id == instaArticleList.instaUserInfoDto.user_id} ?
                                                        @{./instaMyPage(user_id=${instaArticleList.instaUserInfoDto.id})} : @{./instaUserPage(user_id=${instaArticleList.instaUserInfoDto.id})}">
                                    <span th:text="${instaArticleList.instaUserInfoDto.insta_nickname}" style="font-size: 0.8em;"></span>
                                </a> -->
                                <a class="commentName col-auto pe-0 link-dark link-offset-2 link-underline link-underline-opacity-0" href="./instaUserPage">
                                    닉네임
                                </a>
                                <div class="commentDate col-auto ps-1 pe-0" style="color: rgb(162, 162, 162);">날짜</div>
                                <!-- 삭제버튼 -->
                                <div class="commentButton d-none col" style="color: rgb(162, 162, 162);">
                                    <span class="buttonDelete">
                                        <i class="fa-duotone fa-solid fa-xmark"></i>
                                    </span>
                                </div>                                                                          
                            </div>
                            <div class="row">
                                <div class="commentText col pe-0">내용</div>
                            </div>
                        </div>
                        <div class="col-auto align-self-center">
                            <div class="row">
                                <!-- 좋아요 -->
                                <!-- <div class="col px-0">
                                    <form action="./pushCommentLikeDeleteProcess" method="get">
                                        <button class="btn">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                </div> -->
                                <div class="commentLike col px-0">
                                    <form action="./pushCommentLikeProcess" method="get">
                                        <button class="btn">
                                            <i class="fa-regular fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 인스타모양 삭제 버튼 -->
                        <!-- col이 row 안에 꽉차게 만들어줌 -->
                        <!-- <div class="commentButton d-none col-auto align-self-stretch fs-5 bg-danger px-1 d-flex align-items-center" style="color: white;">
                            <span class="buttonDelete">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-2"></div>

                        <!-- hidden은 레이아웃은 잡아주되 안 쪽에 내용을 보이지않게 함 -->
                        <!-- d-none은 크기 자체가 없음 -->
                        <a class="commentReply col fw-bold pe-0 link-offset-2 link-underline link-underline-opacity-0" href="./instaCommentReplyPage" style="padding-left: 6px; color: rgb(162, 162, 162); font-size: 0.9em;">
                            답글 달기
                        </a>
                    </div>
                </div>        
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
    </body>
</html>










