<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">

        <!-- 파비콘 -->
        <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">
        
        <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">


        <link rel="stylesheet" href="/public/css/basecamp.css">
        <link rel="stylesheet" href="/public/css/insta/instaStyle.css">
        <link rel="stylesheet" href="/public/css/common.css">

        <!-- 이걸로 레이아웃 확인하셈 -->
        <script src="/public/js/lockLikeMobile.js"></script>
        
        <title>BASECAMP</title>

        <script src="/public/js/util.js"></script>

        <style>

        </style>
    </head>
    <body>
        <div class="container">
            <!-- 상단바 -->
            <div class="row px-2 mb-5 border-bottom fixed-top" style="background-color: white;">
                <a class="col-auto pe-1 d-flex align-items-center" th:href="@{./instaMainPage(user_id=${session.sessionUserInfo.id})}" style="color: black;">
                    <span class="material-symbols-outlined fw-light">
                        arrow_back
                    </span>
                </a>
                <div class="col-9">
                    <span>게시물</span>
                </div>
                <div class="col-1"></div>
            </div>

            <!-- 게시글 출력 -->
            <div class="row mt-5 pt-3">
                <div class="col">
                    <div class="row">
                        <!-- 글 작성한 사람 프로필 이미지 -->
                        <a class="col-auto pe-1 link-dark link-offset-2 link-underline link-underline-opacity-0" style="position: relative;"
                                    th:href="${session.sessionUserInfo.id == articleInfo.s_user_id} ?
                                                @{./instaMyPage(user_id=${articleInfo.user_id})} : @{./instaUserPage(user_id=${articleInfo.user_id})}">
                            <img src="/public/img/instaImage/story.jpg" class="img-fluid rounded-circle profileImg">
                            <img th:src="|/images/${articleInfo.insta_profile_img}|" class="img-fluid rounded-circle profileImage" style="position: relative;">
                        </a>
                        <!-- 글 작성한 사람 닉네임 -->
                        <a class="col-auto ps-0 pt-1 link-dark link-offset-2 link-underline link-underline-opacity-0"
                                    th:href="${session.sessionUserInfo.id == articleInfo.s_user_id} ?
                                                @{./instaMyPage(user_id=${articleInfo.user_id})} : @{./instaUserPage(user_id=${articleInfo.user_id})}">
                            <span th:text="${articleInfo.insta_nickname}" style="font-size: 0.8em;"></span>
                            <img src="/public/img/instaImage/badge.png" class="img-fluid" style="width: 13px; height: 13px;">
                        </a>

                        <!-- 모달 _ 자바스크립트로 변경해야 됨 -->
                        <!-- 세션 아이디와 글쓴 사람 아이디가 같을경우 -->
                        <div class="col text-end align-self-center"
                            th:if="${session.sessionUserInfo.id == articleInfo.s_user_id}">
                            <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
                                <i class="bi bi-three-dots"></i>
                            </button>

                            <!-- <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row text-center fontBasic">
                                                <div class="col">
                                                    <div class="row border-bottom">
                                                        <a class="col link-dark link-underline-opacity-0 py-3" href="./aticleEditPage">
                                                            <span>
                                                                수정
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="row border-bottom">
                                                        <a class="col link-dark link-underline-opacity-0 py-3"
                                                        th:href="@{./articleDeleteProcess(article_id=${instaArticleList.instaArticleDto.id}, user_id=${session.sessionUserInfo.id})}">
                                                            <span style="color: red;">
                                                                삭제
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <button type="button" class="col py-4" data-bs-dismiss="modal" aria-label="Close" style="border: none; background-color: white;">
                                                            취소
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!-- 모달 _ 자바스크립트로 변경해야 됨 -->
                        <!-- 세션 아이디와 글쓴 사람 아이디가 다를경우 -->
                        <div class="col text-end align-self-center"
                            th:unless="${session.sessionUserInfo.id == articleInfo.s_user_id}">
                            <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#userModal">
                                <i class="bi bi-three-dots"></i>
                            </button>

                            <!-- <div class="modal fade modal-custom" id="userModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row text-center fontBasic">
                                                <div class="col">
                                                    <div class="row border-bottom">
                                                        <a class="col link-dark link-underline-opacity-0 py-3" href="./aticleBlockPage">
                                                            <span>
                                                                차단
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="row border-bottom">
                                                        <a class="col link-dark link-underline-opacity-0 py-3" href="./articleReportPage">
                                                            <span style="color: red;">
                                                                신고
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="row">
                                                        <button type="button" class="col py-4" data-bs-dismiss="modal" aria-label="Close" style="border: none; background-color: white;">
                                                            취소
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <!-- 해당글 이미지 List -->
                    <div class="row mt-2">
                        <div class="col px-0">
                            <div th:id="'carouselExampleInterval' + ${articleInfo.article_id}" class="carousel slide"> <!-- data-bs-ride="carousel" _ 자동 슬라이드를 활성화 -->
                                <!-- 인디케이터 추가 (이미지가 두 개 이상일 때만 표시) _ 이미지 리스트의 크기가 1보다 큰 경우에만 인디케이터와 버튼을 렌더링 -->                            
                                <ol class="carousel-indicators" th:if="${#lists.size(instaArticleImgDtoList) > 1}">
                                    <!-- 이미지 개수만큼 점 생성 -->
                                    <li th:each="image, iterStat : ${instaArticleImgDtoList}"
                                        th:classappend="${iterStat.index == 0 ? 'active' : ''}"
                                        th:data-bs-slide-to="${iterStat.index}">
                                    </li>
                                    <!-- iterStat은 Thymeleaf에서 반복문을 사용할 때 제공되는 변수로, 반복 상태를 나타내는 객체입니다.
                                            iterStat을 사용하면 반복문에서 현재 반복의 상태를 추적하고, 인덱스나 반복 횟수와 같은 정보를 얻을 수 있습니다. -->
                                </ol>
                                
                                <div class="carousel-inner">
                                    <!-- 이미지도 반복문 -->
                                    <div th:each="image, iterStat : ${instaArticleImgDtoList}"
                                            class="carousel-item"
                                            th:classappend="${iterStat.index == 0 ? 'active' : ''}"> <!-- data-bs-interval="5000" _ 5초에 한번씩 사진 슬라이드 -->
                                            <!-- 타임리프에서 classappend라는 구문을 사용하여 HTML 요소의 class 속성에 동적으로 클래스를 추가할 수 있습니다. -->
                                        <img th:src="@{/images/{image}(image=${image.img_link})}" class="d-block w-100" style="object-fit: cover; object-position: center; aspect-ratio: 1.3/1;">
                                        
                                    </div>
                                </div>
                                
                                <button class="carousel-control-prev" type="button" th:data-bs-target="'#carouselExampleInterval' + ${articleInfo.article_id}"
                                        data-bs-slide="prev" th:if="${#lists.size(instaArticleImgDtoList) > 1}">
                                        <!-- 이미지 리스트의 크기가 1보다 큰 경우에만 인디케이터와 버튼을 렌더링 -->
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" th:data-bs-target="'#carouselExampleInterval' + ${articleInfo.article_id}"
                                        data-bs-slide="next" th:if="${#lists.size(instaArticleImgDtoList) > 1}">
                                        <!-- 이미지 리스트의 크기가 1보다 큰 경우에만 인디케이터와 버튼을 렌더링 -->
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 타임리프 사용해서 좋아요 누르면 메인 페이지로 리다이렉트ㅋㅋㅋㅋㅋ -->
                    <div class="row align-items-center" style="height: 25px;">
                        <!-- 좋아요 -->
                        <form action="./pushArticleLikeDeleteProcess" method="get" class="col-auto px-0" th:if="${articleInfo.like >= 1}">
                            <button class="btn d-flex align-items-center pb-0">
                                <i class="fa-solid fa-heart likeColor"></i>
                            </button>

                            <input type="hidden" name="user_id" th:value="${articleInfo.user_id}">
                            <input type="hidden" name="article_id" th:value="${articleInfo.article_id}">
                        </form>
                        <form action="./pushArticleLikeProcess" method="get" class="col-auto px-0" th:if="${articleInfo.like < 1}">
                            <button class="btn d-flex align-items-center pb-0">
                                <i id="heart" class="fa-regular fa-heart"></i>
                            </button>

                            <input type="hidden" name="user_id" th:value="${articleInfo.user_id}">
                            <input type="hidden" name="article_id" th:value="${articleInfo.article_id}">
                        </form>

                        <div class="col px-0">
                            <button class="btn pb-0 px-0 d-flex align-items-center" type="button">
                                <i class="fa-regular fa-comment"></i>
                                <!-- <input type="hidden" class="inputInstaArticleId" th:value="${instaArticleList.instaArticleDto.id}"> -->
                            </button>
        
                            <!-- 오프 캠버스 실행 -->
                        </div>
        
                        <!-- 북마크 -->
                        <form action="./pushBookmarkProcess" method="get" class="col-auto text-end" th:if="${articleInfo.bookmark != 1}">
                            <button type="submit" class="btn pe-0 pb-0 d-flex align-items-center">
                                <i class="fa-regular fa-bookmark"></i>
                            </button>
        
                            <input type="hidden" name="user_id" th:value="${articleInfo.user_id}">
                            <input type="hidden" name="article_id" th:value="${articleInfo.article_id}">
                        </form>
                        <form action="./pushBookmarkDeleteProcess" method="get" class="col-auto text-end" th:unless="${articleInfo.bookmark != 1}">
                            <button type="submit" class="btn pe-0 pb-0 d-flex align-items-center">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
        
                            <input type="hidden" name="user_id" th:value="${articleInfo.user_id}">
                            <input type="hidden" name="article_id" th:value="${articleInfo.article_id}">
                        </form>
                    </div>


                    <!-- 좋아요 수 -->
                    <div class="row">
                        <a class="col fontBasic link-dark link-offset-2 link-underline link-underline-opacity-0 " th:href="@{./pushLikeUserPage(article_id=${articleInfo.article_id}, user_id=${session.sessionUserInfo.id})}">
                            <span>좋아요</span>
                            <span th:text="${articleLikeCount}"></span><span>개</span>
                        </a>
                    </div>

                    <!-- 글 작성한 사람 닉네임,
                            게시글 작성일,
                            내용 -->
                    <div class="row justify-content-center">
                        <a class="col-auto d-flex align-items-center pe-0 link-dark link-offset-2 link-underline link-underline-opacity-0"
                                    th:href="${session.sessionUserInfo.id == articleInfo.s_user_id} ?
                                                @{./instaMyPage(user_id=${articleInfo.user_id})} : @{./instaUserPage(user_id=${articleInfo.user_id})}">
                            <span class="fontBasic" th:text="${articleInfo.insta_nickname}"></span>
                        </a>
                        <div class="col-auto fontBasic ps-1 pe-0">
                            <span th:text="${T(com.bulmeong.basecamp.common.util.TimeUtil).timeAgo(articleInfo.created_at)}" style="color: rgb(162, 162, 162);"></span>                                             
                        </div>
                        <div class="col ps-1 fontBasic">
                            <span th:utext="${articleInfo.content}">good day✨</span>   
                        </div>
                    </div>
                    
                    <!-- 해시태그 -->
                    <div class="row ps-2">
                        <div class="col-auto fontBasic pe-0 ps-1 lightFont" 
                             th:each="hashtag : ${instaTagDtoList}">
                            <span th:utext="${hashtag.text}">해시태그</span>
                        </div>
                    </div>

                    <!-- 댓글 -->
                    <div class="row">
                        <div class="col">
                            <button class="btn p-0 comment-button" type="button">
                                <span class="fontBasic" style="color: rgb(162, 162, 162);">댓글
                                    <span th:text="${articleCommentCount}"></span>개 모두 보기
                                </span>
                                <!-- <input type="hidden" class="inputInstaArticleId" th:value="${instaArticleList.instaArticleDto.id}"> -->
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto pe-0">
                            <!-- 로그인한 유저 프로필 -->
                            <img th:src="|/images/${articleInfo.insta_profile_img}|" class="img-fluid rounded-circle commentImage">
                        </div>
                        <div class="col ps-1">
                            <button class="btn p-0" type="button" style="line-height: 1px;">
                                <span class="fontBasic" style="color: rgb(162, 162, 162);">댓글 달기...</span>
                                <!-- <input type="hidden" class="inputInstaArticleId" th:value="${instaArticleList.instaArticleDto.id}"> -->
                            </button>

                            <!-- 오프 캠버스 실행 -->
                        </div>
                    </div>

                </div>
            </div>

        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
    </body>
</html>




