<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">

    <link rel="stylesheet" href="/public/css/insta/instaStyle.css">
    <link rel="stylesheet" href="/public/css/common.css">
    
    <!-- 이걸로 레이아웃 확인하셈 -->
    <script src="/public/js/lockLikeMobile.js"></script>
    
    <title>insta_confirmPage</title>

    <style>
        #profileImage {
            width: 150px;  /* 원하는 너비 */
            height: 150px; /* 원하는 높이 */
            object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
        }

        .fixed-top {
            height: 50px; /* 원하는 높이로 설정 */
        }
        .fixed-bottom {
            text-align: center;
            justify-content: space-around; /* 가로 중앙 정렬 */
            align-items: center; /* 세로 중앙 정렬 */
            height: 70px; /* 원하는 높이로 설정 */
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <form class="col" action="./confirmProcess" method="post" enctype="multipart/form-data">
                <div class="row fixed-top bg-white border-bottom fixed-top">
                    <div class="col text-start">
                        <!-- 뒤로가기 -->
                        <button onclick="goBack()" type="button" class="btn" style="line-height: 1px;">
                            <span class="material-symbols-outlined" style="font-weight: 200;">
                                arrow_back
                            </span>
                        </button>
                    </div>
                    <div class="col text-center align-self-center">
                        <span>campstagram</span>
                    </div>
                    <div class="col text-end"></div>
                </div>
                
                <div class="row mt-5 pt-4">
                    <div class="col" style="text-align: center;">
                        <span th:text="${session.sessionUserInfo.nickname}"></span><span>님 반갑습니다!</span>
                        <input type="hidden" name="user_id" th:value="${session.sessionUserInfo.id}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col" style="text-align: center;">
                        <span>
                            campstagram에서 사용할 프로필을 설정해주세요
                        </span>
                    </div>
                </div>

                <!-- 이미지 -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 text-center pt-4">
                        <img id="profileImage" src="/public/img/common/default_profile.png" class="img-fluid rounded-circle" alt="Profile Image">
                    </div>
                    <div class="col-3"></div>         
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="input-group">
                            <input id="imageInput" name="insta_img" type="file" class="form-control" accept="image/*">
                            <!-- <label class="input-group-text" for="bowWow_image">Choose File</label> -->
                        </div>
                    </div>
                </div>

                <div class="pb-2 border-bottom border-secondary-subtle mt-3"></div>
            
                <div class="row mt-3">
                    <div class="col">
                        <input type="text" class="form-control full-width" style="border: none;" name="insta_nickname" placeholder="insta_nickname">
                    </div>
                </div>
            
                <div class="mt-2 pb-2 border-bottom border-secondary-subtle"></div>
                
                <div class="row mt-3">
                    <div class="col">
                        <textarea class="form-control" name="intro" style="border: none;" placeholder="intro"></textarea>
                    </div>
                </div>

                <div class="mt-2 border-bottom border-secondary-subtle mb-5 pb-5"></div>
                <div class="row mt-5 pt-5"></div>

                <div class="row">
                    <div class="col d-grid position-fixed bottom-0 py-3 border-top" style="background-color: white;">
                        <button type="submit" class="btn" style="background-color: #0095f6; color: white;">입장하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <!-- 자바스크립트 공부하고 이 부분 다시 이해하기 -->
    <!-- <input type="file" id="imageInput"> -->
    <!-- <img id="profileImage" alt="Profile Image Preview"> -->
    <script>
        document.getElementById('imageInput').addEventListener('change', function(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('profileImage');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        });

        // 뒤로가기
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>




