<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.campingcar.mapper.PartnerCampingCarSqlMapper">
    <!-- 판매자 회원가입 -->
    <insert id="createSeller">
        insert into bc_rental_company_info(
            location_category_id, account_id, account_pw, crn, comp_name, representative_name,
		    comp_email, comp_address, contact_number, comp_profile_image, comp_nickname, comp_url
        )values(
            #{location_category_id}, #{account_id}, #{account_pw}, #{crn}, #{comp_name}, #{representative_name},
		    #{comp_email}, #{comp_address}, #{contact_number}, #{comp_profile_image}, #{comp_nickname}, #{comp_url}
        )
    </insert>

    <!-- 판매자 로그인시, id,password 확인 쿼리 -->
    <select id="selectCompanyByAccountIdandPw" resultType="com.bulmeong.basecamp.campingcar.dto.RentalCompanyDto">
        select * from bc_rental_company_info
        where account_id = #{account_id}
        and account_pw = #{account_pw}
    </select>

    <!-- 판매자회원가입_지역Category -->
    <select id="findLocationAll" resultType="com.bulmeong.basecamp.campingcar.dto.LocationDto"> 
        select*from bc_location_category
        order by id ASC
    </select>
    <!--  펀매자 id 가지고 오는 쿼리 -->
    <select id="getRentalCompanyInfoByid" resultType="com.bulmeong.basecamp.campingcar.dto.RentalCompanyDto">
        select * from bc_rental_company_info
        where id=#{id}
    </select>
    <select id="getCompingCarByid" resultType="com.bulmeong.basecamp.campingcar.dto.CampingcarDto">
        select * from bc_campingcar
        where id=#{id}
    </select>

    <!-- 차량 등록 -->
    <insert id="createCamping">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select max(id) from bc_campingcar
        </selectKey>
            insert into bc_campingcar (
                rental_company_id, category_id, product_name, main_img, short_description, detailed_description,
                rental_fee_weekdays, rental_fee_weekend, garage_address, overnight_stay, seating_capacity, sleeping_capacity, avaid_time, 
                return_dateTime, driver_license_id, driver_experience_id, driver_age_id, pet_friendly,
                cancellation_policy, is_opened, update_date
            )values(
                #{rental_company_id}, #{category_id}, #{product_name}, #{main_img}, #{short_description}, #{detailed_description},
                #{rental_fee_weekdays}, #{rental_fee_weekend}, #{garage_address}, #{overnight_stay}, #{seating_capacity}, #{sleeping_capacity}, #{avaid_time}, 
                #{return_dateTime}, #{driver_license_id}, #{driver_experience_id}, #{driver_age_id}, #{pet_friendly},
                #{cancellation_policy}, #{is_opened}, #{update_date}
            )
    </insert>
    <!-- 차량등록X보유시설 -->
    <insert id="createCarBasic">
        insert into bc_product_x_basic_facilities (product_id,basic_facilities_id) 
        values(#{product_id},#{basic_facilities_id})
    </insert>

    <!-- 차량 등록_캠핑카 유형, 운전면허증, 운전자 나이, 운전 경력 카테고리 select -->
    <select id="findCarTypeAll" resultType="com.bulmeong.basecamp.campingcar.dto.CarTypeDto">
        select * from bc_car_type_categories
        order by id ASC
    </select>
    <select id="findDriverLicenseAll" resultType="com.bulmeong.basecamp.campingcar.dto.DriverLicenseDto">
        select * from bc_driver_license_condition
        order by id ASC
    </select>

    <select id="findDriverAgeAll" resultType="com.bulmeong.basecamp.campingcar.dto.DriverAgeCondDto">
        select * from bc_driver_age_condition 
        order by id ASC
    </select>

    <select id="findDriverExperienceAll" resultType="com.bulmeong.basecamp.campingcar.dto.DriverExperienceCondDto">
        select * from bc_driver_experience_condition
        order by id ASC    
    </select>

    <!-- 캠핑차 차량 기본 보유 시설 category  -->
    <select id="findBasicFacilitiesAll" resultType="com.bulmeong.basecamp.campingcar.dto.BasicFacilitiesDto">
        select * from bc_car_basic_facilities 
        order by id ASC
    </select> 

    <!-- 차량등록_상세이미지 -->
    <insert id="createDetailImg">
        insert into bc_product_detail_img(
            product_id,location,original_filename
        ) values(
        #{product_id}, #{location}, #{original_filename}
        )
    </insert>
    <!-- main 페이지의 차량 등록 list(외래키의 받은 모든 테이블을 엮음) : 
    차량등록, 회사,회사지역카태고리,캠핑카유형, 운전자조건(면허증,경력,나이),좋아요, 성수기 가격 -->
    <select id="findCampingCarAll" resultType="map">
    select
        bc.id, 
        bc.rental_company_id,
        brci.comp_name, 
        bctc.name AS car_type_name, 
        bc.product_name, 
        bc.main_img, 
        bc.short_description,
        bc.rental_fee_weekdays, 
        bc.rental_fee_weekend,
        bc.garage_address, 
        bc.overnight_stay,
        bc.seating_capacity, 
        bc.sleeping_capacity, 
        bdlc.name AS driver_license_condition_name, 
        bdac.name AS driver_age_condition_name, 
        bdec.name AS driver_experience_condition_name,
        bc.pet_friendly, 
        bc.is_opened
    from bc_campingcar bc
    inner join bc_rental_company_info brci on bc.rental_company_id = brci.id 
    inner join bc_location_category blc on brci.location_category_id = blc.id
    inner join bc_car_type_categories bctc on bc.category_id = bctc.id
    inner join bc_driver_license_condition bdlc on bc.driver_license_id = bdlc.id 
    inner join bc_driver_age_condition bdac  on bc.driver_age_id = bdac.id
    inner join bc_driver_experience_condition bdec on bc.driver_experience_id = bdec.id
    left join bc_campingcar_like cl on cl.product_id = bc.id 
    left join bc_rental_peak_price brpp on bc.id = brpp.product_id 
    group by bc.id
    order by bc.id DESC
    </select>

    <!-- 차량관리 -->
    <select id="findCampingCarBySellerId" resultType="map">
    select  
        bc.id, 
        bc.rental_company_id,
        brci.comp_name, 
        bctc.name AS car_type_name, 
        bc.product_name, 
        bc.main_img, 
        bc.short_description,
        bc.rental_fee_weekdays, 
        bc.rental_fee_weekend,
        bc.garage_address, 
        bc.overnight_stay,
        bc.seating_capacity, 
        bc.sleeping_capacity, 
        bdlc.name AS driver_license_condition_name, 
        bdac.name AS driver_age_condition_name, 
        bdec.name AS driver_experience_condition_name,
        bc.pet_friendly, 
        bc.is_opened,
        brpp.*
    from bc_campingcar bc 
        INNER join bc_rental_company_info brci on bc.rental_company_id = brci.id
        INNER join bc_location_category blc on brci.location_category_id = blc.id
        inner join bc_car_type_categories bctc on bc.category_id = bctc.id
        INNER join bc_driver_license_condition bdlc on bc.driver_license_id = bdlc.id
        INNER join bc_driver_age_condition bdac on bc.driver_age_id = bdac.id
        INNER join bc_driver_experience_condition bdec on bc.driver_experience_id = bdec.id
        left join bc_campingcar_like cl on cl.product_id = bc.id 
        left join bc_rental_peak_price brpp on bc.id = brpp.product_id
        where bc.rental_company_id = #{rental_company_id}
    </select>

</mapper>