<div class="contaimer">
    <!-- 캠핑카 등록 차량 반복 출력 -->
    <div class="row mx-0">
        <div class="col">
            <!-- 등록차량이 없을 경우 -->
            <div class="row mx-0" th:if="${#lists.isEmpty(campingcarList)}">
                <div class="col">
                    등록된 차량이 없습니다.
                </div>
            </div>
            <!--등록차량이 있을 경우 -->
            <div class="row mx-0" th:unless="${#lists.isEmpty(campingcarList)}">
                <div class="col">
                    <div class="row" th:each="campingcar : ${campingcarList}">
                        <div class="col px-0 shadow border border-2 rounded-4 my-4">
                            <div class="row mx-0">
                                <div class="col px-0 d-flex justify-content-center align-items-center overflow-hidden rounded-top-4">
                                    <img class="img-fluid" th:if="${campingcar.main_img != null}" 
                                    th:src="|/images/${campingcar.main_img}|" style="max-width: 100%; min-height: 100%;" alt="썸네일">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col ps-4">
                                    <!-- 회사명 + 차량명 -->
                                    <div class="row">
                                        <div class="col pe-0 pb-2">
                                            <span class="fw-bold fs-6 text-success" th:text="${campingcar.comp_name}"></span>
                                            <span class="fw-bold fs-6" th:text="${campingcar.product_name}" style="color: #484647;"></span>
                                            <div class="fw-bold new-fs-85" th:text="${campingcar.short_description}" style="color: #7C7B7B;"></div>
                                        </div>
                                    </div>
                                    <!-- 비수기 평일가격, 주말가격 -->
                                    <div class="row ps-1">
                                        <div class="col fs-6 ps-2 pb-2 d-flex align-items-center">
                                            <span class="text-primary fw-semibold">평일 가격 : </span>
                                            <span th:text="${#numbers.formatInteger(campingcar.rental_fee_weekdays,3,'COMMA')} + '원'"></span>
                                        </div>
                                        <div class="col fs-6 ps-0 pb-2 d-flex justify-content-center aling-items-center">
                                            <span class="text-primary fw-semibold">주말 가격 : </span>
                                            <span th:text="${#numbers.formatInteger(campingcar.rental_fee_weekend,3,'COMMA')} + '원'"></span>
                                        </div>
                                    </div>
                                    <!-- 차고지 주소 + 운전 조건 -->
                                    <div class="row">
                                        <div class="col pt-2 pb-2 border-top fw-bold new-fs-85" style="color: #7C7B7B;">
                                            <div th:text="'차고지 주소 : ' + ${campingcar.garage_address}"></div>
                                            <div th:text="'운전자 면허 : ' + ${campingcar.driver_license_name}"></div>
                                            <div th:text="'운전자 나이 : ' + ${campingcar.age_condition_name}"></div>
                                            <div th:text="'운전자 경력 : ' + ${campingcar.experience_condition_name}"></div>
                                        </div>
                                    </div>
                                    <!-- 동승,취침 애완 조건 -->
                                    <div class="row py-2 new-fs-85 border-top">
                                        <div class="col-4 px-0 d-flex justify-content-between align-items-center">
                                            <span class="material-symbols-outlined">groups</span><span th:text="'동승 인원 : ' + ${campingcar.seating_capacity} + '명 '"></span>|
                                        </div>
                                        <div class="col-4 px-0 d-flex justify-content-between align-items-center">
                                            <span class="material-symbols-outlined">hotel</span>
                                            <span th:text="'취침 인원 : ' + ${campingcar.sleeping_capacity} + '명 '"></span>|
                                        </div>
                                        <div class="col-4 px-0 d-flex align-items-center">
                                            <span class="material-symbols-outlined">sound_detection_dog_barking</span>
                                            <span th:text="${campingcar.pet_friendly}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>