<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/public/css/secondHandProductCss/style.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <style>
        .floating-btn {
            position: fixed;
            bottom: 5rem;
            right: 0.5rem;
            background-color: #FF6F0F;
            color: white;
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            z-index: 1000;
            cursor: pointer;
        }
        .floating-btn .plus-icon {
            position: absolute;
            top: 2rem;
            left: 1.7rem;
            transform: translate(-50%, -50%);
        }
        .floating-menu {
            position: fixed;
            bottom: 9rem;
            right: 0.5rem;
            display: none;
            flex-direction: column;
            background-color: white;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            z-index: 999;
            padding: 0.5rem;
        }
        .floating-menu .menu-item {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }
        .floating-menu .menu-item:last-child {
            border-bottom: none;
        }
        .floating-menu .menu-item i {
            margin-right: 0.5rem;
        }
        .floating-menu .menu-item span {
            margin-left: 5px;
        }
        .location-dropdown-menu {
            width: 11rem;
            height: 6rem;
            bottom: 0.5rem !important; /* 드롭다운 위치 */
        }
        .icon-and-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .icon-and-text .icon {
            margin-bottom: 0;
            padding-bottom: 0;
            gap: 0;
        }
        .icon-and-text .text {
            margin-top: 0;
            font-size: 0.8rem;
        }
        .icon-and-text .text-navi {
            margin-top: 0;
            font-size: 0.8rem;
        }
    </style>
</head>
<body>
<!--하단네비-->
<!--구매 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">

        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined" style="font-size: 1.7em;">
                storefront
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>

        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
    </div>
</div>
<div th:replace="secondHandProduct/commonModal::registeringLocation"></div>
<!--상단네비-->
<div class="container-fluid g-0 bg-white fixed-top border-bottom">
    <div class="row py-2 mx-2">
        <div class="col-auto fs-3 icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="text-navi fs-5">
                내 동네 설정 <span class="ms-1"><i class="bi bi-chevron-down"></i></span>
            </span>
            <ul class="dropdown-menu location-dropdown-menu">
                <li><a class="dropdown-item mt-1" href="#">
                    <span>나중에 추가</span>
                </a></li>
                <li><div class="dropdown-item mt-2">
                    <span onclick="myLocation()">내 동네 설정</span>
                </div></li>
            </ul>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid g-0" style="margin-top: 4rem; padding-bottom: 5rem">
    <div class="row mx-2">
        <a href="/secondhandProduct/selectCategoryPage" class="col-auto mainPostLink-custom">
            <span class="bg-custom1 main-span-custom"><span class="me-1"><i class="bi bi-list"></i></span>전체</span>
        </a>
    </div>
    <a th:href="@{/secondhandProduct/postDetailsPage(product_id=${productList.product_id}, user_id=${productList.user_id})}" class="row mx-2 py-3 border-bottom mainPostLink-custom" th:each="productList : ${productDtoList}">
        <div class="col-4 me-2" style="height: 7rem;">
            <img class="mainPostImg-custom" th:src="@{/images/{image}(image=${productList.main_image})}">
        </div>
        <div class="col">
            <div class="row-auto">
                <div class="col">
                    <span th:text="${productList.title}" class="font-custom2 title-line">제목~</span>
                </div>
                <div class="col font-custom1">
                    <span th:text="${productList.category_name}">카테고리</span><span>・</span>
                    <span>위치</span><span>・</span>
                    <span th:text="${T(com.bulmeong.basecamp.common.util.TimeUtil).timeAgo(productList.created_at)}">생성일</span>
                </div>
                <div class="col">
                    <span th:text="|${#numbers.formatInteger(productList.price, 0, 'COMMA')}원|" class="font-custom2 fw-bold">금액</span>
                </div>
                <div class="col pt-3 text-end font-custom1">
                    <span><i class="bi bi-chat"></i></span><span class="ms-1" th:text="${productList.chat_room_count}">채팅수</span>
                    <span><i class="bi bi-heart"></i></span><span class="ms-1" th:text="${productList.wish_list_count}">좋아요수</span>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- 플로팅 버튼 및 메뉴 -->
<div class="floating-btn" id="floatingBtn">
    <span class="plus-icon">+</span>
</div>
<div class="floating-menu" id="floatingMenu">
    <div class="menu-item" onclick="location.href='/secondhandProduct/productRegistrationPage'">
        <i class="bi bi-pencil"></i><span>내 물건 팔기</span>
    </div>
    <div class="menu-item" onclick="location.href='/secondhandProduct/chatRoomPage'">
        <i class="bi bi-chat-dots"></i><span>채팅</span>
    </div>
    <div class="menu-item" onclick="location.href='/secondhandProduct/myPage'">
        <i class="bi bi-person"></i><span>내정보</span>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
<script src="/public/js/secondHandProduct/map.js"></script>
<script>
    let myId = null;
    const urlParams = new URL(window.location.href).searchParams;

    // js 로그인여부
    function setSessionUserId() {
        const url = "/api/user/getSessionUserId"
        fetch(url)
            .then(response => response.json())
            .then((response) => {
                myId = response.data.userId;
            })
        ;
    }
    window.addEventListener("DOMContentLoaded", () => {
        setSessionUserId();
    });

    document.getElementById('floatingBtn').addEventListener('click', function () {
        var menu = document.getElementById('floatingMenu');
        if (menu.style.display === 'none' || menu.style.display === '') {
            menu.style.display = 'flex';
        } else {
            menu.style.display = 'none';
        }
    });
    window.addEventListener('scroll', function() {
        if (window.scrollY === 0) {
            location.reload();
        }
    });

    // 내 위치 등록중 + 모달
    function myLocation() {
        if (navigator.geolocation) {
            console.log("내 위치저장 시작");

            var registeringLocation = new bootstrap.Modal(document.getElementById('registeringLocation'), {
                backdrop: 'static',
                keyboard: false
            });
            registeringLocation.show();

            navigator.geolocation.getCurrentPosition(function (position) {
                var legionX = position.coords.latitude; // 위도
                var legionY = position.coords.longitude; // 경도

                console.log("위도X: " + legionX);
                console.log("경도Y: " + legionY);

                const url = "/api/location/saveLocation";
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({user_id: myId, my_region_x: legionX, my_region_y: legionY })
                })
                    .then(response => response.json())
                    .then((response) => {
                        console.log("내 위치저장 끝");
                        setTimeout(() => {
                            registeringLocation.hide();
                            loadLocation();
                        }, 500); // 0.5초 지연
                    })
            });
        }
    }
    // 내위치 보내기
    function loadLocation() {
        const url = "/api/location/loadLocation"
        fetch(url)
            .then(response => response.json())
                .then(response => {
                if (response.result === "success") {
                    const regionX  = response.data.location.my_region_x;
                    const regionY = response.data.location.my_region_y;
                    window.location.href = `/secondhandProduct/neighborhoodCertificationPage?my_region_x=${regionX}&my_region_y=${regionY}`;
                }
            });
    }
</script>
</body>
</html>
