<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/secondHandProductCss/style.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <style>
        .profile-custom {
            width: 3rem;
            height: 2.2rem;
        }
        .profile-custom img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .font-edu {
            font-family: 'Edu VIC WA NT Beginner', sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 0.1rem; /* 글자 간격 조정 */
            word-spacing: 0.2rem; /* 단어 간격 조정 */
        }
        .f08 {
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<!--상단네비-->
<div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
    <div class="row mx-1 py-2 text-center">

        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
        </a>

        <!--구매-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined" style="font-size: 1.7em;">
                storefront
            </span>
            <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">구매</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 변초연 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                shopping_bag
                            </span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <!-- 심규진 -->
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                eco
                            </span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--예약-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                event_available
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">예약</span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 조준희 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                camping
                            </span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <!-- 양은자 -->
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                airport_shuttle
                            </span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!--커뮤-->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray">
                forum
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">커뮤니티</span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 이시은 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                group
                            </span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <!-- 남현지 -->
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>

        <!--내정보-->
        <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
        <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
            <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                person
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
        </a>
    </div>
</div>
<!---->
<div class="container py-2 g-0 bg-white fixed-top">
    <a href="/secondhandProduct/mainPage" style="color: black">
        <div class="row mx-2">
            <div class="col-auto text-start font-edu">
                SecPro
            </div>
        </div>
    </a>
</div>
<div class="container-fluid g-0 form-container" style="margin-top: 2.5rem">
    <div class="row mx-2 py-3 border-bottom align-items-center">
        <div class="col-auto pe-0 profile-custom">
            <img src="/public/img/secondHandProductImage/profile.png" alt="Profile Image">
        </div>
        <div class="col d-flex align-items-center fw-semibold" style="font-size: 1.2rem">
            <span th:text="${session.sessionUserInfo.nickname}" th:unless="${session.sessionUserInfo == null}"></span>
        </div>
        <div class="col text-end" style="font-size: 0.75rem">
            <a href="">
                <span class="border px-2 py-2" style="color: black">프로필 보기</span>
            </a>
        </div>
    </div>
<!--나의거래-->
    <div class="row mt-3 mx-2">
        <div class="col" style="font-size: 1.2rem; font-weight: 500">
            나의거래
        </div>
    </div>
<!--  관심  -->
    <div class="row mt-2 mx-2">
        <a th:href="@{/secondhandProduct/watchlistPage(user_id=${session.sessionUserInfo.id})}" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-heart"></i><span class="ms-2">관심목록</span>
        </a>
    </div>
<!-- 판매   -->
    <div class="row mt-2 mx-2">
        <a href="/secondhandProduct/mySalesHistoryPage" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-clipboard-check"></i><span class="ms-2">판매내역</span>
        </a>
    </div>
<!--  구매  -->
    <div class="row mt-2 mx-2">
        <a href="/secondhandProduct/purchaseHistoryPage" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-cart"></i><span class="ms-2">구매내역</span>
        </a>
    </div>
    <div class="row mt-2 mx-2">
        <a href="" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-clipboard"></i><span class="ms-2">거래후기</span>
        </a>
    </div>
    <div class="row border-bottom mt-3"></div>
<!--동네인증-->
    <div class="row mt-3 mx-2">
        <div class="col" style="font-size: 1.2rem; font-weight: 500">
            나의 지역생활
        </div>
    </div>
    <div class="row mt-2 mx-2">
        <a href="/secondhandProduct/administrativeRegionListPage" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-geo-alt"></i><span class="ms-2">내 동네 설정</span>
        </a>
    </div>
    <div class="row mt-2 mx-2">
        <a href="" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-envelope"></i><span class="ms-2">진행 중인 이벤트</span>
        </a>
    </div>
    <div class="row mt-2 mx-2">
        <a href="" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-journal-text"></i><span class="ms-2">공지사항</span>
        </a>
    </div>
    <div class="row mt-2 mx-2">
        <a href="" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-megaphone"></i><span class="ms-2">광고</span>
        </a>
    </div>
    <div class="row border-bottom mt-3"></div>
    <div class="row mt-3 mx-2">
        <div class="col" style="font-size: 1.2rem; font-weight: 500">
            기타
        </div>
    </div>
    <div class="row mt-2 mx-2">
        <a href="" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-lightbulb"></i><span class="ms-2">자주 묻는 질문</span>
        </a>
    </div>
    <div class="row mt-2 mx-2">
        <a href="" class="col link-noneAndColor" style="font-size: 1.1rem; font-weight: 500">
            <i class="bi bi-shield-exclamation"></i><span class="ms-2">약관 및 정책 </span>
        </a>
    </div>
    <!-- 홈페이지 설명  시작 -->
    <div class="row mt-3 py-2 bg-dark-subtle text-white text-center f09">
        <div class="col fw-bold border-end">
            로그아웃
        </div>
        <div class="col fw-bold border-end">
            고객센터
        </div>
        <div class="col fw-bold">
            NEWS
        </div>
    </div>
    <div class="row mx-2  py-4 px-3 bg-body-secondary text-secondary">
        <div class="col">
            <div class="row pb-2">
                <div class="col p-0 fw-bold fs-3 d-flex align-items-center">
                    <span class="material-symbols-outlined">camping</span>
                    <span class="ms-1">BASECAMP</span>
                </div>
            </div>
            <div class="row pb-3 border-bottom border-2">
                <div class="col p-0 f08">
                    BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                </div>
            </div>

            <div class="row pt-3 py-3 border-bottom border-2">
                <div class="col-auto p-0">
                    <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                        <span class="material-symbols-outlined" style="font-size: 1rem; line-height: 1;">phone_in_talk</span>
                        <span class="ms-1" style="font-size: 0.8rem;">고객센터</span>
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08" style="font-size: 0.8rem;">
                        카카오 1:1 문의
                    </button>
                </div>
                <div class="col p-0 f08">
                    <div class="row">
                        <div class="col">
                            <span>평일</span> : 10:00 ~ 17:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>점심</span> : 12:00 ~ 13:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>※</span><span>주말 공휴일 휴무</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3 align-items-center">
                <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                    <i class="bi bi-google-play"></i>
                </div>
                <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                    <i class="bi bi-youtube"></i>
                </div>
                <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="col-auto pe-0 f08">
                    이용약관
                </div>
                <div class="col f08">
                    개인정보처리방침
                </div>
            </div>
        </div>
    </div>
    <!-- 홈페이지 설명 끝 -->
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>