/* 폰트 사이즈 */
.fontSix {
    font-size: 0.6em;
}
.fontSeven {
    font-size: 0.7em;
}
.fontBasic {
    font-size: 0.8em;
}
.fontNine {
    font-size: 0.9em;
}

/* a태그 데코 none */
/* class _ link-dark link-underline-opacity-0 */

/* 상단바 */
.fixed-top {
    text-align: center;
    justify-content: space-around; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 50px; /* 원하는 높이로 설정 */
}
/* 하단바 */
.fixed-bottom {
    text-align: center;
    justify-content: space-around; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 70px; /* 원하는 높이로 설정 */
}

/* 스크롤 */
.insta-list-scroll {
    padding-left: 12px;
}
.insta-list-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}
/* border-wrapper 클래스에 보더 적용 */
.border-wrapper {
    border: 1px solid #e5e5e5c4; /* 원하는 보더 색상으로 변경 가능 */
    border-radius: 22px; /* 모서리를 둥글게 하고 싶다면 추가 */
    display: inline-flex; /* 인라인 플렉스 박스로 설정 */
}


/* 이미지 크기 */
.commentImage {
    width: 20px;  /* 원하는 너비 */
    height: 20px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
}
.profileImage {
    width: 35px;  /* 원하는 너비 */
    height: 35px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
}
.profileImg {
    width: 39px;  /* 원하는 너비 */
    height: 39px; /* 원하는 높이 */
    aspect-ratio: 1/1;
    /* 원하는 위치를 설정할 수 있습니다 */
    position: absolute; 
    transform: translate(-2.1px, -2.1px); /* X, Y 좌표로 이동 */
}
.storyImage {
    width: 59px;  /* 원하는 너비 */
    height: 59px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
    transform: translate(0px, 2.5px); /* X, Y 좌표로 이동 */
}
.storyImg {
    width: 65px;  /* 원하는 너비 */
    height: 65px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
    /* 원하는 위치를 설정할 수 있습니다 */
    position: absolute;
    transform: translate(-2.8px, -0.5px); /* X, Y 좌표로 이동 */
}
/* instaBookmarkPage */
.userImage {
    width: 80px;  /* 원하는 너비 */
    height: 80px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
}
.userImg {
    width: 86.5px;  /* 원하는 너비 */
    height: 86.5px; /* 원하는 높이 */
    aspect-ratio: 1/1;
    /* 원하는 위치를 설정할 수 있습니다 */
    position: absolute; 
    transform: translate(-3.5px, -3.5px); /* X, Y 좌표로 이동 */
}
/* instaConfirmPage */
#profileImage {
    width: 150px;  /* 원하는 너비 */
    height: 150px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
}
.commentWriteImage {
    width: 45px;  /* 원하는 너비 */
    height: 45px; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
}
.commentWriteImg {
    width: 50px;  /* 원하는 너비 */
    height: 50px; /* 원하는 높이 */
    aspect-ratio: 1/1;
    /* 원하는 위치를 설정할 수 있습니다 */
    position: absolute; 
    transform: translate(-2.55px, -2.7px); /* X, Y 좌표로 이동 */
}
.replyWriteImage {
    width: 26.5px;  /* 원하는 너비 */
    height: 70%; /* 원하는 높이 */
    object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
    aspect-ratio: 1/1;
}
.replyWriteImg {
    width: 30px;  /* 원하는 너비 */
    height: 30px; /* 원하는 높이 */
    aspect-ratio: 1/1;
    /* 원하는 위치를 설정할 수 있습니다 */
    position: absolute; 
    transform: translate(-2px, -1.5px); /* X, Y 좌표로 이동 */
}
.instaButtonColor {
    color: #0095f6;
}

.replyWrapper {
    display: none;
}

/* 검색창 */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}
.search-container input {
    padding-left: 30px; /* 아이콘을 위한 여유 공간 */
    border-radius: 10px; /* 모서리를 더 둥글게 만들기 */
}
.search-container .bi-search {
    position: absolute;
    left: 10px;
    color: gray;
}

/* 글쓰기 버튼 */
.write-button-container {
    position: fixed; /* 페이지의 특정 위치에 고정할 수 있음 */
    bottom: 100px; /* 원하는 위치로 조정 가능 */
    right: 20px;  /* 원하는 위치로 조정 가능 */  
    border-radius: 3px;
    z-index: 1000; /* 다른 요소들보다 위에 위치하도록 설정 */
}
/* .write-button {
    border: 1px solid #ccc; 경계선 추가
    border-radius:4px;
    padding: 0%;
    display: flex;
} */

/* instaMainPage */
/* 이미지 하단 사진 개수 */
/* Bootstrap Carousel 기본 스타일을 유지하면서 점 모양 인디케이터 스타일링 */
.carousel-indicators {
    bottom: 1px; /* 인디케이터 위치 조정 */
}

/* instaMainPage */
/* 모달의 내용 스타일 */
.modal-content {
    width: 70%; /* 모달 내용의 너비 */
    transform: translate(20%, 0%); /* 모달 창 위치 조정 */
}

.carousel-indicators .active {
    background-color: #fff; /* 활성화된 점 색상 설정 (흰색) */
}

/* 인디케이터 숫자 제거 */
.carousel-indicators li {
    list-style: none; /* 기본 리스트 스타일 제거 */
    width: 6px; /* 점의 너비 */
    height: 6px; /* 점의 높이 */
    background-color: #dbdada93; /* 점의 색상 */
    border-radius: 50%; /* 둥근 점 모양 */
    margin: 0 2px; /* 점 사이 간격 */
    cursor: pointer; /* 클릭 가능 표시 */
    display: inline-block; /* 인라인 블록으로 나란히 배치 */
}

/* userPage, myPage에서 사용 */
.middle {
    padding-left: 2px;
    padding-right: 2px; 
}
.pb {
    padding-bottom: 2px;
}


/* commentWritePage */
/* 전송버튼 */
.send-icon {
    width: 10%;
    height: 39%;
    position: absolute;
    right: 2.1rem;
    top: 1.32rem;
    /* opacity: 50%; */
}
.send-icon i {
    position: absolute;
    top: 25%;
    left: 35%;
}

/* instaSearchPage */
/* 검색 버튼 */
.search-icon {
    width: 10%;
    height: 39%;
    position: absolute;
    right: 1.5rem;
    top: 0.62rem;
}

/* 좋아요 눌렀을 때 컬러 */
.likeColor {
    color: #F23054;
}

.hashtag {
    margin-right: 3px; /* 각 해시태그의 오른쪽에 8px 간격 추가 */
    display: inline-block; /* 인라인 블록으로 설정하여 간격 적용 */
}

