<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.user.mapper.UserSqlMapper">
    <!-- 유저 등록 -->
        <insert id="insertUser">
            INSERT INTO bc_user
                (account, password, nickname, email, phone, profile_image, mileage, gender, birth, name)
            values
                (#{account}, #{password}, #{nickname}, #{email}, #{phone}, default, 1000, #{gender} , #{birth}, #{name})
        </insert>
    <!-- 유저 로그인 -->
    <select id="getUserByAccountAndPassword" resultType="com.bulmeong.basecamp.user.dto.UserDto">
        select * from bc_user where account = #{account} and password = #{password}
    </select>

    <!-- ==============특정 정보로 가져오기============ -->
        <!-- 전체 -->
        <select id="getAllUser" resultType="com.bulmeong.basecamp.user.dto.UserDto">
            select * from bc_user    
        </select>

        <!-- 전체 유저 수 -->
        <select id="getAllUserCount" resultType="int">
            select count(*) from bc_user    
        </select>

        <!-- 고유번호 -->
        <select id="getUserById" resultType="com.bulmeong.basecamp.user.dto.UserDto">
            select * from bc_user where id = #{id}    
        </select>

        <!-- 아이디 -->
        <select id="getUserByAccount" resultType="com.bulmeong.basecamp.user.dto.UserDto">
            select * from bc_user where account = #{account}    
        </select>
    <!-- ============================================== -->
        <select id="getLastUserCount" resultType="int">
            SELECT COALESCE(MAX(id), 0) FROM bc_user;
        </select>
        <select id="getUserCountByAccount" resultType="int">
            select count(*) from bc_user where account = #{account}    
        </select>

        <insert id="insertKakaoUser">
            INSERT INTO bc_user
                (account, password, nickname, profile_image, mileage, name)
            values
                (#{account}, #{password}, #{nickname}, default, 1000, #{name})
        </insert>
</mapper>