<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.camp.mapper.CampsiteSqlMapper">
    <insert id="insertCampsite">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from bc_campsite
        </selectKey>
        INSERT into bc_campsite (
            account,
            password, 
            name,    
            seller,
            address,
            postcode,
            detail_address,
            phone,
            camp_phone,
            email,
            profile_image,
            url,
            description,
            manner_start,
            manner_end,
            check_in,
            check_out,
            notice
        ) values (
            #{account},
            #{password}, 
            #{name},    
            #{seller},
            #{address},
            #{postcode},
            #{detail_address},
            #{phone},
            #{camp_phone},
            #{email},
            #{profile_image},
            #{url},
            #{description},
            #{manner_start},
            #{manner_end},
            #{check_in},
            #{check_out},
            #{notice}
        )
    </insert>
    <insert id="insertCampsiteBank">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from bc_campsite_bank
        </selectKey>
        INSERT into bc_campsite_bank (
            campsite_id,
            bank_name,
            bank_account,
            holder
        ) 
        values(
            #{campsite_id},
            #{bank_name},
            #{bank_account},
            #{holder}
        )
    </insert>
    <insert id="insertCampsiteCategory">
        insert into bc_campsite_select_category (campsite_id, category_id) values (#{campsite_id},#{category_id});
    </insert>
    <insert id="insertCampMainImage">
        INSERT into bc_campsite_image (
            campsite_id,
	        location,
	        origin_filename
        )
        values(
            #{campsite_id},
	        #{location},
	        #{origin_filename}
        )
    </insert>

    <update id="updateCampsite">
        UPDATE bc_campsite set
            name = #{name},
            address = #{address},
            postcode = #{postcode},
            detail_address = #{detail_address},
            phone = #{phone},
            email = #{email},
            url = #{url},
            description = #{description},
            manner_start = #{manner_start},
            manner_end = #{manner_end},
            check_in = #{check_in},
            check_out = #{check_out},
            notice = #{notice},
            map_image = #{map_image},
            adult_pay = #{adult_pay},
            kid_pay = #{kid_pay},
            car_pay = #{car_pay},
            peak_pay = #{peak_pay},
            peak_start_date = #{peak_start_date},
            peak_end_date = #{peak_end_date},
            max_ordertime = #{max_ordertime}
        where id = #{id}
    </update>

    <update id="authCampSite">
        UPDATE bc_campsite set
            is_authenticated = 'T'
        where id = #{id}
    </update>
    
    <select id="getCampsiteDtoByAccountInfo" resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
        select * from bc_campsite where account = #{account} and password = #{password}
    </select>
    <select id="getCampsiteDtoByAccount" resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
        select * from bc_campsite where account = #{account}
    </select>
    <select id="getCampsiteDtoByName" resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
        select * from bc_campsite where name = #{name}
    </select>
    <select id="newCampsiteID" resultType="int">
        select COALESCE(MAX(id) + 1, 1) from bc_campsite
    </select>
    <select id="getCampsiteCategory" resultType="com.bulmeong.basecamp.camp.dto.CampsiteCategoryDto">
        select * from bc_campsite_category
    </select>
    <select id="getCategoryBySelectCategoryId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteCategoryDto">
        select * from bc_campsite_category where id = #{id}
    </select>
    <select id="getSelectCategoriesByCampsiteId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteSelectCategoryDto">
        select * from bc_campsite_select_category where campsite_id = #{id}
    </select>
</mapper>