<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.camp.mapper.CampsiteSqlMapper">
    <!-- ========================================================================
         회원 가입 / 로그인
         ======================================================================== -->
        <!-- 로그인 확인 -->
         <select id="getCampsiteDtoByAccountInfo" resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
            select * from bc_campsite where account = #{account} and password = #{password}
         </select>

        <!-- 새 판매자 가입번호 -->
         <select id="newCampsiteId" resultType="int">
            select COALESCE(MAX(id) + 1, 1) from bc_campsite
         </select>

        <!-- 판매자 등록 -->
         <insert id="registerUser">
            <selectKey keyProperty="id" resultType="int" order="AFTER">
                select max(id) from bc_campsite
            </selectKey>
            INSERT into bc_campsite (
                account,
                password, 
                seller_name,
                seller_phone,
                email,
                crn,
                profile_image,
                camp_name,    
                address,
                postcode,
                detail_address,
                camp_phone
            
            ) values (
                #{account},
                #{password}, 
                #{seller_name},
                #{seller_phone},
                #{email},
                #{crn},
                #{profile_image},
                #{camp_name},    
                #{address},
                #{postcode},
                #{detail_address},
                #{camp_phone}
            )
        </insert>

        <!-- 판매자 은행계좌 등록 -->
        <insert id="registerBank">
            INSERT into bc_campsite_bank (
                campsite_id,
                bank_name,
                bank_account,
                holder
            
            ) values (
                #{campsite_id},
                #{bank_name},
                #{bank_account},
                #{holder}
            )
        </insert>

        <!-- 캠핑장 등록 -->
        <update id="registerCamp">
            UPDATE bc_campsite
            SET 
            email = #{email},
            camp_name = #{camp_name},
            postcode = #{postcode},
            address = #{address},
            detail_address = #{detail_address},
            camp_phone  = #{camp_phone},
            url  = #{url},
            map_image  = #{map_image},
            description = #{description},
            notice = #{notice},
            facility_notice = #{facility_notice},
            refund_notice  = #{refund_notice},
            manner_start = #{manner_start},
            manner_end = #{manner_end},
            check_in  = #{check_in},
            check_out  = #{check_out},
            adult_pay = #{adult_pay},
            kid_pay = #{kid_pay},
            car_pay = #{car_pay},
            peak_pay = #{peak_pay},
            peak_start_date = #{peak_start_date},
            peak_end_date = #{peak_end_date},
            max_ordertime  = #{max_ordertime},
            opentime = #{opentime},
            is_authenticated  = 'T'
            where id = #{id}
        </update>
    <!-- ======================================================================== -->



    <!-- ========================================================================
         카테고리
         ======================================================================== -->
        <!-- 캠핑장 카테고리 -->
        <select id="areaCategory" resultType="com.bulmeong.basecamp.camp.dto.CampsiteCategoryDto">
            select * from bc_campsite_area_category
        </select>

        <!-- 구역 카테고리 -->
        <select id="campCategory" resultType="com.bulmeong.basecamp.camp.dto.CampsiteCategoryDto">
            select * from bc_campsite_category
        </select>

        <!-- 캠핑장 선택 카테고리 -->
        <select id="selectCampCategory" resultType="map">
            select ct.* from bc_campsite_select_category sc 
            inner join bc_campsite_category ct
            on sc.category_id = ct.id 
            where sc.campsite_id = #{campsite_id}
        </select>

        <!-- 구역 선택 카테고리 -->
        <select id="selectAreaCategory" resultType="map">
            select ct.* from bc_campsite_select_area_category sc 
            inner join bc_campsite_area_category ct
            on sc.category_id = ct.id 
            where sc.area_id = #{area_id}
        </select>

        <!-- 캠핑장 선택 카테고리 등록 -->
        <insert id="addSelectCampCategory">
            INSERT into bc_campsite_select_category (
                campsite_id,
                category_id
            
            ) values (
                #{campsite_id},
                #{category_id}
            )
        </insert>

         <!-- 구역 선택 카테고리 등록 -->
         <insert id="addSelectAreaCategory">
            INSERT into bc_campsite_select_area_category (
                area_id,
                category_id
            
            ) values (
                #{area_id},
                #{category_id}
            )
        </insert>

        <!-- 캠핑장 선택 카테고리 삭제 -->
        <delete id="deleteSelectCampCategory">
            DELETE from bc_campsite_select_category where campsite_id = #{campsite_id}
        </delete>

        <!-- 구역 선택 카테고리 삭제 -->
        <delete id="deleteSelectAreaCategory">
            DELETE from bc_campsite_select_area_category where area_id = #{area_id}
        </delete>



    <!-- ======================================================================== -->



     <!-- ========================================================================
        이미지
        ======================================================================== -->
        <!-- 캠핑장 이미지 추가 -->
        <insert id="addCampMainImage">
            INSERT into bc_campsite_image (
                campsite_id,
                location,
                origin_filename
            
            ) values (
                #{campsite_id},
                #{location},
                #{origin_filename}
            )
        </insert>

        <!-- 캠핑장 이미지 삭제 -->
        <delete id="deleteCampMainImage">
            DELETE from bc_campsite_image where campsite_id = #{campsite_id}
        </delete>

        <!-- 캠핑장 이미지 가져오기 -->
        <select id="campMainImage" resultType="com.bulmeong.basecamp.camp.dto.CampsiteImageDto">
            select * from bc_campsite_image where campsite_id = #{campsite_id} order by id asc
        </select>


        <!-- 구역 이미지 추가 -->
        <insert id="addAreaMainImage">
            INSERT into bc_campsite_area_image (
                area_id,
                location,
                origin_filename
            
            ) values (
                #{area_id},
                #{location},
                #{origin_filename}
            )
        </insert>

        <!-- 구역 이미지 삭제 -->
        <delete id="deleteAreaMainImage">
            DELETE from bc_campsite_area_image where area_id = #{area_id}
        </delete>

        <!-- 구역 이미지 가져오기 -->
        <select id="areaMainImage" resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaImageDto">
            select * from bc_campsite_area_image where area_id = #{area_id} order by id asc
        </select>

    <!-- ======================================================================== -->

    

    <!-- ========================================================================
        캠핑장 데이터
        ======================================================================== -->
        <!-- 최소 금액 -->
        <select id="minPriseByCampsiteId" resultType="Integer">
            select min(prise) from bc_campsite_area where campsite_id = #{campsite_id}
        </select>
        <!-- 모든 캠핑장 리스트 -->
        <select id="getAllCampsiteDto" resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
            select * from bc_campsite
        </select>
        <!-- 구역번호로 포인트 -->
        <select id="pointByAreaId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaPointDto">
            select * from bc_campsite_area_point where area_id = #{area_id} order by id
        </select>
        <!-- 포인트번호로 포인트 -->
        <select id="pointByPointId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaPointDto">
            select * from bc_campsite_area_point where point_id = #{point_id} order by id
        </select>
        <!-- 고유번호로 포인트 -->
        <select id="pointById" resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaPointDto">
            select * from bc_campsite_area_point where id = #{id}
        </select>
        <!-- 고유번호로 캠핑장 -->
        <select id="getCampsiteDtoById" resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
            select * from bc_campsite where id = #{campsite_id}
        </select>

        <!-- 캠핑장 고유번호로 구역리스트 -->
        <select id="getAreaListByCampsiteId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaDto">
            select * from bc_campsite_area where campsite_id = #{campsite_id}
        </select>

        <!-- 고유번호로 구역 -->
        <select id="getAreaById" resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaDto">
            select * from bc_campsite_area where id = #{area_id}
        </select>

        <!-- 캠핑장 수정 -->
        <update id="updateCamp">
            UPDATE bc_campsite
            SET 
            camp_name = #{camp_name},
            camp_phone  = #{camp_phone},
            url  = #{url},
            email = #{email},
            description = #{description},
            map_image  = #{map_image},
            notice = #{notice},
            facility_notice = #{facility_notice},
            refund_notice  = #{refund_notice},
            manner_start = #{manner_start},
            manner_end = #{manner_end},
            check_in  = #{check_in},
            check_out  = #{check_out},
            adult_pay = #{adult_pay},
            kid_pay = #{kid_pay},
            car_pay = #{car_pay},
            peak_pay = #{peak_pay},
            peak_start_date = #{peak_start_date},
            peak_end_date = #{peak_end_date},
            max_ordertime  = #{max_ordertime},
            opentime = #{opentime}
            where id = #{id}
        </update>

        <!-- 구역 추가 -->
        <insert id="registerArea">
            <selectKey keyProperty="id" resultType="int" order="AFTER">
                select max(id) from bc_campsite_area
            </selectKey>
            insert into bc_campsite_area (
                campsite_id,
                name,
                prise,
                size_x,
                size_y,
                description
            )
            values (
                #{campsite_id},
                #{name},
                #{prise},
                #{size_x},
                #{size_y},
                #{description}
            )
        </insert>

        <!-- 구역 수정 -->
        <update id="updateArea">
            UPDATE bc_campsite_area
            SET 
                name = #{name},
                prise = #{prise},
                size_x = #{size_x},
                size_y = #{size_y},
                description = #{description},
                max_people = #{max_people},
                min_ordertime = #{min_ordertime},
                map_image  = #{map_image},
                adult_pay = #{adult_pay},
                kid_pay = #{kid_pay},
                car_pay = #{car_pay},
                process = '대기'
            where id = #{id}
        </update>
        
        <!-- 포인트 추가 -->
        <insert id="registerPoint">
            <selectKey keyProperty="id" resultType="int" order="AFTER">
                select max(id) from bc_campsite_area_point
            </selectKey>
            insert into bc_campsite_area_point (
                area_id,
                point_id,
                name
            )
            values (
                #{area_id},
                #{point_id},
                #{name}
            )
        </insert>   

        <!-- 포인트 생성 시 첫번째 포인트의 아이디를 포인트 아이디로 -->
        <update id="registerPointId">
            UPDATE bc_campsite_area_point
            SET 
                point_id = #{id}
            where id = #{id}
        </update>

        <!-- 포인트 삭제 -->
        <delete id="deletePoint">
            DELETE from bc_campsite_area_point where point_id = #{point_id}
        </delete>

        <delete id="deletePoints">
            DELETE from bc_campsite_area_point where area_id = #{area_id}
        </delete>

        <!-- 포인트 리스트 -->
        <select id="getPointList" resultType="map">
            SELECT point_id, COUNT(*) AS point_count, MAX(name) AS name
            FROM bc_campsite_area_point
            WHERE area_id = #{area_id}
            GROUP BY point_id  
        </select>
        
        <!-- 예약 등록 -->
        <insert id="registerOrder">
            <selectKey keyProperty="id" resultType="int" order="AFTER">
                select max(id) from bc_campsite_order
            </selectKey>
            INSERT into bc_campsite_order (
                point_id,
                start_date,
                end_date,
                customer_name,
                origin_prise,
                total_prise,
                sale,
                customer_phone,
                adult_count,
                kid_count,
                adult_pay,
                kid_pay,
                car_pay,
                reservation_code,
                progress
            
            ) values (
                #{point_id},
                #{start_date},
                #{end_date},
                #{customer_name},
                #{origin_prise},
                #{total_prise},
                #{sale},
                #{customer_phone},
                #{adult_count},
                #{kid_count},
                #{adult_pay},
                #{kid_pay},
                #{car_pay},
                #{reservation_code},
                '예약 대기 중'
            )
        </insert> 

        <!-- 예약 (회원) 등록 -->
        <insert id="registerOrderUserInfo">
            INSERT into bc_campsite_order_userinfo (
                order_id,
                user_id,
                use_mileage
            
            ) values (
                #{order_id},
                #{user_id},
                #{use_mileage}
            )
        </insert>

        <!-- 차량번호 등록 -->
        <insert id="registerCarNumber">
            INSERT into bc_campsite_car_number (
                order_id,
                car_number
            
            ) values (
                #{order_id},
                #{car_number}
            )
        </insert>

        <!-- 예약번호로 예약 -->
        <select id="getOrderByResvCode" resultType="com.bulmeong.basecamp.camp.dto.CampsiteOrderDto">
            SELECT * from bc_campsite_order
            where reservation_code = #{reservation_code}
        </select>
        
        <!-- 고유번호로 예약 -->
        <select id="getOrderById" resultType="com.bulmeong.basecamp.camp.dto.CampsiteOrderDto">
            SELECT * from bc_campsite_order
            where id = #{order_id}
        </select>

        <!-- 캠핑장 예약리스트 -->
         <select id="getOrderByCampsiteId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteOrderDto">
            SELECT 
                o.*
            FROM 
                bc_campsite_order o
            JOIN 
                bc_campsite_area_point p ON o.point_id = p.id
            JOIN 
                bc_campsite_area a ON p.area_id = a.id
            JOIN 
                bc_campsite c ON a.campsite_id = c.id
            WHERE 
                c.id = #{campsite_id};
         </select>

        <select id="getOrderByUserId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteOrderDto">
            SELECT odr.* from bc_campsite_order odr
            inner join bc_campsite_order_userinfo uinfo
            on odr.id = uinfo.order_id
            where user_id = #{user_id}
        </select>

        <!-- 차량번호 가져오기 -->
        <select id="getCarNumberList" resultType="com.bulmeong.basecamp.camp.dto.CampsiteCarNumberDto">
            SELECT * from bc_campsite_car_number
            where order_id = #{order_id}
        </select>

        <!-- 예약번호로 유저예약정보 가져오기 -->
        <select id="getUserInfoByOrderId" resultType="com.bulmeong.basecamp.camp.dto.CampsiteOrderUserInfoDto">
            SELECT * from bc_campsite_order_userinfo
            where order_id = #{order_id}
        </select>

        <select id="getCampsiteByPointId"  resultType="com.bulmeong.basecamp.camp.dto.CampsiteDto">
            SELECT
                c.*
            FROM
                bc_campsite_area_point p
            JOIN
                bc_campsite_area a ON p.area_id = a.id
            JOIN
                bc_campsite c ON a.campsite_id = c.id
            WHERE
                p.id = #{point_id};
        </select>

        <select id="getAreaByPointId"  resultType="com.bulmeong.basecamp.camp.dto.CampsiteAreaDto">
            SELECT
                a.*
            FROM
                bc_campsite_area_point p
            JOIN
                bc_campsite_area a ON p.area_id = a.id
            WHERE
                p.id = #{point_id};
        </select>

        <!-- 구역 삭제 -->
        <delete id="deleteArea">
            DELETE from bc_campsite_area where id = #{area_id}
        </delete>
    <!-- ======================================================================== -->


</mapper>