<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.club.mapper.ClubSqlMapper">

    <!-- 소모임 생성 -->
    <insert id="insertClubDto">

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from bc_club
        </selectKey>

        insert into bc_club(
            user_id, 
            region_id, 
            name, 
            description, 
            capacity, 
            main_image
        )values(
            #{user_id}, 
            #{region_id}, 
            #{name}, 
            #{description}, 
            #{capacity}, 
            #{main_image}
        );
    </insert>


    <!-- 소모임 가입조건 -->
    <insert id="insertClubJoinCondition">
        insert into bc_club_join_condition(
            club_id, min_age, max_age, gender
        )values(
            #{club_id},#{min_age},#{max_age},#{gender}
        );
    </insert>


</mapper>