<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.club.mapper.ClubSqlMapper">

    <!-- 소모임 생성 -->
    <insert id="insertClubDto">
        insert into bc_club(
            user_id, region_id, name, description, capacity, main_image
        )values(
            #{user_id}, #{region_id}, #{name}, #{description}, #{capacity}, #{main_image}
        );
    </insert>

</mapper>