@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

/* 대표 색상 */
.darkFont {
    color: #28323C;
}
.lightFont {
    color: #00B8FF;
}
.darkBg {
    background-color: #28323C;
}
.lightBg {
    background-color: #00B8FF;
}

.btn-bc-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #28323C;;
    --bs-btn-border-color: #28323C;;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #303c47;
    --bs-btn-hover-border-color: #303c47;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1c232c;
    --bs-btn-active-border-color: #1c232c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-bc-outline-dark {
    --bs-btn-color: #28323C;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #28323C;;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #303c47;
    --bs-btn-hover-border-color: #303c47;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1c232c;
    --bs-btn-active-border-color: #1c232c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-bc-light {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00B8FF;;
    --bs-btn-border-color: #00B8FF;;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #66B1FF;
    --bs-btn-hover-border-color: #66B1FF;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3A8EE6;
    --bs-btn-active-border-color: #3A8EE6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.custom-dropdown-menu {
    min-width: 7rem; /* 드롭다운 메뉴 최소 너비 */
    max-width: 7rem; /* 드롭다운 메뉴 최대 너비 */
    bottom: 0.5rem !important; /* 드롭다운 위치 */
}
.icon-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-and-text .icon {
    margin-bottom: 0;
    padding-bottom: 0;
    gap: 0;
}
.icon-and-text .text {
    margin-top: 0;
    font-size: 0.8rem;
}
.icon-and-text .text-navi {
    margin-top: 0;
    font-size: 0.8rem;
}
.profileImage-custom {
    width: 5rem;
    height: 4rem;
}
.profileImage-custom img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 메인페이지 오프캠버스 */
.king{
    top: -40%;
    left: 75%;
}
.order-list-scroll {
    max-height: 500px; /* 원하는 높이 설정 */
    overflow-y: auto;
}