@charset "utf-8";

/* 공통항목에 대한 css 작성 / 개별 페이지 항목은 css 파일 새로 만들어서 사용 */

/* bootstrap : 최상단 이여야 함.. */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
/* import : font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* google material icon */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* bootstrap : 컬러칩 추가 */
:root { 
    --bs-primary: #007BFF; /* 원하는 색상으로 변경 */
    --bs-primary1: #02733E;
    --bs-primary2: #0C5935;
    --bs-primary3: #55443A;
    --bs-primary4: #F6F5EF;
    --bs-primary5: #2D2926;

}

/* googl material icon 채워주기 */
.fill-on {
    font-variation-settings: 'FILL' 1;
}

.btn-bc-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #28323C;;
    --bs-btn-border-color: #28323C;;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #303c47;
    --bs-btn-hover-border-color: #303c47;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1c232c;
    --bs-btn-active-border-color: #1c232c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-bc-outline-dark {
    --bs-btn-color: #28323C;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #28323C;;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #303c47;
    --bs-btn-hover-border-color: #303c47;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1c232c;
    --bs-btn-active-border-color: #1c232c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-bc-light {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00B8FF;;
    --bs-btn-border-color: #00B8FF;;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #66B1FF;
    --bs-btn-hover-border-color: #66B1FF;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3A8EE6;
    --bs-btn-active-border-color: #3A8EE6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

/* 폰트 */
.font-roboto { font-family: 'Roboto', sans-serif }

/* reset */
body, input, select, button { font-family: 'Noto Sans KR', sans-serif }
a {
    text-decoration: none;
    color: #212529
}
p { margin: 0 }
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

    /* 구글 아이콘 두께 조절 */
    .thin-icon {
    font-weight: 100; /* 두께를 얇게 설정 */
    }
    .normal-icon {
    font-weight: 400; /* 기본 두께 설정 */
    }
    .bold-icon {
    font-weight: 700; /* 두께를 두껍게 설정 */
    }





/* 공통 */
.new-d-inline-block { display: inline-block }

/* button, input 커스텀 제거 */
.new-input-none { border: none }
.new-btn-none {
    padding: 0;
    border: none;
    background: none;
}

/* 높이 */
.new-h-100 { height: 100px }
.new-h-150 { height: 150px }
.new-h-200 { height: 200px }

/* 마진 없는거 추가 */
.new-ms-45 { margin-left: 2.25rem }
.new-ms-6 { margin-left: 4em }
.new-mt-25 { margin-top: 0.75rem }
.new-mb-25 { margin-bottom: 0.75rem }
.new-my-25 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.new-mt-45 { margin-top: 2.25rem }
.new-my-45 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

/* 여백 없는거 추가 */
.new-p-25 {
    padding-top: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem
}
.new-py-25 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.new-py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.new-pb-50 { padding-bottom: 50% }
.new-pb-100 { padding-bottom: 100% }
.new-px-45 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

/* 작은 폰트 사이즈 */
.new-fs-95 { font-size: 0.95rem }
.new-fs-9 { font-size: 0.9rem }
.new-fs-85 { font-size: 0.85rem }
.new-fs-8 { font-size: 0.8rem }
.new-fs-75 { font-size: 0.75rem }
.new-fs-7 { font-size: 0.7rem }
.new-fs-65{ font-size:0.65rem}
.new-fs-6{ font-size:0.6rem}

/* 회색 배경 */
.new-bg-gray { background: #f3f3f3 }

/* 말줄임  */
.ellipsis { /* 텍스트 한 줄 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-line-one { /* 텍스트 한 줄 ver2 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    word-wrap: break-word; 
    line-height: 1.3em;
    height: 1.3em;
}
.ellipsis-line-two { /* 텍스트 두 줄 노출 후 말줄임 */
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    word-wrap: break-word; 
    line-height: 1.3em;
    height: 2.6em
}
.new-break-space { white-space: break-spaces; }

/* 홈페이지 너비 조정 */
.page-wrap { max-width: 1170px; }
.page-wrap .page-left-banner {
    width: 420px;
    max-width: 100%;
    min-height: 100vh
} 
.page-wrap .page-site {
    width: 520px;
    max-width: 100%;
}

/* 헤더 */
.header .navbar { padding: 10px 0 }
.header .logo img { height: 42px; }
.header .profile_icon {
    width: 30px;
    height: 30px
}

.scroll-wrap { white-space: nowrap }
.scroll-list-box { 
    overflow-x: auto;
    overflow-y: hidden;
}
/* .scroll-list-box::-webkit-scrollbar { display: none } */
.header-menu { top: -1px }
.header-menu .header-menu-box::after {
    display: block;
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 1px; 
    background: #dee2e6;
}
.header-menu .menu-list a.on::after{
    display: block;
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px; 
    background: #0C5935;
}

/* 전체 메뉴 */
.all-menu-navi { z-index: 1080 }

/* 푸터 */

/* 퀵 */
body { margin-bottom: 45px }
/* .quick-navi {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    z-index: 101;
} */

/* 작성폼 css 공유 */
.title-area-noneline{
    border: none; 
    outline: none;
}
.content-area-fit{
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: none; 
    overflow-y: auto;
}
/* Awesome 라이브러리 css */
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.icon-info {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/* offcavas 높이 수정 : 일단 고정으로 박습니다.. */
.offcanvas.offcanvas-bottom { height: 80vh }



/**** 240626 레이아웃 변경 : 그라인더 추가 ****/

/* 레이아웃 */
.page-wrap { max-width: 1170px; }
.page-wrap .page-left-banner {
    z-index: 1100;
    width: 650px;
    max-width: 100%;
    min-height: 100vh;
    padding-right: 6rem
} 
.page-wrap .page-site {
    width: 520px;
    max-width: 100%;
    min-height: 100vh;
}
.main {
    min-height: 71vh;
}

/* 판매자용 */
.seller_profile img{
    aspect-ratio: 1/1;
    width: 100px;
    object-fit: cover;
    object-position: center;
}
.scrollable {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
}
.category{
    transition: background-color 0.3s;
}
.category:hover{
    background-color: #263445;
}
.subcategory {
    background-color: #1F2D3D;
    transition: background-color 0.3s;
}
.subcategory:hover{
    background-color: #001528;
}
.bi-chevron-down, .bi-chevron-up{
    color: #8F9399;
}
a{
    text-decoration: none;
}
.product-category a{
    color: black;
}
.left a{
    color: #F4F4F5;
}
.store-center{
    background-color: #1F2D3D;
}
.f08{
    font-size: 0.8em;
}
.f09{
    font-size: 0.9em;
}
.top-nav{
    height: 58px;
}
.left{
    width: 15em;
}
.right{
    padding-left: 15em;
}

 /* 임의의 영역 생성 */
 .scrollBar { 
    width: 15em;
    overflow-y: scroll;
    }

    /* 아래의 모든 코드는 영역::코드로 사용 */
    .scrollBar::-webkit-scrollbar {
        width: 7px;  /* 스크롤바의 너비 */
    }

    .scrollBar::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: #ffffff29; /* 스크롤바의 색상 */
        
        /* border-radius: 10px; */
    }

    .scrollBar::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
    }

    .table .saturday {
      color: blue;
    }

    .table .sunday {
    color: red;
    }

    .table .selected-start {
    background-color: #007bff;
    color: white;
    }

    .table .selected-end {
    background-color: #007bff;
    color: white;
    }

    .table .selected-range {
    background-color: #4da3ff;
    }

    .table .inactive {
    color: #d3d3d3;
    }

    .uploader-container {
        outline: none;
        border: 1.5px dashed #ccc;
        padding: 5px;
        border-radius: 0.5rem;
        box-sizing: border-box;
        text-align: center;
        transition: border-color 0.3s;
    }
    .preview-image {
        width: 5em;
        height: 5em;
        border: 2px solid;
        color: #ccc;
        border-radius: 0.5em;
        object-fit: cover;
        position: relative;
    }
    .preview-container {
        position: relative;
        display: inline-block;
    }
    .btn-delete {
        position: absolute;
        top: -1px;
        right: 0px;
        border-radius: 50%;
        padding: 0.25em 0.25em;
        font-size: 0.75em;
        line-height: 1;
    }