@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.f05{
    font-size: 0.5em;
}

.f07{
    font-size: 0.7em;
}

.f08{
    font-size: 0.8em;
}

.f09{
    font-size: 0.9em;
}

.f12{
    font-size: 1.2em;
}

.f15{
    font-size: 1.5em;
}

.f17{
    font-size: 1.7em;
}

.f20{
    font-size: 2em;
}

.f40{
    font-size: 4em;
}

/* 말줄임  */
.ellipsis { /* 텍스트 한 줄 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-line-one { /* 텍스트 한 줄 ver2 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    word-wrap: break-word; 
    line-height: 1.3em;
    height: 1.3em;
}
.ellipsis-line-two { /* 텍스트 두 줄 노출 후 말줄임 */
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    word-wrap: break-word; 
    line-height: 1.3em;
    height: 2.6em
}