<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BASECAMP</title>
    <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <script src="/public/js/util.js"></script>
    <script src="/public/js/camp/user.js"></script>
    <script src="/public/js/lockLikeMobile.js"></script>
    <style>
        .topNaviBasecamp{
            background-color: white;
        }
    </style>
</head>
<body>
<!-- 네비가 추가 됨 -->
<div th:replace="camp/campNavi::topNaviMain"></div>
<div th:replace="camp/campNavi::bottomNaviBasecamp"></div>
<div class="main">
    <div class="container-fluid">
        <div class="row mt-5 pt-3 flex-column">
            <div id="campsiteList" class="col new-mt-45 pt-4 pb-4">
                <!-- 캠핑장 리스트 -->
               
            </div>
            <div id="emptyCampList" class="col new-fs-9 text-center text-secondary d-none">검색 조건에 맞는 캠핑장이 없습니다</div>
        </div>
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <form id="logoutForm" action="/user/logoutProcess" class="col fw-bold border-end">
                <button class="border-0 bg-transparent text-white fw-bold">
                    <span th:if="${session.sessionUserInfo != null}">로그아웃</span>
                    <span th:if="${session.sessionUserInfo == null}">로그인</span>
                </button>
            </form>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-4"></div>
                <div class="row py-2"></div>
            </div>
        </div>
    </div>
    
<div th:replace="camp/campNavi::bottomNaviOffCanvas"></div>
</div>

<!-- 검색창 -->
<div class="modal fade" id="search" tabindex="-1" aria-labelledby="searchLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title col text-center fs-5 fw-semibold" id="searchLabel">캠핑장 이름을 입력해주세요</h1>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col">
                    <input class="form-control rounded-5" type="text" id="searchWord">
                </div>
            </div>
        </div>
        <div class="modal-footer">

                <div class="col d-grid">
                    <button type="button" class="btn btn-bc-outline-dark rounded-0" onclick="initSearchWord()">초기화</button>
                </div>
                <div class="col d-grid">
                    <button type="button" class="btn btn-bc-dark  rounded-0" onclick="setSearchWord()">검색</button>
                </div>

         
         
        </div>
      </div>
    </div>
  </div>

<!-- 네비가 추가됨 -->
<div th:replace="camp/campNavi::popupCategory"></div>
<div th:replace="camp/campNavi::popupSelectDay"></div>
<script>
    let curSearchWord = document.getElementById('searchWord').value;
    let curCategory = [];

    initSession();

    function initSearchWord() {
        const searchWord = document.getElementById('searchWord');
        searchWord.value = '';
        curSearchWord = '';
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#search').hide();
    }

    function setSearchWord() {
        const searchWord = document.getElementById('searchWord').value;
        curSearchWord = searchWord;
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#search').hide();
    }

    function setCategory() {
        const categoryList = document.querySelectorAll('input[name="selectCategory"]:checked');
        let list = [];
        for(const category of categoryList) {
            list.push(category.id);
        }
        curCategory = list;
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#popupCategory').hide();
    }
    function initCategory() {
        const categoryList = document.querySelectorAll('input[name="selectCategory"]:checked');
        for(const category of categoryList) {
            category.checked = false;
        }
        curCategory = [];
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#popupCategory').hide();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>

