<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <script src="/public/js/util.js"></script>
    <script src="/public/js/camp/user.js"></script>
    <script src="/public/js/lockLikeMobile.js"></script>
    <style>
        .topNaviBasecamp{
            background-color: white;
        }
    </style>
</head>
<body>
<!-- 네비가 추가 됨 -->
<div th:replace="camp/campNavi::topNaviMain"></div>
<div th:replace="camp/campNavi::bottomNaviBasecamp"></div>
<div class="main">
    <div class="container-fluid">
        <div class="row fixed-top new-mt-45 pt-3">
            <div class="col bg-white border-top pt-3 ms-3">
                <div class="row">
                    <div class="col">
                        <div class="row d-flex justify-content-start">
                            <div class="col-auto">
                                <button class="btn btn-outline-success rounded-5 new-fs-8">지역선택</button>
                            </div>
                            <div class="col-auto ps-0">
                                <button class="btn btn-outline-success rounded-5 new-fs-8">날짜선택</button>
                            </div>
                            <div class="col-auto ps-0">
                                <button class="btn btn-outline-success rounded-5 new-fs-8" type="button" data-bs-toggle="modal" data-bs-target="#search">캠핑장명</button>
                            </div>
                            <div class="col-auto ps-0">
                                <button class="btn btn-outline-success rounded-5 new-fs-8">정렬</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 pb-3 border-bottom">
                    <div class="col">
                        <div class="row d-flex justify-content-start">
                            <div class="col-auto">
                                <button class="btn btn-outline-success rounded-5 new-fs-8">즐겨찾기</button>
                            </div>
                            <div class="col-auto ps-0">
                                <button class="btn btn-outline-success rounded-5 new-fs-8" data-bs-toggle="modal" data-bs-target="#popupCategory">카테고리</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-5 flex-column">
            <div id="campsiteList" class="col new-mt-45 pt-4 pb-4">
                <!-- 캠핑장 리스트 -->
               
            </div>
            <div id="emptyCampList" class="col new-fs-9 text-center text-secondary d-none">검색 조건에 맞는 캠핑장이 없습니다</div>
        </div>
       
        <div class="row mt-3">
        </div>
    </div>
</div>

<!-- 검색창 -->
<div class="modal fade" id="search" tabindex="-1" aria-labelledby="searchLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="searchLabel">검색</h1>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col">
                    <input class="form-control rounded-5" type="text" id="searchWord">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="initSearchWord()">초기화</button>
          <button type="button" class="btn btn-primary" onclick="setSearchWord()">검색</button>
        </div>
      </div>
    </div>
  </div>

<!-- 네비가 추가됨 -->
<div th:replace="camp/campNavi::popupCategory"></div>
<div th:replace="camp/campNavi::popupSelectDay"></div>
<script>
    let curSearchWord = document.getElementById('searchWord').value;
    let curCategory = [];

    initSession();

    function initSearchWord() {
        const searchWord = document.getElementById('searchWord');
        searchWord.value = '';
        curSearchWord = '';
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#search').hide();
    }

    function setSearchWord() {
        const searchWord = document.getElementById('searchWord').value;
        curSearchWord = searchWord;
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#search').hide();
    }

    function setCategory() {
        const categoryList = document.querySelectorAll('input[name="selectCategory"]:checked');
        let list = [];
        for(const category of categoryList) {
            list.push(category.id);
        }
        curCategory = list;
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#popupCategory').hide();
    }
    function initCategory() {
        const categoryList = document.querySelectorAll('input[name="selectCategory"]:checked');
        for(const category of categoryList) {
            category.checked = false;
        }
        curCategory = [];
        getCampsiteList(curSearchWord,curCategory);
        bootstrap.Modal.getOrCreateInstance('#popupCategory').hide();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>

