<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BASECAMP</title>
    <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <script src="/public/js/util.js"></script>
    <script src="/public/js/camp/user.js"></script>
    <script src="/public/js/lockLikeMobile.js"></script>
    <!-- <script>
        initSession();
    </script>     -->
    <style>
         /* 평상시 탭 스타일 */
         .nav-tabs .nav-link {
            color: #666;
            border-radius: 0;
            width: 100%;
        }

        /* 평상시 탭 호버 스타일 */
        .nav-tabs .nav-link:hover {
            background-color: #e9ecef;
            color: #333;
        }

        /* 눌러졌을 때 탭 스타일 */
        .nav-tabs .nav-link.active {
            background-color: #666;
            color: white;
        }

        .topNaviBasecamp{
            background-color: white;
        }
    </style>
</head>
<body>
<!-- 네비가 추가 됨 -->
<div th:replace="camp/campNavi::topNaviReservation"></div>
<div th:replace="camp/campNavi::bottomNaviBasecamp"></div>

<div class="main">
    <div class="container-fluid">
        <div class="row mt-5 pt-3"></div>
        <div class="row mt-3 align-items-center pb-3 border-bottom">
            <div class="col">
                <input type="text" class="form-control rounded-5" placeholder="예약번호 또는 연락처를 입력해주세요." id="reservation_code">
            </div>
            <div class="col-auto me-3 px-0">
                <i class="fs-5 fw-semibold bi bi-search" onclick="refreshReservation()"></i>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col fs-5 fw-bold">
                예약 확인
            </div>
        </div>
        <div class="row d-none pt-2" id="reservation">
            <div class="col">
                <div class="row">
                    <div class="col fw-semibold">
                        예약자 정보
                    </div>
                </div>
                <div class="row mt-2 new-fs-85">
                    <div class="col-3 text-start">
                        <span class="fw-semibold">이름</span>
                    </div>
                    <div class="col"><span  id="customer_name"></span></div>
                </div>
                <div class="row mt-1 new-fs-85">
                    <div class="col-3 text-start">
                        <span class="fw-semibold">연락처</span>
                    </div>
                    <div class="col"><span id="customer_phone"></span></div>
                </div>
                <div class="row mt-1 new-fs-85" id="car_tab">
                    <div class="col-3 text-start">
                        <span class="fw-semibold">차량</span>
                    </div>
                    <div class="col" id="car_list">
                        <!-- <div class="row mt-1 new-fs-85" th:each="car : ${session.order.carNumbers}">
                            <div class="col new-fs-85"><span th:text="${car.car_number}"></span></div>
                        </div> -->
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col fw-semibold">
                        예약신청 정보
                    </div>
                </div>
                <div class="row mt-2 new-fs-85">
                    <div class="col-3 text-start">  
                        <span class="fw-semibold">캠핑장</span>
                    </div>
                    <div class="col"> <span  id="camp_name"></span></div>
                </div>
                <div class="row mt-1 new-fs-85">
                    <div class="col-3 text-start">
                        <span class="fw-semibold">구역</span>
                    </div>
                    <div class="col">    
                        <span  id="area_name"></span>
                        <span class="text-secondary ps-2">(</span>
                        <span class="text-secondary"  id="point_name"></span>
                        <!-- <span class="ps-1 text-secondary"></span> -->
                        <span class="text-secondary">)</span>
                    </div>
                </div>
                <div class="row mt-1 new-fs-85">
                    <div class="col-3 text-start">
                        <span class="fw-semibold">예약일</span>
                    </div>
                    <div class="col"><span id="orderDay"></span></div>
                </div>
                <div class="row mt-4 px-3">
                    <div class="col p-0 py-3 border-top">
                        <div class="row">
                            <div class="col-auto text-start">
                                <span class="fw-semibold">총 이용금액</span>
                            </div>
                            <div class="col text-end">
                                <span class="moneyInput lightFont fw-semibold" id="total_prise"></span>
                            </div>
                        </div>

                        <div class="row mt-3 justify-content-between">
                            <div class="col-auto fw-semibold">
                                예약 상태
                            </div>
                            <div class="col-auto"><span  id="progress"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" id="reservationList">
            </div>
        </div>

        <div id="emptyReservation" class="row mt-3 new-fs-9 fw-semibold text-secondary">
            <div class="col">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">예약 내역이 존재하지 않습니다.</div>
                </div>
                <div class="row py-5"></div>
                
            </div>
          
        </div>
        <div class="row py-5"></div>
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <form id="logoutForm" action="/user/logoutProcess" class="col fw-bold border-end">
                <button class="border-0 bg-transparent text-white fw-bold">
                    <span th:if="${session.sessionUserInfo != null}">로그아웃</span>
                    <span th:if="${session.sessionUserInfo == null}">로그인</span>
                </button>
            </form>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-4"></div>
                <div class="row py-2"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="camp/campNavi::bottomNaviOffCanvas"></div>

<script>
    addColonMoneyInput();

    function refreshReservation() {
        const code = document.getElementById('reservation_code').value;
        const emptyReservation = document.getElementById('emptyReservation');
        const reservation = document.getElementById('reservation');
        
        document.getElementById('reservationList').classList.add('d-none');

        const car_tab = document.getElementById('car_tab');
        const camp_name = document.getElementById('camp_name');
        const area_name = document.getElementById('area_name');
        const point_name = document.getElementById('point_name');
        const customer_name = document.getElementById('customer_name');
        const customer_phone = document.getElementById('customer_phone');

        const car_list = document.getElementById('car_list');

        const total_prise = document.getElementById('total_prise');
        const orderDay = document.getElementById('orderDay');
        const progress = document.getElementById('progress');

        let url ='/api/camp/selectOrderByCode?reservCode=' + code;
        fetch(url)
        .then(response => response.json())
        .then((response) => { 
            const orderData = response.data.orderByCode;
            if(response != null) {
                camp_name.innerText = orderData.camp.camp_name;
                area_name.innerText = orderData.area.name;
                point_name.innerText = orderData.point.name;
                customer_name.innerText = orderData.dto.customer_name;
                customer_phone.innerText = orderData.dto.customer_phone;
                total_prise.innerText = orderData.dto.total_prise;
                progress.innerHTML = orderData.dto.progress;
                orderDay.innerText = `${formatDate(orderData.dto.start_date,'-')} ~  ${formatDate(orderData.dto.end_date,'-')}`;
                car_list.innerHTML='';
                if(orderData.carNumbers.length > 0) {
                    console.log(orderData.carNumbers);
                    for(const car of orderData.carNumbers){
                        const carTab = document.createElement('div');
                        carTab.classList.add("row", "mb-1");
                        carTab.innerHTML = `<div class="col new-fs-9">${car.car_number}</div>`;
                        car_list.appendChild(carTab);
                    }
                    car_tab.classList.remove('d-none');
                }
                else{
                    car_tab.classList.add('d-none');
                }
                reservation.classList.remove('d-none');
                emptyReservation.classList.add('d-none');
            }
            else {
              
            }
            addColonMoneyInput();
        })
        .catch((error) => {
            reservation.classList.add('d-none');
            emptyReservation.classList.remove('d-none');
        });
    }

    function formatDate(dateString,dot) {
        // 문자열을 Date 객체로 변환
        const date = new Date(dateString);
        
        // 년, 월, 일 값을 추출
        const year = date.getFullYear();
        let month = (date.getMonth() + 1).toString();
        let day = date.getDate().toString();

        // 월과 일이 한 자리수일 경우 앞에 0을 추가
        if (month.length < 2) {
            month = '0' + month;
        }
        if (day.length < 2) {
            day = '0' + day;
        }

        // yyyy-mm-dd 형식으로 반환
        return `${year}${dot}${month}${dot}${day}`;
    }

    function initReservationListByUser() {
        const reservList = document.getElementById('reservationList');
        reservList.innerHTML = '';
        let url ='/api/camp/selectOrderByUser';
        fetch(url)
        .then(response => response.json())
        .then((response) => { 
            if(response.data.orderByUser != null) {
                const dataList = response.data.orderByUser;
                console.log(dataList);
                if(dataList.length > 0) {
                    const emptyReservation = document.getElementById('emptyReservation');
                    emptyReservation.classList.add('d-none');
                }
                for(const order of dataList) {
                    const template = document.createElement('div');
                    template.classList.add('row','border-bottom','border-5','py-2');
                    template.innerHTML = 
                    `<div class="col">
                         <div class="row mt-1">
                            <div class="col-auto fw-semibold fs-5"><span>${formatDate(order.dto.created_at,'.')}</span></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-auto fw-semibold"><span>${order.dto.progress}</span></div>
                        </div>
                        <div class="row pt-2 align-items-top">
                            <div class="col-4">
                                <img class="img-fluid rounded-1" src="/images/${order.campImage.location}" style="width:10em;">
                            </div>
                            <div class="col">
                                <div class="row new-fs-85">
                                    <div class="col-3 text-start">  
                                        <span class="fw-semibold">캠핑장</span>
                                    </div>
                                    <div class="col"> <span>${order.camp.camp_name}</span></div>
                                </div>
                                <div class="row mt-1 new-fs-85">
                                    <div class="col-3 text-start">
                                        <span class="fw-semibold">구역</span>
                                    </div>
                                    <div class="col">    
                                        <span>${order.area.name}</span>
                                        <span class="text-secondary ps-2">(</span>
                                        <span class="text-secondary">${order.point.name}</span>
                                        <!-- <span class="ps-1 text-secondary"></span> -->
                                        <span class="text-secondary">)</span>
                                    </div>
                                </div>
                                <div class="row mt-1 new-fs-85">
                                    <div class="col-3 text-start">
                                        <span class="fw-semibold">예약일</span>
                                    </div>
                                    <div class="col"><span>${formatDate(order.dto.start_date,'-')}~${formatDate(order.dto.end_date,'-')}</span></div>
                                </div>
                                <div class="row mt-1 new-fs-85">
                                    <div class="col-3 text-start"> 
                                        <span class="fw-semibold">금액</span>
                                    </div>
                                    <div class="col moneyInput lightFont fw-semibold">${order.dto.total_prise}
                                    </div>
                                </div>
                                <div class="row mt-1 new-fs-85 car_tab">
                                    <div class="col-3 text-start">
                                        <span class="fw-semibold">차량</span>
                                    </div>
                                    <div class="col car_list">
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                    </div>`;
                    const car_list = template.querySelector('.car_list');
                    const car_tab = template.querySelector('.car_tab');
                    if(order.carNumbers.length > 0) {
                        for(const car of order.carNumbers){
                            const carTab = document.createElement('div');
                            carTab.classList.add("row", "mb-1");
                            carTab.innerHTML = `<div class="col new-fs-9">${car.car_number}</div>`;
                            car_list.appendChild(carTab);
                        }
                        car_tab.classList.remove('d-none');
                    }
                    else
                        car_tab.classList.add('d-none');
                    reservList.appendChild(template);
                }
                reservList.classList.remove('d-none');
            }
            addColonMoneyInput();
        });
    }

    initReservationListByUser();
    addColonMoneyInput();
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>

