<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BASECAMP</title>
    <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    
    <script src="/public/js/calendar.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/camp/user.js"></script>
    <script src="/public/js/lockLikeMobile.js"></script>

    <!-- <script>
        initSession();
    </script> -->

    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
        }
        .topNaviBasecamp {
            background-color: white;
        }
        .sticky-custom {
            position: -webkit-sticky;
            position: sticky;
            top: 2em; /* 여기에서 높이를 조정합니다 */
            z-index: 1020;
        }
        .scroll-horizontal {
            overflow-x: auto;
            white-space: nowrap;
        }
        .scroll-horizontal .facility {
            display: inline-block;
            width: 5em; /* 필요에 따라 너비를 조정하세요 */
            text-align: center;
            margin-right: 10px; /* 아이템 간 간격 조정 */
        }

         /* 평상시 탭 스타일 */
         .nav-tabs .nav-link {
            color: #666;
            border-radius: 0;
            width: 100%;
        }

        /* 평상시 탭 호버 스타일 */
        .nav-tabs .nav-link:hover {
            background-color: #e9ecef;
            color: #333;
        }

        /* 눌러졌을 때 탭 스타일 */
        .nav-tabs .nav-link.active {
            background-color: #666;
            color: white;
        }

        /* 평상시 리스트 아이템 스타일 */
        .list-group-item {
            border: 1 solid;
            color: #666;
            border-radius: 0;
            width: 100%;
        }

        /* 리스트 아이템 호버 스타일 */
        .list-group-item:hover {
            background-color: #e9ecef;
            border: 0 solid;
            border-radius: 0;
            color: #333;
        }

        /* 활성화된 리스트 아이템 스타일 */
        .list-group-item.active {
            background-color: #666;
            border: 0 solid;
            border-radius: 0;
            color: white;
        }

        .row.selectedArea{
            border: 2px solid;
            border-bottom-width: 2px !important;
            border-bottom-color: #00B8FF !important;
            border-color: #00B8FF !important;
            padding-top: 0.5em;
            color: #000000;
        }

        .offcanvas-bottom {
            height: 62% !important; 
            max-height: 62%; 
        }


    </style>
</head>
<body>
<!-- 네비가 추가 됨 -->
<div th:replace="camp/campNavi::topNaviBasecamp"></div>
<div th:replace="camp/campNavi::bottomNaviBasecamp"></div>
<form id="reservationCheck" action="/camp/reservationCheck">
    <input type="hidden" name="area_id" id="selectAreaId">
    <input type="hidden" name="campsite_id" th:value="${session.campsiteUser.dto.id}">
    
    <div class="main">
        <div class="container-fluid" style="margin-top: 2.661em;">
            <!-- 상단 이미지 섹션 -->
            <!-- <div class="row px-0" >
                <div class="col bg-white border-top">
                    <div class="row">
                        <div class="col">
                            <div id="carousel" class="carousel slide row p-0" data-bs-ride="carousel">
                                <div class="carousel-inner col p-0">
                                <div class="carousel-item"  th:each="mainImage, iterStat : ${session.campsiteUser.mainImages}" th:classappend="${iterStat.index == 0} ? 'active'">
                                    <img th:src="'/images/' + ${mainImage.location}" class="d-block w-100 p-0" alt="..." style="height: 20em;">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- 나머지 헤더 섹션 -->
            <div class="row sticky-custom px-0 justify-content-center">
                <div class="col bg-white border-top">
                    <div class="row px-1">
                        <div class="col">
                            <div class="row mt-2 align-items-center">
                                <div class="col ellipsis">
                                    <span class="fs-4 fw-semibold" th:text="${session.campsiteUser.dto.camp_name}">캠핑장 이름 솰라솰라솰라솰라솰라솰라솰라솰라</span>
                                </div>
                            </div>
                            <div class="row mt-1 align-items-center">
                                <div class="col text-secondary">
                                    <div class="row">
                                        <div class="col-1 text-end">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                        <div class="col-auto ellipsis ms-2">
                                            <span th:text="${session.campsiteUser.dto.camp_phone}">연락처</span>
                                        </div>
                                    </div>
                                    <div class="row mt-1 new-fs-9">
                                        <div class="col-1 text-end">
                                            <i class="bi bi-signpost-2"></i>                               
                                        </div>
                                        <div class="col-auto ms-2">
                                            <span class="new-fs-9" th:text="${session.campsiteUser.dto.address} + ' ' + ${session.campsiteUser.dto.detail_address}">주소</span>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 배치도 -->
                <div class="row mt-3 flex-column border-bottom border-5 pb-5">
                    <div class="col">
                        <span class="fw-semibold fs-5">구역 위치</span>
                    </div> 
                    <div class="col mt-4">
                        <img class="img-fluid rounded-3" th:src="'/images/' + ${session.campsiteUser.dto.map_image}" alt="" style="height: 16em; width: 100%;">
                    </div>
                </div>

                <!-- 시설 정보 -->
                <div class="row flex-column mt-3 border-bottom border-5 pb-5">
                    <div class="col">
                        <span class="fw-semibold fs-5">날짜 선택</span>
                    </div> 
                    <div id="calendar_selectDay" class="col"></div>
                </div>

                <!-- 구역 리스트 -->
                <div class="row mt-3 flex-column border-bottom border-5 pb-5">
                    <div class="col">
                        <span class="fw-semibold fs-5">구역 선택</span>
                    </div>
                    <div class="col">
                        <div class="row my-2 pb-5">
                            <div class="col mt-4 siteList">
                                <div th:id="'siteTemplate_' + ${area.dto.id}" class="row border-bottom py-3 justify-content-center" th:onclick="'select(' + ${area.dto.id} + ')'" th:each="area : ${session.campsiteUser.area}">
                                    <div class="col-auto" th:unless="${area.mainImages.isEmpty()}">
                                        <img class="img-fluid rounded-3" th:src="${'/images/' + area.mainImages[0].location}" alt="메인 이미지" style="aspect-ratio: 1/1.318; width: 6em; object-fit: cover; object-position: center;">
                                    </div>
                                    <div class="col">
                                        <div class="row align-items-center">
                                            <div class="col-auto pe-0 fw-semibold text-start fs-5">
                                                <span th:text="${area.dto.name}">구역 이름</span>
                                            </div>
                                            <div class="col">
                                                <i class="bi bi-question-circle" data-bs-toggle="modal" data-bs-target="#popupSite" th:onclick="'showArea(' + ${area.dto.id} + ')'"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-secondary text-start new-fs-9">
                                                <span th:text="${area.dto.description}">구역 이름</span>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col fw-semibold fs-5 text-start">
                                                <span class="moneyInput lightFont" th:text="${area.dto.prise}">금액</span>
                                                <span>원</span>
                                            </div>
                                        </div>
                                        <div class="row mt-2 siteCategoryList">
                                            <div class="col pe-0 badgeList">
                                                <span class="badge rounded-pill border text-bg-light text-body-tertiary me-1" th:each="selectCategory : ${area.category}" th:text="${selectCategory.name}">카테고리</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="container">
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <a id="logoutForm" href="/user/logoutProcess" class="col fw-bold border-end text-white">
                <span th:if="${session.sessionUserInfo != null}">로그아웃</span>
                <span th:if="${session.sessionUserInfo == null}">로그인</span>
            </a>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
                <div class="row py-2"></div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 4em;"></div> 
        <div class="row fixed-bottom border-top bg-white py-2 px-3 justify-content-center" style="margin-bottom: 5.162em;">
            <div class="col d-grid">
                <button class="btn btn-bc-dark py-2 rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSelectOption" aria-controls="offcanvasSelectOption" >다음</button>
            </div>
        </div> 
    </div>
    
    <div th:replace="camp/campNavi::bottomNaviOffCanvas"></div>

    <!-- 네비가 추가됨 -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasSelectOption" aria-labelledby="offcanvasSelectOptionLabel" >
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSelectOptionLabel">추가 입력</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <!-- 인원 / 차량 설정 -->
            <div class="row mb-2 ms-1 new-fs-9 text-secondary">기본 인원에서 추가되는 인원/차량을 작성합니다.<br>최대 인원보다 많은 경우에만 작성해주세요.</div>
            <div class="row my-2">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-3 ms-2 text-end">
                            <span>성인</span>
                        </div>
                        <input type="hidden" name="adult" id="adult" value="0">
                        <div class="col-auto"><button class="btn btn-outline-secondary p-0" type="button" onclick="addValue('adult',-1)">
                            <span class="material-symbols-outlined">
                                remove
                            </span>
                    </button></div>
                        <div class="col-2 text-center"><span class="fs-5" id="value_adult">0</span></div>
                        <div class="col-auto"><button class="btn btn-outline-secondary p-0" type="button" onclick="addValue('adult',1)">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </button></div>
                    </div>
                    <div class="row align-items-center mt-2 text-end">
                        <div class="col-3 ms-2">
                            <span>미성년자</span>
                        </div>
                        <input type="hidden" name="kid" id="kid" value="0">
                        <div class="col-auto"><button class="btn btn-outline-secondary p-0" type="button" onclick="addValue('kid',-1)">
                            <span class="material-symbols-outlined">
                                remove
                            </span>
                        </button></div>
                        <div class="col-2 text-center"><span class="fs-5" id="value_kid">0</span></div>
                        <div class="col-auto"><button class="btn btn-outline-secondary p-0" type="button" onclick="addValue('kid',1)">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </button></div>
                    </div>
                    <div class="row align-items-center mt-2 text-end">
                        <div class="col-3 ms-2">
                            <span>차량</span>
                        </div>
                        <input type="hidden" name="car" id="car" value="0">
                        <div class="col-auto"><button class="btn btn-outline-secondary p-0" type="button" onclick="addValue('car',-1)">
                            <span class="material-symbols-outlined">
                                remove
                            </span>
                        </button></div>
                        <div class="col-2 text-center"><span class="fs-5" id="value_car">0</span></div>
                        <div class="col-auto"><button class="btn btn-outline-secondary p-0" type="button" onclick="addValue('car',1)">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </button></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col d-grid mt-3 mb-4 pb-5">
                    <button id="payButton" class="btn btn-bc-dark py-2 rounded-0" type="button" onclick="checkBeforePay()" disabled>결제하기</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- 사이트 모달 -->
<div class="modal fade container-fluid" id="popupSite" tabindex="-1" aria-labelledby="popupSite-title" data-keyboard="true" data-backdrop="static" aria-hidden="true" style="height: 87.5%;">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" >구역 상세 보기</h1>
            </div>
            <div id="popupSite-content" class="modal-body">
                <div class="col p-0">
                    <div class="row">
                        <div class="col p-0">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner" id="area_mainImages">
                                    <!-- 이미지 탬플릿 -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 기본 정보 -->
                    <div class="row mt-2">
                        <div class="col pe-0" id="area_categoryList">
                            <span class="badge rounded-pill border new-fs-75 text-bg-light text-body-tertiary me-1">카테고리</span>
                        </div>
                    </div>
                    <div class="row mt-2 fs-5">
                        <div class="col fw-semibold" id="area_name">이름</div>
                    </div>
                    <div class="row new-fs-75 text-body-tertiary">
                        <div class="col">규격: <span id="area_size">크기</span></div>
                    </div>
                    <div class="row my-2">
                        <div class="col-auto fw-semibold fs-5">
                            <span id="area_prise" class="moneyInput lightFont">가격</span>
                            <span>원</span>
                        </div>
                    </div>
                    <div class="row mt-3 text-end text-secondary new-fs-9 border-bottom border-5 pb-3">
                        <div class="col-1 text-start"><i class="bi bi-people-fill"></i></div>
                        <div class="col-auto text-start"><span id="area_people"></span></div>
                        <div class="col-auto p-0">&#183;</div>
                        <div class="col-1 text-start"><i class="bi bi-car-front-fill"></i></div>
                        <div class="col-auto text-start"><span id="area_car">1 대</span></div>
                    </div>

                     <!-- 배치도 -->
                    <div class="row mt-3 flex-column border-bottom border-5 pb-5">
                        <div class="col">
                            <span class="fw-semibold">구역 안내</span>
                        </div> 
                        <div class="col mt-2">
                            <img id="area_mapImage" class="img-fluid rounded-3 originImage" src="/public/img/clubImage/mountain.jpg" alt="">
                        </div>
                        <div class="col new-fs-95" id="area_description">설명</div>
                    </div>

                    <!-- 추가 요금 -->
                    <div class="row mt-3 flex-column pb-3">
                        <div class="col">
                            <span class="fw-semibold">추가 요금</span>
                        </div> 
                        <div class="col mt-2 ps-2">
                            <div class="row text-secondary new-fs-9">
                                <div class="col-6 fw-semibold "><span>성인 추가요금 (인당)</span></div>
                                <div class="col p-0 text-start"><span class="moneyInput" id="area_add_adult">5000</span><span class="ps-2">원</span></div>
                            </div>
                            <div class="row text-secondary new-fs-9">
                                <div class="col-6 fw-semibold "><span>미성년 추가요금 (인당)</span></div>
                                <div class="col p-0 text-start"><span class="moneyInput" id="area_add_kid">5000</span><span class="ps-2">원</span></div>
                            </div>
                            <div class="row text-secondary new-fs-9">
                                <div class="col-6 fw-semibold "><span>차량 추가요금</span></div>
                                <div class="col p-0 text-start"><span class="moneyInput" id="area_add_car">5000</span><span class="ps-2">원</span></div>
                            </div>
                        </div>
                        <div class="col mt-4 new-fs-75">
                            <span>추가요금은 기본 인원(차량)수보다 초과한 경우, 초과한 수만큼 부과됩니다.</span>
                        </div>
                    </div>
                </div>
               

              
            </div>
            <div class="modal-footer">
                <div class="col d-grid"> <button id="popupSite-no" type="button" class="btn btn-bc-outline-dark rounded-0" data-bs-dismiss="modal">닫기</button></div>
            </div>
        </div>
    </div>
</div>



<div th:replace="camp/campNavi::popupCategory"></div>
<div th:replace="common/navi::popup"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
<script>
    let sessionInfo = true;
    initSelect();
    initUser();
    addColonMoneyInput();
    createRangeCalendar('selectDay',7, yearsAgo(1));
    function checkBeforePay() {
        //날짜선택 확인
        const calendar_start = document.getElementById('selectDay_start_date');
        const calendar_end = document.getElementById('selectDay_end_date');
        if(!calendar_start.value || !calendar_end.value) {
            alert('예약 날짜를 선택해주세요.');
            document.getElementById('calendar_selectDay').scrollIntoView({ behavior: 'smooth', block: 'center' });
            bootstrap.Offcanvas.getOrCreateInstance('#offcanvasSelectOption').hide();
            return;
        }
        const submit = document.getElementById('reservationCheck');
        if(sessionInfo) {
            popup('로그인','로그인하시면 마일리지 적립이 가능합니다. 로그인하시겠습니까?','비회원으로 주문','로그인',
            function(){
                document.getElementById('selectAreaId').value = currentArea().dto.id;
                submit.submit();
                popupClose();
                bootstrap.Offcanvas.getOrCreateInstance('#offcanvasSelectOption').hide();
            },
            function(){
                const url ='/api/camp/saveReservationData';
                fetch(url)
                .then(response => response.json())
                .then((response) => { 
                    location.href='/user/login';
                    popupClose();
                    bootstrap.Offcanvas.getOrCreateInstance('#offcanvasSelectOption').hide();
                });
            }
        );
        }
        else{
            document.getElementById('selectAreaId').value = currentArea().dto.id;
            submit.submit();
            popupClose();
            bootstrap.Offcanvas.getOrCreateInstance('#offcanvasSelectOption').hide();
        }   
    }

    function addValue(name,amount) {
        const curArea = currentArea();
        const value = document.getElementById('value_' + name);
        const input = document.getElementById(name);
        let toInt = parseInt(input.value,10);
        toInt += amount;
        if(name == 'adult' || name == 'kid'){
            const adult = document.getElementById('adult');
            const kid = document.getElementById('kid');
            const max = curArea.max_people;
            if(parseInt(adult.value) + parseInt(kid.value) > max) toInt -= amount;
        }
        if(toInt < 0) toInt = 0;
        input.value = toInt;
        value.innerText = input.value;
    }

    function select(id) {
        if(currentArea() != null) {
           const template = document.getElementById(`siteTemplate_${currentArea().dto.id}`);
           template.classList.remove('selectedArea');
        }
        const template = document.getElementById(`siteTemplate_${id}`);
        template.classList.add('selectedArea');
        document.getElementById('payButton').disabled = false;
        selectArea(id);
    }

    function initSelect() {
        const param = new URLSearchParams(window.location.search).get('area_id');
        if(param == null || param == '0') return;
        const id = parseInt(param);
        select(id);
    }

    function initUser() {
        const url ='/api/user/checkLogin';
        fetch(url)
        .then(response => response.json())
        .then((response) => {
            sessionInfo = response.data.needLogin;  
        });
    }
    
</script>
</body>
</html>
