<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BASECAMP</title>
    <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <script src="/public/js/util.js"></script>
    <script src="/public/js/camp/user.js"></script>
    <script src="/public/js/lockLikeMobile.js"></script>
    <!-- <script>
        initSession();
    </script>     -->
    <style>
        .topNaviBasecamp{
            background-color: white;
        }
    </style>
</head>
<body>
<!-- 네비가 추가 됨 -->
<div th:replace="camp/campNavi::topNaviBasecamp"></div>
<div th:replace="camp/campNavi::bottomNaviBasecamp"></div>
<div class="main">
    <div class="container-fluid" >
       <div class="row fs-5 py-4" style="margin-top: 2.536em;">
            <div class="col fw-semibold text-center">
                <span>예약이 완료되었습니다!</span>
            </div>
       </div>
       <div class="row px-3">
            <div class="col border px-3 py-4">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col fw-semibold">
                                예약자 정보
                            </div>
                        </div>
                        <div class="row mt-2 new-fs-85">
                            <div class="col-3 text-start">
                                <span class="fw-semibold">이름</span>
                            </div>
                            <div class="col"><span th:text="${session.order.dto.customer_name}"></span></div>
                        </div>
                        <div class="row mt-1 new-fs-85">
                            <div class="col-3 text-start">
                                <span class="fw-semibold">연락처</span>
                            </div>
                            <div class="col"><span th:text="${session.order.dto.customer_phone}"></span></div>
                        </div>
                        <div class="row mt-1 new-fs-85" th:if="${session.order.carNumbers.size() > 0}">
                            <div class="col-3 text-start">
                                <span class="fw-semibold">차량</span>
                            </div>
                            <div class="col">
                                <div class="row mt-1 new-fs-85" th:each="car : ${session.order.carNumbers}">
                                    <div class="col new-fs-85"><span th:text="${car.car_number}"></span></div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-4">
                            <div class="col fw-semibold">
                                예약신청 정보
                            </div>
                        </div>
                        <div class="row mt-2 new-fs-85">
                            <div class="col-3 text-start">  
                                <span class="fw-semibold">캠핑장</span>
                            </div>
                            <div class="col"> <span th:text="${session.order.camp.camp_name}"></span></div>
                        </div>
                        <div class="row mt-1 new-fs-85">
                            <div class="col-3 text-start">
                                <span class="fw-semibold">구역</span>
                            </div>
                            <div class="col">    
                                <span th:text="${session.order.area.name}"></span>
                                <span class="text-secondary ps-2">(</span>
                                <span class="text-secondary" th:text="${session.order.point.name}"></span>
                                <span class="ps-1 text-secondary" th:text="${session.pointNumber}"></span>
                                <span class="text-secondary">)</span>
                            </div>
                        </div>
                        <div class="row mt-1 new-fs-85">
                            <div class="col-3 text-start">
                                <span class="fw-semibold">예약일</span>
                            </div>
                            <div class="col"><span th:text="${#dates.format(session.order.dto.start_date, 'YYYY-MM-dd')}"></span> ~ <span th:text="${#dates.format(session.order.dto.end_date, 'YYYY-MM-dd')}"></span></div>
                        </div>
                       


                        <div class="row mt-4 px-3">
                            <div class="col p-0 py-3 border-top">
                                <div class="row">
                                    <div class="col-auto text-start">
                                        <span class="fw-semibold">총 이용금액</span>
                                    </div>
                                    <div class="col text-end">
                                        <span class="moneyInput lightFont fw-semibold" th:text="${session.order.dto.total_prise}"></span>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-4 fs-5 justify-content-center">
                    <div class="col-auto p-3 py-2 text-center border">
                        <span class="fw-semibold me-3">예약번호</span>
                        <span th:text="${session.order.dto.reservation_code}"></span>
                        <div class="text-secondary new-fs-9">
                            예약번호를 통해 예약을 조회하실 수 있습니다.<br>
                            비회원의 경우 꼭 예약번호를 기억하세요!
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="row py-4"></div>
       <div class="row pb-5">
            <div class="col">
                <div class="row">
                    <div class="col fw-semibold fs-5">
                        함께 하실래요?
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <!-- 모임 -->
                        <div class="row px-1 py-3">
                            <div class="col fs-4">
                                <span>CommunityGroup</span>
                            </div>
                            <div class="col d-flex align-iteps-end justify-content-end">
                                <a href="/club/newClubs"><span class="text-secondary">더보기<i class="bi bi-chevron-right"></i></span></a>
                            </div>
                        </div>
                        <div class="row mb-2 mt-0 pt-0 scroll-list-box px-3 overflow-x-auto best-items-scroll">
                            <div class="col ps-2 ">
    
                                <div class="row py-2 flex-nowrap">
                                    <div class="col-7" th:each="clubDto : ${clubDtoList}">
                                        <a th:href="@{/club/home(id=${clubDto.id})}">
                                            <div class="row border me-1 rounded-top border-bottom-0" style="height: 8em; overflow: hidden">
                                                <div class="col px-0 pb-0 mx-0">
                                                    <img th:src="|/images/${clubDto.main_image}|" style="width: 100%; object-fit: cover;" class="card-img-top img-fluid rounded-top fixed-image-size" alt="...">
                                                </div>
                                            </div>
                                        </a>
    
                                        <a th:href="@{/club/home(id=${clubDto.id})}">
                                            <div class="row border me-1 shadow-sm rounded-bottom border-top-0" style="height: 9em;">
                                                <div class="col">
                                                    <div class="row pt-1">
                                                        <!-- <div class="col text-center fw-semi-bold text-truncate" style="font-size: 0.9em;">
                                                            <span th:text="${clubDto.name}">소모임명</span>
                                                        </div> -->
    
                                                        <div class="col fw-medium text-truncate" style="font-size: 0.9em;">
                                                            <span th:text="${clubDto.name}">소모임명</span>
                                                        </div>
                                                    </div>
                                                    <div class="row py-2">
                                                        <div class="col ellipsis-line-two text-secondary" style="font-size: 0.8em;">
                                                            <span th:text="${clubDto.description}">소모임 설명</span>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-2">
                                                        <div class="col">
                                                            <a th:href="@{/club/home(id=${clubDto.id})}" class="btn btn-outline-secondary col-auto py-1 d-grid" style="font-size: 0.8em;">
                                                                둘러보기
                                                            </a>
                                                        </div>
                                                    </div>
    
                                                </div>
                                            </div>
                                        </a>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="row py-2 bg-dark-subtle text-white text-center f09">
        <form id="logoutForm" action="/user/logoutProcess" class="col fw-bold border-end">
            <button class="border-0 bg-transparent text-white fw-bold">
                <span th:if="${session.sessionUserInfo != null}">로그아웃</span>
                <span th:if="${session.sessionUserInfo == null}">로그인</span>
            </button>
        </form>
        <div class="col fw-bold border-end">
            고객센터
        </div>
        <div class="col fw-bold">
            NEWS
        </div>
    </div>
    <div class="row py-4 px-3 bg-body-secondary text-secondary">
        <div class="col">
            <div class="row pb-2">
                <div class="col-auto p-0">
                    <span class="material-symbols-outlined f20">
                        camping
                    </span>
                </div>
                <div class="col p-0 fw-bold fs-3">
                    <span>&nbsp;BASECAMP</span>
                </div>
            </div>
            <div class="row pb-3 border-bottom border-2">
                <div class="col p-0 f08">
                    BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                </div>
            </div>

            <div class="row pt-3 py-3 border-bottom border-2">
                <div class="col-auto p-0">
                    <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                        <span class="material-symbols-outlined f12">
                            phone_in_talk
                        </span>
                        <span>&nbsp;고객센터</span>
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                        카카오 1:1 문의
                    </button>
                </div>
                <div class="col p-0 f08">
                    <div class="row">
                        <div class="col">
                            <span>평일</span> : 10:00 ~ 17:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>점심</span> : 12:00 ~ 13:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            * 주말 공휴일 휴무
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3 align-items-center">
                <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                    <i class="bi bi-google-play"></i>
                </div>
                <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                    <i class="bi bi-youtube"></i>
                </div>
                <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="col-auto pe-0 f08">
                    이용약관
                </div>
                <div class="col f08">
                    개인정보처리방침
                </div>
            </div>
            <div class="row py-5"></div>
            <div class="row py-2"></div>
        </div>
    </div>
    </div>
    <div th:replace="camp/campNavi::bottomNaviOffCanvas"></div>
</div>


<!-- 네비가 추가됨 -->
<script>
    document.getElementById('backKey').classList.add('d-none');
    addColonMoneyInput();
    
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>
