<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">
    <script src="/public/js/util.js"></script>
    <script src="/public/js/camp/user.js"></script>
    <script>
        initSession();
    </script>    
    <style>
        .topNaviBasecamp{
            background-color: white;
        }
    </style>
</head>
<body>
<!-- 네비가 추가 됨 -->
<div th:replace="camp/campNavi::topNaviBasecamp"></div>
<div th:replace="common/navi::bottomNaviBasecamp"></div>
<div class="main">
    <div class="container-fluid">
       <div class="row mt-5 fs-5 pt-5">
            <div class="col fw-semibold text-center">
                <span>예약이 완료되었습니다!</span>
            </div>
       </div>
       <div class="row mt-3">
            <div class="col mx-2 border p-2">
                <div class="row ms-1">
                    <div class="col">
                        <div class="row">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">캠핑장</span>
                            </div>
                            <div class="col"> <span class="ms-3" th:text="${session.order.camp.camp_name}"></span></div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">구역</span>
                            </div>
                            <div class="col">
                                <span class="ms-3" th:text="${session.order.area.name}"></span>
                                <span class="text-secondary ms-2">(</span>
                                <span class="text-secondary" th:text="${session.order.point.name}"></span>
                                <span class="ms-1 text-secondary" th:text="${session.pointNumber}"></span>
                                <span class="text-secondary">)</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">이름</span>
                            </div>
                            <div class="col"><span class="ms-3" th:text="${session.order.dto.customer_name}"></span></div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">연락처</span>
                            </div>
                            <div class="col"><span class="ms-3" th:text="${session.order.dto.customer_phone}"></span></div>
                        </div>
                        <div class="row mt-2" th:if="${session.order.carNumbers.size() > 0}">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">차량</span>
                            </div>
                        </div>
                        <div class="row mt-1 ms-4" th:each="car : ${session.order.carNumbers}">
                            <div class="col new-fs-9"><span th:text="${car.car_number}"></span></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">가격</span>
                            </div>
                            <div class="col"><span class="ms-3 moneyInput" th:text="${session.order.dto.total_prise}"></span></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3 text-end">
                                <span class="fw-semibold">예약일</span>
                            </div>
                            <div class="col ms-3"><span th:text="${#dates.format(session.order.dto.start_date, 'YYYY-MM-dd')}"></span> ~ <span th:text="${#dates.format(session.order.dto.end_date, 'YYYY-MM-dd')}"></span></div>
                        </div>
                        
                    </div>
                </div>
                <div class="row my-4 fs-5 justify-content-center">
                    <div class="col-auto p-3 py-2 text-center border">
                        <span class="fw-semibold me-3">예약번호</span>
                        <span th:text="${session.order.dto.reservation_code}"></span>
                        <div class="text-secondary new-fs-9">
                            예약번호를 통해 예약을 조회하실 수 있습니다.<br>
                            비회원의 경우 꼭 예약번호를 기억하세요!
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="row py-4"></div>
       <div class="row pb-5">
            <div class="col">
                <div class="row">
                    <div class="col fw-semibold fs-5">
                        함께 하실래요?
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <!-- 모임 -->
                        <div class="row px-1 py-3">
                            <div class="col fs-4">
                                <span>CommunityGroup</span>
                            </div>
                            <div class="col d-flex align-items-end justify-content-end">
                                <a href="/club/newClubs"><span class="text-secondary">더보기<i class="bi bi-chevron-right"></i></span></a>
                            </div>
                        </div>
                        <div class="row ms-1 me-1">
                            <div class="col scroll-list-box overflow-x-auto">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="row border me-1 rounded-top border-bottom-0" style="width: 11.8em; height: 15em; overflow: hidden">
                                            <div class="col px-0 pb-0 mb-0">
                                                <img src="/public/img/common/캠핑장최종.png" style="width: 100%; object-fit: cover;" class="img-fluid fixed-image-size">>
                                            </div>
                                        </div>
    
                                        <div class="row border shadow-sm rounded-bottom border-top-0" style="width: 11.8em; height: 8em;">
                                            <div class="col">
                                                <div class="row pt-3">
                                                    <div class="col text-center fw-semi-bold text-truncate" style="font-size: 0.9em;">
                                                        <span>소모임명</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col ellipsis-line-two text-secondary text-center" style="font-size: 0.8em;">
                                                        <span >소모임 설명</span>
                                                    </div>
                                                </div>
                                                <div class="row mt-1 pt-1 justify-content-center">
                                                    <a class="btn btn-outline-secondary col-auto py-1 d-grid">
                                                        둘러보기
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="row mt-3"></div>
    </div>
</div>


<!-- 네비가 추가됨 -->
<script>
    document.getElementById('backKey').classList.add('d-none');
    addColonMoneyInput();
    
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>
