<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <style>
            .seller_profile img{
                aspect-ratio: 1/1;
                width: 100px;
                object-fit: cover;
                object-position: center;
            }
            .scrollable {
                height: 100vh;
                /* height: calc(100vh - 58px); */
                overflow-y: auto;
                position: fixed;
            }
            .category{
                transition: background-color 0.3s;
            }
            .category:hover{
                background-color: #263445;
            }
            .subcategory {
                background-color: #1F2D3D;
                transition: background-color 0.3s;
            }
            .subcategory:hover{
                background-color: #001528;
            }
            .bi-chevron-down, .bi-chevron-up{
                color: #8F9399;
            }
            a{
                text-decoration: none;
            }
            .product-category a{
                color: black;
            }
            .left a{
                color: #F4F4F5;
            }
            .store-center{
                background-color: #1F2D3D;
            }
            .f08{
                font-size: 0.8em;
            }
            .f09{
                font-size: 0.9em;
            }
            .top-nav{
                height: 58px;
            }
            .left{
                width: 15em;
            }
            .right{
                padding-left: 15em;
            }
            /* 임의의 영역 생성 */
            .scrollBar { 
            width: 15em;
            overflow-y: scroll;
            }

            /* 아래의 모든 코드는 영역::코드로 사용 */
            .scrollBar::-webkit-scrollbar {
                width: 7px;  /* 스크롤바의 너비 */
            }

            .scrollBar::-webkit-scrollbar-thumb {
                height: 30%; /* 스크롤바의 길이 */
                background: #ffffff29; /* 스크롤바의 색상 */
                
                /* border-radius: 10px; */
            }

            .scrollBar::-webkit-scrollbar-track {
                background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
            }
        </style>
    </head>
    <body>

        <div class="container-fluid">
            <div id="topNaviSeller" class="row fixed-top align-items-center py-2 px-3 store-center">
                <div class="col fs-3 text-white">
                    <span class="fw-bold">BaseCamp</span> Store Center
                </div>
                <div class="col fs-5 text-end">
                    <span class="fw-bold text-white">
                        Sacabambaspis
                    </span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-light btn-sm fw-bold">로그아웃</button>
                </div>
            </div>
        </div>

        <!-- <div th:replace="~{common/navi::topNaviSeller}"></div> -->

        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col border-end scrollable scrollBar left" id="leftAccordion" style="color: #F4F4F5; padding-top: 58px; background-color: #304156;">
                    
                    <div class="row py-4">
                        <div class="col">
                            <div class="row">
                                <div class="col seller_profile text-center">
                                    <img src="https://img1.newsis.com/2023/07/12/NISI20230712_0001313626_web.jpg" class="rounded-circle">
                                </div>
                            </div>
                            <div class="row text-center pt-2 fw-bold">
                                <div class="col">
                                    사카밤바스피스
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="dashboard2.html" type="button" class="py-3 fw-bold text-primary">
                                Dashboard
                            </a>
                        </div>
                    </div>
                    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#first-collapse">
                        <div class="col pe-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed fw-bold">
                                상품관리
                            </button>
                        </div>
                        <div class="col-auto ps-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="first-collapse" data-bs-parent="#leftAccordion">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                상품조회/수정
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="productRegister.html" id="productRegister">
                                상품등록
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                배송정보 관리
                            </a>
                        </div>
                    </div>

                    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#second-collapse">
                        <div class="col pe-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed fw-bold">
                                판매관리
                            </button>
                        </div>
                        <div class="col-auto ps-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="second-collapse" data-bs-parent="#leftAccordion">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                주문 통합 검색
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                발송관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                취소관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                반품관리
                            </a>
                        </div>
                    </div>

                    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#third-collapse">
                        <div class="col pe-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed fw-bold">
                                문의/리뷰 관리
                            </button>
                        </div>
                        <div class="col-auto ps-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="third-collapse" data-bs-parent="#leftAccordion">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                문의관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                리뷰관리
                            </a>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                정산관리
                            </a>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                통계
                            </a>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                스토어관리
                            </a>
                        </div>
                    </div>
                    
                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                판매자정보
                            </a>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col">
                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-tertiary">
                                        <div class="col">
                                            금융 서비스 바로가기
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            선정산 서비스 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-tertiary">
                                        <div class="col">
                                            판매 지원 프로그램
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            파트너센터 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-tertiary">
                                        <div class="col">
                                            판매 지원 프로그램
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            판매 가이드 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            온라인 교육 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            해외직구/판매 안내 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row pb-5">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    도움이 필요하신가요?
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col d-grid">
                                    <button class="btn btn-outline-light py-2">
                                        <i class="fa-solid fa-headset"></i> 고객센터 바로가기
                                    </button>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col d-grid">
                                    <button class="btn btn-outline-light py-2">
                                        카테고리 담당자 찾기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- right -->
                <div class="col bg-body-tertiary right" style="padding-top: 58px;">
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>

            document.querySelectorAll('.toggle-icon').forEach(button => {
                button.addEventListener('click', function () {
                    const icon = this.querySelector('.bi');
                    if (icon) {
                        icon.classList.toggle('bi-chevron-down');
                        icon.classList.toggle('bi-chevron-up');
                    }

                    document.querySelectorAll('.toggle-icon .bi').forEach(otherIcon => {
                        if (otherIcon !== icon) {
                            otherIcon.classList.remove('bi-chevron-up');
                            otherIcon.classList.add('bi-chevron-down');
                        }
                    });
                });
            });

            // 왼쪽 메뉴 패딩 변경
            function onResize(){
                const topNaviSeller = document.getElementById("topNaviSeller");
                const height = topNaviSeller.offsetHeight;
                console.log(height);
                const leftMenu = document.getElementById("leftAccordion");
                leftMenu.style.paddingTop = height + 'px';
            }
            onResize();

            window.addEventListener("resize",function(){onResize();});

            // function openCollapse(){
            //     const a = new bootstrap.Collapse('#first-collapse', {
            //         toggle: false
            //     })
            //     document.getElementById("productRegister").classList.add("text-primary");
            //     a.show();
            // }

            // window.addEventListener("DOMContentLoaded", ()=> {
            //     openCollapse();
            // })
        </script>
    </body>
</html>
