<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/font.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">

    <script src="/public/js/lockLikeMobile.js"></script>

    <title>BASECAMP</title>

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .fill-off {
            font-variation-settings: 'FILL' 0;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
        .active{
            font-weight: bold;
            border-bottom: 2px solid black;
        }
        .sold-out {
            background-color: rgba(0, 0, 0, 0.6);
            aspect-ratio: 1/1;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .scrollbar-none {
            -ms-overflow-style: none; /* IE, Edge */
            scrollbar-width: none; /* Firefox */
        }

        .scrollbar-none::-webkit-scrollbar {
            display: none;
        }

    </style>
</head>
<body>

    <div class="container-fluid fixed-top bg-white shadow-sm" style="height: 93.2px;">
        <!-- top-nav -->
        <div class="row align-items-bottomline px-3 py-3 shadow-sm bg-white">
            <a href="/" class="col-auto p-0 fw-bold d-flex align-items-center f12 text-black">
                <img src="/public/img/common/배캠.png" style="width: 6.5em;">
            </a>
            <div class="col fw-semibold text-body-secondary ps-2 f09 align-self-end"></div>
            <a href="/store/wish" class="col-auto pe-0 text-end d-flex align-items-center text-black">
                <span class="material-symbols-outlined fw-light">
                    favorite
                </span>
            </a>
            <a href="/store/cart" class="col-auto pe-0 d-flex align-items-center text-black">
                <span class="material-symbols-outlined fw-light">
                    shopping_bag
                </span>
            </a>
        </div>
        <div class="row px-3 bg-white">
            <div class="col">
                <div class="row f08 fw-bold text-center">
                    <a href="/store" class="col py-2  text-dark text-opacity-25">
                        HOME
                    </a>
                    <a href="/store/bestProduct" class="col py-2 border-bottom border-2 border-dark">
                        BEST
                    </a>
                    <a href="/store/newProduct" class="col py-2  text-dark text-opacity-25">
                        NEW
                    </a>
                    <!-- <div class="col py-2 text-body-tertiary">
                        SALE
                    </div> -->
                    <div class="col py-2  text-dark text-opacity-25" onclick="alert('서비스 준비중입니다. 빠른 시일 내에 이용하실 수 있도록 노력하겠습니다.')">
                        EVENT
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container" style="padding-top: 93.2px;">

        <!-- <div class="row px-3 pt-4 bg-white fw-bold">
            <div class="col p-0">
                BEST ITEMS
            </div>
        </div>
        <div class="row pt-1 px-3 bg-white text-body-tertiary f07">
            <div class="col p-0">
                주간 판매순위 Top-10
            </div>
        </div> -->

        <div class="row">
            <div class="col overflow-x-auto scrollbar-none">
                <div class="row py-3 px-3 text-center f08 flex-nowrap" style="gap: 8px;">
                    <div class="col-auto py-1 rounded-pill text-white bg-dark categoryCol" id="allCategory" onclick="getBestAllproduct()">
                        전체
                    </div>
                    <div class="col-auto py-1 rounded-pill bg-body-tertiary text-body-tertiary categoryCol" th:data-categoryid="${productCategory.id}" th:each="productCategory : ${productCategoryList}" onclick="getCategoryBestProduct(this)">
                        <span th:text="${productCategory.name}">텐트</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-none overflow-x-auto scrollbar-none" id="subCategoryContainer">

            </div>
        </div>

        <div class="row pb-5 bg-white pe-3" id="contentBox">
            
            <a th:href="@{/store/productDetails(id=${bestProductData.storeProductDto.id})}" class="col-6 py-3 pe-0 ps-3 productCol" th:each="bestProductData : ${bestProductDataList}">
                <div class="row position-relative">
                    <div class="col product-col">
                        <img class="border mainImage" th:src="|/images/${bestProductData.storeProductDto.main_image}|">
                    </div>
                    <div class="col position-absolute soldout_col" th:if="${0>=bestProductData.storeProductDto.quantity-bestProductData.purchase_quantity}">
                        <span class="sold-out fw-semibold text-white">SOLD OUT</span>
                    </div>
                </div>
                <div class="row pt-1 f07 fw-semibold">
                    <div class="col storeName">
                        <span th:text="${bestProductData.storeDto.name}">GogumaStore</span>
                    </div>
                </div>
                <div class="row f08">
                    <div class="col productName">
                        <span th:text="${bestProductData.storeProductDto.name}">진짜 맛있는 납작복숭아</span>
                    </div>
                </div>
                <div class="row fw-semibold f07 text-body-tertiary" th:if="${bestProductData.percentage!=0}">
                    <div class="col price" style="text-decoration: line-through;">
                        <span th:text="${#numbers.formatDecimal(bestProductData.storeProductDto.price, 1, 'COMMA', 0, 'POINT')}">40,000</span>
                    </div>
                </div>
                <div class="row fw-semibold f09">
                    <div class="col">
                        <span class="percentage lightFont" th:if="${bestProductData.percentage!=0}" th:text="|${bestProductData.percentage}%|">30% </span>
                        <span class="salePrice" th:text="${#numbers.formatDecimal(bestProductData.salePrice, 1, 'COMMA', 0, 'POINT')}">28,000</span>
                    </div>
                </div>
            </a>

        </div>

        <!-- footer -->
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <div class="col fw-semibold border-end">
                로그아웃
            </div>
            <div class="col fw-semibold border-end">
                고객센터
            </div>
            <div class="col fw-semibold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-semibold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-semibold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-semibold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
                <div class="row py-4"></div>
            </div>
        </div>

    </div>


    <div th:replace="~{store/Fstore::bottomNaviBasecamp}"></div>
    <div th:replace="~{store/Fstore::offcanvas}"></div>

    <div id="template" class="d-none">
        <a class="col-6 py-3 pe-0 ps-3 productCol">
            <div class="row position-relative">
                <div class="col product-col">
                    <img class="border mainImage">
                </div>
                <div class="col position-absolute soldout_col d-none">
                    <span class="sold-out fw-semibold text-white">SOLD OUT</span>
                </div>
            </div>
            <div class="row pt-1 f07 fw-semibold">
                <div class="col storeName"></div>
            </div>
            <div class="row f08">
                <div class="col productName"></div>
            </div>
            <div class="row fw-semibold f07 text-body-tertiary">
                <div class="col price d-none" style="text-decoration: line-through;"></div>
            </div>
            <div class="row fw-semibold f09">
                <div class="col">
                    <span class="percentage lightFont d-none"></span>
                    <span class="salePrice"></span>
                </div>
            </div>
        </a>

        <div class="row px-3 f08 pb-3 border-bottom flex-nowrap subCategoryRow">
            <div class="col-auto ps-0 fw-semibold allSubcategory subcategoryCol">
                전체
            </div>
        </div>

        <div class="col-auto ps-0 text-body-tertiary subcategory subcategoryCol" onclick="getsubcategoryBestProduct(this)"></div>

    </div>

    <script>

        // 카테고리 선택
        function getCategoryBestProduct(selectedCategory){
            const categoryCols = document.querySelectorAll(".categoryCol");
            for(categoryCol of categoryCols){
                categoryCol.classList.add("bg-body-tertiary")
                categoryCol.classList.add("text-body-tertiary")
                categoryCol.classList.remove("text-white")
                categoryCol.classList.remove("bg-dark")
            }
            selectedCategory.classList.remove("bg-body-tertiary")
            selectedCategory.classList.remove("text-body-tertiary")
            selectedCategory.classList.add("text-white")
            selectedCategory.classList.add("bg-dark")

            const id = selectedCategory.dataset.categoryid;

            const url = `/api/store/getProductSubcategoryDto?category_id=${id}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                const subcategoryDtoList = response.data.subcategoryDtoList

                const subCategoryContainer = document.getElementById("subCategoryContainer")
                subCategoryContainer.classList.remove("d-none");
                subCategoryContainer.innerHTML = ""

                const subCategoryRow = document.querySelector("#template .subCategoryRow").cloneNode(true)
                subCategoryRow.querySelector(".allSubcategory").setAttribute("onclick",`getAllCategoryBestProduct(${id})`)

                subCategoryContainer.appendChild(subCategoryRow)

                for(subcategoryDto of subcategoryDtoList){
                    const subcategory = document.querySelector("#template .subcategory").cloneNode(true);
                    subcategory.innerText = subcategoryDto.name
                    subcategory.setAttribute("data-subcategoryid", subcategoryDto.id)

                    subCategoryRow.appendChild(subcategory)
                }

                getAllCategoryBestProduct(id)
            })
        }

        // 상품 전체
        function getBestAllproduct(){
            // const categoryCols = document.querySelectorAll(".categoryCol");
            // for(categoryCol of categoryCols){
            //     categoryCol.classList.add("bg-body-tertiary")
            //     categoryCol.classList.add("text-body-tertiary")
            //     categoryCol.classList.remove("text-white")
            //     categoryCol.classList.remove("bg-dark")
            // }

            // document.getElementById("allCategory")
            // allCategory.classList.remove("bg-body-tertiary")
            // allCategory.classList.remove("text-body-tertiary")
            // allCategory.classList.add("text-white")
            // allCategory.classList.add("bg-dark")

            // document.getElementById("subCategoryContainer").classList.add("d-none");

            location.reload();
            
        }

        // 카테고리 전체
        function getAllCategoryBestProduct(categoryId){
            console.log(categoryId)
            
            const url = `/api/store/selectNewTenProductDataListByCategoryId?category_id=${categoryId}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                const newTenProductDataList = response.data.newTenProductDataList

                const contentBox = document.getElementById("contentBox")
                contentBox.innerHTML = ""
                for(newTenProductData of newTenProductDataList){
                    const productCol = document.querySelector("#template .productCol").cloneNode(true)
                    productCol.querySelector(".mainImage").setAttribute("src",`/images/${newTenProductData.main_image}`)
                    productCol.querySelector(".storeName").innerText = newTenProductData.store_name
                    productCol.querySelector(".productName").innerText = newTenProductData.name
                    
                    const purchase_quantity = newTenProductData.purchase_quantity
                    if(newTenProductData.quantity>purchase_quantity){
                        productCol.querySelector(".soldout_col").classList.add("d-none")
                    }else{
                        productCol.querySelector(".soldout_col").classList.remove("d-none")
                    }

                    if(newTenProductData.percentage!=0){
                        const percentage = productCol.querySelector(".percentage")
                        percentage.classList.remove("d-none")
                        percentage.innerText = `${newTenProductData.percentage}%`

                        const price = productCol.querySelector(".price")
                        price.classList.remove("d-none")
                        price.innerText = `${formatNumberToPrice(newTenProductData.price)}`
                    }

                    productCol.querySelector(".salePrice").innerText = `${formatNumberToPrice(newTenProductData.salePrice)}`

                    productCol.setAttribute("href", `/store/productDetails?id=${newTenProductData.id}`)

                    contentBox.appendChild(productCol)
                }
            })
        }

        // 서브카테고리 선택
        function getsubcategoryBestProduct(selectedSubcategory){
            const subcategoryList = document.querySelectorAll("#subCategoryContainer .subcategoryCol");
            for(subcategoryCol of subcategoryList){
                subcategoryCol.classList.remove("fw-semibold")
                subcategoryCol.classList.add("text-body-tertiary")
            }
            selectedSubcategory.classList.add("fw-semibold")
            selectedSubcategory.classList.remove("text-body-tertiary")

            const id = selectedSubcategory.dataset.subcategoryid;

            const url = `/api/store/selectNewTenProductDataListBySubcategoryId?category_id=${id}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                const newTenProductDataList = response.data.newTenProductDataList

                const contentBox = document.getElementById("contentBox")
                contentBox.innerHTML = ""
                for(newTenProductData of newTenProductDataList){
                    const productCol = document.querySelector("#template .productCol").cloneNode(true)
                    productCol.querySelector(".mainImage").setAttribute("src",`/images/${newTenProductData.main_image}`)
                    productCol.querySelector(".storeName").innerText = newTenProductData.store_name
                    productCol.querySelector(".productName").innerText = newTenProductData.name
                    
                    const purchase_quantity = newTenProductData.purchase_quantity
                    if(newTenProductData.quantity>purchase_quantity){
                        productCol.querySelector(".soldout_col").classList.add("d-none")
                    }else{
                        productCol.querySelector(".soldout_col").classList.remove("d-none")
                    }

                    if(newTenProductData.percentage!=0){
                        const percentage = productCol.querySelector(".percentage")
                        percentage.classList.remove("d-none")
                        percentage.innerText = `${newTenProductData.percentage}%`

                        const price = productCol.querySelector(".price")
                        price.classList.remove("d-none")
                        price.innerText = `${formatNumberToPrice(newTenProductData.price)}`
                    }

                    productCol.querySelector(".salePrice").innerText = `${formatNumberToPrice(newTenProductData.salePrice)}`

                    productCol.setAttribute("href", `/store/productDetails?id=${newTenProductData.id}`)

                    contentBox.appendChild(productCol)
                }
            })
            
            return;
        }


        function formatNumberToPrice(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>