<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
    <script src="/public/js/store/store.js"></script>

    <script src="/public/js/lockLikeMobile.js"></script>

    <link rel="stylesheet" href="/public/css/font.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .fill-off {
            font-variation-settings: 'FILL' 0;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 5em;
            object-fit: cover;
            object-position: center;
        }
        .sold-out {
            background-color: rgba(0, 0, 0, 0.6);
            aspect-ratio: 1/1;
            width: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        button{
            color: black;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
    </style>
    <script>

        let myId = null;

        function formatNumberToPrice(number) {
            let cleanedNumber = number.toString().replace(/[^0-9]/g, '');

            return cleanedNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        function formatNumber(number){
            return number.toString().replace(/[^0-9]/g, '');
        }

        function setSessionId(){
            const url = "/api/user/getSessionUserId";
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                myId = response.data.userId;
                reloadCartProductList();
            })
        }

        function allSelect(checkbox){
            const AllSelectCheckBox = document.getElementById("AllSelectCheckBox")
            
            if(checkbox.classList.contains('storeCheckbox')){
                const productSelectCheckboxes = checkbox.closest(".storeWrapper").querySelectorAll(".productSelectCheckbox")
                if(checkbox.checked){
                    for(e of productSelectCheckboxes){
                        if(e.disabled == true){
                            continue;
                        }
                        e.checked = true;
                    }
                    const allCheckBoxes = document.querySelectorAll(".productSelectCheckbox");
                    for(checkBox of allCheckBoxes){
                        if(checkBox.checked == false){
                            return;
                        }
                    }
                    AllSelectCheckBox.checked = true;
                }else{
                    for(e of productSelectCheckboxes){
                        if(e.disabled == true){
                            continue;
                        }
                        e.checked = false;
                    }
                    AllSelectCheckBox.checked = false;
                }
            }else{
                const productSelectCheckboxes = document.querySelectorAll(".productSelectCheckbox");
                const storeCheckboxes = document.querySelectorAll(".storeCheckbox");

                if(checkbox.checked){
                    for(e of productSelectCheckboxes){
                        if(e.disabled == true){
                            continue;
                        }
                        e.checked = true;
                    }
                    for(e of storeCheckboxes){
                        if(e.disabled == true){
                            continue;
                        }
                        e.checked = true;
                    }
                }else{
                    for(e of productSelectCheckboxes){
                        if(e.disabled == true){
                            continue;
                        }
                        e.checked = false;
                    }
                    for(e of storeCheckboxes){
                        if(e.disabled == true){
                            continue;
                        }
                        e.checked = false;
                    }
                }
                
            }
            reloadSelectedProductsPrice();
        }
        
        function reloadCartProductList(){
            const url = `/api/store/getCartProductList?user_id=${myId}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                const cartProductInfoDataList = response.data.cartProductInfoDataList;
                
                if(cartProductInfoDataList.length==0){
                    document.getElementById("cartEmptyRow").classList.remove("d-none")
                    
                    document.getElementById("cartProductRow").classList.add("d-none")
                    document.getElementById("cartGuideRow").classList.add("d-none")
                    document.getElementById("bottom-nav").classList.add("d-none")
                    return;
                }else{
                    document.getElementById("cartEmptyRow").classList.add("d-none")

                    document.getElementById("cartProductRow").classList.remove("d-none")
                    document.getElementById("cartGuideRow").classList.remove("d-none")
                    document.getElementById("bottom-nav").classList.remove("d-none")
                }

                const cartProductContainer = document.getElementById("cartProductContainer")
                cartProductContainer.innerHTML = "";

                const storeWrapper = document.querySelector("#template .storeWrapper");

                for(cartProductInfoData of cartProductInfoDataList){
                    const newStoreWrapper = storeWrapper.cloneNode(true);

                    const storeNames = newStoreWrapper.querySelectorAll(".storeName")
                    
                    storeNames.forEach(storeName => storeName.innerText = cartProductInfoData.store_name);

                    const productContainer = newStoreWrapper.querySelector(".productContainer");
                    const productWrapper = document.querySelector("#template .productWrapper")

                    for(cartProductData of cartProductInfoData.cartProductDataList){
                        const newProductWrapper = productWrapper.cloneNode(true);
                        newProductWrapper.querySelector(".main_img").setAttribute("src", `/images/${cartProductData.main_image}`);
                        newProductWrapper.querySelector(".store_name").innerText = cartProductInfoData.store_name;
                        newProductWrapper.querySelector(".product_name").innerText = cartProductData.name;
                        newProductWrapper.querySelector(".stock_quantity").value = cartProductData.stockQuantity;

                        const productOrderButton = newProductWrapper.querySelector(".productOrderButton");
                        const productSelectCheckbox = newProductWrapper.querySelector(".productSelectCheckbox");
                        productSelectCheckbox.value = cartProductData.id;

                        if(cartProductData.stockQuantity==0){
                            newProductWrapper.querySelector(".soldout_col").classList.remove("d-none");
                            productOrderButton.innerText = "품절";
                            productOrderButton.disabled = true;
                            productSelectCheckbox.disabled = true;
                        }else if(0 > cartProductData.stockQuantity-cartProductData.quantity){
                            newProductWrapper.querySelector(".soldout_col").classList.remove("d-none");//여기 수정
                            productOrderButton.innerText = "품절";
                            productOrderButton.disabled = true;
                            productSelectCheckbox.disabled = true;
                        }else{
                            newProductWrapper.querySelector(".soldout_col").classList.add("d-none");
                        }
                        
                        let salePrice = 0;

                        if(cartProductData.discount_id != 0){
                            const price = cartProductData.price;
                            const percentage = cartProductData.percentage;
                            salePrice = Math.round(price - price*percentage)
                            
                            newProductWrapper.querySelector(".salePrice").innerText = `${formatNumberToPrice(salePrice)}원`
                            newProductWrapper.querySelector(".price").innerText = formatNumberToPrice(price);
                        }else{
                            const price = cartProductData.price;
                            salePrice = cartProductData.price;

                            newProductWrapper.querySelector(".salePrice").innerText = `${formatNumberToPrice(salePrice)}원`
                            newProductWrapper.querySelector(".price").innerText = formatNumberToPrice(price);
                            newProductWrapper.querySelector(".price").classList.add("d-none");
                        }

                        newProductWrapper.querySelector(".quantity").innerText = `${cartProductData.quantity}`
                        if(cartProductData.additional_price != 0 && cartProductData.additional_price != null){
                            newProductWrapper.querySelector(".additional_price").innerText = `(+${formatNumberToPrice(cartProductData.additional_price)})`
                        }

                        if(cartProductData.additional_price != null){
                            const final_price = formatNumberToPrice((salePrice+cartProductData.additional_price)*cartProductData.quantity)
                            newProductWrapper.querySelector(".final_price").innerText = `${final_price}원`
                        }else{
                            const final_price = formatNumberToPrice(salePrice*cartProductData.quantity)
                            newProductWrapper.querySelector(".final_price").innerText = `${final_price}원`
                        }
                        
                        if(cartProductData.valueNameList!=null){
                            newProductWrapper.querySelector(".value_names").innerText = `| ${cartProductData.valueNameList.join("/")}`
                        }else{
                            newProductWrapper.querySelector(".value_names").innerText = ""
                        }

                        newProductWrapper.querySelector(".productDeleteButton").setAttribute("onclick", `deleteCartProduct(${cartProductData.id})`)

                        productContainer.appendChild(newProductWrapper);
                    }

                    const checkboxes = newStoreWrapper.querySelectorAll(".productSelectCheckbox")
                    const checkedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);

                    let price_sum = 0;
                    let final_price_sum = 0;

                    for(checkedCheckbox of checkedCheckboxes){
                        const productWrapper = checkedCheckbox.closest(".productWrapper");

                        const price_text = productWrapper.querySelector(".price").innerText;
                        const strWithoutCommas = price_text.replace(/,/g,"");

                        const quantity = productWrapper.querySelector(".quantity").innerText;

                        price_sum += parseInt(strWithoutCommas, 10)*quantity;

                        const final_price_text = productWrapper.querySelector(".final_price").innerText;
                        const final_price = final_price_text.replace(/,/g,"");
                        final_price_sum += parseInt(final_price, 10);
                    }

                    newStoreWrapper.querySelector(".selected_products_price").innerText = formatNumberToPrice(price_sum)
                    newStoreWrapper.querySelector(".discount_price").innerText = formatNumberToPrice(final_price_sum-price_sum)

                    newStoreWrapper.querySelector(".selected_products_saleprice").innerText = formatNumberToPrice(final_price_sum)

                    newStoreWrapper.querySelector(".selectedProductsNumber").innerText = checkedCheckboxes.length;
                    
                    cartProductContainer.appendChild(newStoreWrapper);
                }

                const productSelectCheckboxes = document.querySelectorAll("#cartProductContainer .productSelectCheckbox")
                const checkedCheckboxes = Array.from(productSelectCheckboxes).filter(checkbox => checkbox.checked);

                document.getElementById("selectedProductCount").innerText = checkedCheckboxes.length;

                let final_price_sum = 0;
            
                for(checkedCheckbox of checkedCheckboxes){
                    const productWrapper = checkedCheckbox.closest(".productWrapper");
                    productWrapper.querySelector(".final_price").innerText;

                    const final_price_text = productWrapper.querySelector(".final_price").innerText;
                    const final_price = final_price_text.replace(/,/g,"");
                    final_price_sum += parseInt(final_price, 10);
                }

                document.getElementById("selectedProductPrice").innerText = formatNumberToPrice(final_price_sum);
            })

        }

        function reloadSelectedProductsPrice(){
            const storeWrappers = document.querySelectorAll("#cartProductContainer .storeWrapper");

            for(storeWrapper of storeWrappers){
                const checkboxes = storeWrapper.querySelectorAll(".productSelectCheckbox")
                const checkedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);

                let price_sum = 0;
                let final_price_sum = 0;

                for(checkedCheckbox of checkedCheckboxes){
                    const productWrapper = checkedCheckbox.closest(".productWrapper");

                    const price_text = productWrapper.querySelector(".price").innerText;
                    const strWithoutCommas = price_text.replace(/,/g,"");

                    const quantity = productWrapper.querySelector(".quantity").innerText;

                    price_sum += parseInt(strWithoutCommas, 10)*quantity;

                    const final_price_text = productWrapper.querySelector(".final_price").innerText;
                    const final_price = final_price_text.replace(/,/g,"");
                    final_price_sum += parseInt(final_price, 10);
                }

                storeWrapper.querySelector(".selected_products_price").innerText = formatNumberToPrice(price_sum)
                storeWrapper.querySelector(".discount_price").innerText = formatNumberToPrice(final_price_sum-price_sum)

                storeWrapper.querySelector(".selected_products_saleprice").innerText = formatNumberToPrice(final_price_sum)

                storeWrapper.querySelector(".selectedProductsNumber").innerText = checkedCheckboxes.length;
            }

            const productSelectCheckboxes = document.querySelectorAll("#cartProductContainer .productSelectCheckbox")
            const checkedCheckboxes = Array.from(productSelectCheckboxes).filter(checkbox => checkbox.checked);

            document.getElementById("selectedProductCount").innerText = checkedCheckboxes.length;

            let final_price_sum = 0;
        
            for(checkedCheckbox of checkedCheckboxes){
                const productWrapper = checkedCheckbox.closest(".productWrapper");
                productWrapper.querySelector(".final_price").innerText;

                const final_price_text = productWrapper.querySelector(".final_price").innerText;
                const final_price = final_price_text.replace(/,/g,"");
                final_price_sum += parseInt(final_price, 10);
            }

            document.getElementById("selectedProductPrice").innerText = formatNumberToPrice(final_price_sum);
        }

        function deleteCartProduct(id){
            const url = `/api/store/deleteCartProduct?id=${id}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                reloadCartProductList();
            })
        }

        function addAllProductToOrdersheet(){

            const productSelectCheckboxes = document.querySelectorAll("#cartProductContainer .productSelectCheckbox");
            const checkedCheckboxes = Array.from(productSelectCheckboxes).filter(checkbox => checkbox.checked && !checkbox.disabled);

            const checkedValues = checkedCheckboxes.map(checkbox => parseInt(checkbox.value, 10));

            const cart_product_ids = checkedValues.join(",");

            const url = `/api/store/addToOrdersheet?user_id=${myId}&cart_product_ids=${cart_product_ids}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                location.href="/store/ordersheet";
            })

        }

        function addStoreProductToOrdersheet(addButton){
            const storeWrapper = addButton.closest(".storeWrapper");
            const productSelectCheckboxes = storeWrapper.querySelectorAll(".productSelectCheckbox");
            const checkedCheckboxes = Array.from(productSelectCheckboxes).filter(checkbox => checkbox.checked && !checkbox.disabled);

            const checkedValues = checkedCheckboxes.map(checkbox => parseInt(checkbox.value, 10));

            const cart_product_ids = checkedValues.join(",");

            const url = `/api/store/addToOrdersheet?user_id=${myId}&cart_product_ids=${cart_product_ids}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                location.href="/store/ordersheet";
            })
        }

        function addProductToOrdersheet(addButton){
            const storeWrapper = addButton.closest(".productWrapper");
            const productSelectCheckbox = storeWrapper.querySelector(".productSelectCheckbox");

            const cart_product_id = parseInt(productSelectCheckbox.value, 10);

            const url = `/api/store/addToOrdersheet?user_id=${myId}&cart_product_ids=${cart_product_id}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                location.href="/store/ordersheet";
            })
        }

        function showQuantityChangeOffcanvas(quantityChangeButton){
            const productWrapper = quantityChangeButton.closest(".productWrapper")
            
            const cart_product_id = productWrapper.querySelector(".productSelectCheckbox").value
            const quantity = productWrapper.querySelector(".quantity").innerText;
            const final_price = productWrapper.querySelector(".final_price").innerText;
            const stock_quantity = productWrapper.querySelector(".stock_quantity").value;
            
            document.getElementById("inputQuantity").value = quantity;
            document.getElementById("offcanvasPrice").innerText = formatNumberToPrice(final_price);
            document.getElementById("inputPricePerUnit").value = formatNumber(final_price)/quantity;
            document.getElementById("inputCartProductId").value = cart_product_id;
            document.getElementById("inputStockQuantity").value = stock_quantity;
            const quantityChangeOffcanvas = bootstrap.Offcanvas.getOrCreateInstance("#offcanvasBottom")
            quantityChangeOffcanvas.show();
        }

        function decreaseOptionQuantity(decreaseButton) {
            const inputQuantity = document.getElementById("inputQuantity");
            const offcanvasPrice = document.getElementById("offcanvasPrice");
            const inputPricePerUnit = document.getElementById("inputPricePerUnit");

            if (inputQuantity.value == 1) {
                return;
            } else {
                inputQuantity.value = parseInt(inputQuantity.value, 10) - 1
            }

            offcanvasPrice.innerText = formatNumberToPrice(parseInt(inputPricePerUnit.value, 10) * parseInt(inputQuantity.value, 10))
        }

        function increaseOptionQuantity(increaseButton) {
            const inputQuantity = document.getElementById("inputQuantity");
            const offcanvasPrice = document.getElementById("offcanvasPrice");
            const inputPricePerUnit = document.getElementById("inputPricePerUnit");
            const inputStockQuantity = document.getElementById("inputStockQuantity");

            const newInputQuantity = parseInt(inputQuantity.value, 10) + 1

            if (newInputQuantity > inputStockQuantity.value) {
                alert("해당 옵션 상품의 재고가 부족합니다.")
                return;
            }

            inputQuantity.value = newInputQuantity
            offcanvasPrice.innerText = formatNumberToPrice(parseInt(inputPricePerUnit.value, 10) * parseInt(inputQuantity.value, 10))
        }

        function changeQuantity(){
            const quantity = document.getElementById("inputQuantity").value;
            const cart_product_id = document.getElementById("inputCartProductId").value;

            fetch(`/api/store/updateCartProductQuantity?quantity=${quantity}&cart_product_id=${cart_product_id}`)
            .then((response) => {
                bootstrap.Offcanvas.getOrCreateInstance("#offcanvasBottom").hide();
                reloadCartProductList();
            })
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('backButton').addEventListener('click', function() {
                history.back();
            });
            setSessionId();
        });

    </script>
</head>
<body class="bg-body-secondary">

    <!-- top-nav -->
    <div class="container-fluid fixed-top bg-white">
        <div class="row border-bottom">
            <div class="col-auto ps-3 py-3" id="backButton">
                <button class="border-0 bg-transparent d-flex align-items-center fw-light p-0">
                    <span class="material-symbols-outlined fw-light">
                        arrow_back
                    </span>
                </button>
            </div>
            <div class="col pe-3 py-3 text-start fw-semibold">
                CART
            </div>
        </div>
        <div class="row py-2 px-3 border-bottom shadow-sm bg-white fw-semibold align-items-center">
            <div class="col p-0">
                <input class="form-check-input allSelectCheckBox" type="checkbox" id="AllSelectCheckBox" checked onchange="allSelect(this)">
                <label class="form-check-label" for="AllSelectCheckBox">
                    ALL
                </label>
            </div>
            <div class="col-auto p-0">
                <button type="button" id="deleteSelectionbutton" class="btn btn-sm rounded-0 bg-white border d-flex align-items-center">
                    <span class="material-symbols-outlined f12">
                        close
                    </span>
                    선택삭제
                </button>
            </div>
        </div>
    </div>



    <div class="container-fluid" style="margin-top: 103.67px;">

        <div class="row py-5 bg-white text-center text-body-tertiary d-none" id="cartEmptyRow">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <span class="material-symbols-outlined f40">
                            shopping_bag
                        </span>
                    </div>
                </div>
                <div class="row f09">
                    <div class="col">
                        장바구니에 상품이 없습니다.
                    </div>
                </div>
                <div class="row f09">
                    <div class="col">
                        상품을 추가해보세요
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col">
                        <a href="" class="btn py-2 f09 bg-white border text-body-tertiary" type="button">
                            좋아요한 상품 보러가기
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-3 pt-3 bg-body-tertiary d-none" id="cartProductRow">
            <div class="col" id="cartProductContainer">


            </div>
        </div>

        <div class="row mt-2 py-3 bg-white d-none" id="cartGuideRow">
            <div class="col f08 text-body-tertiary">
                <ul>
                    <li>장바구니 상품은 최대 90일간 저장됩니다.</li>
                    <li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
                    <li>일부 상품의 경우 카드 할부기간이 카드사 제공 기간보다 적게 제공될 수 있습니다.</li>
                </ul>
            </div>
        </div>

        <!-- footer -->
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <div class="col fw-semibold border-end">
                로그아웃
            </div>
            <div class="col fw-semibold border-end">
                고객센터
            </div>
            <div class="col fw-semibold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-semibold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-semibold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-semibold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
                <div class="row py-4"></div>
            </div>
        </div>

    </div>

    <!-- bottom-nav -->
    <div class="container-fluid fixed-bottom px-3 bg-dark">
        <div class="row pt-2 pb-3 d-none" id="bottom-nav">
            <div class="col">
                <div class="row align-items-center text-white">
                    <div class="col f08">
                        총 <span class="fw-semibold" id="selectedProductCount">1</span>건
                    </div>
                    <div class="col text-end fw-semibold">
                        <span id="selectedProductPrice">31,000</span> 원
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col d-grid">
                        <a onclick="addAllProductToOrdersheet()" type="button" class="btn btn-light rounded-0 py-2 fw-semibold">
                            주문하기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" style="max-height: 90vh; height: auto;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body pb-4">

            <!-- 주문금액정보 -->
            <div class="row ps-3 optionQuantityRow align-items-center">
                <div class="col-auto border">
                    <div class="row align-items-center bg-white">
                        <button type="button" class="col p-1 border-0 bg-white decreaseButton d-flex align-items-center" onclick="decreaseOptionQuantity(this)">
                            <span class="material-symbols-outlined fw-semibold f09 p-1">
                                remove
                            </span>
                        </button>
                        <div class="col-auto p-0">
                            <input type="text"
                                class="bg-white f09 p-1 border-start border-0 rounded-0 border-end text-center"
                                id="inputQuantity"
                                readonly value="1" style="width: 3em;">
                        </div>
                        <button type="button" class="col p-1 border-0 bg-white increaseButton d-flex align-items-center" onclick="increaseOptionQuantity(this)">
                            <span class="material-symbols-outlined fw-semibold f09 p-1">
                                add
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col text-end">
                    <span class="fw-bold" id="offcanvasPrice">28,000</span>원
                    <input type="hidden" id="inputPricePerUnit">
                    <input type="hidden" id="inputCartProductId">
                    <input type="hidden" id="inputStockQuantity">
                </div>
            </div>
            <div class="row">
                <div class="col pe-0 py-3 d-grid">
                    <a id="cartButton" type="button" class="btn btn-outline-dark f09 rounded-0 py-2" data-bs-dismiss="offcanvas">
                        취소
                    </a>
                </div>
                <div class="col py-3 d-grid">
                    <a id="orderButton" type="button" class="btn btn-dark rounded-0 f09 py-2" onclick="changeQuantity()">
                        변경하기
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="template" class="d-none">

        <!-- store하나의 정보 -->
        <div class="row pb-3 storeWrapper">
            <div class="col py-2 rounded-3 border bg-white shadow-sm">

                <div class="row px-3">
                    <div class="col px-0 py-2 border-bottom border-2 border-black">
                        
                        <div class="row align-items-center">
                            <div class="col-auto pe-0">
                                <input class="form-check-input storeCheckbox" type="checkbox" checked onchange="allSelect(this)">
                            </div>
                            <div class="col fw-bold">
                                <span class="storeName">
                                    GamjaStore
                                </span>
                            </div>
                        </div>
        
                    </div>
                </div>

                <div class="row">
                    <div class="col productContainer">

                    </div>
                </div>
        
                <div class="row px-3 pb-2">
                    <div class="col p-0 py-3 border-black border-top">
                        <div class="row f09">
                            <div class="col text-body-tertiary">
                                선택상품금액
                            </div>
                            <div class="col text-end fw-semibold">
                                <span class="selected_products_price">40,000</span>원
                            </div>
                        </div>
                        <div class="row pt-1 f09">
                            <div class="col text-body-tertiary">
                                배송비
                            </div>
                            <div class="col text-end fw-semibold">
                                0원
                            </div>
                        </div>
                        <div class="row f09 pt-1">
                            <div class="col text-body-tertiary">
                                할인금액
                            </div>
                            <div class="col text-end fw-semibold lightFont">
                                <span class="discount_price">-12,000</span>원
                            </div>
                        </div>
                        <div class="row pt-1 fw-semibold">
                            <div class="col">
                                주문금액
                            </div>
                            <div class="col text-end">
                                <span class="selected_products_saleprice">31,000</span>원
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row pb-3">
                    <div class="col d-grid">
                        <a type="button" class="btn btn-dark rounded-0 fw-semibold f09 py-2" onclick="addStoreProductToOrdersheet(this)">
                            <span class="storeName">GamjaStore</span> <span class="selectedProductsNumber">1</span>건 주문하기
                        </a>
                    </div>
                </div>

            </div>
        </div>
        
        <!-- 상품 하나의 정보 -->
        <div class="row px-3 py-3 productWrapper">
            <div class="col p-0">
                <div class="row">
                    <div class="col-auto pe-0">
                        <input class="form-check-input productSelectCheckbox" type="checkbox" checked onchange="reloadSelectedProductsPrice()">
                    </div>
                    <div class="col">
                        <div class="row px-3 position-relative">
                            <div class="col-auto p-0 product-col">
                                <img class="border main_img" src="/public/img/storeImage/productImg1.jpg">
                            </div>
                            <div class="col-auto p-0 position-absolute text-center soldout_col">
                                <span class="sold-out fw-semibold text-white">SOLD OUT</span>
                            </div>
                            <div class="col">
                                <div class="row text-body-tertiary f09">
                                    <div class="col">
                                        <span class="store_name">GamjaStore</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col product_name">
                                        엄청 맛있는 납작복숭아
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col f09">
                                        <span class=" fw-semibold salePrice">
                                            28,000 원
                                        </span>
                                        <span class="text-body-tertiary price" style="text-decoration: line-through;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2 px-3">
                            <div class="col py-2 f09 bg-body-tertiary">
                                수량 : <span class="quantity">1</span>개
                                <span class="value_names">Black / M</span>
                                <span class="additional_price"></span>
                                <input type="hidden" class="stock_quantity">
                            </div>
                        </div>
                        <div class="row px-3 fw-semibold">
                            <div class="col p-0">
                                상품금액
                            </div>
                            <div class="col p-0 text-end final_price">
                                28,000원
                            </div>
                        </div>
                        <div class="row px-3 pt-2 f09">
                            <div class="col-auto p-0">
                                배송비
                            </div>
                            <div class="col text-end p-0">
                                무료
                            </div>
                        </div>
                        <div class="row py-2 px-3">
                            <div class="col ps-0 d-grid">
                                <input type="button" class="btn bg-white border f09 rounded-0 productDeleteButton" value="삭제">
                            </div>
                            <div class="col ps-0 d-grid">
                                <input type="button" class="btn bg-white border f09 rounded-0" value="수량변경" onclick="showQuantityChangeOffcanvas(this)">
                            </div>
                            <div class="col px-0 d-grid">
                                <button type="button" class="btn btn-outline-dark f09 rounded-0 productOrderButton" onclick="addProductToOrdersheet(this)">
                                    주문하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>