<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .fill-off {
            font-variation-settings: 'FILL' 0;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('backButton').addEventListener('click', function() {
                history.back();
            });
        });
    </script>
</head>
<body class="bg-body-secondary">

    <!-- top-nav -->
    <div class="fixed-top px-4 row border-bottom bg-white" style="z-index: 2000;">
        <div class="col">
            <div class="row py-3">
                <div class="col-auto ps-0">
                    <button id="backButton" class="border-0 bg-transparent d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            arrow_back_ios
                        </span>
                    </button>
                </div>
                <div class="col text-start fw-bold f12">
                    CART
                </div>
            </div>
        </div>
    </div>

    <div class="row fixed-top px-4 py-2 border-bottom shadow-sm bg-white fw-bold align-items-center" style="margin-top: 60.792px;">
        <div class="col p-0">
            <input class="form-check-input" type="checkbox" id="AllSelectCheckBox" checked>
            <label class="form-check-label" for="AllSelectCheckBox">
                ALL
            </label>
        </div>
        <div class="col-auto p-0">
            <button type="button" id="deleteSelectionbutton" class="btn btn-sm rounded-0 bg-white border d-flex align-items-center">
                <span class="material-symbols-outlined f12">
                    close
                </span>
                선택삭제
            </button>
        </div>
    </div>

    <div class="container" style="margin-top: 107.125px;">

        <div class="row py-3 px-3 bg-body-tertiary">
            <div class="col py-2 rounded-3 border bg-white shadow-sm">

                <div class="row px-3">
                    <div class="col px-0 py-2 border-bottom border-2 border-black">
                        
                        <div class="row align-items-center">
                            <div class="col-auto pe-0">
                                <input class="form-check-input" type="checkbox" checked>
                            </div>
                            <div class="col fw-bold f12">
                                <span>
                                    GamjaStore
                                </span>
                            </div>
                        </div>
        
                    </div>
                </div>
        
                <div class="row px-3 py-3">
                    <div class="col p-0">
                        <div class="row">
                            <div class="col-auto pe-0">
                                <input class="form-check-input" type="checkbox" checked>
                            </div>
                            <div class="col">
                                <div class="row px-3">
                                    <div class="col-4 p-0 product-col">
                                        <img class="border" src="/public/img/storeImage/productImg1.jpg">
                                    </div>
                                    <div class="col">
                                        <div class="row text-body-tertiary">
                                            <div class="col">
                                                GamjaStore
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                엄청 맛있는 납작복숭아
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class=" fw-bold">
                                                    28,000 원
                                                </span>
                                                <span class="text-body-tertiary" style="text-decoration: line-through;">
                                                    40,000
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-2 px-3">
                                    <div class="col py-2 f09 bg-body-tertiary">
                                        <span>수량 : 1개 |</span>
                                        <span>Black / M</span>
                                    </div>
                                </div>
                                <div class="row px-3 fw-bold">
                                    <div class="col p-0">
                                        상품금액
                                    </div>
                                    <div class="col p-0 text-end">
                                        28,000원
                                    </div>
                                </div>
                                <div class="row px-3 pt-2 f09">
                                    <div class="col-auto p-0">
                                        배송비(50,000원 이상 무료)
                                    </div>
                                    <div class="col text-end p-0">
                                        3,000원
                                    </div>
                                </div>
                                <div class="row py-2 px-3">
                                    <div class="col ps-0 d-grid">
                                        <input type="button" class="btn bg-white border rounded-0" value="삭제">
                                    </div>
                                    <div class="col ps-0 d-grid">
                                        <input type="button" class="btn bg-white border rounded-0" value="주문수정">
                                    </div>
                                    <div class="col px-0 d-grid">
                                        <input type="button" class="btn bg-white border border-black rounded-0" value="주문하기">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row px-3 py-3">
                    <div class="col p-0">
                        <div class="row">
                            <div class="col-auto pe-0">
                                <input class="form-check-input" type="checkbox" checked>
                            </div>
                            <div class="col">
                                <div class="row px-3">
                                    <div class="col-4 p-0 product-col">
                                        <img class="border" src="/public/img/storeImage/productImg1.jpg">
                                    </div>
                                    <div class="col">
                                        <div class="row text-body-tertiary">
                                            <div class="col">
                                                GamjaStore
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                엄청 맛있는 납작복숭아
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class=" fw-bold">
                                                    28,000 원
                                                </span>
                                                <span class="text-body-tertiary" style="text-decoration: line-through;">
                                                    40,000
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-2 px-3">
                                    <div class="col py-2 f09 bg-body-tertiary">
                                        <span>수량 : 1개 |</span>
                                        <span>Black / M</span>
                                    </div>
                                </div>
                                <div class="row px-3 fw-bold">
                                    <div class="col p-0">
                                        상품금액
                                    </div>
                                    <div class="col p-0 text-end">
                                        28,000원
                                    </div>
                                </div>
                                <div class="row px-3 pt-2 f09">
                                    <div class="col-auto p-0">
                                        배송비(50,000원 이상 무료)
                                    </div>
                                    <div class="col text-end p-0">
                                        3,000원
                                    </div>
                                </div>
                                <div class="row py-2 px-3">
                                    <div class="col ps-0 d-grid">
                                        <input type="button" class="btn bg-white border rounded-0" value="삭제">
                                    </div>
                                    <div class="col ps-0 d-grid">
                                        <input type="button" class="btn bg-white border rounded-0" value="주문수정">
                                    </div>
                                    <div class="col px-0 d-grid">
                                        <input type="button" class="btn bg-white border border-black rounded-0" value="주문하기">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row px-3 pb-2">
                    <div class="col p-0 py-3 border-black border-top">
                        <div class="row f09">
                            <div class="col text-body-tertiary">
                                선택상품금액
                            </div>
                            <div class="col text-end fw-bold">
                                40,000원
                            </div>
                        </div>
                        <div class="row pt-1 f09">
                            <div class="col text-body-tertiary">
                                배송비
                            </div>
                            <div class="col text-end fw-bold">
                                3,000원
                            </div>
                        </div>
                        <div class="row f09 pt-1">
                            <div class="col text-body-tertiary">
                                할인금액
                            </div>
                            <div class="col text-end fw-bold text-danger">
                                -12,000원
                            </div>
                        </div>
                        <div class="row pt-1 fw-bold">
                            <div class="col">
                                주문금액
                            </div>
                            <div class="col text-end">
                                31,000원
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row pb-3">
                    <div class="col d-grid">
                        <a href="" type="button" class="btn btn-dark fw-bold py-2">
                            GamjaStore 1건 주문하기
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-2 py-3 bg-white">
            <div class="col">
                뭐라고 말
            </div>
        </div>

        <!-- footer -->
        <div class="row py-2 bg-secondary text-white text-center f09">
            <div class="col fw-bold border-end">
                로그아웃
            </div>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-dark text-white">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm btn-secondary fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-secondary fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-secondary rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-secondary rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-secondary rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
                <div class="row py-4"></div>
            </div>
        </div>

    </div>

    <!-- bottom-nav(임시) -->
    <div class="row px-3 bg-dark fixed-bottom pt-2 pb-3">
        <div class="col">
            <div class="row align-items-center text-white">
                <div class="col f08">
                    총 <span class="fw-bold">1건</span>
                </div>
                <div class="col text-end fw-bold f12">
                    31,000 원
                </div>
            </div>
            <div class="row pt-2">
                <div class="col d-grid">
                    <input type="button" class="btn btn-light py-2 fw-bold" value="주문하기">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>