<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .fill-off {
            font-variation-settings: 'FILL' 0;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 100%;
        }
        .ad-banner-col img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('backButton').addEventListener('click', function() {
                history.back();
            });
        });
    </script>
</head>
<body class="bg-body-tertiary">

    <!-- top-nav -->
    <div class="fixed-top px-4 row border-bottom bg-white">
        <div class="col">

            <div class="row py-3">
                <div class="col-auto ps-0">
                    <button id="backButton" class="border-0 bg-transparent d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            arrow_back_ios
                        </span>
                    </button>
                </div>
                <div class="col ps-0 fw-bold f12 text-center">
                    주문완료
                </div>
                <div class="col-auto pe-0 d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="container" style="padding-top: 60.792px;">

        <div class="row">
            <div class="col ad-banner-col p-0">
                <img src="/public/img/storeImage/ad1.png">
            </div>
        </div>
        <div class="row bg-white py-4">
            <div class="col text-center align-items-center">
                <span class="fw-bold f12">주문이 완료되었습니다</span>
            </div>
        </div>
        <div class="row px-3 f09 bg-white pb-2">
            <div class="col p-0">
                <span class="fw-bold">김첨지</span>
                <span class="text-body-tertiary">010-1234-5678</span>
            </div>
        </div>
        <div class="row px-3 f09 bg-white pb-2">
            <div class="col p-0">
                <span>서울특별시 강남구 테헤란로 7길 7 무슨빌딩 6층</span>
            </div>
        </div>
            
        <div class="row px-3 bg-white py-2 toggle-icon" data-bs-toggle="collapse" data-bs-target="#first-collapse">
            <div class="col p-0">
                <a type="button" class="f09 accordion-button collapsed">
                    <div class="col-auto fw-bold text-body-tertiary">
                        상품정보
                    </div>
                    <div class="col text-center">
                        <span class="fw-bold">진짜맛있는 납작복숭아</span>
                        <span> 외 3건</span>
                    </div>
                    <div class="col-auto d-flex align-items-center fw-bold text-body-tertiary">
                        <span class="material-symbols-outlined">
                            keyboard_arrow_down
                        </span>
                    </div>
                </a>
            </div>
        </div>

<!--                         
        <div class="row px-3 f09 bg-white py-2">
            <div class="col p-0 fw-bold text-body-tertiary">
                상품정보
            </div>
            <div class="col-auto p-0 d-flex align-items-center fw-bold text-body-tertiary">
                <span class="material-symbols-outlined">
                    keyboard_arrow_up
                </span>
            </div>
        </div>
         -->

        <div class="row accordion-collapse collapse bg-white px-3" id="first-collapse">
            <div class="col p-0 border-bottom">
                

                <div class="row pb-3 align-items-center">
                    <div class="col-3 pe-0 product-col">
                        <img src="/public/img/storeImage/productImg1.jpg" class="border">
                    </div>
                    <div class="col">
                        <div class="row f09">
                            <div class="col">
                                GamjaStore
                            </div>
                        </div>
                        <div class="row fw-bold f09">
                            <div class="col">
                                엄청 맛있는 납작복숭아
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col text-body-tertiary f09">
                                Black / M | 1개
                            </div>
                            <div class="col fw-bold text-end">
                                28,000원
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-3 align-items-center">
                    <div class="col-3 pe-0 product-col">
                        <img src="/public/img/storeImage/productImg1.jpg" class="border">
                    </div>
                    <div class="col">
                        <div class="row f09">
                            <div class="col">
                                GamjaStore
                            </div>
                        </div>
                        <div class="row fw-bold f09">
                            <div class="col">
                                엄청 맛있는 납작복숭아
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col text-body-tertiary f09">
                                Black / M | 1개
                            </div>
                            <div class="col fw-bold text-end">
                                28,000원
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       

        <div class="row px-3 f09 bg-white py-3 fw-bold">
            <div class="col-auto ps-0 text-body-tertiary">
                결제금액
            </div>
            <div class="col">
                224,733원
            </div>
        </div>

        <div class="row px-3 bg-white pt-2 pb-4">
            <div class="col p-0 d-grid">
                <input type="button" value="주문 상세보기" class="btn btn-outline-dark py-2 fw-bold f09 rounded-0">
            </div>
            <div class="col pe-0 d-grid">
                <input type="button" value="쇼핑 홈" class="btn btn-dark py-2 fw-bold f09 rounded-0">
            </div>
        </div>

        <div class="row bg-white py-3"></div>

        <!-- footer -->
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <div class="col fw-bold border-end">
                로그아웃
            </div>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
            </div>
        </div>

    </div>

    <script>
        document.querySelectorAll('.toggle-icon').forEach(button => {
            button.addEventListener('click', function () {
                const icon = this.querySelector('.material-symbols-outlined');
                if (icon.innerText=="keyboard_arrow_up") {
                    icon.innerText="keyboard_arrow_down";
                }else{
                    icon.innerText="keyboard_arrow_up";
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>