<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>

    <script src="/public/js/lockLikeMobile.js"></script>

    <link rel="stylesheet" href="/public/css/font.css">

    <title>BASECAMP</title>

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .fill-off {
            font-variation-settings: 'FILL' 0;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        button{
            color: black;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
        .active{
            font-weight: bold;
            border-bottom: 2px solid black;
        }
        .bgBorder{
            border-bottom: 10px solid #F8F9FA;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('backButton').addEventListener('click', function() {
                history.back();
            });
        });
    </script>
</head>
<body class="bg-light">

    <!-- top-nav -->
    <div class="container fixed-top">
        <div class="row px-3 border-bottom bg-white">
            <div class="col">
                <div class="row py-3 align-items-center">
                    <div class="col-auto ps-0 d-flex align-items-center" onclick="history.back()">
                        <span class="material-symbols-outlined fw-light">
                            arrow_back
                        </span>
                    </div>
                    <div class="col ps-0 fw-bold text-center">
                        주문 상세내역
                    </div>
                    <a href="/" class="col-auto pe-0 d-flex align-items-center">
                        <span class="material-symbols-outlined fw-light">
                            home
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 60.792px;">

        <div class="row">
            <div class="col">

                <div class="row px-3 bg-white">
                    <div class="col p-0 border-bottom">
                        <div class="row py-3 align-items-center f08 fw-bold">
                            <div class="col-auto pe-0">
                                <span th:text="|No. ${orderData.storeOrderDto.id}|">No. 123456789</span>
                            </div>
                            <div class="col text-end">
                                <span class="text-body-tertiary" th:text="${#dates.format(orderData.storeOrderDto.created_at, 'yyyy.MM.dd hh:mm')}">2024.06.07 12:32</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row px-3 bgBorder bg-white">
                    <div class="col p-0">
        
                        <!-- 상품 하나의 정보 -->
                        <div class="row" th:each="orderProductData : ${orderData.orderProductDataList}">
                            <div class="col">
                                <div class="row py-3">
                                    <a th:href="@{/store/productDetails(id=${orderProductData.orderProductDto.product_id})}" class="col-auto pe-0 seller_profile">
                                        <img class="border" th:src="|/images/${orderProductData.orderProductDto.product_main_image}|">
                                    </a>
                                    <div class="col">
                                        <div class="row pb-2">
                                            <div class="col fw-bold">
                                                <span th:text="${orderProductData.orderProductDto.status}">배송완료</span>
                                            </div>
                                        </div>
                                        <div class="row pb-1">
                                            <div class="col f09">
                                                <span th:text="${orderProductData.storeDto.name}">GamjaStore</span>
                                            </div>
                                        </div>
                                        <div class="row pb-1">
                                            <div class="col f09 fw-bold">
                                                <span th:text="${orderProductData.orderProductDto.product_name}">진짜 맛있는 납작복숭아</span>
                                            </div>
                                        </div>
                                        <div class="row text-body-tertiary f09">
                                            <div class="col-auto pe-0" th:if="${orderProductData.valueNameList}!=null">
                                                <span th:each="name, iterStat : ${orderProductData.valueNameList}">
                                                    <span th:text="${name}">색상: 검정 / 사이즈: M / 또 무슨 옵션: 짜라잔</span>
                                                    <span th:if="${!iterStat.last}">/</span>
                                                </span>
                                            </div>
                                            <div class="col">
                                                <span th:text="|${orderProductData.orderProductDto.quantity}개|">5개</span>
                                            </div>
                                        </div>
                                        <div class="row f09 pt-3 toggle-icon" data-bs-toggle="collapse" th:data-bs-target="|#${orderProductData.orderProductDto.id}|" style="cursor: pointer;">
                                            <div class="col">
                                                주문금액 (상세)
                                            </div>
                                            <div class="col-auto pe-0 text-end fw-bold">
                                                <span th:text="|${#numbers.formatDecimal(orderProductData.orderProductDto.order_price+orderProductData.orderProductDto.used_point, 1, 'COMMA', 0, 'POINT')}원|">13,500원</span>
                                            </div>
                                            <div class="col-auto ps-0">
                                                <span class="material-symbols-outlined fw-light">
                                                    keyboard_arrow_down
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row accordion-collapse collapse" th:id="${orderProductData.orderProductDto.id}">
                                            <div class="col">
                                                <div class="row f08 pb-1">
                                                    <div class="col text-body-tertiary">
                                                        상품 금액
                                                    </div>
                                                    <div class="col text-end">
                                                        <span th:text="|${#numbers.formatDecimal((orderProductData.orderProductDto.product_price+orderProductData.additional_price)*orderProductData.orderProductDto.quantity, 1, 'COMMA', 0, 'POINT')}원|">45,000원</span>
                                                    </div>
                                                </div>
                                                <div class="row f08 pb-1" th:if="${orderProductData.orderProductDto.discount_percentage!=0}">
                                                    <div class="col text-body-tertiary">
                                                        상품 할인
                                                    </div>
                                                    <div class="col text-end text-primary">
                                                        <span th:text="|-${#numbers.formatDecimal((orderProductData.orderProductDto.product_price+orderProductData.additional_price)*orderProductData.orderProductDto.quantity-(orderProductData.orderProductDto.order_price+orderProductData.orderProductDto.used_point), 1, 'COMMA', 0, 'POINT')}원|">-31,500원</span>
                                                    </div>
                                                </div>
                                                <div class="row f08" th:if="${orderProductData.orderProductDto.used_point!=0}">
                                                    <div class="col text-body-tertiary">
                                                        보유 적립금 사용
                                                    </div>
                                                    <div class="col text-end text-primary">
                                                        <span th:text="-|${#numbers.formatDecimal(orderProductData.orderProductDto.used_point, 1, 'COMMA', 0, 'POINT')}원|">-2,513원</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row py-3" th:if="${orderProductData.orderProductDto.status}=='구매확정'">
                                    <!-- <div class="col d-grid pe-0">
                                        <button class="btn f09 border bg-white rounded-0">
                                            배송조회
                                        </button>
                                    </div> -->
                                    <div class="col d-grid">
                                        <button class="btn f09 border-primary text-primary bg-white rounded-0">
                                            리뷰작성
                                        </button>
                                    </div>
                                </div>
                                <div class="row py-3" th:if="${orderProductData.orderProductDto.status}=='배송완료'">
                                    <div class="col d-grid pe-0">
                                        <a href="/store/orderRefund" type="button" class="btn px-0 f09 border bg-white rounded-0">
                                            환불요청
                                        </a>
                                    </div>
                                    <!-- <div class="col d-grid pe-0">
                                        <a type="button" class="btn px-0 f09 border bg-white rounded-0">
                                            교환요청
                                        </a>
                                    </div>
                                    <div class="col d-grid pe-0">
                                        <button class="btn px-0 f09 border bg-white rounded-0">
                                            배송조회
                                        </button>
                                    </div> -->
                                    <div class="col d-grid">
                                        <button class="btn px-0 f09 border bg-white rounded-0">
                                            구매확정
                                        </button>
                                    </div>
                                </div>
                                <!-- <div class="row py-3" th:if="${orderProductData.orderProductDto.status}=='주문완료'">
                                    <div class="col d-grid pe-0">
                                        <a type="button" class="btn px-0 f09 border bg-white rounded-0">
                                            주문취소
                                        </a>
                                    </div>
                                    <div class="col d-grid">
                                        <a type="button" class="btn px-0 f09 border bg-white rounded-0">
                                            배송지 변경
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                <!-- 배송지 정보 -->
                <div class="row informationContainer bg-white px-3 bgBorder">
                    <div class="col p-0">
                        
                        <div onclick="showAdditionalInfo(this)" class="row py-4" style="cursor: pointer;">
                            <div class="col fw-bold">
                                배송지 정보
                            </div>
                            <div class="col d-flex align-items-center justify-content-end">
                                <span class="showButton material-symbols-outlined fw-light">
                                    keyboard_arrow_down
                                </span>
                            </div>
                        </div>

                        <div class="row f08 informationContent d-none">
                            <div class="col">
                                <div class="row pb-2">
                                    <div class="col text-body-tertiary">
                                        받으시는 분
                                    </div>
                                    <div class="col text-end">
                                        <span th:text="${orderData.storeOrderDto.receiver_name}">김첨지</span>
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col text-body-tertiary">
                                        연락처
                                    </div>
                                    <div class="col text-end">
                                        <span th:text="${orderData.storeOrderDto.phone}">010-1234-5678</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto text-body-tertiary">
                                        배송지
                                    </div>
                                    <div class="col text-end">
                                        <span th:text="${orderData.storeOrderDto.delivery_address}">
                                            (12345) 서울특별시 강남구 역삼동
                                        <br>테헤란로 7길 7
                                        </span>
                                    </div>
                                </div>
                                <a onclick="notesOnDeliveryInfo()" type="button" class="row pt-3 pb-4 text-center">
                                    <div class="col justify-content-center d-flex align-items-center">
                                        배송지 정보 유의사항
                                        <span class="material-symbols-outlined f09" id="addOrRemove">
                                            add
                                        </span>
                                    </div>
                                </a>
                                <ul class="row pb-4 text-body-tertiary f08 d-none" id="notesOnDeliveryInfo">
                                    <li>
                                        배송전 일때만 배송지 주소를 변경하실 수 있습니다.(입금확인 단계까지만 가능)
                                    </li>
                                    <li>
                                        동일한 주문번호라도 2개 이상의 브랜드에서 주문하신 경우 출고지 주소가 달라 각각 출고됩니다. (택배박스를 2개 이상 수령 가능)
                                    </li>
                                    <li>
                                        구매 결정 후 적립금이 지급되며 후기를 작성하실 수 있습니다. 단, 구매 결정 후에는 교환/환불이 불가하오니 구매 결정은 신중히 부탁드립니다.
                                    </li>
                                    <li>
                                        별도의 구매 결정이 없더라도 상품 배송 완료 후 7일이 지난 경우에는 자동 구매확정, 적립금이 자동 지급됩니다.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 할인정보 -->
                <div class="row bg-white px-3" th:if="${orderData.discountPriceSum+orderData.storeOrderDto.used_point!=0}">
                    <div class="col p-0">
                        
                        <div class="row py-4">
                            <div class="col fw-bold">
                                할인 정보
                            </div>
                            <!-- <div class="col d-flex align-items-center justify-content-end">
                                <span class="material-symbols-outlined fw-light">
                                    keyboard_arrow_down
                                </span>
                            </div> -->
                        </div>

                        <div class="row f08">
                            <div class="col">
                                <div class="row pb-2">
                                    <div class="col text-body-tertiary">
                                        상품 할인
                                    </div>
                                    <div class="col text-end">
                                        -<span th:text="${#numbers.formatDecimal(orderData.discountPriceSum, 1, 'COMMA', 0, 'POINT')}">-4,010</span>원
                                    </div>
                                </div>
                                <div class="row pb-3" th:if="${orderData.storeOrderDto.used_point!=0}">
                                    <div class="col text-body-tertiary">
                                        보유 적립금 사용
                                    </div>
                                    <div class="col text-end">
                                        <span th:text="|-${#numbers.formatDecimal(orderData.storeOrderDto.used_point, 1, 'COMMA', 0, 'POINT')}원|">-2,513원</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 할인정보 -->
                <div class="row px-3 fw-bold f08 bg-white bgBorder" th:if="${orderData.discountPriceSum+orderData.storeOrderDto.used_point!=0}">
                    <div class="col p-0 py-3 border-top">
                        <div class="row">
                            <div class="col">
                                할인 합계
                            </div>
                            <div class="col-auto text-end pe-0" style="color: orangered;">
                                -<span th:text="${(orderData.discountPriceSum+orderData.storeOrderDto.used_point)*100/orderData.productPriceSum}">28</span>% SAVE
                            </div>
                            <div class="col-auto text-end text-primary">
                                -<span th:text="${#numbers.formatDecimal(orderData.discountPriceSum+orderData.storeOrderDto.used_point, 1, 'COMMA', 0, 'POINT')}">-11,189원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 최종 결제 정보 -->
                <div class="row bg-white pb-4 px-3">
                    <div class="col p-0">
                        
                        <div class="row py-4">
                            <div class="col fw-bold">
                                최종 결제 정보
                            </div>
                            <!-- <div class="col d-flex align-items-center justify-content-end">
                                <span class="material-symbols-outlined fw-light">
                                    keyboard_arrow_down
                                </span>
                            </div> -->
                        </div>

                        <div class="row f08">
                            <div class="col">
                                <div class="row pb-2">
                                    <div class="col text-body-tertiary">
                                        상품 합계
                                    </div>
                                    <div class="col text-end">
                                        <span th:text="${#numbers.formatDecimal(orderData.productPriceSum, 1, 'COMMA', 0, 'POINT')}">124,000원</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-body-tertiary">
                                        배송비 합계
                                    </div>
                                    <div class="col text-end">
                                        배송비 무료
                                    </div>
                                </div>
                                <div class="row pt-2" th:if="${orderData.discountPriceSum+orderData.storeOrderDto.used_point!=0}">
                                    <div class="col text-body-tertiary">
                                        할인 합계
                                    </div>
                                    <div class="col-auto text-end pe-0 fw-bold" style="color: orangered;">
                                        -<span th:text="${(orderData.discountPriceSum+orderData.storeOrderDto.used_point)*100/orderData.productPriceSum}">28</span>% SAVE
                                    </div>
                                    <div class="col-auto text-end text-primary fw-bold">
                                        -<span th:text="${#numbers.formatDecimal(orderData.discountPriceSum+orderData.storeOrderDto.used_point, 1, 'COMMA', 0, 'POINT')}">-11,189원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 최종 결제 정보 -->
                <div class="row px-3 fw-bold f08 bg-white bgBorder">
                    <div class="col p-0 py-3 border-top">
                        <div class="row">
                            <div class="col">
                                결제 금액
                            </div>
                            <div class="col-auto text-end">
                                <span th:text="${#numbers.formatDecimal(orderData.storeOrderDto.payment_amount, 1, 'COMMA', 0, 'POINT')}">100,075원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 결제 수단 -->
                <div class="row bg-white pb-4 px-3">
                    <div class="col p-0">
                        
                        <div class="row py-4">
                            <div class="col fw-bold">
                                결제 수단
                            </div>
                            <!-- <div class="col d-flex align-items-center justify-content-end">
                                <span class="material-symbols-outlined fw-light">
                                    keyboard_arrow_down
                                </span>
                            </div> -->
                        </div>

                        <div class="row f08">
                            <div class="col">
                                <div class="row pb-2">
                                    <div class="col text-body-tertiary">
                                        결제 방법
                                    </div>
                                    <div class="col text-end">
                                        카카오페이 <span th:if="${orderData.storeOrderDto.used_point!=0}">+ 적립금</span>
                                    </div>
                                </div>
                                <!-- <div class="row fw-bold">
                                    <a class="col text-end pe-0 text-primary" style="text-decoration: underline;">
                                        영수증보기
                                    </a>
                                    <a class="col-auto text-end text-primary" style="text-decoration: underline;">
                                        거래 명세서
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 환불정보 -->
                <!-- 
                <div class="row bg-white pb-4 px-3 border-top">
                    <div class="col p-0">
                        
                        <div class="row py-4">
                            <div class="col fw-bold">
                                환불정보
                            </div>
                            <div class="col d-flex align-items-center justify-content-end">
                                <span class="material-symbols-outlined fw-light">
                                    keyboard_arrow_down
                                </span>
                            </div>
                        </div>

                        <div class="row f08">
                            <div class="col">
                                <div class="row pb-2">
                                    <div class="col text-body-tertiary">
                                        환불 수단
                                    </div>
                                    <div class="col text-end">
                                        카카오페이
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-body-tertiary">
                                        결제 금액
                                    </div>
                                    <div class="col text-end fw-bold">
                                        57,351원
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-3 fw-bold f08 bg-white mb-3 border-bottom">
                    <div class="col p-0 py-3 border-top">
                        <div class="row">
                            <div class="col">
                                환불 금액
                            </div>
                            <div class="col-auto text-end">
                                44,491원
                            </div>
                        </div>
                    </div>
                </div>
                 -->

                <!-- <div class="row px-2 bg-white pt-3 pb-5">
                    <div class="col d-grid">
                        <a href="" type="button" class="btn rounded-0 f09 py-2 bg-white border">
                            주문 내역 삭제
                        </a>
                    </div>
                </div> -->

                <div class="row bg-white py-4"></div>

            </div>
        </div>


    </div>

    <script>
        document.querySelectorAll('.toggle-icon').forEach(button => {
            button.addEventListener('click', function () {
                const icon = this.querySelector('.material-symbols-outlined');
                if (icon.innerText=="keyboard_arrow_up") {
                    icon.innerText="keyboard_arrow_down";
                }else{
                    icon.innerText="keyboard_arrow_up";
                }
            });
        });

        function notesOnDeliveryInfo(){
            const addOrRemove = document.getElementById("addOrRemove")
            const notesOnDeliveryInfo = document.getElementById("notesOnDeliveryInfo");

            if(addOrRemove.innerText == "add"){
                notesOnDeliveryInfo.classList.remove("d-none");
                addOrRemove.innerText = "remove"
            }else if(addOrRemove.innerText == "remove"){
                notesOnDeliveryInfo.classList.add("d-none");
                addOrRemove.innerText = "add"
            }
        }

        function showAdditionalInfo(clickRow){
            const showButton = clickRow.querySelector(".showButton")
            const informationContainer = clickRow.closest(".informationContainer");
            const informationContent = informationContainer.querySelector(".informationContent");

            if(showButton.innerText == "keyboard_arrow_down"){
                showButton.innerText = "keyboard_arrow_up"
                informationContent.classList.remove("d-none")
            }else{
                showButton.innerText = "keyboard_arrow_down"
                informationContent.classList.add("d-none")
            }
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>