<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        a{
            text-decoration: none;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f15{
            font-size: 1.5em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
        .inputQuantity:focus {
            outline:none;
        }
    </style>
    <script>
        const urlParams = new URL(window.location.href).searchParams;
        const product_id = urlParams.get("id");

        let myId = null;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('backButton').addEventListener('click', function() {
                history.back();
            });
            setOptionData();
            setSessionId();
        });

        function setSessionId(){
            const url = "/api/user/getSessionUserId";
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                myId = response.data.userId;
            })
        }

        function setSelectedOption(selectElement){
            
            const currentIndex = parseInt(selectElement.dataset.index, 10);
            const optionSelectBoxes = document.querySelectorAll("#optionContainer .optionSelectBox")

            // 선택할 옵션이 두개 이상 남은 경우 다음 옵션 활성화 후 return
            if (currentIndex < optionSelectBoxes.length - 2) { 
                for(optionSelectBox of optionSelectBoxes){
                    const selectbox_index = parseInt(optionSelectBox.dataset.index, 10)
                    if(selectbox_index==currentIndex+1){
                        optionSelectBox.disabled = false;
                        return;
                    }
                }
                return;
            }

            // 마지막 옵션일 경우
            if(currentIndex == optionSelectBoxes.length-1){
                const selectedOptionContainer = document.getElementById("selectedOptionContainer");
                const selectedOptionRow = document.querySelector("#template .selectedOptionRow");
                const selectedOptionValue = document.querySelector("#template .selectedOptionValue");
                const selectedOptionId = document.querySelector("#template .selectedOptionId");

                const newSelectedOptionRow = selectedOptionRow.cloneNode(true)
                for(optionSelectBox of optionSelectBoxes){
                    const newSelectedOptionValue = selectedOptionValue.cloneNode(true)
                    const newSelectedOptionId = selectedOptionId.cloneNode(true)

                    const selectedOption = optionSelectBox.options[optionSelectBox.selectedIndex];
                    newSelectedOptionValue.innerText = selectedOption.innerText;
                    
                    //input hidden으로 아이디도 추가
                    newSelectedOptionId.value = selectedOption.value;

                    const selectedOptionValueCol = newSelectedOptionRow.querySelector(".selectedOptionValueCol");
                    
                    selectedOptionValueCol.appendChild(newSelectedOptionValue);
                    selectedOptionValueCol.appendChild(newSelectedOptionId);
                }

                const optionPrice = newSelectedOptionRow.querySelector(".optionPrice")//추가금?
                const inputOptionPrice = newSelectedOptionRow.querySelector(".inputOptionPrice");
                const selectedValues = Array.from(optionSelectBoxes)
                    .filter(optionSelectBox => {
                        const selectedOption = optionSelectBox.options[optionSelectBox.selectedIndex];
                        return selectedOption && !selectedOption.disabled;
                    })
                    .map(optionSelectBox => optionSelectBox.options[optionSelectBox.selectedIndex].value);

                const value_ids = selectedValues.join(",");

                const url = `/api/store/getAdditionalInfoDto?value_ids=${value_ids}`
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const additional_price = response.data.additionalInfoDto.additional_price;
                    const salePrice = document.getElementById("salePrice").innerText.replace(/,/g, '');

                    optionPrice.innerText = parseInt(additional_price, 10)+parseInt(salePrice, 10)
                    inputOptionPrice.value = parseInt(additional_price, 10)+parseInt(salePrice, 10)
                })

                selectedOptionContainer.appendChild(newSelectedOptionRow);
                
                setOptionData();

                return;
            }

            // 마지막 옵션만 남았을 경우
            const selectedValues = Array.from(optionSelectBoxes)
                .filter(optionSelectBox => {
                    const selectedOption = optionSelectBox.options[optionSelectBox.selectedIndex];
                    return selectedOption && !selectedOption.disabled;
                })
                .map(optionSelectBox => optionSelectBox.options[optionSelectBox.selectedIndex].value);

            const value_ids = selectedValues.join(",");

            const url = `/api/store/getAdditionalInfo?product_id=${product_id}&currentIndex=${currentIndex}&value_ids=${value_ids}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                const additionalInfoDataList = response.data.additionalInfoDataList;
                for(additionalInfoData of additionalInfoDataList){
                    const lastSelectOption = document.getElementById("lastSelectOption");
                    const optionValues = lastSelectOption.querySelectorAll(".optionValue");

                    for(optionValue of optionValues){
                        if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.additionalInfoDto.additional_price!=0){
                            optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(+${additionalInfoData.additionalInfoDto.additional_price})`
                        }
                    }

                    lastSelectOption.disabled = false;
                }
            })

        }

        function setOptionData(){
            const url = `/api/store/getOptionDataList?product_id=${product_id}`

            fetch(url)
            .then(response => response.json())
            .then(response =>{
                let index = 0;

                const optionDataList = response.data.optionDataList;

                if(optionDataList.length == 0){
                    const optionQuantityRow = document.querySelector("#template .optionQuantityRow").cloneNode(true);

                    // optionQuantityRow.classList.add("selectedOptionRow");
                    
                    const salePrice = document.getElementById("salePrice").innerText
                    
                    optionQuantityRow.querySelector(".optionPrice").innerText = salePrice
                    optionQuantityRow.querySelector(".inputOptionPrice").value = salePrice.replace(/,/g, '');

                    document.getElementById("selectedOptionContainer").appendChild(optionQuantityRow)
                    return;
                }

                if(optionDataList.length == 1){
                    const url = `/api/store/getAdditionalInfo?product_id=${product_id}&currentIndex=0&value_ids=`
                    fetch(url)
                    .then(response => response.json())
                    .then((response) => {
                        const additionalInfoDataList = response.data.additionalInfoDataList;
                        for(additionalInfoData of additionalInfoDataList){
                            const lastSelectOption = document.getElementById("lastSelectOption");
                            const optionValues = lastSelectOption.querySelectorAll(".optionValue");

                            for(optionValue of optionValues){
                                if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.additionalInfoDto.additional_price!=0){
                                    optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(+${additionalInfoData.additionalInfoDto.additional_price})`
                                }
                            }

                            lastSelectOption.disabled = false;
                        }
                    })
                }

                const optionContainer = document.getElementById("optionContainer");
                optionContainer.innerHTML="";
                const optionSelectRow = document.querySelector("#template .optionSelectRow");
                
                for(optionData of optionDataList){
                    const newOptionSelectRow = optionSelectRow.cloneNode(true);

                    const optionSelectBox = newOptionSelectRow.querySelector(".optionSelectBox")
                    
                    optionSelectBox.setAttribute("name", "value_id");
                    optionSelectBox.setAttribute("data-index", index);

                    optionSelectBox.querySelector(".optionName").innerText = optionData.productOptionNameDto.name;

                    const optionValue = newOptionSelectRow.querySelector(".optionValue");

                    for(productOptionValueDto of optionData.productOptionValueDtoList){
                        const newOptionValue = optionValue.cloneNode(true)
                        optionValue.innerText = productOptionValueDto.name;
                        optionValue.value = productOptionValueDto.id;
                        optionValue.classList.remove("d-none");

                        optionSelectBox.appendChild(newOptionValue);
                    }

                    if(index == 0){
                        optionSelectBox.disabled = false;
                    } else {
                        optionSelectBox.disabled = true;
                    }

                    if(index == optionDataList.length-1){
                        optionSelectBox.setAttribute("id", "lastSelectOption");
                    }

                    optionContainer.appendChild(newOptionSelectRow);

                    index++;
                }
                
            })
        }

        function decreaseOptionQuantity(decreaseButton){
            const optionQuantityRow = decreaseButton.closest(".optionQuantityRow")
            const inputQuantity = optionQuantityRow.querySelector(".inputQuantity");
            const optionPrice = optionQuantityRow.querySelector(".optionPrice");
            const inputOptionPrice = optionQuantityRow.querySelector(".inputOptionPrice");

            if(inputQuantity.value == 1){
                return;
            }else{
                inputQuantity.value = parseInt(inputQuantity.value, 10) - 1
            }

            optionPrice.innerText = parseInt(inputOptionPrice.value, 10) * parseInt(inputQuantity.value, 10)
        }

        function increaseOptionQuantity(increaseButton){
            const optionQuantityRow = increaseButton.closest(".optionQuantityRow")
            const inputQuantity = optionQuantityRow.querySelector(".inputQuantity");
            const optionPrice = optionQuantityRow.querySelector(".optionPrice");
            const inputOptionPrice = optionQuantityRow.querySelector(".inputOptionPrice");

            inputQuantity.value = parseInt(inputQuantity.value, 10) + 1
            optionPrice.innerText = parseInt(inputOptionPrice.value, 10) * parseInt(inputQuantity.value, 10)
            //그 머더라 막아야지 수량
        }

        function deleteOption(deleteOptionButton){
            const selectedOptionRow = deleteOptionButton.closest(".selectedOptionRow")
            selectedOptionRow.parentNode.removeChild(selectedOptionRow);
        }

        async function addToCart(){
            if(myId==null){
                if(confirm("로그인 후 이용 가능합니다. 로그인 페이지로 이동하시겠습니까?")){
                    location.href="/user/login";
                }
                return;
            }

            const forms = document.querySelectorAll('#selectedOptionContainer .selectedOptionRow');

            if(forms.length==0){
                alert("상품 옵션을 선택해주세요");
                return;
            }

            for (const form of forms) {
                const quantity = form.querySelector('.inputQuantity').value;
                const price = form.querySelector('.inputOptionPrice').value;
                
                const selectedOptionIds = form.querySelectorAll('.selectedOptionId');

                const valueIds = Array.from(selectedOptionIds).map(option => parseInt(option.value, 10));

                const value_ids = valueIds.join(",");

                const url = `/api/store/addToCart?quantity=${quantity}&product_id=${product_id}&value_ids=${value_ids}&user_id=${myId}`;
                await fetch(url);
            }

            if(confirm("장바구니로 갈까?(이거 나중에 토스트로)")){
                location.href = "/store/cart";
            }
            
        }

        // function checkDisabled(optionSelectRow){
        //     if(optionSelectRow.querySelector(".optionSelectBox").disabled == true){
        //         alert("상위 옵션을 먼저 선택해주세요")
        //     }
        // }

    </script>
</head>
<body class="bg-body-tertiary">

    <!-- top-nav -->
    <div class="fixed-top px-4 row border-bottom bg-white">
        <div class="col">
            <div class="row py-3">
                <div class="col-auto ps-0">
                    <button id="backButton" class="border-0 bg-transparent d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            arrow_back_ios
                        </span>
                    </button>
                </div>
                <div class="col"></div>
                <a href="/store/cart" class="col-auto pe-0 d-flex align-items-center text-black">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 58px;">

        <!-- carousel -->
        <div class="row">
            <div class="col p-0">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="|/images/${productData.storeProductDto.main_image}|" class="d-block w-100" style="aspect-ratio: 1/1; width: 100%; object-fit: cover; object-position: center;">
                        </div>
                        <div class="carousel-item">
                            <img src="/public/img/storeImage/productDetail2.jpg" class="d-block w-100" style="aspect-ratio: 1/1;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row border-bottom bg-white">
            <div class="col">
                <div class="row px-3">
                    <div class="col px-0 py-2 fw-bold f08 border-bottom">
                        <span th:text="${productData.storeDto.name}">GamjaStore</span>
                    </div>
                </div>
                <div class="row px-3 pt-3 pb-2">
                    <div class="col px-0 fw-bold">
                        <span th:text="${productData.storeProductDto.name}">진짜 맛있는 납작복숭아</span>
                    </div>
                    <div class="col-auto px-0 d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            share
                        </span>
                    </div>
                </div>
                <div class="row px-3" th:if="${productData.percentage!=0}">
                    <div class="col px-0 f08 text-body-tertiary" style="text-decoration: line-through;">
                        <span th:text="|${#numbers.formatDecimal(productData.storeProductDto.price, 1, 'COMMA', 0, 'POINT')}원|">40,000원</span>
                    </div>
                </div>
                <div class="row px-3 pb-3">
                    <div class="col px-0 d-flex align-items-center">
                        <span class="fw-bold f12" style="color: orangered;" th:if="${productData.percentage!=0}" th:text="|${productData.percentage}%&nbsp;&nbsp;|">30%</span>
                        <span class="fw-bold f12" id="salePrice" th:text="|${#numbers.formatDecimal(productData.salePrice, 1, 'COMMA', 0, 'POINT')}|">28,000</span>
                        <span class="f08">원</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row f08 bg-white mb-2">
            <div class="col">
                <div class="row px-3 py-3">
                    <div class="col-2 p-0 text-body-tertiary fw-bold">
                        B.POINT
                    </div>
                    <div class="col">
                        <span th:text="|${(productData.salePrice)/1000}P|">40P</span> 적립
                    </div>
                </div>
                <div class="row px-3 pb-3">
                    <div class="col-2 p-0 text-body-tertiary fw-bold">
                        배송정보
                    </div>
                    <div class="col">
                        <div class="row pb-1">
                            <div class="col" th:if="${productData.storeDeliveryInfoDto.fee!=0}">
                                <span th:text="|${productData.storeDeliveryInfoDto.fee}원|"></span>
                                <span>(12,000원 이상 무료배송)</span>
                            </div>
                            <div class="col" th:unless="${productData.storeDeliveryInfoDto.fee!=0}">
                                무료배송
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                일반택배
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-white sticky-top text-center border-bottom fw-bold f09" style="top: 58px;">
            <div class="col py-3" style="color: orangered; border-bottom: orangered solid 2px;">
                상품정보
            </div>
            <div class="col py-3">
                리뷰
            </div>
            <div class="col py-3">
                문의
            </div>
        </div>

        <div class="row py-5"></div>
        <div class="row py-5"></div>
        <div class="row py-5"></div>

        <div class="row bg-white px-3 f09 fw-bold">
            <div class="col px-0 py-3 border-bottom d-flex align-items-center justify-content-between">
                <span>교환/환불 안내</span>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
        <div class="row bg-white px-3 f09 fw-bold">
            <div class="col px-0 py-3 border-bottom d-flex align-items-center justify-content-between">
                <span>배송 안내</span>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
        <div class="row bg-white px-3 mb-2 f09 fw-bold">
            <div class="col px-0 py-3 d-flex align-items-center justify-content-between">
                <span>판매자 정보</span>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>

        <div class="row bg-white">
            <div class="col">
                <div class="row py-3 px-3 f09 fw-bold">
                    <div class="col p-0">
                        최근 본 상품
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <div class="col fw-bold border-end">
                로그아웃
            </div>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
                <div class="row py-4"></div>
            </div>
        </div>

        <div class="row px-3 bg-white fixed-bottom pt-2 pb-4 border-top align-items-center">
            <div class="col-auto pe-0 text-center">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span class="material-symbols-outlined f15">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col f05 fw-bold">
                        1,203
                    </div>
                </div>
            </div>
            <div class="col d-grid">
                <button type="button" class="btn btn-dark rounded-0 py-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">
                    구매하기
                </button>
            </div>
        </div>
    </div>

    <div id="template" class="d-none">
        
        <!-- 옵션 셀렉박스 -->
        <div class="row px-3 pb-2 optionSelectRow">
            <div class="col p-0">
                <select class="form-select rounded-0 optionSelectBox" onchange="setSelectedOption(this)">
                    <option disabled selected class="optionName">색상 선택</option>
                    <option value="1" class="optionValue d-none">One</option>
                </select>
            </div>
        </div>

        <!-- 그냥 다 템플릿으로 만들어버려 -->
        <span class="selectedOptionValue">black</span>

        <!-- 진짜 다 만드네 -->
        <input type="hidden" class="selectedOptionId">

        <!-- 선택상품 정보 -->
        <form class="row px-3 py-2 selectedOptionRow">
            <div class="col bg-body-tertiary py-2">
                <div class="row pb-2">
                    <div class="col selectedOptionValueCol">
                        
                        <!-- <span> / free</span> -->
                    </div>
                    <div class="col-auto">
                        <button type="button" class="border-0 p-0 bg-transparent deleteOptionButton" onclick="deleteOption(this)">
                            <span class="material-symbols-outlined f09">
                                close
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row optionQuantityRow">
                    <div class="col-auto pe-0 align-items-center">
                        <button type="button" class="border border-end-0 bg-white decreaseButton" onclick="decreaseOptionQuantity(this)">
                            <span class="material-symbols-outlined f09">
                                remove
                            </span>
                        </button>
                    </div>
                    <div class="col-auto border bg-white">
                        <input type="text" class="bg-white border-0 text-center inputQuantity" readonly value="1" style="width: 2em;">
                    </div>
                    <div class="col-auto ps-0 align-items-center">
                        <button type="button" class="border border-start-0 bg-white increaseButton" onclick="increaseOptionQuantity(this)">
                            <span class="material-symbols-outlined f09">
                                add
                            </span>
                        </button>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold optionPrice">28,000</span>원
                        <input type="hidden" class="inputOptionPrice">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 이거 쓰고싶다 -->
    <div id="toast" class="toast align-items-center text-bg-dark border-0 fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body row align-items-center">
          <div class="col pe-0">
            장바구니에 상품이 담겼습니다
          </div>
          <div class="col-auto">
            <a href="/store/cart" style="text-decoration: none;">장바구니로 가기</a>
          </div>
        </div>
    </div>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" style="max-height: 90vh; height: auto;">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body pb-4">
            <div class="row">
                <div class="col" id="optionContainer">

                </div>
            </div>
            <div class="row">
                <div class="col" id="selectedOptionContainer">

                </div>
            </div>

            <!-- 주문금액정보 -->
            <div class="row px-3 py-2 text-end d-none">
                <div class="col p-0">
                    <span class="f08">총 상품 금액</span>
                    <span class="fw-bold f12">28,000</span>
                    <span class="f08">원</span>
                </div>
            </div>
            <div class="row">
                <div class="col pe-0 py-3 d-grid">
                    <a id="cartButton" type="button" class="btn btn-outline-dark rounded-0 py-2" onclick="addToCart()">
                        장바구니
                    </a>
                    <!-- href="/store/cart" -->
                </div>
                <div class="col py-3 d-grid">
                    <a id="orderButton" type="button" class="btn btn-dark rounded-0 py-2">
                        구매하기
                    </a>
                    <!-- href="/store/ordersheet" -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>