<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
    <script src="/public/js/store/store.js"></script>

    <link rel="stylesheet" href="/public/css/font.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">

    <script src="/public/js/lockLikeMobile.js"></script>

    <style>
        .fill-on {
            font-variation-settings: 'FILL' 1;
        }
        .seller_profile img{
            aspect-ratio: 1/1;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .product-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        button{
            color: black;
        }
        .f05{
            font-size: 0.5em;
        }
        .f08{
            font-size: 0.8em;
        }
        .f09{
            font-size: 0.9em;
        }
        .f12{
            font-size: 1.2em;
        }
        .f15{
            font-size: 1.5em;
        }
        .f17{
            font-size: 1.7em;
        }
        .f20{
            font-size: 2em;
        }
        .f40{
            font-size: 4em;
        }
        .inputQuantity:focus {
            outline:none;
        }
    </style>
</head>
<body class="bg-body-tertiary">

    <!-- top-nav -->
    <div class="container">
        <div class="fixed-top px-4 row border-bottom bg-white">
            <div class="col">
                <div class="row py-3">
                    <div class="col-auto ps-0">
                        <button id="backButton" class="border-0 bg-transparent d-flex align-items-center">
                            <span class="material-symbols-outlined fw-light">
                                arrow_back
                            </span>
                        </button>
                    </div>
                    <div class="col"></div>
                    <a href="/store/cart" class="col-auto pe-0 d-flex align-items-center text-black">
                        <span class="material-symbols-outlined fw-light">
                            shopping_bag
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 58px;">

        <!-- carousel -->
        <div class="row">
            <div class="col p-0">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="|/images/${productData.storeProductDto.main_image}|" class="d-block w-100" style="aspect-ratio: 1/1; width: 100%; object-fit: cover; object-position: center;">
                        </div>
                        <div class="carousel-item">
                            <img src="/public/img/storeImage/productDetail2.jpg" class="d-block w-100" style="aspect-ratio: 1/1;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row border-bottom bg-white">
            <div class="col">
                <div class="row px-3">
                    <div class="col px-0 py-2 fw-bold f08 border-bottom">
                        <span th:text="${productData.storeDto.name}">GamjaStore</span>
                    </div>
                </div>
                <div class="row px-3 pt-3">
                    <div class="col px-0 fw-bold">
                        <span th:text="${productData.storeProductDto.name}">진짜 맛있는 납작복숭아</span>
                    </div>
                    <div class="col-auto px-0 d-flex align-items-center">
                        <span class="material-symbols-outlined fw-light">
                            share
                        </span>
                    </div>
                </div>
                <div class="row px-3 py-2 f08">
                    <div class="col p-0">
                        <span th:text="${productData.storeProductDto.description}"></span>
                    </div>
                </div>
                <div class="row px-3" th:if="${productData.percentage!=0}">
                    <div class="col px-0 f08 text-body-tertiary" style="text-decoration: line-through;">
                        <span th:text="|${#numbers.formatDecimal(productData.storeProductDto.price, 1, 'COMMA', 0, 'POINT')}원|">40,000원</span>
                    </div>
                </div>
                <div class="row px-3 pb-3">
                    <div class="col px-0 d-flex align-items-center">
                        <span class="fw-semibold lightFont" th:if="${productData.percentage!=0}" th:text="|${productData.percentage}%&nbsp;&nbsp;|">30%</span>
                        <span class="fw-semibold" id="salePrice" th:text="|${#numbers.formatDecimal(productData.salePrice, 1, 'COMMA', 0, 'POINT')}|">28,000</span>
                        <span class="f08">원</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row f08 bg-white mb-2">
            <div class="col">
                <div class="row px-3 py-3">
                    <div class="col-2 p-0 text-body-tertiary fw-bold">
                        B.POINT
                    </div>
                    <div class="col">
                        <span th:text="|${(productData.salePrice)/1000}P|">40P</span> 적립
                    </div>
                </div>
                <div class="row px-3 pb-3">
                    <div class="col-2 p-0 text-body-tertiary fw-bold">
                        배송정보
                    </div>
                    <div class="col">
                        <div class="row pb-1">
                            <div class="col" th:if="${productData.storeDeliveryInfoDto.fee!=0}">
                                <span th:text="|${productData.storeDeliveryInfoDto.fee}원|"></span>
                                <span>(12,000원 이상 무료배송)</span>
                            </div>
                            <div class="col" th:unless="${productData.storeDeliveryInfoDto.fee!=0}">
                                무료배송
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                일반택배
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-white sticky-top text-center border-bottom fw-bold f09" style="top: 58px;">
            <div class="col py-3 lightFont" style="border-bottom: #00B8FF solid 2px;">
                상품정보
            </div>
            <div class="col py-3">
                리뷰
            </div>
        </div>

        <div class="row py-5"></div>
        <div class="row py-5"></div>
        <div class="row py-5"></div>

        <div class="row bg-white px-3 f09 fw-bold">
            <div class="col px-0 py-3 border-bottom d-flex align-items-center justify-content-between">
                <span>교환/환불 안내</span>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
        <div class="row bg-white px-3 f09 fw-bold">
            <div class="col px-0 py-3 border-bottom d-flex align-items-center justify-content-between">
                <span>배송 안내</span>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
        <div class="row bg-white px-3 mb-2 f09 fw-bold">
            <div class="col px-0 py-3 d-flex align-items-center justify-content-between">
                <span>판매자 정보</span>
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>
            </div>
        </div>

        <div class="row bg-white">
            <div class="col">
                <div class="row py-3 px-3 f09 fw-bold">
                    <div class="col p-0">
                        최근 본 상품
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="row py-2 bg-dark-subtle text-white text-center f09">
            <div class="col fw-bold border-end">
                로그아웃
            </div>
            <div class="col fw-bold border-end">
                고객센터
            </div>
            <div class="col fw-bold">
                NEWS
            </div>
        </div>
        <div class="row py-4 px-3 bg-body-secondary text-secondary">
            <div class="col">
                <div class="row pb-2">
                    <div class="col-auto p-0">
                        <span class="material-symbols-outlined f20">
                            camping
                        </span>
                    </div>
                    <div class="col p-0 fw-bold fs-3">
                        <span>&nbsp;BASECAMP</span>
                    </div>
                </div>
                <div class="row pb-3 border-bottom border-2">
                    <div class="col p-0 f08">
                        BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                    </div>
                </div>

                <div class="row pt-3 py-3 border-bottom border-2">
                    <div class="col-auto p-0">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                            <span class="material-symbols-outlined f12">
                                phone_in_talk
                            </span>
                            <span>&nbsp;고객센터</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08">
                            카카오 1:1 문의
                        </button>
                    </div>
                    <div class="col p-0 f08">
                        <div class="row">
                            <div class="col">
                                <span>평일</span> : 10:00 ~ 17:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>점심</span> : 12:00 ~ 13:00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                * 주말 공휴일 휴무
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 align-items-center">
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-google-play"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-auto pe-0 f08">
                        이용약관
                    </div>
                    <div class="col f08">
                        개인정보처리방침
                    </div>
                </div>
                <div class="row py-5"></div>
                <div class="row py-4"></div>
            </div>
        </div>

        <div class="row px-3 bg-white fixed-bottom pt-2 pb-4 border-top align-items-center">
            <div class="col-auto pe-0 text-center">
                <div class="row">
                    <div class="col d-flex align-items-center" onclick="productWish()">
                        <span th:if="${isWishlisted}" id="heart" class="material-symbols-outlined fill-on lightFont f15 fw-light">
                            favorite
                        </span>
                        <span th:unless="${isWishlisted}" id="heart" class="material-symbols-outlined f15 fw-light">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col f05 fw-bold">
                        <span id="productWishCount" th:text="${productData.productWishCount}">1,203</span>
                    </div>
                </div>
            </div>
            <div class="col d-grid">
                <button type="button" class="btn lightBg text-white rounded-0 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">
                    구매하기
                </button>
            </div>
        </div>
    </div>

    
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" style="max-height: 90vh; height: auto;">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body pb-4">
            <div class="row">
                <div class="col" id="optionContainer">
                    <!-- 옵션 셀렉박스의 위치 -->
                </div>
            </div>
            <div class="row">
                <div class="col" id="selectedOptionContainer">
                    <!-- 선택된 옵션 정보의 위치 -->
                </div>
            </div>

            <!-- 주문금액정보 -->
            <div class="row px-3 py-2 text-end d-none">
                <div class="col p-0">
                    <span class="f08">총 상품 금액</span>
                    <span class="fw-bold f12">28,000</span>
                    <span class="f08">원</span>
                </div>
            </div>
            <div class="row">
                <div class="col pe-0 py-3 d-grid">
                    <a id="cartButton" type="button" class="btn btn-outline-dark rounded-0 py-2" onclick="addToCart()">
                        장바구니
                    </a>
                </div>
                <div class="col py-3 d-grid">
                    <a id="orderButton" type="button" class="btn btn-dark rounded-0 py-2">
                        구매하기
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="template" class="d-none">

        <!-- 옵션 셀렉박스 -->
        <div class="row px-3 pb-2 optionSelectRow">
            <div class="col p-0">
                <select class="form-select rounded-0 optionSelectBox" onchange="setSelectedOption(this)">
                    <option disabled selected class="optionName">색상 선택</option>
                </select>
            </div>
        </div>

        <!-- 옵션값 -->
        <option class="optionValue">옵션</option>

        <!-- 선택상품 정보 -->
        <div class="row px-3 py-2 selectedOptionRow">
            <div class="col bg-body-tertiary py-3">
                <div class="row ps-3 pb-2">
                    <div class="col p-0 selectedOptionValueCol">
                        <!-- 선택된 옵션 정보 출력 위지 -->
                        <!-- 선택된 옵션 아이디 출력 위치 -->
                    </div>
                    <div class="col-auto">
                        <button type="button" class="border-0 p-0 bg-transparent deleteOptionButton" onclick="deleteOption(this)">
                            <span class="material-symbols-outlined f09">
                                close
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row ps-3 optionQuantityRow align-items-center">
                    <div class="col-auto border">
                        <div class="row align-items-center bg-white">
                            <button type="button" class="col p-1 border-0 bg-white decreaseButton d-flex align-items-center" onclick="decreaseOptionQuantity(this)">
                                <span class="material-symbols-outlined fw-semibold f09 p-1">
                                    remove
                                </span>
                            </button>
                            <div class="col-auto p-0">
                                <input type="text" class="bg-white f09 p-1 border-start border-0 rounded-0 border-end text-center inputQuantity" readonly value="1" style="width: 3em;">
                            </div>
                            <button type="button" class="col p-1 border-0 bg-white increaseButton d-flex align-items-center" onclick="increaseOptionQuantity(this)">
                                <span class="material-symbols-outlined fw-semibold f09 p-1">
                                    add
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold optionPrice">28,000</span>원
                        <input type="hidden" class="inputOptionPrice">
                        <input type="hidden" class="inputOptionStockQuantity">
                    </div>
                </div>
            </div>
        </div>

        <!-- 선택된 옵션 하나의 정보(출력용) -->
        <span class="selectedOptionValue">black</span>
        
        <!-- 진짜 다 만드네 -->
        <input type="hidden" class="selectedOptionValueId">
    </div>

    <!-- toast -->
    <div id="toast" class="toast align-items-center text-bg-dark border-0 fade position-fixed" style="bottom: 95px; left: 50%; transform: translate(-50%, -50%); z-index: 2000;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body row align-items-center">
          <div class="col pe-0">
            장바구니에 상품이 담겼습니다
          </div>
          <div class="col-auto">
            <a href="/store/cart" class="text-primary" style="text-decoration: none;">장바구니로 가기</a>
          </div>
        </div>
    </div>

    <div id="alreadySelectedOptionToast" class="toast align-items-center text-bg-dark bg-opacity-75 border-0 fade position-fixed" style="bottom: 95px; left: 50%; transform: translate(-50%, -50%); z-index: 2000;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body row align-items-center text-center">
            <div class="col pe-0">
                이미 선택한 옵션입니다.
            </div>
        </div>
    </div>

    <script>
        const urlParams = new URL(window.location.href).searchParams;
        const product_id = urlParams.get("id");

        let myId = null;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('backButton').addEventListener('click', function() {
                history.back();
            });
            setOptionData();
            setSessionId();
        });

        // function reloadProductWish(){

        // }

        function setSessionId(){
            const url = "/api/user/getSessionUserId";
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                myId = response.data.userId;
            })
        }

        function productWish(){

            if(myId==null){
                if(confirm("로그인이 필요한 서비스 입니다. 로그인 페이지로 이동하시겠습니까?")){
                    location.href="/user/login";
                }
                return;
            }

            const productWish = {
                user_id: myId,
                product_id: product_id
            }

            const url = `/api/store/productWish`
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(productWish)
            })
            .then(response => response.json())
            .then((response) => {
                const heart = document.getElementById("heart")
                const productWishCount = document.getElementById("productWishCount")

                const productWishData = response.data.productWishData;
                if(productWishData.isWishlisted){
                    heart.classList.add("fill-on")
                    heart.classList.add("lightFont")
                }else{
                    heart.classList.remove("fill-on")
                    heart.classList.remove("lightFont")
                }

                productWishCount.innerText = productWishData.productWishCount;
            })
        }

        function setOptionData(){
            const url = `/api/store/getOptionDataList?product_id=${product_id}`
            fetch(url)
            .then(response => response.json())
            .then(response => {

                const optionDataList = response.data.optionDataList;

                //옵션이 없을 때
                if(optionDataList.length == 0){
                    const optionQuantityRow = document.querySelector("#template .optionQuantityRow").cloneNode(true);

                    const salePrice = document.getElementById("salePrice").innerText
                    
                    optionQuantityRow.querySelector(".optionPrice").innerText = salePrice
                    optionQuantityRow.querySelector(".inputOptionPrice").value = salePrice.replace(/,/g, '');

                    const getQuantityUrl = `/api/store/getStockQuantityByProudctId?id=${product_id}`
                    fetch(getQuantityUrl)
                    .then(response => response.json())
                    .then(response => {
                        optionQuantityRow.querySelector(".inputOptionStockQuantity").value = response.data.stock_quantity;

                        document.getElementById("selectedOptionContainer").appendChild(optionQuantityRow)      
                    })

                    return;
                }

                //옵션이 있을 때
                const optionContainer = document.getElementById("optionContainer");
                optionContainer.innerHTML="";

                let index = 0;//몇번째 옵션인가
                for(optionData of optionDataList){
                    const optionSelectRow = document.querySelector("#template .optionSelectRow").cloneNode(true);

                    const optionSelectBox = optionSelectRow.querySelector(".optionSelectBox");
                    optionSelectBox.setAttribute("data-index", index);//몇번째 옵션인가

                    optionSelectBox.querySelector(".optionName").innerText = optionData.productOptionNameDto.name;

                    for(productOptionValueDto of optionData.productOptionValueDtoList){
                        const optionValue = document.querySelector("#template .optionValue").cloneNode(true)
                        optionValue.innerText = productOptionValueDto.name;
                        optionValue.value = productOptionValueDto.id;

                        optionSelectBox.appendChild(optionValue);
                    }

                    //첫번째 옵션명부터 선택 가능
                    if(index == 0){
                        optionSelectBox.disabled = false;
                    } else {
                        optionSelectBox.disabled = true;
                    }

                    //마지막 옵션명임을 알리는 아이디 설정
                    if(index == optionDataList.length-1){
                        optionSelectBox.setAttribute("id", "lastSelectOption");
                    }

                    optionContainer.appendChild(optionSelectRow);

                    index++;
                }
                
                //옵션이 하나일 때
                if(optionDataList.length == 1){
                    const url = `/api/store/getAdditionalInfo?product_id=${product_id}&currentIndex=0&value_ids=`
                    fetch(url)
                    .then(response => response.json())
                    .then((response) => {
                        const additionalInfoDataList = response.data.additionalInfoDataList;
                        for(additionalInfoData of additionalInfoDataList){
                            const lastSelectOption = document.getElementById("lastSelectOption");
                            const optionValues = lastSelectOption.querySelectorAll(".optionValue");

                            for(optionValue of optionValues){
                                //품절처리
                                if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.stock_quantity==0){
                                    optionValue.disabled = true;
                                    if(additionalInfoData.additionalInfoDto.additional_price!=0){
                                        optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(+${additionalInfoData.additionalInfoDto.additional_price})(품절)`
                                    }else if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.additionalInfoDto.additional_price==0){
                                        optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(품절)`
                                    }
                                }else if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.stock_quantity!=0){
                                    optionValue.disabled = false;
                                    //추가정보를 가져 온 옵션값Dto의 id가 마지막 셀렉박스의 옵션값의 id와 일치하고, 추가금 정보가 0원이 아닐 때
                                    //추가금 정보를 출력
                                    if(additionalInfoData.additionalInfoDto.additional_price!=0){
                                        optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(+${additionalInfoData.additionalInfoDto.additional_price})`
                                    }
                                }
                            }

                            lastSelectOption.disabled = false;

                        }
                    })
                }
            })
        }



        function setSelectedOption(currentOptionSelectBox){
            const currentIndex = parseInt(currentOptionSelectBox.dataset.index, 10);//현재 선택한 옵션이 몇번째 옵션인가
            const optionSelectBoxes = document.querySelectorAll("#optionContainer .optionSelectBox");

            // 선택할 옵션이 두개 이상 남은 경우 다음 옵션 활성화 후 return
            if (currentIndex < optionSelectBoxes.length - 2) { 
                for(optionSelectBox of optionSelectBoxes){
                    const selectbox_index = parseInt(optionSelectBox.dataset.index, 10)
                    if(selectbox_index==currentIndex+1){
                        optionSelectBox.disabled = false;
                        return;
                    }
                }
                return;
            }

            // 마지막 옵션일 경우
            if(currentIndex == optionSelectBoxes.length-1){

                const selectedOptionContainer = document.getElementById("selectedOptionContainer");
                const selectedOptionRow = document.querySelector("#template .selectedOptionRow").cloneNode(true)

                const selectedValues = Array.from(optionSelectBoxes)
                    .filter(optionSelectBox => {
                        const selectedOption = optionSelectBox.options[optionSelectBox.selectedIndex];
                        return selectedOption && !selectedOption.disabled;
                    })
                    .map(optionSelectBox => optionSelectBox.options[optionSelectBox.selectedIndex].value);

                const value_ids = selectedValues.join(",");//선택된 옵션값의 id들

                //이미 선택된 옵션인가?
                const selectedOptionRows = document.querySelectorAll("#selectedOptionContainer .selectedOptionRow")
                for(row of selectedOptionRows){
                    const selectedOptionValueIds = row.querySelectorAll(".selectedOptionValueId");
                    const ids = Array.from(selectedOptionValueIds).map(selectedOptionValueId => selectedOptionValueId.value);
                    const valueIds = ids.join(",");

                    if (valueIds == value_ids) {
                        const alreadySelectedOptionToast = bootstrap.Toast.getOrCreateInstance(document.getElementById("alreadySelectedOptionToast"))
                        alreadySelectedOptionToast.show();
                        setTimeout(() => {
                            alreadySelectedOptionToast.hide();
                        }, 3000);
                        setOptionData();
                        return;
                    }
                }

                const optionPrice = selectedOptionRow.querySelector(".optionPrice")
                const inputOptionPrice = selectedOptionRow.querySelector(".inputOptionPrice");
                const inputOptionStockQuantity = selectedOptionRow.querySelector(".inputOptionStockQuantity");

                const url = `/api/store/getAdditionalInfoData?value_ids=${value_ids}`
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const additionalInfoData = response.data.additionalInfoData;
                    const additional_price = additionalInfoData.additionalInfoDto.additional_price;//추가금
                    const salePrice = document.getElementById("salePrice").innerText.replace(/,/g, '');//판매가

                    optionPrice.innerText = formatNumberToPrice(parseInt(additional_price, 10)+parseInt(salePrice, 10))//아마 이게 출력용
                    inputOptionPrice.value = parseInt(additional_price, 10)+parseInt(salePrice, 10)//이건 그냥 계산 빨리하려고 넣은 것 같은데 replace왜 안 썼는지 모를..
                    inputOptionStockQuantity.value = additionalInfoData.stock_quantity;
                })

                for(optionSelectBox of optionSelectBoxes){
                    const selectedOptionValue = document.querySelector("#template .selectedOptionValue").cloneNode(true)
                    const selectedOptionValueId = document.querySelector("#template .selectedOptionValueId").cloneNode(true)

                    const selectedOption = optionSelectBox.options[optionSelectBox.selectedIndex];//각 selectBox마다 선택된 옵션값
                    selectedOptionValue.innerText = selectedOption.innerText;//선택된 옵션값의 내용
                    selectedOptionValueId.value = selectedOption.value;//선택된 옵션값의 value(id)

                    const selectedOptionValueCol = selectedOptionRow.querySelector(".selectedOptionValueCol");
                    
                    selectedOptionValueCol.appendChild(selectedOptionValue);
                    selectedOptionValueCol.appendChild(selectedOptionValueId);
                }

                selectedOptionContainer.appendChild(selectedOptionRow);
                
                setOptionData();

                return;
            }

            // 마지막 옵션만 남았을 경우
            const selectedValues = Array.from(optionSelectBoxes)
                .filter(optionSelectBox => {
                    const selectedOption = optionSelectBox.options[optionSelectBox.selectedIndex];
                    return selectedOption && !selectedOption.disabled;
                })
                .map(optionSelectBox => optionSelectBox.options[optionSelectBox.selectedIndex].value);

            const value_ids = selectedValues.join(",");//선택된 옵션값 아이디들

            const url = `/api/store/getAdditionalInfo?product_id=${product_id}&currentIndex=${currentIndex}&value_ids=${value_ids}`
            fetch(url)
            .then(response => response.json())
            .then((response) => {
                const additionalInfoDataList = response.data.additionalInfoDataList;
                for(additionalInfoData of additionalInfoDataList){
                    const lastSelectOption = document.getElementById("lastSelectOption");
                    const optionValues = lastSelectOption.querySelectorAll(".optionValue");//마지막 셀렉박스의 옵션들

                    for(optionValue of optionValues){

                        //품절처리
                        if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.stock_quantity==0){
                            optionValue.disabled = true;
                            if(additionalInfoData.additionalInfoDto.additional_price!=0){
                                optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(+${additionalInfoData.additionalInfoDto.additional_price})(품절)`
                            }else if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.additionalInfoDto.additional_price==0){
                                optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(품절)`
                            }
                        }else if(additionalInfoData.productOptionValueDto.id == optionValue.value && additionalInfoData.stock_quantity!=0){
                            optionValue.disabled = false;
                            //추가정보를 가져 온 옵션값Dto의 id가 마지막 셀렉박스의 옵션값의 id와 일치하고, 추가금 정보가 0원이 아닐 때
                            //추가금 정보를 출력
                            if(additionalInfoData.additionalInfoDto.additional_price!=0){
                                optionValue.innerText=`${additionalInfoData.productOptionValueDto.name}(+${additionalInfoData.additionalInfoDto.additional_price})`
                            }
                        }
                    }

                    lastSelectOption.disabled = false;
                }
            })

        }

        function decreaseOptionQuantity(decreaseButton){
            const optionQuantityRow = decreaseButton.closest(".optionQuantityRow")
            const inputQuantity = optionQuantityRow.querySelector(".inputQuantity");
            const optionPrice = optionQuantityRow.querySelector(".optionPrice");
            const inputOptionPrice = optionQuantityRow.querySelector(".inputOptionPrice");

            if(inputQuantity.value == 1){
                return;
            }else{
                inputQuantity.value = parseInt(inputQuantity.value, 10) - 1
            }

            optionPrice.innerText = formatNumberToPrice(parseInt(inputOptionPrice.value, 10) * parseInt(inputQuantity.value, 10))
        }

        function increaseOptionQuantity(increaseButton){
            const optionQuantityRow = increaseButton.closest(".optionQuantityRow")
            const inputQuantity = optionQuantityRow.querySelector(".inputQuantity");
            const optionPrice = optionQuantityRow.querySelector(".optionPrice");
            const inputOptionPrice = optionQuantityRow.querySelector(".inputOptionPrice");
            const inputOptionStockQuantity = optionQuantityRow.querySelector(".inputOptionStockQuantity");

            const newInputQuantity = parseInt(inputQuantity.value, 10) + 1

            if(newInputQuantity>inputOptionStockQuantity.value){
                alert("해당 옵션 상품의 재고가 부족합니다.")
                return;
            }

            inputQuantity.value = newInputQuantity
            optionPrice.innerText = formatNumberToPrice(parseInt(inputOptionPrice.value, 10) * parseInt(inputQuantity.value, 10))
            //그 머더라 막아야지 수량
        }

        function deleteOption(deleteOptionButton){
            const selectedOptionRow = deleteOptionButton.closest(".selectedOptionRow")
            selectedOptionRow.parentNode.removeChild(selectedOptionRow);
        }


        //addToCart
        async function addToCart(){
            if(myId==null){
                if(confirm("로그인 후 이용 가능합니다. 로그인 페이지로 이동하시겠습니까?")){
                    location.href="/user/login";
                }
                return;
            }

            const selectedOptionRows = document.querySelectorAll('#selectedOptionContainer .selectedOptionRow');

            const optionQuantityRow = document.querySelector('#selectedOptionContainer .optionQuantityRow');
            if(optionQuantityRow==null){
                alert("상품 옵션을 선택해주세요");
                return;
            }

            //옵션이 없는 상품일 때
            if(selectedOptionRows.length==0){
                const quantity = optionQuantityRow.querySelector('.inputQuantity').value;
                const price = optionQuantityRow.querySelector('.inputOptionPrice').value;

                const url = `/api/store/addToCart?quantity=${quantity}&product_id=${product_id}&value_ids=0&user_id=${myId}`;
                await fetch(url);

                const offcanvasBottom = bootstrap.Offcanvas.getOrCreateInstance("#offcanvasBottom")
                offcanvasBottom.hide();

                const toast = bootstrap.Toast.getOrCreateInstance(document.getElementById("toast"));
                toast.show();
                setTimeout(() => {
                    toast.hide();
                }, 3000);
                return;
            }

            for (const selectedOptionRow of selectedOptionRows) {
                const quantity = selectedOptionRow.querySelector('.inputQuantity').value;
                const price = selectedOptionRow.querySelector('.inputOptionPrice').value;
                
                const selectedOptionValueIds = selectedOptionRow.querySelectorAll('.selectedOptionValueId');

                const valueIds = Array.from(selectedOptionValueIds).map(option => parseInt(option.value, 10));

                const value_ids = valueIds.join(",");

                const url = `/api/store/addToCart?quantity=${quantity}&product_id=${product_id}&value_ids=${value_ids}&user_id=${myId}`;
                await fetch(url);
            }

            const offcanvasBottom = bootstrap.Offcanvas.getOrCreateInstance("#offcanvasBottom")
            offcanvasBottom.hide();

            const toast = bootstrap.Toast.getOrCreateInstance(document.getElementById("toast"));
            toast.show();
            setTimeout(() => {
                toast.hide();
            }, 3000);
            
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>