<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <style>
            .seller_profile img{
                aspect-ratio: 1/1;
                width: 100px;
                object-fit: cover;
                object-position: center;
            }
            .scrollable {
                /* height: 100vh; */
                height: calc(100vh - 58px);
                overflow-y: auto;
                position: fixed;
            }
            .category{
                transition: background-color 0.3s;
            }
            .category:hover{
                background-color: #263445;
            }
            .subcategory {
                background-color: #1F2D3D;
                transition: background-color 0.3s;
            }
            .subcategory:hover{
                background-color: #001528;
            }
            .bi-chevron-down, .bi-chevron-up{
                color: #8F9399;
            }
            a{
                text-decoration: none;
            }
            .product-category a{
                color: black;
            }
            .left a{
                color: #F4F4F5;
            }
            .store-center{
                background-color: #1F2D3D;
            }
            .f08{
                font-size: 0.8em;
            }
            .f09{
                font-size: 0.9em;
            }
            .top-nav{
                height: 58px;
            }
            .left{
                width: 15vw;
            }
            .right{
                padding-left: 15vw;
            }
        </style>
    </head>
    <body>

        <div class="row fixed-top align-items-center py-2 px-3 store-center top-nav">
            <div class="col fs-3 text-white">
                <span class="fw-bold">BaseCamp</span> Store Center
            </div>
            <div class="col fs-5 text-end">
                <span class="fw-bold text-white">
                    Sacabambaspis
                </span>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-light btn-sm fw-bold">로그아웃</button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col border-end scrollable left" style="color: #F4F4F5; margin-top: 58px; background-color: #304156;">
                    
                    <div class="row py-4">
                        <div class="col">
                            <div class="row">
                                <div class="col seller_profile text-center">
                                    <img src="https://img1.newsis.com/2023/07/12/NISI20230712_0001313626_web.jpg" class="rounded-circle">
                                </div>
                            </div>
                            <div class="row text-center pt-2 fw-bold">
                                <div class="col">
                                    사카밤바스피스
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="dashboard.html" type="button" class="py-3 fw-bold">
                                Dashboard
                            </a>
                        </div>
                    </div>
                    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#first-collapse">
                        <div class="col pe-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed fw-bold">
                                상품관리
                            </button>
                        </div>
                        <div class="col-auto ps-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed">
                                <i class="bi bi-chevron-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse show p-0" id="first-collapse">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                상품조회/수정
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory text-primary" href="productRegister.html" id="productRegister">
                                상품등록
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                배송정보 관리
                            </a>
                        </div>
                    </div>

                    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#second-collapse">
                        <div class="col pe-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed fw-bold">
                                판매관리
                            </button>
                        </div>
                        <div class="col-auto ps-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="second-collapse">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                주문 통합 검색
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                발송관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                취소관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                반품관리
                            </a>
                        </div>
                    </div>

                    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#third-collapse">
                        <div class="col pe-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed fw-bold">
                                문의/리뷰 관리
                            </button>
                        </div>
                        <div class="col-auto ps-0 d-grid fs-5">
                            <button type="button" class="py-3 accordion-button collapsed">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="third-collapse">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="http://www.naver.com">
                                문의관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="https://getbootstrap.com/">
                                리뷰관리
                            </a>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                정산관리
                            </a>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                통계
                            </a>
                        </div>
                    </div>

                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                스토어관리
                            </a>
                        </div>
                    </div>
                    
                    <div class="row category">
                        <div class="col pe-0 d-grid">
                            <a href="" type="button" class="py-3 fw-bold">
                                판매자정보
                            </a>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col">
                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-tertiary">
                                        <div class="col">
                                            금융 서비스 바로가기
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            선정산 서비스 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-tertiary">
                                        <div class="col">
                                            판매 지원 프로그램
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            파트너센터 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-tertiary">
                                        <div class="col">
                                            판매 지원 프로그램
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            판매 가이드 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            온라인 교육 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col">
                                            해외직구/판매 안내 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row pb-5">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    도움이 필요하신가요?
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col d-grid">
                                    <button class="btn btn-outline-light py-2">
                                        <i class="fa-solid fa-headset"></i> 고객센터 바로가기
                                    </button>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col d-grid">
                                    <button class="btn btn-outline-light py-2">
                                        카테고리 담당자 찾기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- right -->
                <div class="col bg-body-secondary right" style="padding-top: 58px;">
                    <div class="row py-3 px-4">
                        <div class="col fs-3 fw-bold">
                            상품 등록
                        </div>
                    </div>
                    
                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    상품 카테고리
                                </div>
                            </div>
                            <div class="row py-3 px-3">
                                <div class="col-2">
                                    선택
                                </div>
                                <div class="col">
                                    <div class="row pb-3 product-category">
                                        <div class="col-2 border overflow-y-auto" style="height: 10em;">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        대분류
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 border overflow-y-auto" style="height: 10em;">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="">
                                                        소분류
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-auto px-0 f09">
                                            선택한 카테고리 :
                                        </div>
                                        <div class="col-auto pe-0 fw-bold">
                                            대분류
                                        </div>
                                        <div class="col-auto pe-0 fw-bold">
                                            <i class="bi bi-chevron-right"></i>
                                        </div>
                                        <div class="col fw-bold">
                                            소분류
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    기본 정보
                                </div>
                            </div>
                            <div class="row py-3 align-items-center">
                                <div class="col-2">
                                    상품명
                                </div>
                                <div class="col d-grid">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    판매가
                                </div>
                            </div>
                            <div class="row pt-3 align-items-center">
                                <div class="col">
                                    <div class="row pb-3 align-items-center">
                                        <div class="col-2">
                                            판매가
                                        </div>
                                        <div class="col-3 d-grid">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col">
                                            원
                                        </div>
                                    </div>
                                    <div class="row pb-3 align-items-center">
                                        <div class="col-2">
                                            할인
                                        </div>
                                        <div class="col-2 px-4">
                                            <div class="row border">
                                                <div class="col p-0 d-grid text-center border-end">
                                                    <button class="py-2 border-0 bg-body-tertiary">
                                                        설정함
                                                    </button>
                                                </div>
                                                <div class="col p-0 d-grid text-center">
                                                    <button class="py-2 bg-white border-0">
                                                        설정안함
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row py-3 border-top">
                                        <div class="col">
                                            <div class="row pb-3 align-items-center">
                                                <div class="col-2">
                                                    할인 설정
                                                </div>
                                                <div class="col-3 d-grid">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col">
                                                    %
                                                </div>
                                            </div>
                                            <div class="row pb-3 align-items-center">
                                                <div class="col-2"></div>
                                                <div class="col-auto pe-0">
                                                    <input type="checkbox" class="form-check-input" checked>
                                                </div>
                                                <div class="col f08">
                                                    특정 기간만 할인
                                                </div>
                                            </div>
                                            <div class="row pb-3 align-items-center">
                                                <div class="col-2"></div>
                                                <div class="col-2">
                                                    <input type="date" class="form-control">
                                                </div>
                                                <div class="col-auto">
                                                    ~
                                                </div>
                                                <div class="col-2">
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row px-3">
                                                <div class="col-2"></div>
                                                <div class="col py-3 ps-0 border-top fw-bold">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <span class="f08">최종 판매가</span>
                                                        </div>
                                                        <div class="col fw-bold text-primary">
                                                            <span class="fs-5">50,000</span><span> 원</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    옵션
                                </div>
                            </div>
                            <div class="row pt-3 align-items-center">
                                <div class="col">
                                    <div class="row pb-3 align-items-center">
                                        <div class="col-2">
                                            옵션
                                        </div>
                                        <div class="col-2 px-4">
                                            <div class="row border">
                                                <div class="col p-0 d-grid text-center border-end">
                                                    <button class="py-2 border-0 bg-body-tertiary">
                                                        설정함
                                                    </button>
                                                </div>
                                                <div class="col p-0 d-grid text-center">
                                                    <button class="py-2 bg-white border-0">
                                                        설정안함
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row py-3 border-top">
                                        <div class="col">
                                            <div class="row pb-3 align-items-center">
                                                <div class="col f08">
                                                    옵션 입력
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    재고수량
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col">
                                    <div class="row pb-3 align-items-center">
                                        <div class="col-2">
                                            재고수량
                                        </div>
                                        <div class="col-3 d-grid">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col">
                                            개
                                        </div>                                                
                                    </div>
                                    <div class="row f09 ">
                                        <div class="col-2"></div>
                                        <div class="col">
                                            <i class="fa-solid fa-circle-info"></i> 옵션 재고수량을 설정하면, 옵션의 재고수량으로 자동 적용됩니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    이미지 등록
                                </div>
                            </div>
                            <div class="row py-3 align-items-center border-bottom">
                                <div class="col-2">
                                    대표 이미지
                                </div>
                                <div class="col seller_profile">
                                    <img src="https://img1.newsis.com/2023/07/12/NISI20230712_0001313626_web.jpg">
                                </div>
                            </div>
                            <div class="row py-3 align-items-center">
                                <div class="col-2">
                                    상세 이미지
                                </div>
                                <div class="col seller_profile">
                                    <img src="https://img1.newsis.com/2023/07/12/NISI20230712_0001313626_web.jpg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border bg-white rounded-2">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    상세 설명
                                </div>
                            </div>
                            <div class="row py-3 align-items-center">
                                <div class="col d-grid">
                                    <input type="text" class="form-control" value="이거 어떤식으로 할지 고민중">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col-2 d-grid">
                            <button class="btn bg-white border py-2">
                                취소하기
                            </button>
                        </div>
                        <div class="col"></div>
                        <div class="col-2 d-grid">
                            <button class="btn btn-secondary border py-2">
                                미리보기
                            </button>
                        </div>
                        <div class="col-2 d-grid">
                            <button class="btn btn-primary border py-2">
                                등록하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            document.querySelectorAll('.toggle-icon').forEach(button => {
                button.addEventListener('click', function () {
                    const icon = this.querySelector('.bi');
                    if (icon) {
                        icon.classList.toggle('bi-chevron-down');
                        icon.classList.toggle('bi-chevron-up');
                    }
                });
            });

            // function openCollapse(){
            //     const a = new bootstrap.Collapse('#first-collapse', {
            //         toggle: false
            //     })
            //     document.getElementById("productRegister").classList.add("text-primary");
            //     a.show();
            // }

            // window.addEventListener("DOMContentLoaded", ()=> {
            //     openCollapse();
            // })
        </script>
    </body>
</html>
