<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/common.css">

        <style>
            .seller_profile img{
                aspect-ratio: 1/1;
                width: 100px;
                object-fit: cover;
                object-position: center;
            }
            .scrollable {
                /* height: 100vh; */
                height: calc(100vh - 58px);
                overflow-y: auto;
                position: fixed;
            }
            .category{
                transition: background-color 0.3s;
            }
            .category:hover{
                background-color: #263445;
            }
            .subcategory {
                background-color: #1F2D3D;
                transition: background-color 0.3s;
            }
            .subcategory:hover{
                background-color: #001528;
            }
            .bi-chevron-down, .bi-chevron-up{
                color: #8F9399;
            }
            a{
                text-decoration: none;
            }
            .product-category a{
                color: black;
            }
            .left a{
                color: #F4F4F5;
            }
            .store-center{
                background-color: #1F2D3D;
            }
            .f08{
                font-size: 0.8em;
            }
            .f09{
                font-size: 0.9em;
            }
            .top-nav{
                height: 58px;
            }
            .left{
                width: 15vw;
            }
            .right{
                padding-left: 15vw;
            }
        </style>
    </head>
    <body class="bg-body-tertiary">
        <div class="container">
            <div class="row py-5">
                <div class="col"></div>
                <form action="/storeCenter/registerComplete" class="col-7">
                    <div class="row">
                        <div class="col-auto pe-0 fw-bold">
                            BaseCamp 
                        </div>
                    </div>
                    <div class="row pb-4" style="align-items: baseline;">
                        <div class="col pe-0 fs-2">
                            판매 회원가입
                        </div>
                        <!-- <div class="col text-body-tertiary">
                            가입하기
                        </div> -->
                        <div class="col-auto text-body-tertiary fw-bold">
                            1 판매자 유형 선택
                        </div>
                        <div class="col-auto text-primary fw-bold">
                            <span class="border-top border-2 border-primary">2 정보 입력</span>
                        </div>
                        <div class="col-auto text-body-tertiary fw-bold">
                            3 가입 신청 완료
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col px-4 border bg-white">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    회원정보 입력
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            아이디
                                        </div>
                                        <div class="col position-ralative">
                                            <input onblur="checkSellerAccountID()" id="inputId" name="account_id" type="text" class="form-control" placeholder="로그인 아이디">
                                            <div id="confirmResult" class="position-absolute f08 text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            비밀번호
                                        </div>
                                        <div class="col">
                                            <input id="inputPw" name="account_pw" type="password" class="form-control" placeholder="비밀번호">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            비밀번호 확인
                                        </div>
                                        <div class="col">
                                            <input onkeyup="checkAccountPwConfirm()" id="inputPwConfirm" type="password" class="form-control" placeholder="비밀번호 확인">
                                            <div id="confirmAccountPw" class="position-absolute f08 text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            이름
                                        </div>
                                        <div class="col">
                                            <input type="text" id="inputSeller" name="seller" class="form-control" placeholder="이름">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            전화번호
                                        </div>
                                        <div class="col">
                                            <input type="text" id="inputPhone" name="phone" class="form-control" placeholder="전화번호">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            이메일
                                        </div>
                                        <div class="col">
                                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="이메일">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-4">
                        <div class="col px-4 border bg-white">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    스토어정보 입력
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            스토어명
                                        </div>
                                        <div class="col position-ralative">
                                            <input onblur="checkStoreName()" type="text" id="inputName" name="name" class="form-control" placeholder="스토어명">
                                            <div id="confirmStoreName" class="position-absolute f08 text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            사업자 등록번호
                                        </div>
                                        <div class="col">
                                            <input type="text" id="inputCRN" name="crn" class="form-control" placeholder="사업자 등록번호">
                                        </div>
                                    </div>

                                    <div class="row pb-4 align-items-center">
                                        <div class="col">
                                            <div class="row pb-2 align-items-center">
                                                <div class="col-3">
                                                    주소
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" name="postcode" class="form-control bg-white" disabled id="sample6_postcode" placeholder="우편번호">
                                                </div>
                                                <div class="col-auto">
                                                    <input type="button" class="form-control" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                                                </div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="address" class="form-control bg-white" disabled id="sample6_address" placeholder="주소">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="detail_address" class="form-control" id="sample6_detailAddress" placeholder="상세주소">
                                                </div>
                                                <!-- <div class="col">
                                                    <input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목">
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <div class="row pb-2">
                                                <div class="col-3">
                                                    스토어 url
                                                </div>
                                                <div class="col">
                                                    https://www.basecamp.com/
                                                </div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="이거 그냥 뺄까? 어차피 안될텐데">
                                                </div>
                                            </div>
                                            <div class="row pb-4">
                                                <div class="col-3"></div>
                                                <div class="col f08 text-secondary">
                                                    https://www.basecamp.com/ 뒤에 사용할 스토어 고유의 주소이며, 가입 후 수정이 불가능합니다.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     -->
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            소개글
                                        </div>
                                        <div class="col input-group">
                                            <input onkeyup="checkDescriptionLength()" id="inputDescription" name="description" type="text" class="form-control" placeholder="50자 이내로 작성">
                                            <span class="input-group-text bg-white" id="descriptionCount">0/50</span>
                                            <!-- <textarea class="form-control" id=""></textarea> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row pb-3">
                        <div class="col px-4 border bg-white">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    배송 · 정산정보 입력
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    
                                    <div class="row pb-4 align-items-center">
                                        <div class="col">
                                            <div class="row pb-2 align-items-center">
                                                <div class="col-3">
                                                    상품 출고지
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" name="origin_postcode" class="form-control bg-white" disabled id="origin_postcode" placeholder="우편번호">
                                                </div>
                                                <div class="col-auto">
                                                    <input type="button" class="form-control" onclick="origin_execDaumPostcode()" value="우편번호 찾기">
                                                </div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="origin_address" class="form-control bg-white" disabled id="origin_address" placeholder="주소">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="detail_origin_address" class="form-control" id="origin_detailAddress" placeholder="상세주소">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pb-4 align-items-center">
                                        <div class="col">
                                            <div class="row pb-2 align-items-center">
                                                <div class="col-3">
                                                    반품/교환지
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" name="return_postcode" class="form-control bg-white" disabled id="return_postcode" placeholder="우편번호">
                                                </div>
                                                <div class="col-auto">
                                                    <input type="button" class="form-control" onclick="return_execDaumPostcode()" value="우편번호 찾기">
                                                </div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="return_address" class="form-control bg-white" disabled id="return_address" placeholder="주소">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="detail_return_address" class="form-control" id="return_detailAddress" placeholder="상세주소">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pb-4 align-items-center">
                                        <div class="col">
                                            <div class="row pb-2 align-items-center">
                                                <div class="col-3">
                                                    정산 계좌
                                                </div>
                                                <div class="col pe-0">
                                                    <select class="form-control" name="category_id">
                                                        <option>
                                                            은행선택
                                                        </option>
                                                        <option>
                                                            국민은행
                                                        </option>
                                                        <option>
                                                            기업은행
                                                        </option>
                                                        <option>
                                                            농협
                                                        </option>
                                                        <option>
                                                            신한은행
                                                        </option>
                                                        <option>
                                                            우리은행
                                                        </option>
                                                        <option>
                                                            SC제일은행
                                                        </option>
                                                        <option>
                                                            KEB하나은행
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col"></div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col pe-0">
                                                    <input type="text" class="form-control" placeholder="예금주명">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="계좌번호 (-없이 입력)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-5">
                        <div class="col"></div>
                        <div class="col-3 pe-0 d-grid">
                            <a href="/storeCenter/login" class="btn border bg-white py-2 rounded-0">
                                처음으로
                            </a>
                        </div>
                        <div class="col-3 pe-0 d-grid">
                            <input onclick="formSubmit()" type="button" value="가입신청완료" class="btn btn-primary py-2 rounded-0">
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
                <div class="col"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function formSubmit(){
                const inputId = document.getElementById("inputId");
                const confirmResult = document.getElementById("confirmResult");
                if(inputId.value == '' || confirmResult.innerText=="이미 사용중인 아이디입니다") {
                    inputId.focus();
                    return;
                }
                

                const inputPw = document.getElementById("inputPw");
                if(inputPw.value == '') {
                    inputPw.focus();
                    return;
                }

                const inputPwConfirm = document.getElementById("inputPwConfirm");
                const confirmAccountPw = document.getElementById("confirmAccountPw");
                if(inputPw.value != inputPwConfirm.value){
                    confirmAccountPw.innerText = "비밀번호와 일치하지 않습니다";
                    inputPwConfirm.focus();
                    return;
                }

                const inputSeller = document.getElementById("inputSeller");
                if(inputSeller.value == '') {
                    inputSeller.focus();
                    return;
                }
                
                const inputPhone = document.getElementById("inputPhone");
                if(inputPhone.value == '') {
                    inputPhone.focus();
                    return;
                }

                const inputEmail = document.getElementById("inputEmail");
                if(inputEmail.value == '') {
                    inputEmail.focus();
                    return;
                }

                const inputCRN = document.getElementById("inputCRN");
                if(inputCRN.value == '') {
                    inputCRN.focus();
                    return;
                }

                const inputName = document.getElementById("inputName");
                const confirmStoreName = document.getElementById("confirmStoreName");
                if(inputName.value == '' || confirmStoreName.innerText=="이미 사용중인 스토어명입니다"){
                    inputName.focus();
                    return;
                }

                const inputPostCode = document.getElementById("inputPostCode");
                const inputAddress = document.getElementById("inputAddress");
                const inputDetailAddress = document.getElementById("inputDetailAddress");
                if(inputPostCode.value == '' || inputAddress.value == ''){
                    inputDetailAddress.focus();
                }
            }

            function checkSellerAccountID(){
                const inputId = document.getElementById("inputId");

                const url = "/api/store/isExistStoreAccountId?account_id=" + inputId.value;
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const confirmResult = document.getElementById("confirmResult");

                    if(response.data.isExistAccountID == true){
                        // confirmResult.style.color = "red";
                        confirmResult.innerText = "이미 사용중인 아이디입니다";
                    }else{
                        confirmResult.innerText = "";
                    }
                })
            }

            function checkAccountPwConfirm(){
                const inputPw = document.getElementById("inputPw");
                const inputPwConfirm = document.getElementById("inputPwConfirm");
                
                const confirmAccountPw = document.getElementById("confirmAccountPw");

                if(inputPw.value == inputPwConfirm.value){
                    confirmAccountPw.innerText = "";
                }else{
                    confirmAccountPw.innerText = "비밀번호와 일치하지 않습니다";
                }
            }

            function checkStoreName(){
                const inputName = document.getElementById("inputName");

                const url = "/api/store/isExistStoreName?name=" + inputName.value;
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const confirmStoreName = document.getElementById("confirmStoreName");

                    if(response.data.isExistName == true){
                        // confirmStoreName.style.color = "red";
                        confirmStoreName.innerText = "이미 사용중인 스토어명입니다";
                    }else{
                        confirmStoreName.innerText = "";
                    }
                })
            }

            function checkDescriptionLength() {
                const inputDescription = document.getElementById("inputDescription");
                const descriptionCount = document.getElementById("descriptionCount");
                const currentLength = inputDescription.value.length;
                
                if (currentLength > 50) {
                    inputDescription.value = inputDescription.value.substring(0, 50);
                    currentLength = 50;
                }
                
                descriptionCount.textContent = currentLength + "/50";
            }

            function origin_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {

                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }

                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }

                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('origin_postcode').value = data.zonecode;
                        document.getElementById("origin_address").value = addr+extraAddr;

                        document.getElementById("origin_detailAddress").focus();
                    }
                }).open();
            }

            function return_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {

                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }

                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }

                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('return_postcode').value = data.zonecode;
                        document.getElementById("return_address").value = addr+extraAddr;

                        document.getElementById("return_detailAddress").focus();
                    }
                }).open();
            }

            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            // document.getElementById("sample6_extraAddress").value = extraAddr;
                        
                        // } else {
                        //     document.getElementById("sample6_extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr+extraAddr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress").focus();
                    }
                }).open();
            }
        </script>
    </body>
</html>