<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!-- partner 오른쪽  본문 css -->
    <link href="/public/css/campingcar/right-content.css" rel="stylesheet">
    <link href="/public/css/common.css" rel="stylesheet">
    <link href="/public/css/basecamp.css" rel="stylesheet">
    <!-- 이미지 js -->
    <script src="/public/js/util.js"></script>
</head>
<body>
    <div th:replace="~{partner/carNavi::topNavi}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{partner/carNavi::leftNavi}"></div>
            <!-- right 템플릿 -->
            <div class="col right bg-body-secondary" style="padding-top: 55px;">
                <div class="row py-3 px-4 d-flex align-items-center bg-white">
                    <div class="col-0"></div>
                    <div class="col fs-6 fw-semibold">
                        차량 현황/수정
                    </div>
                </div>
                <!-- 본문내용(templets) -->
                <div class="row px-4 pt-1" th:if="${session.sessionCaravanInfo != null}">
                    <div class="col">
                        <!-- 탭 메뉴 -->
                        <ul class="nav nav-underline mb-4 border-bottom border-2">
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" href="#all" data-bs-toggle="tab">전체</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#selling" data-bs-toggle="tab">품절</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#hidden" data-bs-toggle="tab">숨김</a>
                            </li>
                        </ul>
                    
                        <!-- 검색 필드 -->
                        <div class="input-group mb-4">
                            <input type="text" class="form-control border-bottom border-light" placeholder="검색하세요">                            
                            <button class="btn bg-white btn-sm text-secondary" type="button">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                        </div>
                    
                        <!-- 탭 내용 -->
                        <div class="card">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="all">
                                    <!-- 테이블 1: 전체 -->
                                    <div class="row">
                                        <div class="col new-fs-85">
                                            <!-- 테이블 헤더 -->
                                            <div class="row mx-0 mb-2 py-2 text-center fw-bold bg-light border-bottom">
                                                <div class="col-1 px-0">No</div> <!-- No 열을 좁게 -->
                                                <div class="col-2">상품명</div> 
                                                <div class="col-1">비수기</div>
                                                <div class="col-1">성수기</div>
                                                <div class="col-1">준성수기</div>
                                                <div class="col-1">할인가</div>
                                                <div class="col-1">지정기간</div>
                                                <div class="col-2">운전조건</div>
                                                <div class="col-1">상태</div> <!-- 상태 열을 좁게 -->
                                                <div class="col-1 ps-4">수정/삭제</div> <!-- 간격 추가 -->
                                            </div>
                
                                            <!-- 동적 데이터 영역 -->
                                            <div id="registeredCampersListBox"></div>
                
                                            <!-- 템플릿 -->
                                            <div id="registeredCampersListTemplete" class="row hidden mb-3 align-items-center" style="display: none;">
                                                <div class="col-1 px-0 text-center rclNumberWrapper"></div> <!-- No 열 -->
                                                <div class="col-2"> <!-- 상품명 컬럼 -->
                                                    <div class="d-flex align-items-center">
                                                        <img class="rcl-main_img me-2" style="width: 4rem; height: 4rem;">
                                                        <div>
                                                            <div class="rcl-carType_cate"></div>
                                                            <div class="rcl-product_name"></div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">
                                                                <div class="rcl-seating_capacity"></div>
                                                                <div class="rcl-sleeping_capacity"></div>
                                                            </div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <span class="material-symbols-outlined rcl-detail_link" style="cursor: pointer;">search</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <div class="rcl-rental_fee_weekdays"></div>
                                                    <div class="rcl-rental_fee_weekend"></div>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <div class="rcl-weekdays_price"></div>
                                                    <div class="rcl-weekend_price"></div>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <div class="rcl-semi_peak_weekdays_price"></div>
                                                    <div class="rcl-semi_peak_weekend_price"></div>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <div class="rcl-saile_weekdays_price"></div>
                                                    <div class="rcl-saile_weekend_price"></div>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <div class="rcl-specifiedPeriod_weekdays"></div>
                                                    <div class="rcl-specifiedPeriod_weekend"></div>
                                                </div>
                                                <div class="col-2 text-center">
                                                    <div>운전면허: <span class="rcl-driver_liecense_condition"></span></div>
                                                    <div>운전자 나이: <span class="rcl-dirver_age_condition"></span></div>
                                                    <div>운전 경력: <span class="rcl-driver_experience_condition"></span></div>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </div>
                                                <div class="col-1 text-center"> <!-- 오른쪽 간격 추가 -->
                                                    <a class="btn btn-bc-outline-dark me-1 btn-sm px-1 light-icon"> <!-- 수정/삭제 버튼 간격 추가 -->
                                                        <span class="material-symbols-outlined d-flex justify-content-center">edit</span>
                                                    </a>
                                                    <a class="btn btn-bc-outline-dark btn-sm px-1 light-icon">
                                                        <span class="material-symbols-outlined d-flex justify-content-center">delete</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/campingcar/partnermain.js"></script>
    <!-- 이미지 upload 공용 js -->
    <script src="/public/js/uploader.js"></script>
    <script>
    window.addEventListener("DOMContentLoaded", () => {
    getRegisteredCampersList();
    });

    function getRegisteredCampersList() {
        const url = "/api/campingcar/campingCarManagement";
        fetch(url)
        .then(response => response.json())
        .then(response => {
            console.log(response);
            const registeredCampersListBox = document.getElementById("registeredCampersListBox");
            registeredCampersListBox.innerHTML = ""; // 기존 내용을 초기화

                    // 데이터 검증 및 처리
            if (response.data.registeredCampersList.length == 0) {
                registeredCampersListBox.innerHTML = "<tr><td colspan='10'>데이터가 없습니다.</td></tr>";
                return;
            }
                const registeredCampersListTemplete = document.querySelector("#registeredCampersListTemplete");

                for (const e of response.data.registeredCampersList) {
                    const newRclWrapper = registeredCampersListTemplete.cloneNode(true);
                    newRclWrapper.classList.remove("hidden"); // 템플릿 줄의 숨김 상태 제거
                    newRclWrapper.style.display = ""; // display 스타일 초기화

                    // 데이터 채우기
                    newRclWrapper.querySelector(".rclNumberWrapper").innerText = e.id;
                    newRclWrapper.querySelector(".rcl-main_img").setAttribute("src", `/images/${e.main_img}`);
                    newRclWrapper.querySelector(".rcl-carType_cate").innerText = e.car_type_name;
                    newRclWrapper.querySelector(".rcl-product_name").innerText = e.product_name;
                    newRclWrapper.querySelector(".rcl-seating_capacity").innerText = `동승인원 ${e.seating_capacity}인승`;
                    newRclWrapper.querySelector(".rcl-sleeping_capacity").innerText = `취침 인원 ${e.sleeping_capacity}인승`;
                    newRclWrapper.querySelector(".rcl-rental_fee_weekdays").innerText = `평일 ${e.rental_fee_weekdays.toLocaleString('ko-KR')}원`;
                    newRclWrapper.querySelector(".rcl-rental_fee_weekend").innerText = `주말 ${e.rental_fee_weekend.toLocaleString('ko-KR')}원`;
                    
                    // 성수기
                    if (e.weekdays_price !== null && e.weekdays_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-weekdays_price").innerText = `평일 ${e.weekdays_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-weekdays_price").innerText = '가격 정보 없음';
                    }
                    if (e.weekend_price !== null && e.weekend_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-weekend_price").innerText = `주말 ${e.weekend_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-weekend_price").innerText = '가격 정보 없음';
                    }
                    
                    // 준성수기
                    if (e.semi_peak_weekdays_price !== null && e.semi_peak_weekdays_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekdays_price").innerText = `평일 ${e.semi_peak_weekdays_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekdays_price").innerText = '가격 정보 없음';
                    }
                    if (e.semi_peak_weekend_price !== null && e.semi_peak_weekend_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekend_price").innerText = `주말 ${e.semi_peak_weekend_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekend_price").innerText = '가격 정보 없음';
                    }

                    // 할인가
                    if (e.saile_weekdays_price !== null && e.saile_weekdays_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-saile_weekdays_price").innerText = `평일 ${e.saile_weekdays_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-saile_weekdays_price").innerText = '가격 정보 없음';
                    }
                    if (e.saile_weekend_price !== null && e.saile_weekend_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-saile_weekend_price").innerText = `주말 ${e.saile_weekend_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-saile_weekend_price").innerText = '가격 정보 없음';
                    }

                    // 지정기간
                    if (e.specifiedPeriod_weekdays !== null && e.specifiedPeriod_weekdays !== undefined) {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekdays").innerText = `평일 ${e.specifiedPeriod_weekdays.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekdays").innerText = '가격 정보 없음';
                    }
                    if (e.specifiedPeriod_weekend !== null && e.specifiedPeriod_weekend !== undefined) {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekend").innerText = `주말 ${e.specifiedPeriod_weekend.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekend").innerText = '가격 정보 없음';
                    }

                    // 운전 조건
                    newRclWrapper.querySelector(".rcl-driver_liecense_condition").innerText = `${e.driver_license_condition_name}`;
                    newRclWrapper.querySelector(".rcl-dirver_age_condition").innerText = `${e.driver_age_condition_name}`;
                    newRclWrapper.querySelector(".rcl-driver_experience_condition").innerText = `${e.driver_experience_condition_name}`;


                    const searchIcon = newRclWrapper.querySelector(".rcl-detail_link");
                    searchIcon.addEventListener('click', () => {
                        // Use JavaScript to navigate to the details page
                        window.location.href = `/campingcar/campingCarDetailPage?id=${e.id}`;
                    });

                    // Append the new camper row to the list
                    registeredCampersListBox.appendChild(newRclWrapper);
                    
                }
        });
    }

    </script>

</body>
</html>
