<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!-- partner 오른쪽  본문 css -->
    <link href="/public/css/campingcar/right-content.css" rel="stylesheet">
    <link href="/public/css/common.css" rel="stylesheet">
    <!-- 이미지 js -->
    <script src="/public/js/util.js"></script>
</head>
<body>
    <div th:replace="~{partner/carNavi::topNavi}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{partner/carNavi::leftNavi}"></div>
            <!-- right 템플릿 -->
            <div class="col right bg-body-secondary" style="padding-top: 55px;">
                <div class="row py-3 px-4 d-flex align-items-center bg-white">
                    <div class="col-0"></div>
                    <div class="col fs-6 fw-semibold">
                        차량 현황/수정
                    </div>
                </div>
                <!-- 본문내용(templets) -->
                <div class="row px-4 pt-1" th:if="${session.sessionCaravanInfo != null}">
                    <div class="col">
                        <!-- 탭 메뉴 -->
                        <ul class="nav nav-underline mb-4 border-bottom border-2">
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" href="#all" data-bs-toggle="tab">전체</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#selling" data-bs-toggle="tab">판매중</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#hidden" data-bs-toggle="tab">숨김</a>
                            </li>
                        </ul>
                    
                        <!-- 검색 필드 -->
                        <div class="input-group mb-4">
                            <input type="text" class="form-control border-bottom border-light" placeholder="검색하세요">                            
                            <button class="btn bg-white btn-sm text-secondary" type="button">
                                <span class="material-symbols-outlined">search</span>
                            </button>

                        </div>
                    
                        <!-- 탭 내용 -->
                        <div class="card">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="all">
                                    <!-- 테이블 1: 전체 -->
                                    <table class="table table-border table-hover">
                                        <thead class="table-light text-dark fw-bold">
                                            <tr>
                                                <th scope="col" class="text-center">No</th>
                                                <th colspan="1">상품명</th>
                                                <th>비수기</th>
                                                <th>성수기</th>
                                                <th>준성수기</th>
                                                <th>할인가</th>
                                                <th>지정기간</th>
                                                <th>운전조건</th>
                                                <th>상태</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="registeredCampersListBox">
                                            <!-- 동적 데이터-->
                                        </tbody>
                                        <!-- registeredCampersListTemplete -->                                        
                                        <tbody>
                                            <tr id="registeredCampersListTemplete" class="hidden">
                                                <td class="rclNumberWrapper text-center"></td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img class="rcl-main_img" alt="썸네일" style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div class="px-0">
                                                            <div class="rcl-carType_cate new-fs-7"></div>
                                                            <div class="rcl-product_name"></div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">
                                                                <span>동승인원</span><span class="rcl-seating_capacity"></span>
                                                                <span>취침인원</span><span class="rcl-sleeping_capacity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <!-- 비수기 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span class="rcl-rental_fee_weekdays"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span class="rcl-rental_fee_weekend"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 성수기 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span class="rcl-weekdays_price"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span class="rcl-weekend_price"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 준성수기 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span class="rcl-semi_peak_weekdays_price"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span class="rcl-semi_peak_weekend_price"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 할인가 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span class="rcl-saile_weekdays_price"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span class="rcl-saile_weekend_price"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 지정기간 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span>평일</span>
                                                            <span class="rcl-specifiedPeriod_weekdays"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>주말</span>
                                                            <span class="rcl-specifiedPeriod_weekend"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="d-flex justify-content-between">
                                                    <ul class="list-unstyled">
                                                        <li class="d-flex justify-content-between">
                                                            <span>운전면허증</span>
                                                            <span class="rcl-driver_liecense_condition"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span class="pe-2">운전자나이</span>
                                                            <span class="rcl-dirver_age_condition"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span>운전경력</span>
                                                            <span class="rcl-driver_experience_condition"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr id="noDataTemplate" class="hidden">
                                                <td colspan="10" class="text-center">등록된 차량이 없습니다.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/campingcar/partnermain.js"></script>
    <!-- 이미지 upload 공용 js -->
    <script src="/public/js/uploader.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded",() => {
            getRegisteredCampersList();
        })

        function getRegisteredCampersList() {
            const url = "/api/campingcar/campingCarManagement";
            fetch(url)
            .then(response => response.json())
            .then(response => {
                console.log(response);
                const registeredCampersListBox = document.getElementById("registeredCampersListBox");
                registeredCampersListBox.innerHTML = "";

                if (response.data.registeredCampersList.length === 0) {
                    const noDataTemplate = document.querySelector("#noDataTemplate").cloneNode(true);
                    noDataTemplate.classList.remove("hidden");
                    registeredCampersListBox.appendChild(noDataTemplate);
                }else {
                    const registeredCampersListTemplete = document.querySelector("#registeredCampersListTemplete");
                    // console.log("Template exists:", registeredCampersListTemplete); // 요소 존재 여부 확인
                        for(e of response.data.registeredCampersList) {
                        const newRclWrapper = registeredCampersListTemplete.cloneNode(true);
                        
                        const rclNumberWrapper = newRclWrapper.querySelector(".rclNumberWrapper"); 
                        rclNumberWrapper.innerText = e.id;
                        console.log("rclNumberWrapper:", rclNumberWrapper);

                        const rcl_main_img = newRclWrapper.querySelector(".rcl-main_img"); 
                        rcl_main_img.setAttribute("src", `/images/${e.main_img}`);
                        console.log("rcl_main_img:", rcl_main_img);

                        const rcl_carType_cate = newRclWrapper.querySelector(".rcl-carType_cate");
                        rcl_carType_cate.innerText = e.car_type_name;
                        console.log("rcl_carType_cate:", rcl_carType_cate);

                        const rcl_product_name = newRclWrapper.querySelector(".rcl-product_name"); 
                        rcl_product_name.innerText = e.product_name;
                        console.log("rcl_product_name:", rcl_product_name);

                        const rcl_seating_capacity = newRclWrapper.querySelector(".rcl-seating_capacity");
                        rcl_seating_capacity.innerText = `${e.seating_capacity}인승`;
                        console.log("rcl_seating_capacity:",rcl_seating_capacity);

                        const rcl_sleeping_capacity = newRclWrapper.querySelector(".rcl-sleeping_capacity");
                        rcl_sleeping_capacity.innerText = `${e.sleeping_capacity}인승`;
                        console.log("rcl_sleeping_capacity:", rcl_sleeping_capacity);

                        const rcl_rental_fee_weekdays = newRclWrapper.querySelector(".rcl-rental_fee_weekdays");
                        rcl_rental_fee_weekdays.innerText = `${e.rental_fee_weekdays.toLocaleString('ko-KR')}원`;
                        console.log("rcl_rental_fee_weekdays:",rcl_rental_fee_weekdays);

                        const rcl_rental_fee_weekend = newRclWrapper.querySelector(".rcl-rental_fee_weekend");
                        rcl_rental_fee_weekend.innerText = `${e.rental_fee_weekend.toLocaleString('ko-KR')}원`;
                        console.log("rcl_rental_fee_weekend:",rcl_rental_fee_weekend);

                        const rcl_weekdays_price = newRclWrapper.querySelector(".rcl-weekdays_price");
                        // e.weekdays_price가 null이 아닌 경우에만 toLocaleString을 사용
                        if (e.weekdays_price !== null && e.weekdays_price !== undefined) {
                            rcl_weekdays_price.innerText = `${e.weekdays_price.toLocaleString('ko-KR')}원`;
                        } else {
                            rcl_weekdays_price.innerText = '가격 정보 없음';  // 또는 적절한 기본값 또는 대체 텍스트로 파트너에게 명시
                        }
                        console.log("rcl_weekdays_price:", rcl_weekdays_price);

                        const rcl_weekend_price = newRclWrapper.querySelector(".rcl-weekend_price");
                        if(rcl_weekend_price !== null && e.weekend_price !== undefined){
                            rcl_weekend_price.innerText = `${e.weekend_price.toLocaleString('ko-KR')}원`;
                        }else {
                            rcl_weekend_price.innerText = '가격 정보 없음';// 또는 적절한 기본값 또는 대체 텍스트로 파트너에게 명시
                        }
                        console.log("rcl_weekdays_price:", rcl_weekend_price);

                        const rcl_semi_peak_weekdays_price = newRclWrapper.querySelector(".rcl-semi_peak_weekdays_price");
                        // 요소의 텍스트가 비어 있는지 확인하고, 비어 있다면 '가격 정보 없음'을 추가
                        // .trim() 함수는 문자열 앞뒤의 공백을 제거
                        if (rcl_semi_peak_weekdays_price && rcl_semi_peak_weekdays_price.innerText.trim() === '') {
                            rcl_semi_peak_weekdays_price.innerText = '가격 정보 없음';
                            console.log("가격 정보가 업데이트 되었습니다:", rcl_semi_peak_weekdays_price);
                        } else {
                            console.log("가격 정보가 이미 설정되어 있습니다:", rcl_semi_peak_weekdays_price);
                        }

                        const rcl_semi_peak_weekend_price = newRclWrapper.querySelector(".rcl-semi_peak_weekend_price");
                        // 요소의 텍스트가 비어 있는지 확인하고, 비어 있다면 '가격 정보 없음'을 추가
                        // .trim() 함수는 문자열 앞뒤의 공백을 제거
                        if(rcl_semi_peak_weekend_price && rcl_semi_peak_weekend_price.innerText.trim() === '') {
                            rcl_semi_peak_weekend_price.innerText = '가격 정보 없음'
                            console.log("가격 정보가 업데이트 되었습니다:", rcl_semi_peak_weekend_price);
                        }else {
                            console.log("가격 정보가 이미 설정되어 있습니다:", rcl_semi_peak_weekend_price);
                        }

                        const rcl_saile_weekdays_price = newRclWrapper.querySelector(".rcl-saile_weekdays_price");
                        // 요소의 텍스트가 비어 있는지 확인하고, 비어 있다면 '가격 정보 없음'을 추가
                        // .trim() 함수는 문자열 앞뒤의 공백을 제거
                        if(rcl_saile_weekdays_price && rcl_saile_weekdays_price.innerText.trim() === '') {
                            rcl_saile_weekdays_price.innerText = '가격 정보 없음'
                            console.log("가격 정보가 업데이트 되었습니다:", rcl_saile_weekdays_price);
                        }else {
                            console.log("가격 정보가 이미 설정되어 있습니다:", rcl_saile_weekdays_price);
                        }

                        const rcl_saile_weekend_price = newRclWrapper.querySelector(".rcl-saile_weekend_price");
                        // 요소의 텍스트가 비어 있는지 확인하고, 비어 있다면 '가격 정보 없음'을 추가
                        // .trim() 함수는 문자열 앞뒤의 공백을 제거
                        if(rcl_saile_weekend_price && rcl_saile_weekend_price.innerText.trim() === '') {
                            rcl_saile_weekend_price.innerText = '가격 정보 없음'
                            console.log("가격 정보가 업데이트 되었습니다:", rcl_saile_weekend_price);
                        }else {
                            console.log("가격 정보가 이미 설정되어 있습니다:", rcl_saile_weekend_price);
                        }

                        const rcl_specifiedPeriod_weekdays = newRclWrapper.querySelector(".rcl-specifiedPeriod_weekdays");
                        // 요소의 텍스트가 비어 있는지 확인하고, 비어 있다면 '가격 정보 없음'을 추가
                        // .trim() 함수는 문자열 앞뒤의 공백을 제거
                        if(rcl_specifiedPeriod_weekdays && rcl_specifiedPeriod_weekdays.innerText.trim() === '') {
                            rcl_specifiedPeriod_weekdays.innerText = '가격 정보 없음'
                            console.log("가격 정보가 업데이트 되었습니다:", rcl_specifiedPeriod_weekdays);
                        }else {
                            console.log("가격 정보가 이미 설정되어 있습니다:", rcl_specifiedPeriod_weekdays);
                        }
                        
                        const rcl_specifiedPeriod_weekend = newRclWrapper.querySelector(".rcl-specifiedPeriod_weekend");
                        // 요소의 텍스트가 비어 있는지 확인하고, 비어 있다면 '가격 정보 없음'을 추가
                        // .trim() 함수는 문자열 앞뒤의 공백을 제거
                        if(rcl_specifiedPeriod_weekend && rcl_specifiedPeriod_weekend.innerText.trim() === '') {
                            rcl_specifiedPeriod_weekend.innerText = '가격 정보 없음'
                            console.log("가격 정보가 업데이트 되었습니다:", rcl_specifiedPeriod_weekend);
                        }else {
                            console.log("가격 정보가 이미 설정되어 있습니다:", rcl_specifiedPeriod_weekend);
                        }

                        const rcl_driver_liecense_condition = newRclWrapper.querySelector(".rcl-driver_liecense_condition");
                        rcl_driver_liecense_condition.innerText = e.driver_license_condition_name;
                        console.log("rcl_driver_liecense_condition:", rcl_driver_liecense_condition)

                        const rcl_dirver_age_condition = newRclWrapper.querySelector(".rcl-dirver_age_condition");
                        rcl_dirver_age_condition.innerText = e.driver_age_condition_name;
                        console.log("rcl_dirver_age_condition:", rcl_dirver_age_condition)

                        const rcl_driver_experience_condition = newRclWrapper.querySelector(".rcl-driver_experience_condition");
                        rcl_driver_experience_condition.innerText = e.driver_experience_condition_name;
                        console.log("rcl_driver_experience_condition:", rcl_driver_experience_condition);

                        registeredCampersListBox.appendChild(newRclWrapper);

                    }
                }
            });
        }
    </script>

</body>
</html>
