<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!-- partner 오른쪽  본문 css -->
    <link href="/public/css/campingcar/right-content.css" rel="stylesheet">
    <link href="/public/css/common.css" rel="stylesheet">
    <!-- 이미지 js -->
    <script src="/public/js/util.js"></script>
</head>
<body>
    <div th:replace="~{partner/carNavi::topNavi}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{partner/carNavi::leftNavi}"></div>
            <!-- right 템플릿 -->
            <div class="col right bg-body-secondary" style="padding-top: 55px;">
                <div class="row py-3 px-4 d-flex align-items-center bg-white">
                    <div class="col-0"></div>
                    <div class="col fs-6 fw-semibold">
                        차량 현황/수정
                    </div>
                </div>
                <!-- 본문내용(templets) -->
                <div class="row px-4 pt-1" th:if="${session.sessionCaravanInfo != null}">
                    <div class="col">
                        <!-- 탭 메뉴 -->
                        <ul class="nav nav-underline mb-4 border-bottom border-2">
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" href="#all" data-bs-toggle="tab">전체</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#selling" data-bs-toggle="tab">판매중</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="#hidden" data-bs-toggle="tab">숨김</a>
                            </li>
                        </ul>
                    
                        <!-- 검색 필드 -->
                        <div class="input-group mb-4">
                            <input type="text" class="form-control border-bottom border-light" placeholder="검색하세요">                            
                            <button class="btn bg-white btn-sm text-secondary" type="button">
                                <span class="material-symbols-outlined">search</span>
                            </button>

                        </div>
                    
                        <!-- 탭 내용 -->
                        <div class="card">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="all">
                                    <!-- 테이블 1: 전체 -->
                                    <table class="table table-border table-hover">
                                        <thead class="table-light text-dark fw-bold">
                                            <tr>
                                                <th scope="col" class="text-center">No</th>
                                                <th colspan="1">상품명</th>
                                                <th>비수기</th>
                                                <th>성수기</th>
                                                <th>준성수기</th>
                                                <th>할인가</th>
                                                <th>지정기간</th>
                                                <th>운전조건</th>
                                                <th>상태</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="registeredCampersListBox">
                                            <!-- 동적 데이터-->
                                        </tbody>
                                        <!-- registeredCampersListTemplete -->                                        
                                        <tbody>
                                            <tr id="registeredCampersListTemplete" class="hidden" style="display: none;">
                                                <td class="rclNumberWrapper text-center"></td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <img class="rcl-main_img"  style="width: 4rem; height: 4rem;">
                                                        </div>
                                                        <div class="px-0">
                                                            <div class="rcl-carType_cate new-fs-7"></div>
                                                            <div class="rcl-product_name"></div>
                                                            <div class="text-body-tertiary" style="font-size: 0.75rem;">
                                                                <span class="rcl-seating_capacity"></span>
                                                                <span class="rcl-sleeping_capacity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <a href="/상품상세페이지_경로" class="text-body-tertiary">
                                                                <span class="material-symbols-outlined">search</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <!-- 비수기 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span class="rcl-rental_fee_weekdays"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            
                                                            <span class="rcl-rental_fee_weekend"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 성수기 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <span class="rcl-weekdays_price"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <span class="rcl-weekend_price"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 준성수기 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>평일</span> -->
                                                            <span class="rcl-semi_peak_weekdays_price"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>주말</span> -->
                                                            <span class="rcl-semi_peak_weekend_price"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 할인가 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>평일</span> -->
                                                            <span class="rcl-saile_weekdays_price"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>주말</span> -->
                                                            <span class="rcl-saile_weekend_price"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!-- 지정기간 -->
                                                <td>
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>평일</span> -->
                                                            <span class="rcl-specifiedPeriod_weekdays"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>주말</span> -->
                                                            <span class="rcl-specifiedPeriod_weekend"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="d-flex justify-content-between">
                                                    <ul class="list-unstyled">
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>운전면허증</span> -->
                                                            <span class="rcl-driver_liecense_condition"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span class="pe-2">운전자나이</span> -->
                                                            <span class="rcl-dirver_age_condition"></span>
                                                        </li>
                                                        <li class="d-flex justify-content-between">
                                                            <!-- <span>운전경력</span> -->
                                                            <span class="rcl-driver_experience_condition"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-center">
                                                    <select class="form-select form-select-sm">
                                                        <option selected>노출중</option>
                                                        <option value="1">품절</option>
                                                        <option value="2">숨김</option>
                                                    </select>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/campingcar/partnermain.js"></script>
    <!-- 이미지 upload 공용 js -->
    <script src="/public/js/uploader.js"></script>
    <script>
    window.addEventListener("DOMContentLoaded", () => {
    getRegisteredCampersList();
    });

    function getRegisteredCampersList() {
        const url = "/api/campingcar/campingCarManagement";
        fetch(url)
        .then(response => response.json())
        .then(response => {
            console.log(response);
            const registeredCampersListBox = document.getElementById("registeredCampersListBox");
            registeredCampersListBox.innerHTML = ""; // 기존 내용을 초기화

                    // 데이터 검증 및 처리
            if (response.data.registeredCampersList.length == 0) {
                registeredCampersListBox.innerHTML = "<tr><td colspan='10'>데이터가 없습니다.</td></tr>";
                return;
            }
                const registeredCampersListTemplete = document.querySelector("#registeredCampersListTemplete");

                for (const e of response.data.registeredCampersList) {
                    const newRclWrapper = registeredCampersListTemplete.cloneNode(true);
                    newRclWrapper.classList.remove("hidden"); // 템플릿 줄의 숨김 상태 제거
                    newRclWrapper.style.display = ""; // display 스타일 초기화

                    // 데이터 채우기
                    newRclWrapper.querySelector(".rclNumberWrapper").innerText = e.id;
                    newRclWrapper.querySelector(".rcl-main_img").setAttribute("src", `/images/${e.main_img}`);
                    newRclWrapper.querySelector(".rcl-carType_cate").innerText = e.car_type_name;
                    newRclWrapper.querySelector(".rcl-product_name").innerText = e.product_name;
                    newRclWrapper.querySelector(".rcl-seating_capacity").innerText = `동승인원 ${e.seating_capacity}인승`;
                    newRclWrapper.querySelector(".rcl-sleeping_capacity").innerText = `취침 인원 ${e.sleeping_capacity}인승`;
                    newRclWrapper.querySelector(".rcl-rental_fee_weekdays").innerText = `평일 ${e.rental_fee_weekdays.toLocaleString('ko-KR')}원`;
                    newRclWrapper.querySelector(".rcl-rental_fee_weekend").innerText = `주말 ${e.rental_fee_weekend.toLocaleString('ko-KR')}원`;
                    
                    // 성수기
                    if (e.weekdays_price !== null && e.weekdays_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-weekdays_price").innerText = `평일 ${e.weekdays_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-weekdays_price").innerText = '가격 정보 없음';
                    }
                    if (e.weekend_price !== null && e.weekend_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-weekend_price").innerText = `주말 ${e.weekend_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-weekend_price").innerText = '가격 정보 없음';
                    }
                    
                    // 준성수기
                    if (e.semi_peak_weekdays_price !== null && e.semi_peak_weekdays_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekdays_price").innerText = `평일 ${e.semi_peak_weekdays_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekdays_price").innerText = '가격 정보 없음';
                    }
                    if (e.semi_peak_weekend_price !== null && e.semi_peak_weekend_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekend_price").innerText = `주말 ${e.semi_peak_weekend_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-semi_peak_weekend_price").innerText = '가격 정보 없음';
                    }

                    // 할인가
                    if (e.saile_weekdays_price !== null && e.saile_weekdays_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-saile_weekdays_price").innerText = `평일 ${e.saile_weekdays_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-saile_weekdays_price").innerText = '가격 정보 없음';
                    }
                    if (e.saile_weekend_price !== null && e.saile_weekend_price !== undefined) {
                        newRclWrapper.querySelector(".rcl-saile_weekend_price").innerText = `주말 ${e.saile_weekend_price.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-saile_weekend_price").innerText = '가격 정보 없음';
                    }

                    // 지정기간
                    if (e.specifiedPeriod_weekdays !== null && e.specifiedPeriod_weekdays !== undefined) {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekdays").innerText = `평일 ${e.specifiedPeriod_weekdays.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekdays").innerText = '가격 정보 없음';
                    }
                    if (e.specifiedPeriod_weekend !== null && e.specifiedPeriod_weekend !== undefined) {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekend").innerText = `주말 ${e.specifiedPeriod_weekend.toLocaleString('ko-KR')}원`;
                    } else {
                        newRclWrapper.querySelector(".rcl-specifiedPeriod_weekend").innerText = '가격 정보 없음';
                    }

                    // 운전 조건
                    newRclWrapper.querySelector(".rcl-driver_liecense_condition").innerText = `운전면허 ${e.driver_license_condition_name}`;
                    newRclWrapper.querySelector(".rcl-dirver_age_condition").innerText = `운전자나이 ${e.driver_age_condition_name}`;
                    newRclWrapper.querySelector(".rcl-driver_experience_condition").innerText = `운전 경력 ${e.driver_experience_condition_name}`;

                    registeredCampersListBox.appendChild(newRclWrapper);
                }
        });
    }

    </script>

</body>
</html>
