<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/common.css">

        <style>
            .seller_profile img{
                aspect-ratio: 1/1;
                width: 100px;
                object-fit: cover;
                object-position: center;
            }
            .scrollable {
                /* height: 100vh; */
                height: calc(100vh - 58px);
                overflow-y: auto;
                position: fixed;
            }
            .category{
                transition: background-color 0.3s;
            }
            .category:hover{
                background-color: #263445;
            }
            .subcategory {
                background-color: #1F2D3D;
                transition: background-color 0.3s;
            }
            .subcategory:hover{
                background-color: #001528;
            }
            .bi-chevron-down, .bi-chevron-up{
                color: #8F9399;
            }
            a{
                text-decoration: none;
            }
            .product-category a{
                color: black;
            }
            .left a{
                color: #F4F4F5;
            }
            .store-center{
                background-color: #1F2D3D;
            }
            .f08{
                font-size: 0.8em;
            }
            .f09{
                font-size: 0.9em;
            }
            .top-nav{
                height: 58px;
            }
            .left{
                width: 15vw;
            }
            .right{
                padding-left: 15vw;
            }
        </style>
    </head>
    <body class="bg-body-tertiary">
        <div class="container">
            <div class="row py-5">
                <div class="col"></div>
                <form id="campingcarRegisterForm" method="post" action="/partner/sellerRegisterProcess" class="col-7" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-auto pe-0 fw-bold">
                            BaseCamp 
                        </div>
                    </div>
                    <div class="row pb-4" style="align-items: baseline;">
                        <div class="col pe-0 fs-2">
                            판매 회원가입
                        </div>
                        <!-- <div class="col text-body-tertiary">
                            가입하기
                        </div> -->
                        <div class="col-auto text-body-tertiary fw-bold">
                            1 판매자 유형 선택
                        </div>
                        <div class="col-auto text-primary fw-bold">
                            <span class="border-top border-2 border-primary">2 정보 입력</span>
                        </div>
                        <div class="col-auto text-body-tertiary fw-bold">
                            3 가입 신청 완료
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col px-4 border bg-white">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    회원정보 입력
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            아이디
                                        </div>
                                        <div class="col position-ralative">
                                            <input onblur="checkSellerAccountID()" id="inputId" name="account_id" type="text" class="form-control" placeholder="로그인 아이디">
                                            <div id="confirmResult" class="position-absolute f08 text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            비밀번호
                                        </div>
                                        <div class="col">
                                            <input id="inputPw" name="account_pw" type="password" class="form-control" placeholder="비밀번호">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            비밀번호 확인
                                        </div>
                                        <div class="col">
                                            <input onkeyup="checkAccountPwConfirm()" id="inputPwConfirm" type="password" class="form-control" placeholder="비밀번호 확인">
                                            <div id="confirmAccountPw" class="position-absolute f08 text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            닉네임
                                        </div>
                                        <div class="col">
                                            <input id="inputSellerNickname" name="comp_nickname" type="text" class="form-control" placeholder="닉네임">
                                            <div id="confirmNickname" class="position-absolute f08 text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            회사 대표 전화번호
                                        </div>
                                        <div class="col">
                                            <input type="text" id="inputPhone" name="contact_number" class="form-control" placeholder="회사 대표 전화번호">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            회사 이메일
                                        </div>
                                        <div class="col">
                                            <input type="email" id="inputEmail" name="comp_email" class="form-control" placeholder="회사 이메일">
                                        </div>
                                    </div>

                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            프로필 사진
                                        </div>
                                        <div class="col">
                                            <input type="file" name="profile_image" class="form-control" accept="image/*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-4">
                        <div class="col px-4 border bg-white">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    판매자 기본 정보 입력
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            상호명
                                        </div>
                                        <div class="col position-ralative">
                                            <input type="text" id="inputName" name="comp_name" class="form-control" placeholder="상호명">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            사업자 등록번호
                                        </div>
                                        <div class="col">
                                            <input type="text" id="inputCRN" name="crn" class="form-control" placeholder="사업자등록번호">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            대표자명
                                        </div>
                                        <div class="col">
                                            <input id="inputSeller" name="representative_name" type="text" class="form-control" placeholder="대표자명">
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col pb-2 align-items-center">
                                            <div class="row">
                                                <div class="col-3">
                                                    회사 지역
                                                </div>
                                                <div class="col pe-0">
                                                    <select class="form-control" name="location_category_id">
                                                        <option th:value="'selectPlease'" th:text="'회사 지역 선택'"></option>
                                                        <option th:each="location : ${locationData}" 
                                                                th:value="${location.id}" 
                                                                th:text="${location.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pb-4 align-items-center">
                                        <div class="col">
                                            <div class="row pb-2 align-items-center">
                                                <div class="col-3">
                                                    주소
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" class="form-control bg-white" id="postcode" placeholder="우편번호">
                                                </div>
                                                <div class="col-auto">
                                                    <input type="button" id="postcodeButton" class="form-control" onclick="execDaumPostcode()" value="우편번호 찾기">
                                                </div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="comp_address" class="form-control bg-white" id="address" placeholder="주소">
                                                </div>
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col-3"></div>
                                                <div class="col">
                                                    <input type="text" name="comp_detailed_address" class="form-control bg-white" id="detailAddress" placeholder="상세 주소">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <div class="row pb-2">
                                                <div class="col-3">
                                                    회사 홈페이지 
                                                </div>
                                                <div class="col pb-4">
                                                    <input name="comp_url" type="url" class="form-control" placeholder="회사 홈페이지 링크 입력하세요">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row pb-4 align-items-center">
                                        <div class="col-3">
                                            소개글
                                        </div>
                                        <div class="col input-group">
                                            <input onkeyup="checkDescriptionLength()" id="inputDescription" name="description" type="text" class="form-control" placeholder="50자 이내로 작성">
                                            <span class="input-group-text bg-white" id="descriptionCount">0/50</span>
                                            <textarea class="form-control" id=""></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-5">
                        <div class="col"></div>
                        <div class="col-2 pe-0 d-grid">
                            <a href="/seller/login" class="btn border bg-white py-2 rounded-0">
                                처음으로
                            </a>
                        </div>
                        <div class="col-3 pe-0 d-grid">
                            <input onclick="formSubmit()" type="button" value="가입신청완료" class="btn btn-primary py-2 rounded-0">
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row text-center py-5">
                        <div class="col f08 text-secondary">
                            <span class="fw-bold">BaseCamp</span> copyright ⓒ BaseCamp Corp. All rights reserved.
                        </div>
                    </div>
                </form>
                <div class="col"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="/public/js/campingcar/partnermain.js"></script>
        <script>
            
            function automaticallyInputOriginAddress(){
                const originAddressCheckBox = document.getElementById("originAddressCheckBox");
                const origin_postcode = document.getElementById("origin_postcode");
                const origin_address = document.getElementById("origin_address");
                const origin_detailAddress = document.getElementById("origin_detailAddress");

                const postcode = document.getElementById("postcode");
                const address = document.getElementById("address");
                const detail_address = document.getElementById("detailAddress");

                if(originAddressCheckBox.checked){
                    origin_postcode.value = postcode.value;
                    origin_address.value = address.value;
                    origin_detailAddress.value = detail_address.value;
                }else{
                    origin_postcode.value = '';
                    origin_address.value = '';
                    origin_detailAddress.value = '';
                }
            }
            
            function automaticallyInputReturnAddress(){
                const returnAddressCheckBox = document.getElementById("returnAddressCheckBox");
                const return_postcode = document.getElementById("return_postcode");
                const return_address = document.getElementById("return_address");
                const return_detailAddress = document.getElementById("return_detailAddress");

                const postcode = document.getElementById("postcode");
                const address = document.getElementById("address");
                const detail_address = document.getElementById("detailAddress");

                if(returnAddressCheckBox.checked){
                    return_postcode.value = postcode.value;
                    return_address.value = address.value;
                    return_detailAddress.value = detail_address.value;
                }else{
                    return_postcode.value = '';
                    return_address.value = '';
                    return_detailAddress.value = '';
                }
            }

            function formSubmit(){

                const inputId = document.getElementById("inputId");
                const confirmResult = document.getElementById("confirmResult");
                if(inputId.value == '' || confirmResult.innerText=="이미 사용중인 아이디입니다") {
                    inputId.focus();
                    return;
                }
                
                const inputPw = document.getElementById("inputPw");
                if(inputPw.value == '') {
                    inputPw.focus();
                    return;
                }

                const inputPwConfirm = document.getElementById("inputPwConfirm");
                const confirmAccountPw = document.getElementById("confirmAccountPw");
                if(inputPw.value != inputPwConfirm.value){
                    confirmAccountPw.innerText = "비밀번호와 일치하지 않습니다";
                    inputPwConfirm.focus();
                    return;
                }

                const inputSeller = document.getElementById("inputSeller");
                if(inputSeller.value == '') {
                    inputSeller.focus();
                    return;
                }
                
                const inputPhone = document.getElementById("inputPhone");
                if(inputPhone.value == '') {
                    inputPhone.focus();
                    return;
                }

                const inputEmail = document.getElementById("inputEmail");
                if(inputEmail.value == '') {
                    inputEmail.focus();
                    return;
                }

                const inputSellerNickname = document.getElementById("inputSellerNickname");
                const confirmNickname = document.getElementById("confirmNickname");
                if(inputSellerNickname.value == '' || confirmNickname.innerText=="이미 사용중인 닉네임입니다"){
                    inputName.focus();
                    return;
                }

                const inputCRN = document.getElementById("inputCRN");
                if(inputCRN.value == '') {
                    inputCRN.focus();
                    return;
                }

                const postcode = document.getElementById("postcode");
                const address = document.getElementById("address");
                const deatilAddress = document.getElementById("detailAddress")
                const postcodeButton = document.getElementById("postcodeButton");
                if(postcode.value == '' || address.value == '' || detailAddress.value == ''){
                    // alert("주소를 입력해주세요");
                    postcodeButton.focus();
                    return;
                }

                // const origin_postcode = document.getElementById("origin_postcode");
                // const origin_address = document.getElementById("origin_address");
                // const originPostcodeButton = document.getElementById("originPostcodeButton");
                // if(origin_postcode.value == '' || origin_address.value == ''){
                //     originPostcodeButton.focus();
                //     return;
                // }

                // const return_postcode = document.getElementById("return_postcode");
                // const return_address = document.getElementById("return_address");
                // const returnPostcodeButton = document.getElementById("returnPostcodeButton");
                // if(return_postcode.value == '' || return_address.value == ''){
                //     returnPostcodeButton.focus();
                //     return;
                // }


                const campingcarRegisterForm = document.getElementById("campingcarRegisterForm");
                campingcarRegisterForm.submit();

            }

            function checkSellerAccountID(){
                const inputId = document.getElementById("inputId");

                const url = "/api/store/isExistStoreAccountId?account_id=" + inputId.value;
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const confirmResult = document.getElementById("confirmResult");

                    if(response.data.isExistAccountID == true){
                        // confirmResult.style.color = "red";
                        confirmResult.innerText = "이미 사용중인 아이디입니다";
                    }else{
                        confirmResult.innerText = "";
                    }
                })
            }

            function checkAccountPwConfirm(){
                const inputPw = document.getElementById("inputPw");
                const inputPwConfirm = document.getElementById("inputPwConfirm");
                
                const confirmAccountPw = document.getElementById("confirmAccountPw");

                if(inputPw.value == inputPwConfirm.value){
                    confirmAccountPw.innerText = "";
                }else{
                    confirmAccountPw.innerText = "비밀번호와 일치하지 않습니다";
                }
            }

            // function checkStoreName(){
            //     const inputName = document.getElementById("inputName");

            //     const url = "/api/store/isExistStoreName?name=" + inputName.value;
            //     fetch(url)
            //     .then(response => response.json())
            //     .then((response) => {
            //         const confirmStoreName = document.getElementById("confirmStoreName");

            //         if(response.data.isExistName == true){
            //             // confirmStoreName.style.color = "red";
            //             confirmStoreName.innerText = "이미 사용중인 스토어명입니다";
            //         }else{
            //             confirmStoreName.innerText = "";
            //         }
            //     })
            // }

            // function checkDescriptionLength() {
            //     const inputDescription = document.getElementById("inputDescription");
            //     const descriptionCount = document.getElementById("descriptionCount");
            //     const currentLength = inputDescription.value.length;
                
            //     if (currentLength > 50) {
            //         inputDescription.value = inputDescription.value.substring(0, 50);
            //         currentLength = 50;
            //     }
                
            //     descriptionCount.textContent = currentLength + "/50";
            // }

            function origin_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {

                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }

                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }

                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('origin_postcode').value = data.zonecode;
                        document.getElementById("origin_address").value = addr+extraAddr;

                        document.getElementById("origin_detailAddress").focus();
                    }
                }).open();
            }

            function return_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {

                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }

                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }

                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('return_postcode').value = data.zonecode;
                        document.getElementById("return_address").value = addr+extraAddr;

                        document.getElementById("return_detailAddress").focus();
                    }
                }).open();
            }

            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){

                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('postcode').value = data.zonecode;
                        document.getElementById("address").value = addr+extraAddr;
                        // document.getElementById("detailAddress").focus();
                    }
                }).open();
            }
        </script>
    </body>
</html>