<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <style>
            .fixed-button {
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 1000; /* 필요에 따라 값 조정 */
                background-color: #007bff;
                color: white;
                width: 60px;
                height: 60px;
                padding: 10px 20px;
                border-radius: 50%;
                text-align: center;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .fixed-button i {
                font-size: 24px;
            }
        </style>
    </head>
    <body>
      
  
        <div class="container">

            <!-- 전체 박스 -->
                <div class="row px-4">
                    <div class="col">

                        <div class="row py-4">
                            <div class="col-auto">
                                <span class=""><i class="bi bi-chevron-left"></i></span>
                            </div>
                            <div class="col text-center fw-bold">
                                CLUB BOARD

                            </div>
                            <div class="col-auto">
                                <span class="text-end"><i class="bi bi-three-dots"></i></span>
                            </div>
                        </div>
                        

                        <div class="row pt-3 pb-1 border-bottom border-3">
                            <div class="col text-center">
                                <a th:href="@{/club/home(id=${id})}" style="text-decoration:none; color:black;"><span>홈</span></a>
                            </div>
                            <div class="col text-center fw-bold">
                                <a th:href="@{/club/board(id=${id})}" style="text-decoration:none; color:black;"><span>게시판</span></a>
                            </div>
                            <div class="col text-center">
                                <a th:href="@{/club/album(id=${id})}" style="text-decoration:none; color:black;"><span>사진첩</span></a>
                            </div>
                        </div>

                            <!-- 공지사항 글 고정?  -->
                            <div class="row py-1 border-0 border-bottom">
                                <div class="col" style="font-size: 0.8em;">
                                    [필독] (공지사항 고정하기 할 수 있을까..?)
                                </div>
                            </div>
                        
                        
                        <!-- 카테고리 나열 누르면 카테고리 해당되는 글만 보여주기 -->
                        <div class="row pt-1 pb-2">
                            <div class="col" style="font-size: 0.8em;">
                                전체 공지 모임후기 가입인사.... 카테고리
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                    <div class="row">
                                        <div class="col px-0 input-group">
                                        <input type="text" th:value="${param.searchWord}" name="searchWord" class="form-control bg-body-tertiary" placeholder="검색어를 입력하세요.">
                                            <button class="btn bg-body-tertiary border col-auto">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        

                        <!-- <div class="row pt-3 text-center">
                            <div class="col">
                                <a th:href="@{/club/writePost(id=${id})}" class="btn form-control btn-outline-dark">글 작성하기</a>
                            </div>
                        </div> -->

                        <!-- 여기서부터 게시글 목록 출력 -->
                        <!-- 프로필 박스 -->
                        <div class="row border-5 border-bottom" th:each="postDetail : ${postDetailList}">
                            <div class="col">
                                
                                <div class="row pt-3">
                                    <div class="col">
                                        <div class="row pb-3">
                                            <div class="col-2 pe-0">
                                                <img src="/public/img/clubImage/mangleProfile.jpg" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;">
                                                <!-- <img th:src="|/image/${readPostMap.memberDto.profile_image}|" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;"> -->
                                            </div>
                                            <div class="col align-self-center" style="font-size: 0.9em;">
                                                <div class="row">
                                                    <div class="col">
                                                        <span th:text="${postDetail.userDto.nickname}"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-secondary" style="font-size: 0.8em;">
                                                        <span th:text="${postDetail.clubPostDto.created_at}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 글 박스 -->
                                <div class="row">
                                    <div class="col">

                                        <div class="row">
                                            <div class="col pb-2 fw-semi-bold">
                                                <a th:href="@{/club/readPost(id=${postDetail.clubPostDto.id})}" style="text-decoration: none; color: black;">
                                                    <span th:text="${postDetail.clubPostDto.title}"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <div class="row border-2 border-bottom pb-3 text-truncate" style="font-size: 0.8em;">
                                            <div class="col">
                                                <a th:href="@{/club/readPost(id=${postDetail.clubPostDto.id})}" style="text-decoration: none; color: black;">
                                                    <span th:text="${postDetail.clubPostDto.content}"></span>
                                                </a>
                                            </div>
                                        </div> -->
                                        <div class="row py-2" style="font-size: 0.8em;">
                                            <div class="col-auto">
                                                <i class="bi bi-bookmark"></i><span> 스크랩 <span class="text-primary fw-bold" th:text="">2</span></span>
                                                <i class="bi bi-chat"></i><span> 댓글 <span class="text-primary fw-bold">5</span></span>
                                            </div>
                                            <div class="col text-end">
                                                <span th:text="${postDetail.clubPostCategoryDto.category_name}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>

                
                    </div>
                </div>


                <a th:if="${session.sessionUserInfo != null}" th:href="@{/club/writePost(id=${id})}" class="fixed-button">
                    <!-- <i class="bi bi-plus-circle-fill"></i> -->
                    <i class="bi bi-pencil"></i>
                </a>
        </div>


         
   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>