<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <link rel="stylesheet" href="/public/css/common.css">
        <link rel="stylesheet" href="/public/css/basecamp.css">
        <title>BASECAMP</title>

        <style>

        </style>
    </head>
    <body>
      
  
        <div class="container-fluid fixed-top bg-white">

            <div class="row pt-3 pb-2 bg-white">
                <div class="col-2 ps-2 justify-content-center align-items-center d-flex"><span onclick="history.back()" class="material-symbols-outlined">arrow_back</span></div>
                <div class="col text-center fw-medium">신규 소모임</div>
                <div class="col-2"></div>
            </div>
            
            <!-- 전체 박스 -->
            <div class="row pt-4 px-2">
                <div class="col">

                    <div class="row">
                        <div class="col">

                            <div class="row pb-3" th:each="clubDto : ${clubDtoList}">
                                <div class="col">
                                    <a class="col text-decoration-none text-black" th:href="@{/club/home(id=${clubDto.id})}">
                                    <div class="row">
                                        <div class="col-4 align-self-center">
                                            <div>
                                                <!-- <img class="rounded" th:src="|/images/${clubDto.main_image}|" alt="모임 이미지 1" style="width: 100%; height: 5em; object-fit: cover;"> -->
                                            </div>
                                        </div>

                                        <div class="col ps-0 align-self-center">
                                            <div class="row">
                                                <div class="col fw-medium" style="font-size: 0.9em;" th:text="${clubDto.name}">
                                                    소모임명
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col ellipsis-line-two" style="font-size: 0.8em;" >
                                                    <span th:text="${clubDto.description}"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-secondary" style="font-size: 0.8em;">
                                                    <span>지역</span> | 멤버 20 | 정모 <span class="text-danger">3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
                
        </div>
        
        <!--커뮤니티 하단네비 -->
        <div th:fragment="bottomNaviBasecamp" class="container-fluid g-0 border-top bg-white fixed-bottom pb-3">
            <div class="row mx-1 py-2 text-center">
                
                <!--HOME-->
                <a href="/" class="col icon-and-text">
                    <span class="material-symbols-outlined fw-light" style="font-size: 1.8em; color: darkgray;">
                        home
                    </span>
                    <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray">홈</span>
                </a>        

                <!-- 구매 -->
                <div class="col icon-and-text dropdown dropup">
                    <span data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray; display: block;">
                            storefront
                        </span>
                        <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray; display: block;">
                            구매
                        </span>
                    </span>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <!-- 메뉴 내용 -->
                        <a class="dropdown-item col" href="/store">
                            <div class="row w-100">
                                <div class="col-auto d-flex">
                                    <span class="material-symbols-outlined pe-1 ps-1 fw-light">shopping_bag</span>
                                    <span style="font-size: 0.9em;">스토어</span>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                            <div class="row w-100">
                                <div class="col-auto d-flex">
                                    <span class="material-symbols-outlined pe-1 ps-1 fw-light">eco</span>
                                    <span style="font-size: 0.9em;">중고</span>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>

                <!-- 예약 -->
                <div class="col icon-and-text dropdown dropup">
                    <span data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray; display: block;">
                            event_available
                        </span>
                        <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray; display: block;">
                            예약
                        </span>
                    </span>
                    <ul class="dropdown-menu row custom-dropdown-menu">
                        <!-- 메뉴 내용 -->
                        <a class="dropdown-item col" href="/camp/main">
                            <div class="row w-100">
                                <div class="col-auto d-flex">
                                    <span class="material-symbols-outlined pe-1 ps-1 fw-light">camping</span>
                                    <span style="font-size: 0.9em;">캠핑장</span>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item col" href="/campingcar/main">
                            <div class="row w-100">
                                <div class="col-auto d-flex">
                                    <span class="material-symbols-outlined pe-1 ps-1 fw-light">airport_shuttle</span>
                                    <span style="font-size: 0.9em;">캠핑카</span>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>

                <!-- 커뮤니티 -->
                <div class="col icon-and-text dropdown dropup">
                    <span data-bs-toggle="dropdown"  aria-expanded="false">
                        <span class="material-symbols-outlined" style="font-size: 1.7em; display: block;">
                            forum
                        </span>
                        <span class="text-navi pt-1 fw-bold" style="font-size: 0.7em;">
                            커뮤니티
                        </span>
                    </span>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <!-- 이시은 -->
                        <a class="dropdown-item col" href="/club/main">
                            <div class="row w-100">
                                <div class="col-auto d-flex">
                                    <span class="material-symbols-outlined pe-1 ps-1 fw-light">
                                        group
                                    </span>
                                    <span style="font-size: 0.9em;">소모임</span>
                                </div>
                            </div>
                        </a>
                        <!-- 남현지 -->
                        <a class="dropdown-item col" href="/insta/instaMainPage">
                            <span>
                                <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                            </span>
                        </a>
                    </ul>
                </div>
                
                <!--내정보-->
                <!-- <a class="col icon-and-text" href="/user/login" th:if="${session.sessionUserInfo == null}">
                    <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                        person
                    </span>
                    <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
                </a>
                <a class="col icon-and-text" href="/user/myPage" th:unless="${session.sessionUserInfo == null}">
                    <span class="material-symbols-outlined pe-1 ps-1 fw-light"style="font-size: 1.7em; color: darkgray;">
                        person
                    </span>
                    <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray;">마이</span>
                </a> -->

                <!--canvas 버튼-->
                <div class="col">
                    <button class="btn py-0" style=" color: darkgray; line-height: 20px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                        <div class="row">
                            <div class="col">
                                <span style="font-size: 0.7em; color: darkgray;">
                                    메뉴
                                </span>
                            </div>
                        </div>
                    </button>
                </div>

                <!-- 메뉴 offcanvas 시작 -->
                <div class="row g-0 offcanvas offcanvas-end custom-offcanvas-width custom-offcanvas-background" id="offcanvasRight" tabindex="-1" style="width: 17rem;">
                    <div class="col">
                        <!-- 로그인 & 비로그인 -->
                        <div class="row offcanvas-header pt-4 pb-0" style="position: relative;">
                            <div class="col-auto pe-1">
                                <div class="row">
                                    <div class="col">
                                        <a href="/user/login" th:if="${session.sessionUserInfo == null}">
                                            <span style="font-size: 1.3em;" class="fw-bold">로그인</span>
                                            <span class="material-symbols-outlined" style="font-size: 1.1em;">
                                                arrow_forward_ios
                                            </span>
                                        </a>
                                        <span th:text="${session.sessionUserInfo.nickname}" th:if="${session.sessionUserInfo != null}"
                                            style="font-size: 1.3em;" class="fw-bold">닉네임</span>
                                        <span th:if="${session.sessionUserInfo != null}"> 님</span>
                                    </div>
                                </div>
                            </div>
                            <!-- 마이페이지 -->
                            <a href="/user/myPage" class="col ps-0" th:if="${session.sessionUserInfo != null}">
                                <span class="material-symbols-outlined pt-2" style="font-size: 1.1em;">
                                    arrow_forward_ios
                                </span>
                            </a>

                            <div class="col text-end position-relative ps-0" th:if="${session.sessionUserInfo != null}">
                                <span class="fw-light" style="font-size: 1.2em;">
                                    <i class="fa-regular fa-bell"></i>
                                </span><span><i class="bi bi-dot position-absolute king" style="color: rgb(233, 40, 40); font-size: 1.5em;"></i></span>
                            </div>
                        </div>

                        <!-- 이메일 -->
                        <div class="row">
                            <div class="col-auto" style="padding-left: 10%;">
                                <span th:text="${session.sessionUserInfo.email}" th:if="${session.sessionUserInfo != null}" style="font-size: 0.75em; color: rgb(83, 83, 83);">

                                </span>
                            </div>
                        </div>

                        <!-- 포인트(마일리지) -->
                        <div class="row pt-2" th:if="${session.sessionUserInfo != null}">
                            <div class="col-auto pe-0" style="font-size: 0.8em; padding-left: 10%;">
                                <span style="color: rgb(168, 168, 168);">포인트</span>
                            </div>
                            <div class="col-auto ps-1" style="font-size: 0.8em;">
                                <span class="fw-bold lightFont" th:text="${session.sessionUserInfo.mileage}" th:if="${session.sessionUserInfo != null}">
                                </span>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <!-- 임시 배너 바꾸셈 -->
                                <img src="/public/img/common/배너저쩌고.jpg" class="img-fluid">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col order-list-scroll">
                                <!-- 내용 -->
                                <div class="row offcanvas-body m-0 pt-0">
                                    <div class="col" style="font-size: 0.9em;">
                                        <!-- 캠핑장 -->
                                        <a href="/camp/main" class="row align-end pt-4">
                                            <!-- <div class="col-auto pe-0">
                                                <span class="fs-1 material-symbols-outlined">camping</span>
                                            </div> -->
                                            <div class="col ps-0">
                                                <span>캠핑장</span>
                                            </div>
                                        </a>
                                        <!-- 캠핑카 -->
                                        <a href="/campingcar/main" class="row align-end pt-4">
                                            <!-- <div class="col-auto pe-0">
                                                <span class="fs-1 material-symbols-outlined">car_repair</span>
                                            </div> -->
                                            <div class="col ps-0">
                                                <span>캠핑카</span>
                                            </div>
                                        </a>
                                        <!-- 상점 -->
                                        <a href="/store" class="row align-end pt-4">
                                            <!-- <div class="col-auto pe-0">
                                                <span class="material-symbols-outlined">storefront</span>
                                            </div> -->
                                            <div class="col ps-0">
                                                <span>상점</span>
                                            </div>
                                        </a>
                                        <!-- 중고거래 -->
                                        <a href="/secondhandProduct/mainPage" class="row align-end pt-4">
                                            <!-- <div class="col-auto pe-0">
                                                <span class="material-symbols-outlined">settings_accessibility</span>
                                            </div> -->
                                            <div class="col ps-0">
                                                <span>중고거래</span>
                                            </div>
                                        </a>
                                        <!-- 인스타 -->
                                        <!-- <a href="#" class="row align-end pt-4">
                                            <div class="col ps-0">
                                                <span>인스타그램</span>
                                            </div>
                                        </a> -->
                                        <!-- 모임 -->
                                        <a href="/club/main" class="row align-end pt-4">
                                            <!-- <div class="col-auto pe-0">
                                                <span class="material-symbols-outlined">settings_accessibility</span>
                                            </div> -->
                                            <div class="col ps-0">
                                                <span>소모임</span>
                                            </div>
                                        </a>                        
                                    </div>
                                </div>

                                <!-- 캠프스타그램 -->
                                <div class="row border-top m-0">
                                    <a href="/insta/instaMainPage" class="col-5 pt-3 pb-3" style="font-size: 0.9em;">
                                        <!-- My -->
                                        <!-- <div class="col-auto pe-0">
                                            <span class="material-symbols-outlined">settings_accessibility</span>
                                        </div> -->
                                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                                    </a>
                                </div>

                                <!-- 유튜브, 트위터, 페이스북 로고 -->
                                <div class="row border-top m-0 pt-3 pb-3" style="padding-left: 12px;">
                                    <div class="col-auto">
                                        <div class="row pe-2">
                                            <div class="col-auto rounded-circle border border-dark d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1; width: 28px;">
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="row pe-2">
                                            <div class="col-auto rounded-circle border border-dark d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1; width: 28px;">
                                                <i class="fa-brands fa-x-twitter"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="row pe-2">
                                            <div class="col-auto rounded-circle border border-dark d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1; width: 28px;">
                                                <i class="fa-brands fa-facebook"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row m-0 pb-3 border-top border-bottom" style="font-size: 0.8em; color: rgb(168, 168, 168);">
                                    <div class="col">
                                        <div class="row pt-3">
                                            <div class="col">
                                                <span>고객센터</span>
                                            </div>
                                        </div>
                                        <div class="row pt-3">
                                            <div class="col">
                                                <span>공지사항</span>
                                            </div>
                                        </div>
                                        <div class="row pt-3">
                                            <div class="col">
                                                <span>이용약관 / 개인정보 처리방침</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 로그아웃 -->
                                <div class="row pt-4 pb-5 m-0 justify-content-center">
                                    <a class="col-auto d-flex align-items-center" th:if="${session.sessionUserInfo != null}" href="/user/logoutProcess">
                                        <!-- <button th:if="${session.sessionUserInfo == null}"
                                                type="button" class="btn-close-custom" data-bs-dismiss="offcanvas">
                                        </button> -->
                                        <span class="material-symbols-outlined" style="font-size: 1.2em; color: rgb(168, 168, 168);">
                                            logout
                                        </span>
                                        <span style="font-size: 0.8em; color: rgb(168, 168, 168);">로그아웃</span>
                                    </a>
                                </div>

                                <div class="row mb-5 py-2">
                                    <div class="col">

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- offcanvas 끝 -->

            </div>
        </div>

        

        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <script src="/public/js/lockLikeMobile.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>