<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/basecamp.css">

    <style>
        .icon-col img{
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .profileImage {
            width: 60px;  /* 원하는 너비 */
            height: 60px; /* 원하는 높이 */
            object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
            aspect-ratio: 1/1;
        }
        .scroll-container {
            overflow-x: auto;
            white-space: nowrap;
            display: flex;
            gap: 1rem; /* 간격 조절 */
            padding-left: 0.5rem;
        }
        .scroll-container::-webkit-scrollbar {
            display: none;  /* Chrome, Safari, Opera */
        }
        .scroll-item {
            flex: 0 0 auto;
            width: auto;
        }
        .fixed-image-size {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .scroll-list-box {
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
        }
        body {
            height: 100vh;
            background: linear-gradient(to bottom, #344E41 50%, white 50%);
            margin: 0;  /* 기본 margin 제거 */
        }
        .mainPage {
            background-image: url('/public/img/common/배경.jpeg');
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
        }
        .fixed-background {
            /* background-color: #0F273C !important; /* 원하는 배경색으로 변경 */
            background: #091724;
            background: linear-gradient(to left, #0D263C, #091724);
            background: -webkit-linear-gradient(to right, #1C3F5B, #0D263C);
        }
        .topNav {
            transition: background-color 0.1s;
        }
        .image-wrapper {
            padding: 0 0.2rem; /* 이미지 간의 간격 조정 */
        }

        .rounded-image {
            width: 100%;
            height: 10rem;
            border-radius: 0.7rem;
            object-fit: cover;
        }
        .btn-close:focus {
            outline: none;
            box-shadow: none;
        }
        .align-end {
            display: flex;
            align-items: end;
        }
        .custom-offcanvas-background {
            /*background-image: url('/public/img/common/오프배경.jpeg'); !* 배경 이미지 경로 *!*/
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .btn-close-custom {
            background: none;
            border: none;
            padding: 0;
            display: flex;
            align-items: end;
        }

        .king{
            top: -40%;
            left: 75%;
        }
        .order-list-scroll {
            max-height: 500px; /* 원하는 높이 설정 */
            overflow-y: auto;
        }
    </style>
</head>
<body class="mainPage">
<!-- 상단 네비 -->
<div class="container-fluid fixed-top topNav">
    <div class="row p-1">
      
    </div>
</div>                                                                                          

<!-- 메인 페이지 -->
<div class="container-fluid" style="padding-top: 4rem;">
    <!-- 시작 -->
    <div class="row">
        <div class="col bg-white" style="border-top-left-radius: 2rem; border-top-right-radius: 2rem;">
            <div class="row">
                <div class="col">

                    <div class="px-0 overflow-x-hidden">
                        <!-- 전체 박스 -->
                            <div class="row pb-5 mb-5">
                                <div class="col">
            
                                    <div class="row rounded align-items-center px-3 pt-3">
                                       
                                        <div class="col">
                                            <div class="row">
                                                <div class="col fs-5 fw-semibold" th:text="${map.clubDto.name}">
                                                    소모임 이름
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col" style="font-size: 0.9em;">
                                                    <span class="text-secondary" th:text="'모임장 ' + ${map.userDto.nickname}">모임장</span>
                                                </div>
                                            </div> -->
                                            <div class="row text-secondary" style="font-size: 0.8em;">
                                                <div class="col-auto pe-0">
                                                    멤버 <span th:text="${totalClubMember}"></span>
                                                </div>
                                                <div class="col-auto ps-1">
                                                    <span th:text="' | 방문 ' +${visitCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="col" th:if="${session.sessionUserInfo != null}">
                                                <div class="row">
                                                    <div class="col pe-1">
                                                        <a th:if="${confirmBookmark == 0}" th:href="@{/club/bookmarkProcess(club_id=${map.clubDto.id}, user_id=${session.sessionUserInfo.id})}">
                                                            <span><i class="bi bi-heart text-danger"></i></span>
                                                        </a>
                                                        <a th:unless="${confirmBookmark == 0}" th:href="@{/club/bookmarkProcess(club_id=${map.clubDto.id}, user_id=${session.sessionUserInfo.id})}">
                                                            <span><i class="bi bi-heart-fill text-danger"></i></span>
                                                        </a>
                                                    </div>
                                                    <div class="col ps-0 text-center text-danger" th:text="${totalBookmark}">
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-auto" th:if="${session.sessionUserInfo == null}">
                                                <div class="row">
                                                    <div class="col pe-1">
                                                        <a>
                                                            <span><i class="bi bi-heart"></i></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col ps-0" th:text="${totalBookmark}">
                                                    </div>
                                                </div>                                  
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row bg-white pb-3 mb-1 px-3">
                                        <div class="col">
            
                                            <div class="row pt-3">
                                                <div class="col fw-semibold">
                                                    모임 소개
                                                </div>
                                            </div>
                                            <div class="row pt-2 mb-2" style="font-size: 0.9em;">
                                                <div class="col" th:text="${map.clubDto.description}">
                                                    소모임 소개
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="row bg-white px-3 pb-3 mb-1">
                                        <div class="col">
            
                                            <div class="row pt-3">
                                                <div class="col fw-semibold">
                                                    모임 정보
                                                </div>
                                            </div>
            
                                            <div class="row pt-2">
                                                <div class="col d-flex align-items-center" style="font-size: 0.9em;">
                                                    <span class="material-symbols-outlined thin-icon">
                                                        map
                                                        </span>
                                                    &nbsp;활동 지역:&nbsp;<span th:text="${map.clubRegionCategoryDto.region_name}"></span>
                                                </div>
                                            </div>
                                            <div class="row pt-1">
                                                <div class="col d-flex align-items-center" style="font-size: 0.9em;">
                                                    <span class="material-symbols-outlined thin-icon">
                                                        account_circle
                                                        </span>
                                                    &nbsp;참여 인원:&nbsp;최대&nbsp;<span th:text="${map.clubDto.capacity}"></span>명
                                                </div>
                                            </div>
                                            <div class="row pt-1">
                                                <div class="col d-flex align-items-center" style="font-size: 0.9em;">
                                                    <span class="material-symbols-outlined thin-icon">
                                                        check_box
                                                        </span>
                                                        &nbsp;참여 조건:&nbsp;30대 | 성별무관 | 바로참여
                                                </div>
                                            </div>
                                        
            
                                        </div>
                                    </div>
            
            
            
                                    <!-- <div class="row border-bottom border-4 pt-2 pb-3">
                                        <div class="col"></div>
                                    </div> -->
            
                                    <div class="row bg-white px-3 pt-4 pb-2">
                                        <div class="col fw-bold">
                                            <span>정기모임</span>
                                        </div>
                                    </div>
            
                                    <!-- 정기모임 박스 -->
                                    <div class="row pb-4 mb-2 px-3 bg-white flex-nowrap overflow-x-auto best-items-scroll" id="meeting-wrapper-box">
                                        
                                    </div>
            
                                    <!-- <div class="row pt-3">
                                        <div class="col">
                                            <a href="" class="btn form-control btn-dark">정모 만들기</a>
                                        </div>
                                    </div> -->
            
                                    <!--소모임 홈화면 모임멤버 목록 파트 -->
                                    <div class="row px-3 bg-white">
                                        <div class="col">
            
                                            <div class="row pt-3 pb-1">
                                                <div class="col" style="font-size: 0.8em;">
                                                    <span>모임멤버</span>
                                                    <span class="fw-semibold" style="color: crimson;" th:text="${map.totalClubMember}"></span>
                                                    <span th:text="' / ' +${map.clubDto.capacity}"></span>
                                                </div>
            
            
                                                <!-- <span>모임멤버 </span><div class="col-auto ps-0" style="font-size: 0.9em; color:crimson;" ></div>
                                            </div> -->
                                                <div class="col text-end" style="font-size: 0.8em;">
                                                    <i class="bi bi-person-gear"></i> 멤버관리
                                                </div>
                                        </div>
                    
                                            <div class="row bg-white">
                                                <div class="col">
                                                        <div class="row">
                                                            <div class="col input-group">
                                                            <input type="text" th:value="${param.searchWord}" name="searchWord" class="form-control bg-body-tertiary" placeholder="검색어를 입력하세요.">
                                                                <button class="btn bg-body-tertiary border col-auto">
                                                                    <i class="bi bi-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                    
                                            <div class="row pt-4">
                                                <div class="col" style="font-size: 0.8em;">
                                                    최근 가입 <span><i class="bi bi-arrow-clockwise"></i></span>
                                                </div>
                                            </div>
                                           
                                            <div class="row pt-2 pb-3" th:each="clubMemberData : ${clubMemberDataList}">
                                                <div class="col-2">
                                                    <img th:if="${clubMemberData.userDto.profile_image == 'default'}" src="/public/img/clubImage/profile.jpg" class="img-fluid rounded-circle"  style="aspect-ratio: 1/1;">
                                                    <img th:unless="${clubMemberData.userDto.profile_image == 'default'}" th:src="|/images/${clubMemberData.userDto.profile_image}|" class="img-fluid rounded-circle"  style="aspect-ratio: 1/1;">
                                                </div>
                                                <div class="col align-self-center">
                                                    <div class="row">
                                                        <div class="col-auto px-0 align-self-center" th:text="${clubMemberData.userDto.nickname}">
                                                        </div>
                                                        <div class="col text-secondary align-self-center" style="font-size: 0.8em;" th:text="${#dates.format(clubMemberData.clubMemberDto.joined_at, 'yyyy.MM.dd')}"></div>
                                                        <div class="col text-end">
                                                            <i class="bi bi-send"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="row bg-white px-3 py-3 mt-2">
                                        <div class="col">
                                            
                                            <div class="row">
                                                <div class="col">
                                                    <span>게시판</span>
                                                </div>
                                                <div class="col-auto text-end">
                                                    <a th:href="@{/club/board(id=${id})}" style="text-decoration:none; color:black;"><span>전체보기</span></a>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="row bg-white px-3 py-3">
                                        <div class="col">
                                            
                                            <div class="row">
                                                <div class="col">
                                                    <span>사진첩</span>
                                                </div>
                                                <div class="col-auto text-end">
                                                    <a th:href="@{/club/album(id=${id})}" style="text-decoration:none; color:black;"><span>전체보기</span></a>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                       
            
                                </div>
                            </div>
            
                                
                            <!-- 정모개설하기 -->
                                    <div class="container fixed-bottom mb-5 pb-4 pe-2">
                                        <div class="row justify-content-end mb-4 pe-3">
                                            <a th:if="${isMemberInClub == 1}" th:href="@{/club/createNewMeeting(id=${id})}" class="col-auto bg-light ps-2 py-2 shadow rounded-pill text-decoration-none">
                                                <div class="row text-dark">
                                                    <div class="col-auto pe-0 align-self-center d-flex">
                                                        <span class="material-symbols-outlined fs-3">add</span>
                                                    </div>
                                                    <div class="col ps-0 fs-7 fw-medium d-flex align-self-center text-center" style="letter-spacing: -0.5px;">
                                                        정모 개설
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
            
            
                        </div>

                    
                

                </div>
            </div>
            
           
            <!-- 홈페이지 설명  시작 -->
            <div class="row mt-4 py-2 bg-dark-subtle text-white text-center f09">
                <div class="col fw-bold border-end">
                    로그아웃
                </div>
                <div class="col fw-bold border-end">
                    고객센터
                </div>
                <div class="col fw-bold">
                    NEWS
                </div>
            </div>
            <div class="row py-4 px-3 bg-body-secondary text-secondary">
                <div class="col">
                    <div class="row pb-2">
                        <div class="col p-0 fw-bold fs-3 d-flex align-items-center">
                            <span class="material-symbols-outlined">camping</span>
                            <span class="ms-1">BASECAMP</span>
                        </div>
                    </div>
                    <div class="row pb-3 border-bottom border-2">
                        <div class="col p-0 f08">
                            BASECAMP는 통신판매 중개자로서 통신판매의 당사자가 아니며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                        </div>
                    </div>

                    <div class="row pt-3 py-3 border-bottom border-2">
                        <div class="col-auto p-0">
                            <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08 d-flex align-items-center">
                                <span class="material-symbols-outlined" style="font-size: 1rem; line-height: 1;">phone_in_talk</span>
                                <span class="ms-1" style="font-size: 0.8rem;">고객센터</span>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm bg-dark-subtle text-white fw-bold f08" style="font-size: 0.8rem;">
                                카카오 1:1 문의
                            </button>
                        </div>
                        <div class="col p-0 f08">
                            <div class="row">
                                <div class="col">
                                    <span>평일</span> : 10:00 ~ 17:00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>점심</span> : 12:00 ~ 13:00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>※</span><span>주말 공휴일 휴무</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3 align-items-center">
                        <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                            <i class="bi bi-google-play"></i>
                        </div>
                        <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                            <i class="bi bi-youtube"></i>
                        </div>
                        <div class="col-auto me-2 bg-dark-subtle rounded-circle d-flex align-items-center" style="aspect-ratio: 1/1;">
                            <i class="bi bi-instagram"></i>
                        </div>
                        <div class="col-auto pe-0 f08">
                            이용약관
                        </div>
                        <div class="col f08">
                            개인정보처리방침
                        </div>
                    </div>
                </div>
            </div>
            <!-- 홈페이지 설명 끝 -->
        </div>
    </div>
</div>



<!-- 네비가 추가됨 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
<script>
    const topNav = document.querySelector('.topNav');

    window.addEventListener('scroll', function() {
        if (window.scrollY >= topNav.offsetHeight) {
            topNav.classList.add('fixed-background');
        } else {
            topNav.classList.remove('fixed-background');
        }
    });
</script>
</body>
</html>