<!-- 메뉴 -->
<div th:fragment="leftNavi" class="col border-end scrollable scrollBar left resizeMenu" id="leftAccordion" style="color: #F4F4F5; padding-top: 58px; background-color: #304156; z-index: 3;">
    <!-- 프로필 -->
    <div class="row py-4">
        <div class="col">
            <div class="row">
                <div class="col seller_profile text-center">
                    <img th:src="|/images/${session.campsite.dto.profile_image}|" class="rounded-circle">
                </div>
            </div>
            <div class="row text-center pt-2 fw-bold">
                <div class="col">
                    <span th:text="${session.campsite.dto.seller_name}"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- 메인 페이지 -->
    <a href="/campsiteCenter/main" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">home </div>
        <div class="col-auto">메인페이지</div>
    </a>

    <!-- 캠핑장 관리 -->
    <a href="/campsiteCenter/campsite" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">camping </div>
        <div class="col-auto">캠핑장관리</div>
    </a>

    <!-- 구역 관리 -->
    <a href="/campsiteCenter/area" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">flag </div>
        <div class="col-auto">구역관리</div>
    </a>

    <!-- 예약 관리 -->
    <a href="/campsiteCenter/reservation" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">schedule</div>
        <div class="col-auto">예약조회</div>
    </a>

    <!-- 재무 관리 -->
    <a href="/campsiteCenter/asset" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">savings </div>
        <div class="col-auto">재무관리</div>
    </a>

    <!-- 리뷰 관리 -->
    <a href="/campsiteCenter/review" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">reviews </div>
        <div class="col-auto">리뷰관리</div>
    </a>

    <!-- 통계 -->
    <a href="/campsiteCenter/statistics" type="button" class="row category fw-bold py-3">
        <div class="col-auto pe-0 material-symbols-outlined">monitoring </div>
        <div class="col-auto">통계</div>
    </a>

    

    <!-- 뻥이지롱 -->
    <div class="row py-4">
        <div class="col">
            <div class="row py-3">
                <div class="col">
                    <div class="row f08 text-tertiary">
                        <div class="col">
                            금융 서비스 바로가기
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col fw-semibold">
                            선정산 서비스 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-3">
                <div class="col">
                    <div class="row f08 text-tertiary">
                        <div class="col">
                            판매 지원 프로그램
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col fw-semibold">
                            파트너센터 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-3">
                <div class="col">
                    <div class="row f08 text-tertiary">
                        <div class="col">
                            판매 지원 프로그램
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col fw-semibold">
                            판매 가이드 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col fw-semibold">
                            온라인 교육 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col fw-semibold">
                            해외직구/판매 안내 <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    도움이 필요하신가요?
                </div>
            </div>
            <div class="row pt-3">
                <div class="col d-grid">
                    <button class="btn btn-outline-light py-2">
                        <i class="fa-solid fa-headset"></i> 고객센터 바로가기
                    </button>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col d-grid">
                    <button class="btn btn-outline-light py-2">
                        카테고리 담당자 찾기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 최상단 바 -->
<!-- <div th:fragment="topNaviSeller" class="container-fluid" style="z-index: 3;">
    <div id="topNaviSeller" class="row fixed-top align-items-center py-2 px-3 store-center">
        <div class="col fs-3 text-white">
            <span class="fw-bold">BaseCamp</span>
        </div>
        <div class="col fs-5 text-end">
            <span class="fw-bold text-white" th:text="${session.campsite.dto.seller_name}">
            </span>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-light btn-sm fw-bold" onclick="logOut()">로그아웃</button>
        </div>
    </div>
</div> -->

<!-- top-navi -->
<div th:fragment="topNaviSeller" class="container-fluid fixed-top">
    <div id="topNaviSeller" class="row py-3 px-3 store-center">
        <div class="col d-flex text-white align-items-center">
            <img src="/public/img/common/로고흰버전.png" style="width: 9.3em;">
            <span class="f12" style="color: #9E9E9E;">&nbsp;&nbsp;Campsite Center</span>
        </div>
        <div class="col pe-2 text-end">
            <span class="f08 text-white" th:if="${session.campsite!=null}" th:text="|${session.campsite.dto.seller_name}님|">
                Sacabambaspis
            </span>
        </div>
        <div class="col-auto px-2 d-flex align-items-center text-white position-relative">
            <div class="col d-flex align-items-center position-relative ps-0">
                <span class="material-symbols-outlined fw-light">
                    notifications
                </span>
                <span class="badge d-flex align-items-center text-bg-danger rounded-circle position-absolute king" style="padding: 0.2em;">
                    <span class="f07">N</span>
                </span>
            </div>
        </div>
        <form action="/storeCenter/logoutProcess" class="col-auto ps-0">
            <button class="btn btn-sm text-white f08 fw-semibold">로그아웃</button>
        </form>
    </div>
</div>

 <!-- 상단 바 -->
<div th:fragment="topNavi" class="resizeMenu row fixed-top ms-2 pt-3 right"  style="z-index: 2;">
<!-- <div th:fragment="topNavi" class="resizeMenu row fixed-top ms-2 pt-3"  style="z-index: 2;"> -->
    <div class="col bg-white">
        <div class="row flex-column ">
            <!-- 공지 (뻥이지롱) -->
            <div class="col border-bottom border-top mt-1 pt-1 pb-1 fw-bold">
                <span class="text-danger me-2">[공지]</span><span>멸종 위기 사카밤바스피스 보호 시급</span>
            </div>
            <!-- 본문 상단 바 -->
            <div class="col pb-3 pt-3 border-bottom">
                <div class="row justify-content-between">
                    <div id="title" th:text="${page.title}" class="col-auto fs-3 fw-bold ms-2">마이 페이지</div>
                    <div class="col-auto me-3" th:if="${page.buttonActivated == 'T'}">
                        <button id="saveStateButton" type="button" class="btn btn-bc-dark rounded-0 px-3 me-2">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--basecamp 상단 네비-->
<div th:fragment="topNaviBasecamp" class="container-fluid g-0 px-3 border fixed-top bg-white">
    <div class="row justify-content-between py-2">
        <div class="col d-flex align-items-center">
            <span id="backKey" onclick="back()" class="material-symbols-outlined fw-light">
                arrow_back
            </span>
        </div>
        <a class="col-auto d-flex align-items-center text-end" href="/camp/myReservation">
            <span class="material-symbols-outlined fw-light fs-2">
                calendar_clock
            </span>
        </a>
    </div>
</div>

<div th:fragment="topNaviMain" class="container-fluid border fixed-top bg-white">
    <div class="row py-2">
        <a href="/" class="col-auto pe-0 fw-semibold d-flex align-items-center f12 text-black">
            <img src="/public/img/common/배캠.png" style="width: 120px;">
        </a>
        <div class="col fw-semibold text-body-secondary ps-2 f09 align-self-end"></div>
        <div class="col-auto pe-0 text-end pt-1 d-flex align-items-center">
          
        </div>
        <a class="col-auto d-flex align-items-center text-end" href="/camp/myReservation">
            <span class="material-symbols-outlined fw-light fs-2">
                calendar_clock
            </span>
        </a>
    </div>
    <div class="row">
        <div class="col bg-white border-top">
            <div class="row">
                <div class="col overflow-x-auto">
                    <div class="row d-flex flex-nowrap py-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn btn-bc-outline-dark rounded-5 new-fs-8" data-bs-toggle="modal" data-bs-target="#popupCategory">카테고리</button>
                        </div>
                        <div class="col-auto pe-0">
                            <button class="btn btn btn-bc-outline-dark rounded-5 new-fs-8" type="button" data-bs-toggle="modal" data-bs-target="#search">캠핑장명</button>
                        </div>
                        <div class="col-auto pe-0">
                            <button class="btn btn-bc-outline-dark rounded-5 new-fs-8">지역선택</button>
                        </div>
                        <div class="col-auto pe-0">
                            <button class="btn btn-bc-outline-dark rounded-5 new-fs-8">날짜선택</button>
                        </div>
                       
                        <div class="col-auto pe-0">
                            <button class="btn btn btn-bc-outline-dark rounded-5 new-fs-8">정렬</button>
                        </div>
                        <div class="col-auto pe-0">
                            <button class="btn btn btn-bc-outline-dark rounded-5 new-fs-8">즐겨찾기</button>
                        </div>
                      
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div th:fragment="topNaviReservation" class="container-fluid border fixed-top bg-white">
    <div class="row py-2">
        <a href="/" class="col-auto pe-0 fw-semibold d-flex align-items-center f12 text-black">
            <img src="/public/img/common/배캠.png" style="width: 120px;">
        </a>
        <div class="col fw-semibold text-body-secondary ps-2 f09 align-self-end"></div>
        <div class="col-auto pe-0 text-end pt-1 d-flex align-items-center">
          
        </div>
        <a class="col-auto d-flex align-items-center text-end" href="/camp/myReservation">
            <span class="material-symbols-outlined fw-light fs-2">
                calendar_clock
            </span>
        </a>
    </div>
</div>


<div th:fragment="popupSelectDay" class="modal fade container-fluid" id="popupSelectDay" tabindex="-1" aria-labelledby="popupSelectDay-title" data-keyboard="true" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="popupSelectDay-title">날짜선택</h1>
            </div>
            <div id="popupSelectDay-content" class="modal-body col">
                <div id="calendar_selectDay"></div>
            </div>
            <div class="modal-footer">
                <div class="col d-grid"> <button id="popupSelectDay-no" type="button" class="btn btn-bc-dark rounded-0" data-bs-dismiss="modal">선택</button></div>
               
            </div>
        </div>
    </div>
</div>

<div th:fragment="popupCategory" class="modal fade container-fluid" id="popupCategory" tabindex="-1" aria-labelledby="popupCategory-title" data-keyboard="true" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="popupCategory-title">카테고리</h1>
            </div>
            <div id="popupCategory-content" class="modal-body col">
                <div class="row categoryList">
                    <div class="col-auto pe-0" th:each="category:${session.category.camp}">
                        <input type="checkbox" class="btn-check" th:id="${category.id}" name="selectCategory" autocomplete="off">
                        <label class="btn btn-outline-primary rounded-5 m-1" th:for="${category.id}">
                            <i th:class="${category.image} + ' ' + 'text-secondary'" style="width: 1.5em; height: 1.5em;"></i>
                            <span th:text="${category.name}"></span>
                        </label><br>
                    </div>
                    <!-- <div class="col-auto p-0" th:each="category:${session.category.area}">
                        <input type="checkbox" class="btn-check" th:id="${category.id}" name="selectCategory" autocomplete="off">
                        <label class="btn btn-outline-primary rounded-5 m-1" th:for="${category.id}">
                            <i th:class="${category.image}" style="width: 1.5em; height: 1.5em;"></i>
                            <span th:text="${category.name}"></span>
                        </label><br>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <div class="col d-grid"> 
                    <button id="popupCategory-clear" type="button" class="btn btn-bc-outline-dark rounded-0" onclick="initCategory()">초기화</button> 
                </div>
                <div class="col d-grid"> 
                    <button id="popupCategory-no" type="button" class="btn btn-bc-dark rounded-0" data-bs-dismiss="modal" onclick="setCategory()">선택</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="popupAreaCategory" class="modal fade container-fluid" id="popupAreaCategory" tabindex="-1" aria-labelledby="popupAreaCategory-title" data-keyboard="true" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="popupAreaCategory-title">카테고리</h1>
            </div>
            <div id="popupAreaCategory-content" class="modal-body col">
                <div class="row categoryList">
                    <div class="col-auto p-0" th:each="category:${session.category.area}">
                        <input type="checkbox" class="btn-check" th:id="${category.id}" name="selectCategory" autocomplete="off">
                        <label class="btn btn-outline-primary rounded-5 m-1" th:for="${category.id}">
                            <i th:class="${category.image}" style="width: 1.5em; height: 1.5em;"></i>
                            <span th:text="${category.name}"></span>
                        </label><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <div class="col d-grid"> <button id="popupAreaCategory-clear" type="button" class="btn btn-bc-outline-dark rounded-0">초기화</button></div>
               <div class="col d-grid"> <button id="popupAreaCategory-no" type="button" class="btn btn-bc-dark rounded-0" data-bs-dismiss="modal">선택</button></div>
            </div>
        </div>
    </div>
</div>

<!--예약 하단네비 -->
<!-- 메뉴 canvas 시작 -->
<div th:fragment="bottomNaviOffCanvas" class="row g-0 offcanvas offcanvas-end custom-offcanvas-width custom-offcanvas-background" id="bottomNaviOffCanvas" tabindex="-1" style="width: 17rem;">
    <div class="col">
        <!-- 로그인 & 비로그인 -->
        <div class="row offcanvas-header pt-4 pb-0" style="position: relative;">
            <div class="col-auto pe-1">
                <div class="row">
                    <div class="col">
                        <a href="/user/login" th:if="${session.sessionUserInfo == null}">
                            <span style="font-size: 1.3em;" class="fw-bold">로그인</span>
                            <span class="material-symbols-outlined" style="font-size: 1.1em;">
                                arrow_forward_ios
                            </span>
                        </a>
                        <span th:text="${session.sessionUserInfo.nickname}" th:if="${session.sessionUserInfo != null}"
                            style="font-size: 1.3em;" class="fw-bold">닉네임</span>
                        <span th:if="${session.sessionUserInfo != null}"> 님</span>
                    </div>
                </div>
            </div>
            <!-- 마이페이지 -->
            <a href="/user/myPage" class="col ps-0" th:if="${session.sessionUserInfo != null}">
                <span class="material-symbols-outlined pt-2" style="font-size: 1.1em;">
                    arrow_forward_ios
                </span>
            </a>

            <div class="col text-end position-relative ps-0" th:if="${session.sessionUserInfo != null}">
                <span class="fw-light" style="font-size: 1.2em;">
                    <i class="fa-regular fa-bell"></i>
                </span><span><i class="bi bi-dot position-absolute king" style="color: rgb(233, 40, 40); font-size: 1.5em;"></i></span>
            </div>
        </div>

        <!-- 이메일 -->
        <div class="row">
            <div class="col-auto" style="padding-left: 10%;">
                <span th:text="${session.sessionUserInfo.email}" th:if="${session.sessionUserInfo != null}" style="font-size: 0.75em; color: rgb(83, 83, 83);">

                </span>
            </div>
        </div>

        <!-- 포인트(마일리지) -->
        <div class="row pt-2" th:if="${session.sessionUserInfo != null}">
            <div class="col-auto pe-0" style="font-size: 0.8em; padding-left: 10%;">
                <span style="color: rgb(168, 168, 168);">포인트</span>
            </div>
            <div class="col-auto ps-1" style="font-size: 0.8em;">
                <span class="fw-bold lightFont" th:text="${session.sessionUserInfo.mileage}" th:if="${session.sessionUserInfo != null}">
                </span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <!-- 임시 배너 바꾸셈 -->
                <img src="/public/img/common/배너저쩌고.jpg" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col order-list-scroll">
                <!-- 내용 -->
                <div class="row offcanvas-body m-0 pt-0">
                    <div class="col" style="font-size: 0.9em;">
                        <!-- 캠핑장 -->
                        <a href="/camp/main" class="row align-end pt-4">
                            <!-- <div class="col-auto pe-0">
                                <span class="fs-1 material-symbols-outlined">camping</span>
                            </div> -->
                            <div class="col ps-0">
                                <span>캠핑장</span>
                            </div>
                        </a>
                        <!-- 캠핑카 -->
                        <a href="/campingcar/main" class="row align-end pt-4">
                            <!-- <div class="col-auto pe-0">
                                <span class="fs-1 material-symbols-outlined">car_repair</span>
                            </div> -->
                            <div class="col ps-0">
                                <span>캠핑카</span>
                            </div>
                        </a>
                        <!-- 상점 -->
                        <a href="/store" class="row align-end pt-4">
                            <!-- <div class="col-auto pe-0">
                                <span class="material-symbols-outlined">storefront</span>
                            </div> -->
                            <div class="col ps-0">
                                <span>상점</span>
                            </div>
                        </a>
                        <!-- 중고거래 -->
                        <a href="/secondhandProduct/mainPage" class="row align-end pt-4">
                            <!-- <div class="col-auto pe-0">
                                <span class="material-symbols-outlined">settings_accessibility</span>
                            </div> -->
                            <div class="col ps-0">
                                <span>중고거래</span>
                            </div>
                        </a>
                        <!-- 인스타 -->
                        <!-- <a href="#" class="row align-end pt-4">
                            <div class="col ps-0">
                                <span>인스타그램</span>
                            </div>
                        </a> -->
                        <!-- 모임 -->
                        <a href="/club/main" class="row align-end pt-4">
                            <!-- <div class="col-auto pe-0">
                                <span class="material-symbols-outlined">settings_accessibility</span>
                            </div> -->
                            <div class="col ps-0">
                                <span>소모임</span>
                            </div>
                        </a>                        
                    </div>
                </div>

                <!-- 캠프스타그램 -->
                <div class="row border-top m-0">
                    <a href="/insta/instaMainPage" class="col-5 pt-3 pb-3" style="font-size: 0.9em;">
                        <!-- My -->
                        <!-- <div class="col-auto pe-0">
                            <span class="material-symbols-outlined">settings_accessibility</span>
                        </div> -->
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </a>
                </div>

                <!-- 유튜브, 트위터, 페이스북 로고 -->
                <div class="row border-top m-0 pt-3 pb-3" style="padding-left: 12px;">
                    <div class="col-auto">
                        <div class="row pe-2">
                            <div class="col-auto rounded-circle border border-dark d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1; width: 28px;">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row pe-2">
                            <div class="col-auto rounded-circle border border-dark d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1; width: 28px;">
                                <i class="fa-brands fa-x-twitter"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row pe-2">
                            <div class="col-auto rounded-circle border border-dark d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1; width: 28px;">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row m-0 pb-3 border-top border-bottom" style="font-size: 0.8em; color: rgb(168, 168, 168);">
                    <div class="col">
                        <div class="row pt-3">
                            <div class="col">
                                <span>고객센터</span>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col">
                                <span>공지사항</span>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col">
                                <span>이용약관 / 개인정보 처리방침</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 로그아웃 -->
                <div class="row pt-4 pb-5 m-0 justify-content-center">
                    <a class="col-auto d-flex align-items-center" th:if="${session.sessionUserInfo != null}" href="/user/logoutProcess">
                        <!-- <button th:if="${session.sessionUserInfo == null}"
                                type="button" class="btn-close-custom" data-bs-dismiss="offcanvas">
                        </button> -->
                        <span class="material-symbols-outlined" style="font-size: 1.2em; color: rgb(168, 168, 168);">
                            logout
                        </span>
                        <span style="font-size: 0.8em; color: rgb(168, 168, 168);">로그아웃</span>
                    </a>
                </div>

                <div class="row mb-5 py-2">
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- canvas 끝 -->

<!--홈 하단네비 -->
<div th:fragment="bottomNaviBasecamp" class="bottomNaviBasecamp container-fluid g-0 border-top bg-white fixed-bottom pb-3" style="z-index: 5000;">
    <div class="row mx-1 py-2 text-center">
        
        <!--HOME-->
        <a href="/" class="col icon-and-text">
            <span class="material-symbols-outlined fw-light" style="font-size: 1.8em;  color: darkgray;">
                home
            </span>
            <span class="text-navi pt-1" style="font-size: 0.7em;  color: darkgray;">홈</span>
        </a>        

        <!-- 구매 -->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray; display: block;">
                    storefront
                </span>
                <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray; display: block;">
                    구매
                </span>
            </span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 메뉴 내용 -->
                <a class="dropdown-item col" href="/store">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">shopping_bag</span>
                            <span style="font-size: 0.9em;">스토어</span>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item col" href="/secondhandProduct/mainPage">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">eco</span>
                            <span style="font-size: 0.9em;">중고</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!-- 예약 -->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined  fw-semibold" style="font-size: 1.7em;  display: block;">
                    event_available
                </span>
                <span class="text-navi pt-1" style="font-size: 0.7em; ">
                    예약
                </span>
            </span>
            <ul class="dropdown-menu row custom-dropdown-menu">
                <!-- 메뉴 내용 -->
                <a class="dropdown-item col" href="/camp/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">camping</span>
                            <span style="font-size: 0.9em;">캠핑장</span>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item col" href="/campingcar/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">airport_shuttle</span>
                            <span style="font-size: 0.9em;">캠핑카</span>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <!-- 커뮤니티 -->
        <div class="col icon-and-text dropdown dropup">
            <span data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined fw-light" style="font-size: 1.7em; color: darkgray; display: block;">
                    forum
                </span>
                <span class="text-navi pt-1" style="font-size: 0.7em; color: darkgray; display: block;">
                    커뮤니티
                </span>
            </span>
            <ul class="dropdown-menu custom-dropdown-menu">
                <!-- 메뉴 내용 -->
                <a class="dropdown-item col" href="/club/main">
                    <div class="row w-100">
                        <div class="col-auto d-flex">
                            <span class="material-symbols-outlined pe-1 ps-1 fw-light">group</span>
                            <span style="font-size: 0.9em;">소모임</span>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item col" href="/insta/instaMainPage">
                    <span>
                        <img src="/public/img/instaImage/campstagram.png" class="img-fluid">
                    </span>
                </a>
            </ul>
        </div>
        
        <!--canvas 버튼-->
        <div class="col">
            <button class="btn py-0" style=" color: darkgray; line-height: 20px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#bottomNaviOffCanvas">
                <span class="material-symbols-outlined">
                    menu
                </span>
                <div class="row">
                    <div class="col">
                        <span style="font-size: 0.7em; color: darkgray;">
                            메뉴
                        </span>
                    </div>
                </div>
            </button>
        </div>
        
    </div>
</div>