<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>BaseCamp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/common.css">
        <script src="/public/js/util.js"></script>
        <script src="/public/js/uploader.js"></script>
        <style>
        </style>
    </head>
    <body class="bg-body-tertiary">
        <div class="container">
            <div class="row py-5">
                <div class="col"></div>
                <form id="storeRegisterForm" method="post" enctype="multipart/form-data" action="/camp/registerUserProcess" class="col-7">
                    <div class="row">
                        <div class="col-auto pe-0 fw-bold">
                            BaseCamp 
                        </div>
                    </div>
                    <div class="row pb-4" style="align-items: baseline;">
                        <div class="col pe-0 fs-2">
                            판매 회원가입
                        </div>
                        <!-- <div class="col text-body-tertiary">
                            가입하기
                        </div> -->
                        <div class="col-auto text-body-tertiary fw-bold">
                            1 판매자 유형 선택
                        </div>
                        <div class="col-auto text-primary fw-bold">
                            <span class="border-top border-2 border-primary">2 정보 입력</span>
                        </div>
                        <div class="col-auto text-body-tertiary fw-bold">
                            3 가입 신청 완료
                        </div>
                    </div>
                    <div class="row pb-3"  th:object="${campsiteDto}">
                        <div class="col">
                            <div class="row">
                                <div class="col px-4 border bg-white">
                                    <div class="row py-3 border-bottom">
                                        <div class="col fw-bold">
                                            회원정보 입력
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col">
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    아이디
                                                </div>
                                                <div class="col position-ralative">
                                                    <input onblur="checkSellerAccount()" id="inputId" name="account" type="text" class="form-control" placeholder="로그인 아이디" th:value="'campsite' + ${newCampsiteID}">
                                                    <div id="confirmResult" class="position-absolute f08 text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    비밀번호
                                                </div>
                                                <div class="col">
                                                    <input id="inputPw" name="password" type="password" class="form-control" placeholder="비밀번호" value="1234">
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    비밀번호 확인
                                                </div>
                                                <div class="col">
                                                    <input onkeyup="checkAccountPwConfirm()" id="inputPwConfirm" type="password" class="form-control" placeholder="비밀번호 확인" value="1234">
                                                    <div id="confirmAccountPw" class="position-absolute f08 text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    이름
                                                </div>
                                                <div class="col">
                                                    <input id="inputSeller" name="seller" type="text" class="form-control" placeholder="성함을 입력하세요" th:value="'캠핑장판매자' + ${newCampsiteID}">
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    전화번호
                                                </div>
                                                <div class="col">
                                                    <input type="text" id="inputPhone" name="phone" class="form-control " maxlength="13" oninput="formatPhoneNumber(this)" placeholder="하이폰 '-' 없이 입력">
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    이메일
                                                </div>
                                                <div class="col">
                                                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="username@domain.com" th:value="'camp' + ${newCampsiteID} + '@email.com'">
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    프로필 이미지
                                                </div>
                                                <div id="upload_profileImage" class="col">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row pb-4">
                                <div class="col px-4 border bg-white">
                                    <div class="row py-3 border-bottom">
                                        <div class="col fw-bold">
                                            캠핑장 기본정보
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col">
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    캠핑장명
                                                </div>
                                                <div class="col position-ralative">
                                                    <input onblur="checkCampName()" type="text" id="inputName" name="name" class="form-control" placeholder="캠핑장명" th:value="'캠핑장' + ${newCampsiteID}">
                                                    <div id="confirmCampName" class="position-absolute f08 text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    사업자 등록번호
                                                </div>
                                                <div class="col">
                                                    <input type="text" id="inputCRN" name="crn" class="form-control" placeholder="사업자 등록번호" th:value="${newCampsiteID + newCampsiteID + newCampsiteID + newCampsiteID + newCampsiteID}">
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col">
                                                    <div class="row pb-2 align-items-center">
                                                        <div class="col-3">
                                                            주소
                                                        </div>
                                                        <div class="col pe-0">
                                                            <input type="text" class="form-control bg-white" name="postcode" id="postcode" placeholder="우편번호">
                                                        </div>
                                                        <div class="col-auto">
                                                            <input type="button" id="postcodeButton" class="form-control" onclick="execDaumPostcode()" value="우편번호 찾기">
                                                        </div>
                                                    </div>
                                                    <div class="row pb-2">
                                                        <div class="col-3"></div>
                                                        <div class="col">
                                                            <input type="text" name="address" class="form-control bg-white" id="address" placeholder="주소">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col">
                                                            <input type="text" name="detail_address" class="form-control" id="detailAddress" placeholder="상세주소">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pb-4 align-items-center">
                                                <div class="col-3">
                                                    캠핑장 전화번호
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="camp_phone" id="inputCampPhone"  class="form-control " maxlength="13" oninput="formatPhoneNumber(this)" placeholder="하이폰 '-' 없이 입력" th:value="'010-' + ${newCampsiteID + newCampsiteID} + '-' + ${newCampsiteID + newCampsiteID}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row pb-3" th:object="${bankDto}">
                        <div class="col px-4 border bg-white">
                            <div class="row py-3 border-bottom">
                                <div class="col fw-bold">
                                    정산계좌 입력
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3">
                                            정산 계좌
                                        </div>
                                        <div class="col pe-0">
                                            <select class="form-control" name="bank_name" id="bank_name">
                                                <option value="selectPlease">
                                                    은행선택
                                                </option>
                                                <option value="국민은행">
                                                    국민은행
                                                </option>
                                                <option value="기업은행">
                                                    기업은행
                                                </option>
                                                <option value="농협">
                                                    농협
                                                </option>
                                                <option value="신한은행">
                                                    신한은행
                                                </option>
                                                <option value="우리은행">
                                                    우리은행
                                                </option>
                                                <option value="SC제일은행">
                                                    SC제일은행
                                                </option>
                                                <option value="KEB하나은행">
                                                    KEB하나은행
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row pb-4">
                                        <div class="col-3"></div>
                                        <div class="col pe-0">
                                            <input type="text" class="form-control" name="holder" id="account_holder" placeholder="예금주명" th:value="'캠핑장판매자' + ${newCampsiteID}">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="bank_account" id="bank_account" placeholder="계좌번호 (-없이 입력)" th:value="'000-' + ${newCampsiteID} + ${newCampsiteID} + '-' + ${newCampsiteID} + ${newCampsiteID} + '-' + ${newCampsiteID}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-5">
                        <div class="col"></div>
                        <div class="col-2 pe-0 d-grid">
                            <a href="/storeCenter/login" class="btn border bg-white py-2 rounded-0">
                                처음으로
                            </a>
                        </div>
                        <div class="col-3 pe-0 d-grid">
                            <input onclick="formSubmit()" type="button" value="가입신청완료" class="btn btn-primary py-2 rounded-0">
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row text-center py-5">
                        <div class="col f08 text-secondary">
                            <span class="fw-bold">BaseCamp</span> copyright ⓒ BaseCamp Corp. All rights reserved.
                        </div>
                    </div>
                </form>
                <div class="col"></div>
            </div>
        </div>
        <div th:replace="~{common/navi::popup}"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function formSubmit(){

                const inputId = document.getElementById("inputId");
                const confirmResult = document.getElementById("confirmResult");
                if(inputId.value == '' || confirmResult.innerText=="이미 사용중인 아이디입니다") {
                    inputId.focus();
                    return;
                }
                
                const inputPw = document.getElementById("inputPw");
                if(inputPw.value == '') {
                    inputPw.focus();
                    return;
                }

                const inputPwConfirm = document.getElementById("inputPwConfirm");
                const confirmAccountPw = document.getElementById("confirmAccountPw");
                if(inputPw.value != inputPwConfirm.value){
                    confirmAccountPw.innerText = "비밀번호와 일치하지 않습니다";
                    inputPwConfirm.focus();
                    return;
                }

                const inputSeller = document.getElementById("inputSeller");
                if(inputSeller.value == '') {
                    inputSeller.focus();
                    return;
                }
                
                const inputPhone = document.getElementById("inputPhone");
                if(inputPhone.value == '') {
                    inputPhone.focus();
                    return;
                }   

                const inputCampPhone = document.getElementById("inputCampPhone");
                if(inputCampPhone.value == '') {
                    inputCampPhone.focus();
                    return;
                }

                const inputEmail = document.getElementById("inputEmail");
                if(inputEmail.value == '') {
                    inputEmail.focus();
                    return;
                }

                const inputName = document.getElementById("inputName");
                const confirmCampName = document.getElementById("confirmCampName");
                if(inputName.value == '' || confirmCampName.innerText=="이미 사용중인 캠핑장 이름입니다"){
                    inputName.focus();
                    return;
                }

                const inputCRN = document.getElementById("inputCRN");
                if(inputCRN.value == '') {
                    inputCRN.focus();
                    return;
                }

                const postcode = document.getElementById("postcode");
                const address = document.getElementById("address");
                const postcodeButton = document.getElementById("postcodeButton");
                if(postcode.value == '' || address.value == ''){
                    // alert("주소를 입력해주세요");
                    postcodeButton.focus();
                    return;
                }

                const bank_name = document.getElementById("bank_name");
                if(bank_name.value=='selectPlease'){
                    bank_name.focus();
                    return;
                }

                const account_holder = document.getElementById("account_holder");
                if(account_holder.value==''){
                    account_holder.focus();
                    return;
                }

                const bank_account = document.getElementById("bank_account");
                if(bank_account.value==''){
                    bank_account.focus();
                    return;
                }

                const storeRegisterForm = document.getElementById("storeRegisterForm");
                storeRegisterForm.submit();

            }

            function checkSellerAccount(){
                const inputId = document.getElementById("inputId");

                const url = "/api/camp/isExistAccount?account=" + inputId.value;
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const confirmResult = document.getElementById("confirmResult");

                    if(response.data.isExistAccount == true){
                        // confirmResult.style.color = "red";
                        confirmResult.innerText = "이미 사용중인 아이디입니다";
                    }else{
                        confirmResult.innerText = "";
                    }
                })
            }

            function checkAccountPwConfirm(){
                const inputPw = document.getElementById("inputPw");
                const inputPwConfirm = document.getElementById("inputPwConfirm");
                
                const confirmAccountPw = document.getElementById("confirmAccountPw");

                if(inputPw.value == inputPwConfirm.value){
                    confirmAccountPw.innerText = "";
                }else{
                    confirmAccountPw.innerText = "비밀번호와 일치하지 않습니다";
                }
            }

            function checkCampName(){
                const inputName = document.getElementById("inputName");

                const url = "/api/camp/isExistCampName?name=" + inputName.value;
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const confirmCampName = document.getElementById("confirmCampName");

                    if(response.data.isExistName == true){
                        // confirmCampName.style.color = "red";
                        confirmCampName.innerText = "이미 사용중인 캠핑장 이름입니다";
                    }else{
                        confirmCampName.innerText = "";
                    }
                })
            }

            function checkDescriptionLength() {
                const inputDescription = document.getElementById("inputDescription");
                const descriptionCount = document.getElementById("descriptionCount");
                const currentLength = inputDescription.value.length;
                
                if (currentLength > 50) {
                    inputDescription.value = inputDescription.value.substring(0, 50);
                    currentLength = 50;
                }
                
                descriptionCount.textContent = currentLength + "/50";
            }


            function return_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {

                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }

                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }

                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('return_postcode').value = data.zonecode;
                        document.getElementById("return_address").value = addr+extraAddr;

                        document.getElementById("return_detailAddress").focus();
                    }
                }).open();
            }

            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = '';
                        var extraAddr = '';

                        if (data.userSelectedType === 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){

                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        }

                        document.getElementById('postcode').value = data.zonecode;
                        document.getElementById("address").value = addr+extraAddr;
                        document.getElementById("detailAddress").focus();
                    }
                }).open();
            }
            createUploader('profileImage');
        </script>
    </body>
</html>