body {
    font-family: 'Noto Sans KR', sans-serif;
}
/*메인 카테고리 배경*/
.main-span-custom {
    background-color: #F7F8FA;
}
/*메인 전체 카테고리 선택*/
.main-categoryBtn {
    border-radius: 0.8rem;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    background-color: #F7F8FA;
}
/*채팅 선택*/
.chat-span-custom {
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.8rem;
}
/* 상세게시글 카테고리,생성일 */
.main-title-font {
    font-size: 1rem;
    font-weight: 500;
    color: #1B1C1F;
}
.main-subtitle-font {
    font-size: 0.875rem;
    font-weight: 400;
    color: #868e96;
}
.main-price-font {
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
}
.main-like-font {
    font-size: 0.8rem;
    font-weight: 400;
    color: #868e96;
}
.post-title-font {
    font-size: 1rem;
    font-weight: 500;
}
.post-subtitle-font {
    font-size: 0.875rem;
    font-weight: 400;
    color: #868e96;
}
.post-content-font {
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
}
.font-custom3 {
    font-size: 0.75rem;
    color: #ADB1BA;
    font-weight: bold;
}
.link-noneAndColor {
    text-decoration: none;
    color: black;
}
.photo-upload span {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
}
.photo-upload i {
    position: absolute;
    top: 0.4rem;
    left: 1.26rem;
    font-size: 1.3rem;
}
.photo-box {
    width: 4rem;
    height: 4rem;
    margin-left: 0.5rem;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    flex-shrink: 0;
}
.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
}
.photo-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.2rem 0;
}
#photo-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#photo-container::-webkit-scrollbar { /* WebKit */
    display: none;
}
.container.photo-upload {
    display: inline-block;
    flex-shrink: 0;
}
.photo-upload {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    flex-shrink: 0;
    text-align: center;
}
.form-container {
    padding-bottom: 5rem; /* 여기에 바텀 마진을 추가합니다 */
}

/* ---메인페이지 게시글--- */

/* 메인페이지 게시글 링크*/
.mainPostLink-custom {
    color: black;
    text-decoration: none;
}
/* 링크 기본 */
.link-custom {
    color: black;
    text-decoration: none;
}

/* 메인페이지 상품 이미지 크기*/
.mainPostImg-custom {
    width: 6.5rem;
    height: 6.5rem;
    border: 0.05rem solid #868e96;
    border-radius: 0.5rem;
}
/* 게시글상세 상품 이미지 크기 */
.postDetailImage-custom {
    width: 100vw;
    height: 20rem;
}
.postDetailImage-custom img {
    width: 100%;
    height: 100%;
}
/* 채티방 상품  이미지 크기*/
.chatProductImg-custom {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0.05rem solid #868e96;
}
/*프로필 이미지*/
.profileImage-custom {
    width: 4rem;
    height: 3rem;
}
.profileImage-custom img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*지도 이미지 크기?*/
.postDetailMapImage-custom {
    width: 100%;
    height: 10rem;
}
.postDetailMapImage-custom img {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
/*게시글 제목 */
.title-line {
    display: inline-block;
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}


/* 모달 css */
.modal.modal-bottom .modal-dialog {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    max-width: none;
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
}
.modal.modal-bottom.show .modal-dialog {
    transform: translateY(0);
}

.modal.modal-bottom .modal-content {
    border-radius: 1rem 1rem 1rem 1rem;
}
.list-group-item {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0.8rem;
    font-size: 1.2rem;
}
/*삭제모달*/
#deleteModal .modal-dialog {
    max-width: 17rem;
    margin: 1.75rem auto; /* 가운데 정렬을 위한 마진 */
}
#deleteModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#deleteModal .modal-footer {
    border-top: none;
    padding-top: 0;
}
#deleteModal .btn-delete {
    background-color: #28323C; /* 삭제 버튼 색상 */
    color: white;
}
/*위치 등록 모달 - 삭제 */
#showModal .modal-dialog {
    max-width: 17rem;
    margin: 1.75rem auto; /* 가운데 정렬을 위한 마진 */
}
#showModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#showModal .modal-footer {
    border-top: none;
    padding-top: 0;
}
#showModal .btn-delete {
    background-color: #28323C; /* 삭제 버튼 색상 */
    color: white;
}
/*위치 등록 모달* - 삭제/
#locationModal .modal-dialog {
    width: 22rem;
    margin: 1.75rem auto; /* 가운데 정렬을 위한 마진 */
}
#locationModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#locationModal .modal-footer {
    border-top: none;
    padding-top: 0;
}
#locationModal .btn-consent {
    background-color: #28323C; /* 삭제 버튼 색상 */
    color: white;
    height: 3rem;
}
/*위치 등록중 모달*/
#registeringLocation .modal-dialog {
    width: 22rem;
    margin: 1.75rem auto; /* 가운데 정렬을 위한 마진 */
}
#registeringLocation .modal-header {
    text-align: center;
    border-bottom: none;
    padding-bottom: 0;
}
#registeringLocation .modal-footer {
    border-top: none;
    padding-top: 0;
}
#registeringLocation .btn-consent {
    text-align: center;
    color: red;
    height: 3rem;
}

