<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>BASECAMP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="/public/css/common.css">
        
        <script src="/public/js/calendar.js"></script>
        <script src="/public/js/uploader.js"></script>
        <script src="/public/js/util.js"></script>
        <script src="/public/js/camp/seller.js"></script>
        <script src="/public/js/sellerPage.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            initSession();
        </script>
    </head>
    <body> 
         <div th:replace="~{camp/campNavi::topNaviSeller}"></div>
        <div class="container-fluid">
          <div class="row">

            <!-- 메뉴 -->
            <div th:replace="~{camp/campNavi::leftNavi}"></div>

                <!-- 본문 -->
                <div class="col right ms-2" style="padding-top: 58px; ">
                         <!-- 상단 바 -->
                        <div th:replace="~{camp/campNavi::topNavi}"></div>

                        <!-- 내용 -->
                        <div class="row scroll-list-box" style="margin-top: 100px; width: 1600px;">
                            <div class="col ps-5" style="margin-left: 6em;">
                                
                                <!-- 구역 목록 -->
                                <div class="row new-mt-45 justify-content-center">
                                    <div class="col border rounded-2 me-5">
                                        <div class="row mt-1">
                                            <div class="col-auto ms-3 my-1 fs-5 fw-bold">구역 목록</div>
                                            <div class="col-auto ms-3 my-1 fs-5 fw-bold"><i class="bi bi-plus-square text-primary" onclick="registerAreaToggle()"></i></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto ms-3 mb-2 new-fs-9">구역은 고객들이 이용할 구역을 분류합니다.</div>
                                        </div>

                                        <!-- 구역 생성 탭 (평소에 안보임) -->
                                        <form id="registerArea" action="/campsiteCenter/registerAreaProcess" method="post"> 
                                            <div id="registerAreaView" class="d-none">
                                                <div class="row new-mt-45">
                                                    <div class="col">
                                                        <div class="row justify-content-center">
                                                            <div class="col border-top me-5">
                                                                <div class="row my-1">
                                                                    <div class="col-auto ms-3 my-1 fs-5 fw-bold">구역 생성</div>
                                                                </div>
                                                                <div class="row ps-1 pb-3 border-top">
                                                                    <div class="col mx-2">
                                                                        <div class="row mt-3 align-items-center">
                                                                            <div class="col-1 text-secondary text-end">구역 이름</div>
                                                                            <div class="col-4">
                                                                                <input required type="text" class="form-control fw-semibold" id="register_name" name="register_name" placeholder="구역 이름을 입력하세요"></input>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <div class="row mt-4 align-items-center">
                                                                            <div class="col-1 text-secondary text-end">기본 가격</div>
                                                                            <div class="col-2 fw-semibold">
                                                                                <input required type="text" class="form-control moneyInput" id="prise" name="prise" value="10,000">
                                                                            </div>
                                                                            <div class="col-auto fw-semibold">원</div>
                                                                        </div>
                                                                        <div class="row mt-4 align-items-center">
                                                                            <div class="col-1 text-secondary text-end">구역 크기</div>
                                                                            <div class="col-1"><input required class="fw-semibold form-control" type="number" max="999" name="size_x" id="size_x" ></div>
                                                                            <div class="col-auto fw-semibold mx-2">x</div>
                                                                            <div class="col-1"><input required class="fw-semibold form-control" type="number" max="999" name="size_y" id="size_y" ></div>
                                                                            <div class="col-1 text-secondary new-fs-85"><span>m (미터) 단위</span></div>
                                                                        </div>
                                                                        <div class="row mt-4 mb-3">
                                                                            <div class="col-1 text-secondary text-end">
                                                                                <span>구역 설명</span>
                                                                            </div>
                                                                            <div class="col-5 fw-semibold">
                                                                                <textarea required class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row my-1 pt-3 border-top flex-column mb-5 pb-5">
                                                                    <div class="col-auto new-fs-85 text-secondary">구역 생성 후 세부 설정이 필요합니다.</div>
                                                                    <div class="col-auto mt-3"><button class="btn btn-primary" onclick="replaceMoneyInput()">구역 생성</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <!-- 검색 기능 -->
                                        <div class="row ms-1 mb-3 align-items-center">
                                            <div class="col-auto fs-4"><i class="bi bi-search"></i></div>
                                            <div class="col-3 me-2 ps-1">
                                                <input type="text" class="my-2 new-fs-85 rounded-5 form-control border-secondary">
                                            </div>
                                            <div class="col-auto"><button class="btn btn-outline-primary" type="button">정렬</button></div>
                                            <div class="col-auto ps-0"><button class="btn btn-outline-primary" type="button">필터</button></div>
                                        </div>

                                        <!-- 구역 리스트 -->
                                        <div class="row">
                                            <div class="col">
                                                <div class="row mt-2 ps-1 border-top border-bottom bg-light">
                                                    <div class="col-11 mx-2 ms-3">
                                                    <div class="row py-1 fw-semibold">
                                                        <div class="col-4 ps-3 me-5">구역이름</div>
                                                        <div class="col-2 text-end">가격</div>
                                                        <div class="col-3 pe-5 text-end">포인트 수</div>
                                                        <div class="col-2 pe-5 text-end">상태</div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="row mx-2">
                                                    <div class="col">
                                                        <div class="row pb-2">
                                                            <div id="areaList" class="col">
                                                                <div class="row" th:if="${session.campsite.area.size() <= 0}">
                                                                    <div class="col text-center text-secondary">구역이 없습니다. 상단의 +버튼을 눌러 생성할 수 있습니다.</div>
                                                                </div>
                                                                <div class="row py-2 border-bottom" th:unless="${session.campsite.area.size() <= 0}" th:id="'area_' + ${area.dto.id}" th:each="area:${session.campsite.area}" th:attr="onclick=|selectArea('${area.dto.id}',onSelectArea)|">
                                                                    <div class="col-4 ms-1" th:text="${area.dto.name}">구역이름</div>
                                                                    <div class="col-2 moneyInput ps-0 ms-2 pe-3 text-end" th:text="${area.dto.prise}">가격</div>
                                                                    <div class="col-2 ms-5 ps-0 pe-2 text-end" th:unless="${area.pointInfo.point != null}">0</div>
                                                                    <div class="col-2 ms-5 ps-0 pe-2 text-end" th:if="${area.pointInfo.point != null}" th:text="${area.pointInfo.point.size()}">포인트 수</div>
                                                                    <div class="col-2 text-end pe-3 me-5 text-primary" th:text="${area.dto.process}">양호</div>
                                                                    <div class="col text-end ms-1 me-1 text-primary"><i class="bi bi-tools"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <form id="updateAreaProcess" action="/campsiteCenter/updateAreaProcess" method="post" enctype="multipart/form-data">
                                    <input id="setID" name="id" type="hidden">
                                    <div id="updateAreaView" class="d-none"> 
                                            <!-- 기본 정보 -->
                                        <div class="row new-mt-45">
                                            <div class="col">
                                                <div class="row justify-content-center">
                                                    <div class="col border rounded-2 me-5">
                                                        <div class="row my-1">
                                                            <div class="col-auto ms-3 my-1 fs-5 fw-bold">기본 정보</div>
                                                        </div>
                                                        <div class="row ps-1 pb-3 border-top">
                                                            <div class="col mx-2">
                                                                <div class="row mt-3 align-items-center">
                                                                    <div class="col-1 text-secondary text-end">구역 이름</div>
                                                                    <div class="col-4">
                                                                        <input type="text" class="form-control fw-semibold" id="update_name" name="update_name" placeholder="구역 이름을 입력하세요"></input>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="row mt-4 align-items-center">
                                                                    <div class="col-1 text-secondary text-end">기본 가격</div>
                                                                    <div class="col-2 fw-semibold">
                                                                        <input type="text" class="form-control moneyInput" id="prise" name="prise" value="10,000"></input>
                                                                    </div>
                                                                    <div class="col-auto fw-semibold">원</div>
                                                                </div>
                                                                <div class="row mt-4 align-items-center">
                                                                    <div class="col-1 text-secondary text-end">구역 크기</div>
                                                                    <div class="col-1"><input class="fw-semibold form-control" type="number" max="999" name="size_x" id="size_x" ></div>
                                                                    <div class="col-auto fw-semibold mx-2">x</div>
                                                                    <div class="col-1"><input class="fw-semibold form-control" type="number" max="999" name="size_y" id="size_y" ></div>
                                                                    <div class="col-1 text-secondary new-fs-85"><span>m (미터) 단위</span></div>
                                                                </div>
                                                                <div class="row mt-4 mb-3">
                                                                    <div class="col-1 text-secondary text-end">
                                                                        <span>구역 설명</span>
                                                                    </div>
                                                                    <div class="col-5 fw-semibold">
                                                                        <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 이미지 정보 -->
                                        <div class="row new-mt-45 justify-content-center">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col ms-3 my-1 fs-5 fw-bold">이미지 정보</div>
                                                </div>
                                                <div class="row border-top pb-2">
                                                    <div class="col mx-2">
                                                        <div class="row mt-3 flex-column">
                                                            <div class="col-auto text-secondary text-start ms-1">구역 이미지</div>
                                                            <div class="col-8 pb-3">
                                                                <div id="upload_mainImage"></div>
                                                                <span class="text-secondary new-fs-9">
                                                                    <div>사진을 드래그하여 위치를 바꿀 수 있습니다.</div>
                                                                    <div>맨 앞의 이미지는 대표 이미지로 지정되어 메인에 노출됩니다.</div>
                                                                    <div>캠핑장 이미지는 최대 10장, 용량은 최대 100MB까지 업로드 하실 수 있습니다.</div>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row border-top pb-2">
                                                    <div class="col mx-2">
                                                        <div class="row mt-3 flex-column">
                                                            <div class="col-auto text-secondary text-start ms-1">배치도 이미지</div>
                                                            <div class="col-8 pb-3">
                                                                <div id="upload_mapImage"></div>
                                                                <span class="text-secondary new-fs-9">용량은 최대 100MB까지 한 장만 업로드 하실 수 있습니다.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row border-top pb-2 pt-3">
                                                    <div class="col mx-2 mb-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <span class="text-secondary new-fs-9">미리 보기를 통해 실제 사용자들이 어떻게 보이는지 확인할 수 있습니다.</span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <button class="btn btn-primary">미리 보기</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>

                                        <!-- 구역 정보 -->
                                        <div class="row new-mt-45 justify-content-center">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col ms-3 my-1 fs-5 fw-bold">구역 정보</div>
                                                </div>
                                                <div class="row border-top py-3">
                                                    <div class="row my-1">
                                                        <div class="col ms-3 my-1 pb-2 new-fs-85 text-secondary">
                                                            <div class="fs-6 mb-2">구역의 특징을 <span class="fw-bold">정확하게</span> 선택해주세요.</div>
                                                            <div>거짓된 정보로 고객들을 현혹 시, 신고사유가 될 수 있으며,</div>
                                                            <div>이후에 서비스 사용 재제, 영구 정지 또는 법적 조치로 이어질 수 있습니다.</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-8 ms-3">
                                                            <div class="row" id="categoryList">
                                                                <div class="col-8 ms-3 mt-2 px-0">
                                                                    <span th:each="area_Category : ${session.category.area}">
                                                                        <input name="areaCategory" type="checkbox" class="btn-check" th:id="'areaCategory' + ${area_Category.id}" th:value="${area_Category.id}" autocomplete="off">
                                                                        <label class="btn ms-2 mb-2 rounded-5 btn-outline-primary" th:for="'areaCategory' + ${area_Category.id}"><span th:text="${area_Category.name}"></span></label>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 포인트 정보 -->
                                        <div class="row new-mt-45 justify-content-center">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col-auto ms-3 my-1 fs-5 fw-bold">포인트 설정</div>
                                                    <div class="col-auto ms-3 my-1 fs-5 fw-bold"><i class="bi bi-plus-square text-primary" onclick="registerPointToggle()"></i></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-auto text-secondary ms-3 mb-4 new-fs-9">
                                                        <div>실제로 고객들이 사용할 자리를 설정합니다. 실제 캠핑장의 배치도에 맞게 설정해주세요.</div>
                                                        <div>포인트 이름은 중복이 허용되지 않습니다.</div>
                                                    </div>
                                                </div>

                                                <!-- 구역 생성 탭 (평소에 안보임) -->
                                                <div id="registerPointView" class="d-none">
                                                    <div class="row new-mt-45">
                                                        <div class="col">
                                                            <div class="row justify-content-center">
                                                                <div class="col border-top me-5">
                                                                    <div class="row my-1">
                                                                        <div class="col-auto ms-3 my-1 fs-5 fw-bold">포인트 생성</div>
                                                                    </div>
                                                                    <div class="row ps-1 pb-3 border-top">
                                                                        <div class="col mx-2">
                                                                            <div class="row mt-3 align-items-center">
                                                                                <div class="col-1 text-secondary text-end">포인트 이름</div>
                                                                                <div class="col-4">
                                                                                    <input required type="text" class="form-control fw-semibold" id="point_name" name="name" placeholder="포인트 이름을 입력하세요"></input>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mt-4 align-items-center">
                                                                                <div class="col-1 text-secondary text-end">자리 수</div>
                                                                                <div class="col-1"><input class="fw-semibold form-control" type="number" max="99" name="point_count" id="point_count" value="1"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row my-1 pt-3 border-top flex-column mb-5 pb-5">
                                                                        <div class="col-auto mt-3"><button class="btn btn-primary" type="button" onclick="registerPoint()">포인트 생성</button></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 


                                                <!-- 포인트 리스트 -->
                                                <div class="row ps-4 py-1 border-top border-bottom bg-light">
                                                    <div class="col-1">포인트 이름</div>
                                                    <div class="col-1 ms-2 me-5 text-end">자리 수</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" id="pointList">
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 요금 -->
                                        <div class="row new-mt-45 justify-content-center d-none" id="payTab">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col ms-3 my-1 fs-5 fw-bold">요금 설정</div>
                                                </div>
                                                <div class="row border-top pt-3">
                                                    <div class="col-auto ms-3 mt-2 px-0">
                                                        <input name="followCampPay" type="radio" class="btn-check" id="followCampPayTrue" autocomplete="off" value="T" checked>
                                                        <label class="btn px-3 ms-2 mb-2 rounded-5 btn-outline-primary" for="followCampPayTrue">캠핑장 규칙에 따름</label>
                                                    </div>
                                                    <div class="col-auto mt-2 px-0">
                                                        <input name="followCampPay" type="radio" class="btn-check" id="followCampPayFalse" autocomplete="off" value="F">
                                                        <label class="btn px-5 ms-0 mb-2 rounded-5 btn-outline-primary" for="followCampPayFalse">임의로 설정</label>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col ms-2 my-1 new-fs-85 text-secondary">
                                                        <div>'임의로 설정'을 선택하여 구역에 따라 다른 요금을 설정할 수 있습니다.</div>
                                                        <div>요금 설정 시 기존의 캠핑장 규칙에서 정한 값은 반영하지 않습니다.</div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col d-none ">
                                                        <div class="row mt-3">
                                                            <div class="col-auto mt-1 ms-2 fw-semibold">
                                                                인원 추가 요금
                                                            </div>
                                                        </div>
                                                        <div class="row mt-4">
                                                            <div class="col-auto mt-1 ms-5">
                                                                성인
                                                            </div>
                                                            <div class="col-2 ms-3 pe-0">
                                                                <input name="adult_pay" class="form-control text-end moneyInput" type="text" value="0">
                                                            </div>
                                                            <div class="col-auto mt-1">
                                                                원
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-auto mt-1 ms-3">
                                                                미성년자
                                                            </div>
                                                            <div class="col-2 ms-3 pe-0">
                                                                <input name="kid_pay" class="form-control text-end moneyInput" type="text" value="0">
                                                            </div>
                                                            <div class="col-auto mt-1">
                                                                원
                                                            </div>
                                                        </div>
                                                        <div class="row mt-5  mb-3">
                                                            <div class="col-auto pe-0 mt-1 fw-semibold">
                                                                차량 추가 요금
                                                            </div>
                                                            <div class="col-2 ms-3 pe-0 ps-1">
                                                                <input name="car_pay" class="form-control text-end moneyInput" type="text" value="10,000" placeholder="0">
                                                            </div>
                                                            <div class="col-auto mt-1 fw-semibold">
                                                                원
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <!-- 시간 -->
                                        <div class="row new-mt-45 justify-content-center d-none" id="timeTab">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col ms-3 my-1 fs-5 fw-bold">시간 설정</div>
                                                </div>

                                                <div class="row border-top py-2">
                                                    <div class="col ms-2 fw-semibold">구역별 시간 설정</div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-auto ms-3 mt-2 px-0">
                                                        <input name="followCampTime" type="radio" class="btn-check" id="followCampTimeTrue" autocomplete="off" value="T" checked>
                                                        <label class="btn px-3 ms-2 mb-2 rounded-5 btn-outline-primary" for="followCampTimeTrue">캠핑장 규칙에 따름</label>
                                                    </div>
                                                    <div class="col-auto mt-2 px-0">
                                                        <input name="followCampTime" type="radio" class="btn-check" id="followCampTimeFalse" autocomplete="off" value="F">
                                                        <label class="btn px-5 ms-0 mb-2 rounded-5 btn-outline-primary" for="followCampTimeFalse">임의로 설정</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col ms-2 my-1 new-fs-85 text-secondary">
                                                        <div>'임의로 설정'을 선택하여 구역에 따라 다른 요금을 설정할 수 있습니다.</div>
                                                        <div>요금 설정 시 기존의 캠핑장 규칙에서 정한 값은 반영하지 않습니다.</div>
                                                    </div>
                                                </div>
                                                <div id="timeSetter" class="row">
                                                    <div class="col">
                                                        <div class="row mt-3 pt-3 pb-1">
                                                            <div class="col ms-2 fw-semibold">예약 마감 시간</div>
                                                        </div>
                                                        
                                                        
                                                        <div class="row mt-1">
                                                            <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                                <div>이 시간 이후에는 예약이 불가능합니다.</div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-6 pe-0">
                                                                <div id="calendar_opentime"> </div>
                                                            </div>
                                                        </div>

                                                        <div class="row mt-4 mb-3">
                                                            <div class="col">
                                                                <div class="row pt-3 pb-1">
                                                                    <div class="col ms-2 fw-semibold">최대 예약 기간</div>
                                                                </div>
                                                                <div class="row mt-1">
                                                                    <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                                        <div>고객들이 최대로 예약 가능한 일수입니다.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-2 pe-0">
                                                                        <input name="max_ordertime" class="form-control text-end" type="number" id="max_ordertime" value="7">
                                                                    </div>
                                                                    <div class="col-auto mt-1 fw-semibold">
                                                                        일
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                                
                                                <div class="row mt-4 mb-3">
                                                    <div class="col">
                                                        <div class="row pt-3 pb-1">
                                                            <div class="col ms-2 fw-semibold">최소 예약 기간</div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                                <div>고객들이 최소 몇 일부터 예약 가능한지 설정합니다.</div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col-2 pe-0">
                                                                <input name="min_ordertime" class="form-control text-end" value="1" type="number" id="min_ordertime">
                                                            </div>
                                                            <div class="col-auto mt-2 fw-semibold">
                                                                일
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <!-- 할인 -->
                                        <div class="row new-mt-45 justify-content-center d-none">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col ms-3 my-1 fs-5 fw-bold">할인 설정</div>
                                                </div>
                                                <div class="row border-top pt-3">
                                                    <div class="col-auto ms-3 mt-2 px-0">
                                                        </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col ms-2 my-1 new-fs-85 text-secondary">
                                                        <div>'임의로 설정'을 선택하여 구역에 따라 다른 요금을 설정할 수 있습니다.</div>
                                                        <div>요금 설정 시 기존의 캠핑장 규칙에서 정한 값은 반영하지 않습니다.</div>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-2 mx-2">
                                                        <button class="btn btn-primary">추가</button>
                                                    </div>
                                                </div>

                                                <div id="addSale" class="row mx-2 mt-4 p-2 py-3 border rounded-2">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div id="calendar_sale"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-4">
                                                            <div class="col-auto pe-0 mt-1 fw-semibold">
                                                                할인율
                                                            </div>
                                                            <div class="col-1 ms-3 pe-0 ps-1">
                                                                <input name="car_pay" class="form-control text-end moneyInput" type="text" placeholder="0">
                                                            </div>
                                                            <div class="col-auto mt-1 fw-semibold">
                                                                %
                                                            </div>
                                                        </div>
                                                        <div class="row mt-5 justify-content-end">
                                                            <div class="col-auto">
                                                                <button class="btn btn-primary">확인</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-4 mb-2">
                                                    <div class="col-auto ms-2 mt-1 fw-semibold">
                                                        할인 목록
                                                    </div>
                                                </div>
                                                <div class="row border-top border-bottom bg-light">
                                                    <div class="col-11 mx-2">
                                                        <div class="row py-1 fw-semibold text-center">
                                                            <div class="col-4">구역이름</div>
                                                            <div class="col-2">할인율</div>
                                                            <div class="col-3">기간</div>
                                                            <div class="col-2">상황</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                                <div class="row pb-2">
                                                    <div id="saleList" class="col">
                                                        <div class="row border-bottom">
                                                            <div class="col-11 mx-2">
                                                                <div class="row py-1 text-center">
                                                                    <div class="col-4">베어그릴스의 야생의 시간</div>
                                                                    <div class="col-2" style="color:orangered">100%</div>
                                                                    <div class="col-3">2024/12/12 ~ 2024/12/12</div>
                                                                    <div class="col-2 text-secondary">할인 대기 중</div>
                                                                    <div class="col text-end text-danger"><i class="bi bi-trash"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 구역 삭제 요청 -->
                                        <div class="row new-mt-45 justify-content-center">
                                            <div class="col border rounded-2 me-5">
                                                <div class="row my-1">
                                                    <div class="col ms-3 my-1 fs-5 fw-bold">구역 삭제</div>
                                                </div>
                                                <div class="row border-top pt-3">
                                                    <div class="col-auto ms-3 mt-2 px-0">
                                                        </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col ms-2 my-1 new-fs-85 text-secondary">
                                                        <div>삭제 요청 후 삭제까지는 1 ~ 3일 정도 시간이 소요됩니다.</div>
                                                        <div>삭제 완료 시 고객에게서 구역이 보이지 않으며, 예약이 불가능합니다.</div>
                                                        <div>삭제 전 해당 구역을 이용했던 고객들의 과거 기록들은 남아있습니다.</div>
                                                        <div class="mt-4 fw-semibold">삭제를 원하시면 아래 문구를 정확히 작성해야합니다.</div>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-4 ms-3 pe-0 ps-1">
                                                        <input name="request_delete_area" class="form-control" type="text" id="request_delete_area">
                                                    </div>
                                                </div>

                                                <div class="row mt-5 mb-3">
                                                    <div class="col-2 mx-2 ">
                                                        <button id="deleteAreaButton" type="button" class="btn btn-danger">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>

        <div th:replace="~{common/navi::popup}"></div>
        <script>  
            createCalendar('opentime', yearsAgo(1));
            createRangeCalendar('sale',365, yearsAgo(1));
            
            createMultipleUploader('mainImage');
            createUploader('mapImage');
            
            function reloadMapImage() {
                const preview = createPreviewImage(curArea.dto.map_image, 'mapImage', false);
                preview.classList.add('isAlreadyUploaded');
                // imgList에 미리보기 이미지 추가
                const imgList = document.getElementById('imgList_' + uploaderName);
                imgList.appendChild(preview);
            }

            function onSelectArea() {
                refreshUpdateAreaView();
                setUploadedMapImage();
                setUploadedMainImages();
                addColonMoneyInput();
            }

            function registerPointToggle() {
                const registerAreaTab = document.getElementById('registerPointView');
                if(registerAreaTab.classList.contains('d-none'))
                    registerAreaTab.classList.remove('d-none');
                else
                    registerAreaTab.classList.add('d-none');
            }
            function registerAreaToggle() {
                const registerAreaTab = document.getElementById('registerAreaView');
                if(registerAreaTab.classList.contains('d-none'))
                    registerAreaTab.classList.remove('d-none');
                else
                    registerAreaTab.classList.add('d-none');
                }
        
            function initFormButton() {
                const stateButton = document.getElementById('saveStateButton');
                stateButton.onclick = function(event) { 
                    event.preventDefault();  // 기본 제출 동작 방지
                    validateAndSubmitForm(); 
                };
                const setId = document.getElementById('setID');
                function validateAndSubmitForm() {
                    // 초기화
                    const form = document.getElementById('updateAreaProcess');

                    const requiredFields = [
                        // 'car_pay',
                        // 'kid_pay',
                        // 'adult_pay',
                        // 'peak_pay',
                        // 'min_ordertime',
                        // 'limit_people',
                        // 'max_car',
                        // 'max_people',
                        'description',
                        'size_x',
                        'size_y',
                        'prise',
                        'update_name'        
                    ];
                    let allValid = true;
                    
                    // 빈칸 확인
                    requiredFields.forEach((fieldName) => {
                        let field = form.querySelector(`[name="${fieldName}"]`);
                        if (!field.value) {
                            field.scrollIntoView({ behavior: 'smooth', block: 'center' });
                            allValid = false;
                        }
                    });
                    const categoryInputs = form.querySelectorAll('input[name="areaCategory"]:checked');
                    if(allValid) {
                        // 카테고리 체크 확인
                        if (categoryInputs.length === 0) {
                            alert('구역 카테고리를 하나 이상 선택해주세요.');
                            document.getElementById('categoryList').scrollIntoView({ behavior: 'smooth', block: 'center' });
                            allValid = false;
                        }
                    }
                    // 모든 유효성 마침 
                    if (allValid) {
                        // 돈 쉼표 제거
                        replaceMoneyInput();

                        // 카테고리 데이터화
                        const categoryIds = Array.from(categoryInputs).map(input => input.value);
                        categoryIds.forEach(categoryId => {
                            const hiddenInput = document.createElement('input');
                            hiddenInput.type = 'hidden';
                            hiddenInput.name = 'areaCategory';
                            hiddenInput.value = categoryId;
                            form.appendChild(hiddenInput);
                        });
                        onSubmitSendUploader();
                        console.log(document.getElementById('update_name').value);
                        document.getElementById('updateAreaProcess').submit();
                    }
                }
            }

            document.addEventListener('DOMContentLoaded',()=>{
                initFormButton();
                addColonMoneyInput();
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
