<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>BASECAMP</title>
    <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="/public/css/common.css">
        <link rel="stylesheet" href="/public/css/campsite/campsiteSeller.css">
        
        <script src="/public/js/calendar.js"></script>
        <script src="/public/js/uploader.js"></script>
        <script src="/public/js/util.js"></script>
        <script src="/public/js/camp/seller.js"></script>
        <script src="/public/js/sellerPage.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>initSession();</script>
    </head>
    <body> 
         <div th:replace="~{camp/campNavi::topNaviSeller}"></div>
        <div class="container-fluid">
          <div class="row">

            <!-- 메뉴 -->
            <!-- <div th:replace="~{camp/campNavi::leftNavi}"></div> -->

            <!-- 본문 -->
            <div class="col right ms-2" style="padding-top: 58px; ">
                <form id="updateCampProcess" method="post" action="/campsiteCenter/updateCampProcess" enctype="multipart/form-data">
                    <input type="hidden" th:value="${session.campsite.dto.seller_name}" name="seller_name">
                    <input type="hidden" th:value="${session.campsite.dto.id}" name="id">
                    <!-- 상단 바 -->
                    <div th:replace="~{camp/campNavi::topNavi}"></div>

                    <!-- 내용 -->
                    <div class="row scroll-list-box" style="margin-top: 100px; width: 1600px;">
                        <div class="col ps-5" style="margin-left: 6em;">
                            <div class="row new-mt-45 justify-content-center">
                                <div class="col border rounded-2 me-5">
                                    <div class="row my-1">
                                        <div class="col ms-3 my-1 fs-5 fw-bold">기본 정보</div>
                                    </div>
                                    <div class="row border-top pb-2">
                                        <div class="col mx-2">
                                            <div class="row mt-3 align-items-center">
                                                <div class="col-1 text-secondary text-end">캠핑장 이름</div>
                                                <div class="col-4">
                                                    <span class= "fw-semibold" id="text_camp_name" th:text="${session.campsite.dto.camp_name}">베어그릴스와 행복한 캠핑타임</span>
                                                    <input class="form-control d-none" id="editable_camp_name" name="camp_name" th:value="${session.campsite.dto.camp_name}">
                                                </div>
                                                <div class="col-auto">
                                                    <i class="bi bi-pencil-square text-primary" onclick="editableText('camp_name')"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-4 align-items-center">
                                                <div class="col-1 text-secondary text-end">주소</div>
                                                <div class="col-4 fw-semibold" th:text="${session.campsite.dto.address} + ' ' + ${session.campsite.dto.detail_address}">충북 제천시 백운면 구학산로 1038 (운학리)</div>
                                            </div>
                                            <div class="row mt-4 align-items-center">
                                                <div class="col-1 text-secondary text-end">캠핑장 연락처</div>
                                                <div class="col-4 fw-semibold"> 
                                                    <span id="text_camp_phone" th:text="${session.campsite.dto.camp_phone}">010-1234-1234</span>
                                                    <input class="form-control d-none" id="editable_camp_phone" name="camp_phone" th:value="${session.campsite.dto.camp_phone}">
                                                </div>
                                                <div class="col-auto">
                                                    <i class="bi bi-pencil-square text-primary" onclick="editableText('camp_phone')"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-4 align-items-center">
                                                <div class="col-1 text-secondary text-end">홈페이지</div>
                                                <div class="col-4 fw-semibold">
                                                    <a th:href="@{${session.campsite.dto.url}}" id="text_url" th:text="${session.campsite.dto.url}">https://www.google.com/</a>
                                                    <input class="form-control d-none" id="editable_url" name="url" th:value="${session.campsite.dto.url}">
                                                </div>
                                                <div class="col-auto">
                                                    <i class="bi bi-pencil-square text-primary" onclick="editableText('url')"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-4 align-items-start">
                                                <div class="col-1 text-secondary text-end">캠핑장 이메일</div>
                                                <div class="col-4 fw-semibold">
                                                    <span id="text_email" th:text="${session.campsite.dto.email}"></span>
                                                    <input class="form-control d-none" id="editable_email" name="email" th:value="${session.campsite.dto.email}">
                                                </div>
                                                <div class="col-auto">
                                                    <i class="bi bi-pencil-square text-primary" onclick="editableText('email')"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-4 mb-3">
                                                <div class="col-1 text-secondary text-end">
                                                    <span>캠핑장 소개</span>
                                                </div>
                                                <div class="col-4 fw-semibold">
                                                    <div id="text_description" th:utext="${session.campsite.dto.description}"></div>
                                                    <textarea class="form-control d-none" name="description" id="editable_description" cols="30" rows="5" th:text="${session.campsite.dto.description}"></textarea>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="bi bi-pencil-square text-primary" onclick="editableText('description')"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="row new-mt-45 justify-content-center">
                                <div class="col border rounded-2 me-5">
                                    <div class="row my-1">
                                        <div class="col ms-3 my-1 fs-5 fw-bold">이미지 정보</div>
                                    </div>
                                    <div class="row border-top pb-2">
                                        <div class="col mx-2">
                                            <div class="row mt-3 flex-column">
                                                <div class="col-auto text-secondary text-start ms-1">캠핑장 이미지</div>
                                                <div class="col-8 pb-3 mb-2">
                                                    <div id="upload_mainImage"></div>
                                                    <span class="text-secondary new-fs-9">
                                                        <!-- <div>사진을 드래그하여 위치를 바꿀 수 있습니다.</div> -->
                                                        <div>맨 앞의 이미지는 대표 이미지로 지정되어 메인에 노출됩니다.</div>
                                                        <div>캠핑장 이미지는 최대 10장, 용량은 최대 100MB까지 업로드 하실 수 있습니다.</div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row border-top pb-2">
                                        <div class="col mx-2">
                                            <div class="row mt-3 flex-column">
                                                <div class="col-auto text-secondary text-start ms-1">배치도 이미지</div>
                                                <div class="col-8 pb-3">
                                                    <div id="upload_mapImage"></div>
                                                    <span class="text-secondary new-fs-9">용량은 최대 100MB까지 한 장만 업로드 하실 수 있습니다.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row border-top pb-2 pt-3">
                                        <div class="col mx-2 mb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="text-secondary new-fs-9">미리 보기를 통해 실제 사용자들이 어떻게 보이는지 확인할 수 있습니다.</span>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <button class="btn btn-primary">미리 보기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>



                            <div class="row new-mt-45 justify-content-center">
                                <div class="col border rounded-2 me-5">
                                    <div class="row my-1">
                                        <div class="col ms-3 my-1 fs-5 fw-bold">시설 정보</div>
                                    </div>
                                    <div class="row border-top py-3">
                                        <div class="row my-1">
                                            <div class="col ms-3 my-1 pb-2 new-fs-85 text-secondary">
                                                <div class="fs-6 mb-2">캠핑장의 특징이나 설비를 <span class="fw-bold">정확하게</span> 선택해주세요.</div>
                                                <div>거짓된 정보로 고객들을 현혹 시, 신고사유가 될 수 있으며,</div>
                                                <div>이후에 서비스 사용 재제, 영구 정지 또는 법적 조치로 이어질 수 있습니다.</div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between" id="categoryList">
                                            <div class="col-8 ms-3 mt-2 px-0">
                                                <span th:each="camp_Category : ${session.category.camp}">
                                                    <input name="campCategory" type="checkbox" class="btn-check" th:id="'campCategory' + ${camp_Category.id}" th:value="${camp_Category.id}" autocomplete="off">
                                                    <label class="btn ms-2 mb-2 rounded-5 btn-outline-primary" th:for="'campCategory' + ${camp_Category.id}"><span th:text="${camp_Category.name}"></span></label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row new-mt-45 justify-content-center">
                                <div class="col border rounded-2 me-5">
                                    <div class="row my-1">
                                        <div class="col ms-3 my-1 fs-5 fw-bold">운영 정책</div>
                                    </div>
                                    <div class="row border-top py-3">
                                        <div class="row my-1">
                                            <div class="col ms-3 pb-2 new-fs-9 text-secondary">
                                                <div>운영 정책 및 변경 요금은 관리자의 승인 이후 변경 내용이 반영됩니다.</div>
                                                <div>잦은 변경은 관리자에 의해 장시간 그 변경 사항들이 보류될 수 있습니다.</div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col ms-3 fw-semibold">기능 정책</div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-8 ms-3 mt-2 px-0">
                                                <input name="alarm_empty_point" type="checkbox" class="btn-check" id="alarm_empty_point" autocomplete="off">
                                                <label class="btn ms-2 mb-2 rounded-5 btn-outline-primary" for="alarm_empty_point">빈자리 알림</label>

                                                <input name="cant_use_mileage" type="checkbox" class="btn-check" id="cant_use_mileage" autocomplete="off">
                                                <label class="btn ms-2 mb-2 rounded-5 btn-outline-primary" for="cant_use_mileage">마일리지 사용불가</label>

                                                <input name="no_online_pay" type="checkbox" class="btn-check" id="no_online_pay" autocomplete="off">
                                                <label class="btn ms-2 mb-2 rounded-5 btn-outline-primary" for="no_online_pay">온라인 결제불가</label>
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            <div class="col ms-3 pb-2 new-fs-9 text-secondary">
                                                <div>아래 내용들은 고객들이 예약 시 확인할 수 있는 사항들입니다.</div>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col ms-3 fw-semibold">예약 유의사항</div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-8 mx-3">
                                                <textarea class="form-control" rows="5" name="notice" th:text="${session.campsite.dto.noticeToText()}"></textarea>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col ms-3 fw-semibold">시설 이용안내</div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-8 mx-3">
                                                <textarea class="form-control" rows="5" name="facility_notice" th:text="${session.campsite.dto.facility_noticeToText()}"></textarea>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col ms-3 fw-semibold">환불 유의사항</div>
                                        </div>
                                        <div class="row mt-3 mb-3">
                                            <div class="col-8 mx-3">
                                                <textarea class="form-control" rows="5" name="refund_notice" th:text="${session.campsite.dto.refund_noticeToText()}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row new-mt-45 justify-content-center">
                                <div class="col border rounded-2 me-5">
                                    <div class="row my-1">
                                        <div class="col ms-3 my-1 fs-5 fw-bold">시간 설정</div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col">
                                            <div class="row border-top pb-1 pt-3">
                                                <div class="col ms-2 fw-semibold">성수기 설정</div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                    <div>설정한 범위 내의 기간에는 성수기 요금이 추가됩니다.</div>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-5">
                                                    <div id="calendar_peak"></div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col">
                                            <div class="row pt-3 pb-1">
                                                <div class="col ms-2 fw-semibold">예약 마감 시간</div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                    <div>이 시간 이후에는 예약이 불가능합니다.</div>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-5">
                                                    <div id="calendar_opentime"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5 mb-3">
                                        <div class="col">
                                            <div class="row pt-3 pb-1">
                                                <div class="col ms-2 fw-semibold">체크인 / 체크 아웃</div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                    <div>캠핑장의 체크인과 체크아웃 시간을 설정합니다.</div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-1 mt-1 text-end">
                                                    체크인
                                                </div>
                                                <div class="col-2 pe-0">
                                                    <input name="check_in" class="form-control text-end" type="time" id="check_in" 
                                                           th:value="${#dates.format(session.campsite.dto.check_in, 'HH:mm')}">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-1 mt-1 text-end">
                                                    체크아웃
                                                </div>
                                                <div class="col-2 pe-0">
                                                    <input name="check_out" class="form-control text-end" type="time" id="check_out" 
                                                           th:value="${#dates.format(session.campsite.dto.check_out, 'HH:mm')}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5 mb-3">
                                        <div class="col">
                                            <div class="row pt-3 pb-1">
                                                <div class="col ms-2 fw-semibold">매너 타임</div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                    <div>캠핑장 에티켓을 위해 설정할 수 있습니다.</div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-2 pe-0">
                                                    <input name="manner_start" class="form-control text-end" type="time" id="manner_start" 
                                                           th:value="${#dates.format(session.campsite.dto.manner_start, 'HH:mm')}">
                                                </div>
                                                <div class="col-auto mt-1 fw-semibold">
                                                    부터
                                                </div>
                                                <div class="col-2 pe-0">
                                                    <input name="manner_end" class="form-control text-end" type="time" id="manner_end" 
                                                           th:value="${#dates.format(session.campsite.dto.manner_end, 'HH:mm')}">
                                                </div>
                                                <div class="col-auto mt-1 fw-semibold">
                                                    까지
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5 mb-3">
                                        <div class="col">
                                            <div class="row pt-3 pb-1">
                                                <div class="col ms-2 fw-semibold">최대 예약 기간</div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col ms-2 pb-2 new-fs-9 text-secondary">
                                                    <div>고객들이 최대로 예약 가능한 일수입니다.</div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-2 pe-0">
                                                    <input name="max_ordertime" class="form-control text-end" type="text" id="max_ordertime" th:value="${session.campsite.dto.max_ordertime}">
                                                </div>
                                                <div class="col-auto mt-1 fw-semibold">
                                                    일
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>



                            <div class="row new-mt-45 justify-content-center">
                                <div class="col border rounded-2 me-5">
                                    <div class="row my-1">
                                        <div class="col ms-3 my-1 fs-5 fw-bold">요금 설정</div>
                                    </div>
                                    
                                    <div class="row mt-4">
                                        <div class="col-auto pe-0 mt-1 ms-4 fw-semibold">
                                            성수기 요금
                                        </div>
                                        <div class="col-2 ms-3 pe-0 ps-1">
                                            <input name="peak_pay" class="form-control text-end moneyInput" type="text" th:value="${session.campsite.dto.peak_pay}" placeholder="0">
                                        </div>
                                        <div class="col-auto mt-1 fw-semibold">
                                            원
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-auto mt-1 ms-2 fw-semibold">
                                            인원 추가 요금
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-auto mt-1 ms-5">
                                            성인
                                        </div>
                                        <div class="col-2 ms-3 pe-0">
                                            <input name="adult_pay" class="form-control text-end moneyInput" type="text" th:value="${session.campsite.dto.adult_pay}">
                                        </div>
                                        <div class="col-auto mt-1">
                                            원
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-auto mt-1 ms-3">
                                            미성년자
                                        </div>
                                        <div class="col-2 ms-3 pe-0">
                                            <input name="kid_pay" class="form-control text-end moneyInput" type="text" th:value="${session.campsite.dto.kid_pay}">
                                        </div>
                                        <div class="col-auto mt-1">
                                            원
                                        </div>
                                    </div>

                                    <div class="row mt-5  mb-3">
                                        <div class="col-auto pe-0 mt-1 fw-semibold">
                                            차량 추가 요금
                                        </div>
                                        <div class="col-2 ms-3 pe-0 ps-1">
                                            <input name="car_pay" class="form-control text-end moneyInput" type="text" th:value="${session.campsite.dto.car_pay}" placeholder="0">
                                        </div>
                                        <div class="col-auto mt-1 fw-semibold">
                                            원
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

          </div>
        </div>
        <div th:replace="~{common/navi::popup}"></div>
        <script>
            
            createMultipleUploader('mainImage',10);
            setUploadedData('mainImage','campsiteCenter/initSession','campsiteInfo.mainImages','location',true);
            
            createUploader('mapImage');
            setUploadedData('mapImage','campsiteCenter/initSession','campsiteInfo.dto','map_image',false);

            createCalendar('opentime',yearsAgo(1));
            createRangeCalendar('peak',365, yearsAgo(1));

            getUploadedCalendar();
            
            function triggerInputChange(input) {
                const event = new Event('change', { bubbles: true });
                input.dispatchEvent(event);
            }

            function getUploadedCalendar() {
                const url = '/api/campsiteCenter/initSession';
                fetch(url)
                    .then(response => response.json())
                    .then((response) => {
                        const campsite = response.data.campsiteInfo;
                        initCalendarData('peak', campsite.dto.peak_start_date, campsite.dto.peak_end_date, true);
                        initCalendarData('opentime', campsite.dto.opentime, null, false);
                    })
                    .catch(error => {
                        console.error('Error fetching session data:', error);
                    });
            }

           
          
            function initFormButton() {
                const stateButton = document.getElementById('saveStateButton');
                stateButton.onclick = function(event) { 
                    event.preventDefault();  // 기본 제출 동작 방지
                    validateAndSubmitForm(); 
                };

                function validateAndSubmitForm() {
                    // 초기화
                    const form = document.getElementById('updateCampProcess');
                    const requiredFields = [
                        'car_pay',
                        'kid_pay',
                        'adult_pay',
                        'peak_pay',
                        'manner_start',
                        'manner_end',
                        'max_ordertime',
                        'check_out',
                        'check_in',
                        'opentime_start_date',
                        'peak_start_date',
                        'refund_notice',
                        'facility_notice',
                        'notice',
                        'description',
                        'email',
                        'url',
                        'camp_phone',
                        'camp_name'        
                    ];
                    let allValid = true;
                    
                    // 빈칸 확인
                    requiredFields.forEach((fieldName) => {
                        let field = form.querySelector(`[name="${fieldName}"]`);
                        if (!field.value) {
                            if(fieldName.includes('Image')) {
                                field = form.querySelector('#upload_' + fieldName);
                            }
                            if(fieldName.includes('peak')) {
                                field = form.querySelector('#calendar_peak');
                            }
                            else if(fieldName.includes('opentime')) {
                                field = form.querySelector('#calendar_opentime');
                            }
                            field.scrollIntoView({ behavior: 'smooth', block: 'center' });
                            allValid = false;
                        }
                    });
                    const categoryInputs = form.querySelectorAll('input[name="campCategory"]:checked');
                    if(allValid) {
                        // 카테고리 체크 확인
                        if (categoryInputs.length === 0) {
                            alert('캠핑장 카테고리를 하나 이상 선택해주세요.');
                            document.getElementById('categoryList').scrollIntoView({ behavior: 'smooth', block: 'center' });
                            allValid = false;
                        }
                    }
                    // 모든 유효성 마침 
                    if (allValid) {
                        // 돈 쉼표 제거
                        replaceMoneyInput();

                        // 카테고리 데이터화
                        const categoryIds = Array.from(categoryInputs).map(input => input.value);
                        categoryIds.forEach(categoryId => {
                            const hiddenInput = document.createElement('input');
                            hiddenInput.type = 'hidden';
                            hiddenInput.name = 'campCategory';
                            hiddenInput.value = categoryId;
                            form.appendChild(hiddenInput);
                        });
                        onSubmitSendUploader();
                        document.getElementById('updateCampProcess').submit();
                    }
                }
            }
            initFormButton();
            addColonMoneyInput();
       </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
