<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>BaseCamp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="/public/css/common.css">
        
        <script src="/public/js/calendar.js"></script>
        <script src="/public/js/util.js"></script>
        <script src="/public/js/camp/seller.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <style>
            input[type="text"]:focus {
                    border-color: #aaa; /* 클릭 시 테두리 색상 변경 */
                }
            .order-list-scroll {
                max-height: 500px; /* 원하는 높이 설정 */
                overflow-y: auto;
            }
        </style>
    </head>
   
    <body> 
         <div th:replace="~{camp/campNavi::topNaviSeller}"></div>
        <div class="container-fluid">
          <div class="row">

            <!-- 메뉴 -->
            <div th:replace="~{camp/campNavi::leftNavi}"></div>

            <!-- 본문 -->
            <div class="col right ms-2" style="padding-top: 58px; ">
                <!-- 상단 바 -->
                <div th:replace="~{camp/campNavi::topNavi}"></div>

                <!-- 내용 -->
                <div class="row scroll-list-box" style="margin-top: 100px; width: 1600px;">
                    <div class="col">
                        <div class="row new-mt-45 justify-content-center">
                            <div class="col ms-5 border rounded-2 me-5">
                                <div class="row align-items-center py-2">
                                    <div class="col-auto pe-0">
                                        <button name="campsite_category" class="btn btn-outline-primary px-3 rounded-5">시설 특징</button>
                                    </div>
                                    <div class="col-auto px-2">
                                        <button name="area_category" class="btn btn-outline-primary px-3 rounded-5">구역 특징</button>
                                    </div>
                                    <div class="col-5 ms-0 my-1">
                                        <div class="form-control rounded-5">
                                            <i class="bi bi-search me-3"></i>
                                            <input type="text" name="search" placeholder="검색어를 입력하세요" style="outline: none; border: 0; width: 90%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-1 fw-semibold text-center bg-light border-top border-bottom">
                                    <div class="col">구역명</div>
                                    <div class="col">예약자</div>
                                    <div class="col">예약일</div>
                                    <div class="col">가격</div>
                                    <div class="col">요청일</div>
                                </div>
                                <div class="row">
                                    <div class="col mb-2">
                                        <!-- OrderList -->
                                         <div class="row">
                                            <div class="col order-list-scroll" style="height: 13em;">
                                                <div class="row justify-content-center align-items-center" th:if="${session.campsite.reservation.size() <= 0}">
                                                    <div class="col-auto mt-5 pt-4 text-secondary">예약된 내역이 없습니다.</div>
                                                </div>
                                                <div class="row my-1 py-1 text-center border-top border-bottom" th:id="'order_' + ${reservation.dto.id}" th:each="reservation:${session.campsite.reservation}" th:onclick="'selectOrder(' + ${reservation.dto.id} + ')'">
                                                    <div class="col" th:text="${reservation.area.name}">구역명</div>
                                                    <div class="col" th:text="${reservation.dto.customer_name}">예약자</div>
                                                    <div class="col"><span th:text="${#dates.format(reservation.dto.start_date, 'YYYY-MM-dd')}">2024.01.01</span> ~ <span th:text="${#dates.format(reservation.dto.end_date, 'YYYY-MM-dd')}">2024.03.18</span></div>
                                                    <div class="col moneyInput" th:text="${reservation.dto.total_prise}">가격</div>
                                                    <div class="col" th:text="${#dates.format(reservation.dto.created_at, 'YYYY-MM-dd')}">2024.03.03</div>
                                                </div>
                                            </div>
                                         </div>
                                        <div class="row d-none mt-2 border-top" id="showDetail">
                                            <div class="col">
                                                <div class="row mt-3 justify-content-center">
                                                    <div class="col-5 border rounded-2 me-5">
                                                        <div class="row fs-5 my-2 mt-3">
                                                            <div class="col mx-4">
                                                                <div class="row">
                                                                    <div class="col-3 text-end">구역명</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="area_name">구역 이름</div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-3 text-end">포인트 명</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="point_name">P1</div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-3 text-end">예약자명</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="customer_name">김예약</div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-3 text-end">예약자 연락처</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="customer_phone">010-1234-1234</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="col-5 border rounded-2 me-5">
                                                        <div class="row fs-5 my-2 mt-3">
                                                            <div class="col mx-4">
                                                                <div class="row">
                                                                    <div class="col-3 text-end">예약 인원</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="people_count">3</div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6">
                                                                    <div class="col-3 text-end">성인</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="adult">3</div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6">
                                                                    <div class="col-3 text-end">미성년자</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="kid">0</div>
                                                                </div>
                                                                <div class="row mt-3">
                                                                    <div class="col-3 text-end">차량</div>
                                                                </div>
                                                                <div class="row mt-1 flex-column" id="carList">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3 justify-content-center">
                                                    <div class="col-5 border rounded-2 me-5">
                                                        <div class="row fs-5 my-2 mt-3">
                                                            <div class="col mx-4">
                                                                <div class="row">
                                                                    <div class="col-3 text-end">가격</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start"><span class="moneyInput" id="totalPrise"></span><span class="ms-1">원</span></div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6">
                                                                    <div class="col-3 text-end">기본 가격</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start moneyInput" id="prise">1,000,000</div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6" id="adultTab">
                                                                    <div class="col-3 text-end">추가 (성인)</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start moneyInput" id="adultPrise">1,000,000</div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6" id="kidTab">
                                                                    <div class="col-3 text-end">추가 (미성년자)</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start moneyInput" id="kidPrise">1,000,000</div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6" id="carTab">
                                                                    <div class="col-3 text-end">추가 (차량)</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start moneyInput" id="carPrise">1,000,000</div>
                                                                </div>
                                                                <div class="row mt-2 text-secondary fs-6" id="mileageTab">
                                                                    <div class="col-3 text-end">마일리지</div>
                                                                    <div class="col-5 ms-5 fw-semibold text-start" id="mileage">-100,000</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="col-5 border rounded-2 me-5">
                                                        <div class="row fs-5 my-2 mt-3">
                                                            <div class="col mx-4">
                                                                <div class="row">
                                                                    <div class="col-3 text-end">현황</div>
                                                                    <div class="col-5 ms-5 fw-semibold" id="progress">대기중</div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-3 text-end">예약 날짜</div>
                                                                    <div class="col-auto ms-5 fw-semibold" id="order_day">2024.01.01 ~ 2024.02.01</div>
                                                                </div>
                                                                <div class="row my-2">
                                                                    <div class="col-3 text-end">요청일</div>
                                                                    <div class="col-5 ms-5 fw-semibold created_at">2023.12.11</div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-3 text-end">결제일</div>
                                                                    <div class="col-5 ms-5 fw-semibold created_at">2023.12.11</div>
                                                                </div>
                                                                <div class="row mt-2 justify-content-end">
                                                                    <div class="col-auto">
                                                                        <button class="btn btn-danger" id="cancelOrder">예약 취소</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
        </div>
        <div th:replace="~{common/navi::popup}"></div>
        <script>
            let curOrder;
            addColonMoneyInput();
            function selectOrder(id) {
                if(curOrder != null) {
                    const cur = document.getElementById('order_' + curOrder.dto.id);
                    cur.classList.remove("bg-light");
                    const showDetail = document.getElementById('showDetail');
                    if(curOrder.dto.id == id) {
                        showDetail.classList.add('d-none')
                        return;
                    }
                }
                const url='/api/campsiteCenter/selectOrder?order_id=' + id;
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    curOrder = response.data.curOrder;
                    const cur = document.getElementById('order_' + curOrder.dto.id);
                    cur.classList.add("bg-light");
                    refreshDetail(curOrder);
                })
            }

            function refreshDetail(order) {
                const area_name = document.getElementById('area_name');
                const point_name = document.getElementById('point_name');
                const customer_name = document.getElementById('customer_name');
                const customer_phone = document.getElementById('customer_phone');
                const people_count = document.getElementById('people_count');
                const adult = document.getElementById('adult');
                const kid = document.getElementById('kid');

                const carList = document.getElementById('carList');

                const totalPrise = document.getElementById('totalPrise');
                const prise = document.getElementById('prise');
                const adultPrise = document.getElementById('adultPrise');
                const kidPrise = document.getElementById('kidPrise');
                const carPrise = document.getElementById('carPrise');
                const adultTab = document.getElementById('adultTab');
                const kidTab = document.getElementById('kidTab');
                const carTab = document.getElementById('carTab');
                const mileageTab = document.getElementById('mileageTab');
                const mileage = document.getElementById('mileage');
                const order_day = document.getElementById('order_day');
                const created_at = document.getElementsByClassName('created_at');
                const progress = document.getElementById('progress');
                const cancelOrder = document.getElementById('cancelOrder');

                area_name.innerText = order.area.name;
                point_name.innerText = order.point.name;
                customer_name.innerText = order.dto.customer_name;
                customer_phone.innerText = order.dto.customer_phone;
                const peopleCount = order.dto.adult_count + order.dto.kid_count;
                people_count.innerText = peopleCount;
                adult.innerText = order.dto.adult_count;
                kid.innerText = order.dto.kid_count;

                carList.innerHTML='';
                for(const value of order.carNumbers) {
                    const car = document.createElement('div');
                    car.classList.add('col-auto', 'mt-1','ms-5', 'new-fs-95','text-secondary','text-start');
                    car.innerText = value.car_number;
                    carList.appendChild(car);
                }
                progress.innerText = order.dto.progress;

                totalPrise.innerText = order.dto.total_prise;
                prise.innerText = order.dto.origin_prise;
                if(order.dto.adult_count > 0) {
                    adultPrise.innerText = order.dto.adult_count * order.dto.adult_pay;
                    adultTab.classList.remove('d-none');
                }
                else {
                    adultTab.classList.add('d-none');
                }

                if(order.dto.kid_count > 0) {
                    kidPrise.innerText = order.dto.kid_count * order.dto.kid_pay;
                    kidTab.classList.remove('d-none');
                }
                else {
                    kidTab.classList.add('d-none');
                }

                if(order.carNumbers.length > 0) {
                    carPrise.innerText = order.carNumbers.length * order.dto.car_pay;
                    carTab.classList.remove('d-none');
                }
                else {
                    carTab.classList.add('d-none');
                }


                if(order.userInfo.use_mileage != null) {
                    mileage.innerText = order.userInfo.use_mileage;
                    mileageTab.classList.remove('d-none');
                }
                else {
                    mileageTab.classList.add('d-none');
                }
                
                order_day.innerText = `${formatDate(order.dto.start_date)} ~ ${formatDate(order.dto.end_date)}`;

                for(const ca of created_at) {
                    ca.innerText = formatDate(order.dto.created_at);
                }

                if(progress.innerText != '예약 대기 중')
                    cancelOrder.classList.add('d-none');
                else   {
                    cancelOrder.classList.remove('d-none');
                    cancelOrder.onclick = function() {
                        location.href = "/campsiteCenter/cancelOrderProcess?order_id=" + order.dto.id;
                    };
                }
                addColonMoneyInput();
                showDetail.classList.remove('d-none')
            }
           

            function formatDate(dateString) {
                // 문자열을 Date 객체로 변환
                const date = new Date(dateString);
                
                // 년, 월, 일 값을 추출
                const year = date.getFullYear();
                let month = (date.getMonth() + 1).toString();
                let day = date.getDate().toString();

                // 월과 일이 한 자리수일 경우 앞에 0을 추가
                if (month.length < 2) {
                    month = '0' + month;
                }
                if (day.length < 2) {
                    day = '0' + day;
                }

                // yyyy-mm-dd 형식으로 반환
                return `${year}-${month}-${day}`;
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
