a{
    text-decoration: none;
    color: black;
}
.f05{
    font-size: 0.5em;
}
.f08{
    font-size: 0.8em;
}
.f09{
    font-size: 0.9em;
}
.f12{
    font-size: 1.2em;
}
.f17{
    font-size: 1.7em;
}
.f20{
    font-size: 2em;
}
.f40{
    font-size: 4em;
}
.best-items-scroll::-webkit-scrollbar {
    display: none;
}