<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.secondHandProduct.mapper.ProductSqlMapper">
    <!--상품 등록 -->
    <insert id="insertSecondhandProduct">
        <selectKey resultType="int" keyProperty="product_id" order="AFTER">
            SELECT max(product_id) from bc_secondhand_product;
        </selectKey>
        INSERT INTO bc_secondhand_product
        (user_id, category_id, main_image, title, price, explanation, status, read_count)
        values
        (#{user_id},#{category_id}, #{main_image}, #{title}, #{price}, #{explanation}, #{status} , #{read_count})
    </insert>
    <!--메인페이지 전체 게시글  리스트-->
    <select id="selectSecondhandProductList"
            resultType="com.bulmeong.basecamp.secondHandProduct.dto.AllContentsProductDto">
        SELECT
            p.*,
            c.category_name,
            COUNT(w.product_id) AS wish_list_count
        FROM bc_secondhand_product p
                 JOIN bc_secondhand_product_category c ON c.category_id = p.category_id
                 LEFT JOIN bc_secondhand_product_wish_list w ON p.product_id = w.product_id
        GROUP BY p.product_id
        ORDER BY p.product_id DESC
    </select>
    <!--카테고리별 게시글 리스트-->
    <select id="selectSecondhandProductByCategoryList"
            resultType="com.bulmeong.basecamp.secondHandProduct.dto.AllContentsProductDto">
        SELECT
            p.*,
            c.category_name,
            COUNT(w.product_id) AS wish_list_count
        FROM bc_secondhand_product p
                 JOIN bc_secondhand_product_category c ON c.category_id = p.category_id
                 LEFT JOIN bc_secondhand_product_wish_list w ON p.product_id = w.product_id
        WHERE c.category_id = #{category_id}
        GROUP BY p.product_id, c.category_name
        ORDER BY p.product_id DESC
    </select>
    <!-- 관심상품별 게시글 리스트 -->
    <select id="selectSecondhandProductByWishList" resultType="com.bulmeong.basecamp.secondHandProduct.dto.AllContentsProductDto">
        SELECT
            p.*,
            c.category_name,
            COUNT(w.product_id) AS wish_list_count
        FROM bc_secondhand_product p
                 JOIN bc_secondhand_product_category c ON c.category_id = p.category_id
                 LEFT JOIN bc_secondhand_product_wish_list w ON p.product_id = w.product_id
        WHERE w.user_id = #{user_id}
        GROUP BY p.product_id, c.category_name
        ORDER BY p.product_id DESC
    </select>
    <!-- 카테고리별 게시글 리스트 상단 이름 -->
    <select id="selectCategoryName" resultType="String">
        SELECT category_name
        FROM bc_secondhand_product_category
        WHERE category_id = #{category_id};
    </select>
    <!--상품 이미지 등록-->
    <insert id="insertSecondhandProductImg">
        INSERT INTO bc_secondhand_product_image
            (product_id, image_url)
        values (#{product_id}, #{image_url})
    </insert>
    <!-- 상품 디테일 이미지 리스트 -->
    <select id="selectSecondhandProductImgList" resultType="com.bulmeong.basecamp.secondHandProduct.dto.ImageDto">
        SELECT *
        FROM bc_secondhand_product_image
        WHERE product_id = #{product_id};
    </select>
    <!--상품 디테일 정보-->
    <select id="selectSecondhandDetailProduct"
            resultType="com.bulmeong.basecamp.secondHandProduct.dto.AllContentsProductDto">
        SELECT p.*, c.category_name
        FROM bc_secondhand_product p
                 JOIN bc_secondhand_product_category c ON c.category_id = p.category_id
        WHERE product_id = #{product_id}
    </select>
    <!-- 상품 디테일 조회수 -->
    <update id="updateSecondhandDetailProductCount">
        UPDATE bc_secondhand_product
        SET read_count = read_count + 1
        WHERE product_id = #{product_id}
    </update>
    <!--카테고리 리스트-->
    <select id="selectCategoryList" resultType="com.bulmeong.basecamp.secondHandProduct.dto.CategoryDto">
        SELECT *
        FROM bc_secondhand_product_category
        ORDER BY category_id ASC
    </select>
    <!--관심상품 좋아요 -->
    <insert id="insertProductLike">
        INSERT INTO bc_secondhand_product_wish_list
            (user_id, product_id, wish_list_count)
        values
            (#{user_id}, #{product_id}, #{wish_list_count})
    </insert>
    <!--관심상품 좋아요 취소 -->
    <delete id="deleteProductByUserLike">
        DELETE FROM bc_secondhand_product_wish_list
        WHERE user_id = #{user_id}
          AND product_id = #{product_id}
    </delete>
    <!--0번게시글 관심등록 총합-->
    <select id="selectProductTotalLikeCount" resultType="int">
        SELECT COUNT(*) AS wish_list_count
        FROM bc_secondhand_product_wish_list
        WHERE product_id = #{product_id}
    </select>
    <!--0번게시글 0번 회원 관심등록 확인-->
    <select id="selectProductByUserLike" resultType="int">
        SELECT COUNT(*) AS wish_list_count
        FROM bc_secondhand_product_wish_list
        WHERE user_id = #{user_id}
        AND product_id = #{product_id}
    </select>

</mapper>
