<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.insta.mapper.InstaSqlMapper">

    <!-- 로그인한 유저가 인스타 유저에 등록되어있는지 확인하는 쿼리 -->
    <select id="instaUserConfirom" resultType="int">
        select count(*) from bc_user bu
        inner join bc_insta_user_info biui on biui.user_id = bu.id
        where account = #{account}
        and password = #{password}
    </select>

    <insert id="insertInstaUserInfo">
        insert into bc_insta_user_info(
            user_id, insta_nickname, insta_profile_img, intro
        )values(
            #{user_id}, #{insta_nickname}, #{insta_profile_img}, #{intro}
        )
    </insert>

    <select id="selectUserInfoByUserId" resultType="com.bulmeong.basecamp.insta.dto.InstaUserInfoDto">
        select * from bc_insta_user_info
        where user_id = #{user_id}
    </select>

    <!-- 챗지피티 물어보니까 parameterType, useGeneratedKeys, keyProperty 얘네가 있어야만 article_id를 받아온다...? 왜 있어야되는지 모르겠음 -->
    <!-- 게시판 insert -->
    <insert id="insertInstaArticle" parameterType="com.bulmeong.basecamp.insta.dto.InstaArticleDto" useGeneratedKeys="true" keyProperty="id">
        insert into bc_insta_article(
            user_id, content
        )values(
            #{user_id}, #{content}
        )
    </insert>

    <!-- 게시판 이미지 insert -->
    <insert id="insertInstaArticleImg" parameterType="com.bulmeong.basecamp.insta.dto.InstaArticleImgDto">
        insert into bc_insta_article_img(
            article_id, img_link
        )values(
            #{article_id}, #{img_link}
        )
    </insert>

    <select id="selectArticleAll" resultType="com.bulmeong.basecamp.insta.dto.InstaArticleDto">
        select * from bc_insta_article order by id desc
    </select>

    <select id="selectArticleImgByArticleId" resultType="com.bulmeong.basecamp.insta.dto.InstaArticleImgDto">
        select * from bc_insta_article_img where article_id = #{article_id}
    </select>

</mapper>










