<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.insta.mapper.InstaSqlMapper">

    <!-- 로그인한 유저가 인스타 유저에 등록되어있는지 확인하는 쿼리 -->
    <select id="instaUserConfirom" resultType="int">
        select count(*) from bc_user bu
        inner join bc_insta_user_info biui on biui.user_id = bu.id
        where account = #{account}
        and password = #{password}
    </select>

    <insert id="insertInstaUserInfo">
        insert into bc_insta_user_info(
            user_id, insta_nickname, insta_profile_img, intro, is_private
        )values(
            #{user_id}, #{insta_nickname}, #{insta_profile_img}, #{intro}, null
        )
    </insert>

    <select id="selectUserInfoByUserId" resultType="com.bulmeong.basecamp.insta.dto.InstaUserInfoDto">
        select * from bc_insta_user_info
        where user_id = #{user_id}
    </select>

    <!-- 게시판 insert -->
    <insert id="insertInstaArticle">
        insert into bc_insta_article(
            user_id, content
        )values(
            #{user_id}, #{content}
        )
    </insert>

    <!-- 게시판 이미지 insert -->
    <insert id="insertInstaArticleImg">
        insert into bc_insta_article_img(
            article_id, img_link
        )values(
            #{article_id}, #{img_link}
        )
    </insert>

    

</mapper>










