<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.insta.mapper.InstaSqlMapper">

    <!-- 로그인한 유저가 인스타 유저에 등록되어있는지 확인하는 쿼리 -->
    <select id="instaUserConfirom" resultType="int">
        select count(*) from bc_user bu
        inner join bc_insta_user_info biui on biui.user_id = bu.id
        where account = #{account}
        and password = #{password}
    </select>

    <insert id="insertInstaUserInfo">
        insert into bc_insta_user_info(
            user_id, insta_nickname, insta_profile_img, intro
        )values(
            #{user_id}, #{insta_nickname}, #{insta_profile_img}, #{intro}
        )
    </insert>

    <!-- 세션 id로 인스타유저 정보 뽑는 쿼리 -->
    <select id="selectUserInfoByUserId" resultType="com.bulmeong.basecamp.insta.dto.InstaUserInfoDto">
        select * from bc_insta_user_info
        where user_id = #{user_id}
    </select>

    <!-- 인스타 id로 인스타유저 정보 뽑는 쿼리 -->
    <select id="selectUserInfoById" resultType="com.bulmeong.basecamp.insta.dto.InstaUserInfoDto">
        select * from bc_insta_user_info
        where id = #{id}
    </select>

    <!-- 유저가 작성한 게시글 카운트 -->
    <select id="selectArticleCountByUserId" resultType="int">
        select count(*) from bc_insta_article where user_id = #{user_id}
    </select>

    <!-- 챗지피티 물어보니까 parameterType, useGeneratedKeys, keyProperty 얘네가 있어야만 article_id를 받아온다...? 왜 있어야되는지 모르겠음 -->
    <!-- 게시판 insert -->
    <insert id="insertInstaArticle" parameterType="com.bulmeong.basecamp.insta.dto.InstaArticleDto" useGeneratedKeys="true" keyProperty="id">
        insert into bc_insta_article(
            user_id, content
        )values(
            #{user_id}, #{content}
        )
    </insert>

    <!-- 게시판 이미지 insert -->
    <insert id="insertInstaArticleImg" parameterType="com.bulmeong.basecamp.insta.dto.InstaArticleImgDto">
        insert into bc_insta_article_img(
            article_id, img_link
        )values(
            #{article_id}, #{img_link}
        )
    </insert>

    <select id="selectArticleAll" resultType="com.bulmeong.basecamp.insta.dto.InstaArticleDto">
        select * from bc_insta_article order by id desc
    </select>

    <select id="selectArticleImgByArticleId" resultType="com.bulmeong.basecamp.insta.dto.InstaArticleImgDto">
        select * from bc_insta_article_img where article_id = #{article_id}
    </select>

    <!-- 댓글 관련 (자바스크립트 사용) -->
    <insert id="createComment">
        insert into bc_insta_article_comment(
            user_id, article_id, comment
        )values(
            #{user_id}, #{article_id}, #{comment}
        )
    </insert>

    <select id="getCommentList" resultType="com.bulmeong.basecamp.insta.dto.InstaArticleCommentDto">
        select * from bc_insta_article_comment
        where article_id = #{article_id}
        order by id desc
    </select>

    <delete id="deleteComment">
        delete from bc_insta_article_comment where id = #{id}
    </delete>

    <select id="commentCountByArticleId" resultType="int">
        select count(*) from bc_insta_article_comment
        where article_id = #{article_id}
    </select>

    <!-- 게시글 좋아요 -->
    <insert id="createLike">
        insert into bc_insta_article_like(
            article_id, user_id
        )values(
            #{article_id}, #{user_id}
        )
    </insert>

    <select id="countLikeByArticleId" resultType="int">
        select count(*) from bc_insta_article_like
        where article_id = #{article_id}
    </select>

    <select id="countLikeByArticleIdAndUserId" resultType="int">
        select count(*) from bc_insta_article_like
        where article_id = #{article_id}
        and user_id = #{user_id}
    </select>

    <delete id="deleteLikeByArticleIdAndUserId">
        delete from bc_insta_article_like
        where article_id = #{article_id}
        and user_id = #{user_id}
    </delete>

    <!-- 게시물 삭제를 이제서야.. -->
    <delete id="deleteArticleById">
        delete from bc_insta_article where id = ${id}
    </delete>



    <!-- 팔로우 _ 좋아요 기능 사용(자바스크립트) -->
    <insert id="insertFollowByUserId">
        insert into bc_insta_follow(
            follower_user_id, following_user_id
        )values(
            #{follower_user_id}, #{following_user_id}
        )
    </insert>

    <!-- 몇번 회원이 몇명을 팔로우 했는지 -->
    <select id="followCountByFollowerUserId" resultType="int">
        select count(*) from bc_insta_follow
        where follower_user_id = #{follower_user_id}
    </select>

    <!-- 몇번 회원을 몇명이 팔로잉 했지 -->
    <select id="followingCountByFollowingUserId" resultType="int">
        select count(*) from bc_insta_follow
        where following_user_id = #{following_user_id}
    </select>

    <!-- 팔로우 했는지 -->
    <select id="confirmFollowStatus" resultType="int">
        select count(*) from bc_insta_follow
        where follower_user_id = #{follower_user_id}
        and following_user_id = #{following_user_id}
    </select>

    <delete id="deleteFollowByFollowerUserIdAndFollowingUserId">
        delete from bc_insta_follow
        where follower_user_id = #{follower_user_id}
        and following_user_id = #{following_user_id}
    </delete>

</mapper>










